<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>670001_0001</key>
            <dict>
                <key>frame</key>
                <string>{{694,256},{58,160}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,52},{58,160}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0002</key>
            <dict>
                <key>frame</key>
                <string>{{694,132},{62,160}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,52},{62,160}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0003</key>
            <dict>
                <key>frame</key>
                <string>{{376,80},{72,156}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,56},{72,156}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0004</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{76,156}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,56},{76,156}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0005</key>
            <dict>
                <key>frame</key>
                <string>{{164,158},{48,152}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,59},{48,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0006</key>
            <dict>
                <key>frame</key>
                <string>{{522,314},{54,152}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,59},{54,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0007</key>
            <dict>
                <key>frame</key>
                <string>{{364,362},{70,148}}</string>
                <key>offset</key>
                <string>{-11,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,62},{70,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0008</key>
            <dict>
                <key>frame</key>
                <string>{{214,358},{76,148}}</string>
                <key>offset</key>
                <string>{-11,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,62},{76,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0009</key>
            <dict>
                <key>frame</key>
                <string>{{370,226},{62,158}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,54},{62,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0010</key>
            <dict>
                <key>frame</key>
                <string>{{214,290},{66,154}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,54},{66,154}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0011</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{74,158}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,55},{74,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0012</key>
            <dict>
                <key>frame</key>
                <string>{{376,154},{70,156}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,53},{70,156}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0013</key>
            <dict>
                <key>frame</key>
                <string>{{514,370},{62,148}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,65},{62,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0014</key>
            <dict>
                <key>frame</key>
                <string>{{112,176},{50,146}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,63},{50,146}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0015</key>
            <dict>
                <key>frame</key>
                <string>{{676,316},{60,148}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,64},{60,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0016</key>
            <dict>
                <key>frame</key>
                <string>{{664,426},{46,148}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,62},{46,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0017</key>
            <dict>
                <key>frame</key>
                <string>{{534,200},{56,158}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,54},{56,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0018</key>
            <dict>
                <key>frame</key>
                <string>{{534,142},{56,158}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,54},{56,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0019</key>
            <dict>
                <key>frame</key>
                <string>{{214,154},{56,160}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,52},{56,160}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0020</key>
            <dict>
                <key>frame</key>
                <string>{{530,258},{54,160}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,52},{54,160}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0021</key>
            <dict>
                <key>frame</key>
                <string>{{214,78},{74,160}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,52},{74,160}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0022</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{74,160}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,53},{74,160}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0023</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{64,160}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,53},{64,160}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0024</key>
            <dict>
                <key>frame</key>
                <string>{{694,68},{62,160}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,52},{62,160}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0025</key>
            <dict>
                <key>frame</key>
                <string>{{214,436},{66,148}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,62},{66,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0026</key>
            <dict>
                <key>frame</key>
                <string>{{370,290},{70,150}}</string>
                <key>offset</key>
                <string>{-13,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,61},{70,150}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0027</key>
            <dict>
                <key>frame</key>
                <string>{{98,324},{48,152}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,59},{48,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0028</key>
            <dict>
                <key>frame</key>
                <string>{{664,378},{46,148}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,62},{46,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0029</key>
            <dict>
                <key>frame</key>
                <string>{{534,78},{62,158}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,54},{62,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0030</key>
            <dict>
                <key>frame</key>
                <string>{{694,196},{58,160}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,52},{58,160}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0031</key>
            <dict>
                <key>frame</key>
                <string>{{148,324},{64,152}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,60},{64,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0032</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{94,148}}</string>
                <key>offset</key>
                <string>{8,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,77},{94,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0033</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{98,154}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,67},{98,154}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0034</key>
            <dict>
                <key>frame</key>
                <string>{{364,434},{68,146}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,64},{68,146}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0035</key>
            <dict>
                <key>frame</key>
                <string>{{512,434},{68,142}}</string>
                <key>offset</key>
                <string>{7,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,67},{68,142}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0036</key>
            <dict>
                <key>frame</key>
                <string>{{214,212},{76,154}}</string>
                <key>offset</key>
                <string>{16,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,55},{76,154}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0037</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{108,146}}</string>
                <key>offset</key>
                <string>{-23,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,75},{108,146}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670001_0038</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,172}}</string>
                <key>offset</key>
                <string>{-16,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,49},{110,172}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>670001_Ani.png</string>
            <key>size</key>
            <string>{856,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8dcaef1472bf8c782bfdff77baba26f$</string>
            <key>textureFileName</key>
            <string>670001_Ani.png</string>
        </dict>
    </dict>
</plist>
