<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>670007_0001</key>
            <dict>
                <key>frame</key>
                <string>{{506,556},{62,174}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,44},{62,174}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0002</key>
            <dict>
                <key>frame</key>
                <string>{{538,732},{60,172}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,46},{60,172}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0003</key>
            <dict>
                <key>frame</key>
                <string>{{262,106},{82,180}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,38},{82,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{108,178}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,40},{108,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0005</key>
            <dict>
                <key>frame</key>
                <string>{{248,728},{64,180}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,38},{64,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0006</key>
            <dict>
                <key>frame</key>
                <string>{{180,738},{66,182}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,36},{66,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0007</key>
            <dict>
                <key>frame</key>
                <string>{{502,372},{56,182}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,36},{56,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0008</key>
            <dict>
                <key>frame</key>
                <string>{{442,190},{64,180}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,38},{64,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0009</key>
            <dict>
                <key>frame</key>
                <string>{{272,542},{86,174}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,45},{86,174}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0010</key>
            <dict>
                <key>frame</key>
                <string>{{360,542},{72,174}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,41},{72,174}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0011</key>
            <dict>
                <key>frame</key>
                <string>{{178,924},{76,172}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,44},{76,172}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0012</key>
            <dict>
                <key>frame</key>
                <string>{{434,556},{70,172}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,41},{70,172}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0013</key>
            <dict>
                <key>frame</key>
                <string>{{258,372},{94,174}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,40},{94,174}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0014</key>
            <dict>
                <key>frame</key>
                <string>{{434,372},{66,182}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,35},{66,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0015</key>
            <dict>
                <key>frame</key>
                <string>{{258,190},{90,182}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,38},{90,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0016</key>
            <dict>
                <key>frame</key>
                <string>{{112,378},{70,178}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,35},{70,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0017</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{68,180}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,36},{68,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0018</key>
            <dict>
                <key>frame</key>
                <string>{{508,184},{68,178}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,38},{68,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0019</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{68,180}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,36},{68,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0020</key>
            <dict>
                <key>frame</key>
                <string>{{468,732},{68,180}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,36},{68,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0021</key>
            <dict>
                <key>frame</key>
                <string>{{396,730},{70,170}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,43},{70,170}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0022</key>
            <dict>
                <key>frame</key>
                <string>{{314,718},{80,170}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,43},{80,170}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0023</key>
            <dict>
                <key>frame</key>
                <string>{{258,468},{72,174}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,39},{72,174}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0024</key>
            <dict>
                <key>frame</key>
                <string>{{184,364},{72,180}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,38},{72,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0025</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{90,184}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,34},{90,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0026</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{114,184}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,34},{114,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0027</key>
            <dict>
                <key>frame</key>
                <string>{{94,738},{84,184}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,34},{84,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0028</key>
            <dict>
                <key>frame</key>
                <string>{{118,192},{62,184}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,34},{62,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0029</key>
            <dict>
                <key>frame</key>
                <string>{{352,914},{68,172}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,45},{68,172}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0030</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{76,174}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,43},{76,174}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0031</key>
            <dict>
                <key>frame</key>
                <string>{{184,546},{86,180}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,37},{86,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0032</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{102,178}}</string>
                <key>offset</key>
                <string>{11,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,51},{102,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0033</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{100,178}}</string>
                <key>offset</key>
                <string>{9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,56},{100,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0034</key>
            <dict>
                <key>frame</key>
                <string>{{258,282},{88,182}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,35},{88,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0035</key>
            <dict>
                <key>frame</key>
                <string>{{104,558},{78,178}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,37},{78,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0036</key>
            <dict>
                <key>frame</key>
                <string>{{182,170},{74,192}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,23},{74,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0037</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{128,166}}</string>
                <key>offset</key>
                <string>{-28,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,56},{128,166}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670007_0038</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,188}}</string>
                <key>offset</key>
                <string>{-34,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,42},{128,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>670007_Ani.png</string>
            <key>size</key>
            <string>{602,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03025a692d2d785f8d48e5814418994c$</string>
            <key>textureFileName</key>
            <string>670007_Ani.png</string>
        </dict>
    </dict>
</plist>
