<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>670003_0001</key>
            <dict>
                <key>frame</key>
                <string>{{234,176},{58,182}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,32},{58,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0002</key>
            <dict>
                <key>frame</key>
                <string>{{416,88},{72,184}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,30},{72,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0003</key>
            <dict>
                <key>frame</key>
                <string>{{240,360},{76,182}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,32},{76,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{84,182}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,32},{84,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0005</key>
            <dict>
                <key>frame</key>
                <string>{{162,728},{70,178}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,33},{70,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0006</key>
            <dict>
                <key>frame</key>
                <string>{{456,518},{70,180}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,31},{70,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0007</key>
            <dict>
                <key>frame</key>
                <string>{{160,548},{78,178}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,32},{78,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0008</key>
            <dict>
                <key>frame</key>
                <string>{{468,162},{80,178}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,32},{80,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0009</key>
            <dict>
                <key>frame</key>
                <string>{{318,530},{64,182}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,31},{64,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0010</key>
            <dict>
                <key>frame</key>
                <string>{{162,908},{68,180}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,29},{68,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0011</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{84,184}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,31},{84,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0012</key>
            <dict>
                <key>frame</key>
                <string>{{240,544},{76,180}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,30},{76,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0013</key>
            <dict>
                <key>frame</key>
                <string>{{88,560},{70,182}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,33},{70,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0014</key>
            <dict>
                <key>frame</key>
                <string>{{344,906},{66,178}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,32},{66,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0015</key>
            <dict>
                <key>frame</key>
                <string>{{84,744},{76,180}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,33},{76,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0016</key>
            <dict>
                <key>frame</key>
                <string>{{498,708},{66,178}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,32},{66,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0017</key>
            <dict>
                <key>frame</key>
                <string>{{434,700},{62,182}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,31},{62,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0018</key>
            <dict>
                <key>frame</key>
                <string>{{370,714},{62,182}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,31},{62,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0019</key>
            <dict>
                <key>frame</key>
                <string>{{546,346},{64,182}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,31},{64,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0020</key>
            <dict>
                <key>frame</key>
                <string>{{318,346},{64,182}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,31},{64,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0021</key>
            <dict>
                <key>frame</key>
                <string>{{140,176},{92,184}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,30},{92,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0022</key>
            <dict>
                <key>frame</key>
                <string>{{158,362},{80,184}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,30},{80,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0023</key>
            <dict>
                <key>frame</key>
                <string>{{550,162},{60,182}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,32},{60,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0024</key>
            <dict>
                <key>frame</key>
                <string>{{98,372},{58,184}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,30},{58,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0025</key>
            <dict>
                <key>frame</key>
                <string>{{302,726},{66,178}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,32},{66,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0026</key>
            <dict>
                <key>frame</key>
                <string>{{384,336},{78,180}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,31},{78,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0027</key>
            <dict>
                <key>frame</key>
                <string>{{384,518},{70,180}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,31},{70,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0028</key>
            <dict>
                <key>frame</key>
                <string>{{234,728},{66,178}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,32},{66,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0029</key>
            <dict>
                <key>frame</key>
                <string>{{294,162},{80,182}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,32},{80,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0030</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{80,184}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,30},{80,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0031</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{94,186}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,28},{94,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0032</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{130,172}}</string>
                <key>offset</key>
                <string>{17,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,57},{130,172}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0033</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{136,182}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,47},{136,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0034</key>
            <dict>
                <key>frame</key>
                <string>{{528,530},{70,176}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,34},{70,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0035</key>
            <dict>
                <key>frame</key>
                <string>{{376,162},{90,172}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,37},{90,172}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0036</key>
            <dict>
                <key>frame</key>
                <string>{{464,342},{80,174}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,35},{80,174}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0037</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{142,158}}</string>
                <key>offset</key>
                <string>{-18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,64},{142,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670003_0038</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,184}}</string>
                <key>offset</key>
                <string>{-28,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,41},{136,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>670003_Ani.png</string>
            <key>size</key>
            <string>{612,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4bd76c91acb29b3c86d560a18fec29e$</string>
            <key>textureFileName</key>
            <string>670003_Ani.png</string>
        </dict>
    </dict>
</plist>
