<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>671001_0001</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{64,186}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,29},{64,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>671001_0002</key>
            <dict>
                <key>frame</key>
                <string>{{186,200},{54,182}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,33},{54,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>671001_0003</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{58,182}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,33},{58,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>671001_0004</key>
            <dict>
                <key>frame</key>
                <string>{{198,76},{64,184}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,31},{64,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>671001_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,182}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,31},{74,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>671001_0006</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{58,182}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,30},{58,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>671001_0007</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{72,184}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,29},{72,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>671001_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{68,182}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,31},{68,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>671001_0009</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{56,184}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,31},{56,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>671001_0010</key>
            <dict>
                <key>frame</key>
                <string>{{384,126},{56,184}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,31},{56,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>671001_0011</key>
            <dict>
                <key>frame</key>
                <string>{{198,142},{56,184}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,31},{56,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>671001_0012</key>
            <dict>
                <key>frame</key>
                <string>{{384,68},{56,186}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,29},{56,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>671001_0013</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{52,180}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,32},{52,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>671001_0014</key>
            <dict>
                <key>frame</key>
                <string>{{552,188},{54,180}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,32},{54,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>671001_0015</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{54,180}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,32},{54,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>671001_0016</key>
            <dict>
                <key>frame</key>
                <string>{{370,200},{54,180}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,32},{54,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>671001_Ani.png</string>
            <key>size</key>
            <string>{740,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5df0ad93937933c9d096e0b2307d9760$</string>
            <key>textureFileName</key>
            <string>671001_Ani.png</string>
        </dict>
    </dict>
</plist>
