<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>675003_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{74,186}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,33},{74,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0002</key>
            <dict>
                <key>frame</key>
                <string>{{348,794},{72,184}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,35},{72,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0003</key>
            <dict>
                <key>frame</key>
                <string>{{394,392},{94,192}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,27},{94,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0004</key>
            <dict>
                <key>frame</key>
                <string>{{590,388},{116,190}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,29},{116,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{76,194}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,24},{76,194}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0006</key>
            <dict>
                <key>frame</key>
                <string>{{198,282},{78,194}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,24},{78,194}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0007</key>
            <dict>
                <key>frame</key>
                <string>{{198,362},{66,194}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,24},{66,194}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0008</key>
            <dict>
                <key>frame</key>
                <string>{{390,488},{72,192}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,26},{72,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0009</key>
            <dict>
                <key>frame</key>
                <string>{{606,200},{98,186}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,34},{98,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0010</key>
            <dict>
                <key>frame</key>
                <string>{{508,768},{82,186}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,28},{82,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{88,184}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,31},{88,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0012</key>
            <dict>
                <key>frame</key>
                <string>{{508,852},{80,182}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,29},{80,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0013</key>
            <dict>
                <key>frame</key>
                <string>{{386,642},{106,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,27},{106,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0014</key>
            <dict>
                <key>frame</key>
                <string>{{394,316},{74,194}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,23},{74,194}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{96,194}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,27},{96,194}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{80,188}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,24},{80,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{78,192}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,24},{78,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0018</key>
            <dict>
                <key>frame</key>
                <string>{{194,620},{78,190}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,26},{78,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0019</key>
            <dict>
                <key>frame</key>
                <string>{{388,562},{78,190}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,26},{78,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0020</key>
            <dict>
                <key>frame</key>
                <string>{{196,430},{78,192}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,24},{78,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0021</key>
            <dict>
                <key>frame</key>
                <string>{{264,794},{82,184}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,30},{82,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0022</key>
            <dict>
                <key>frame</key>
                <string>{{92,794},{86,184}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,30},{86,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0023</key>
            <dict>
                <key>frame</key>
                <string>{{422,768},{84,186}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,28},{84,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0024</key>
            <dict>
                <key>frame</key>
                <string>{{396,230},{84,194}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,25},{84,194}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0025</key>
            <dict>
                <key>frame</key>
                <string>{{408,130},{98,196}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,23},{98,196}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0026</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{126,198}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,22},{126,198}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0027</key>
            <dict>
                <key>frame</key>
                <string>{{208,78},{90,198}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,21},{90,198}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0028</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{72,196}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,23},{72,196}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0029</key>
            <dict>
                <key>frame</key>
                <string>{{180,794},{82,184}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,34},{82,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0030</key>
            <dict>
                <key>frame</key>
                <string>{{192,700},{92,186}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,31},{92,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0031</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{92,190}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,27},{92,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0032</key>
            <dict>
                <key>frame</key>
                <string>{{200,170},{110,194}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,35},{110,194}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0033</key>
            <dict>
                <key>frame</key>
                <string>{{196,510},{108,190}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,44},{108,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0034</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{96,196}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,22},{96,196}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0035</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{80,192}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,24},{80,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0036</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{74,202}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,14},{74,202}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0037</key>
            <dict>
                <key>frame</key>
                <string>{{580,580},{126,186}}</string>
                <key>offset</key>
                <string>{-29,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{126,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675003_0038</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,204}}</string>
                <key>offset</key>
                <string>{-27,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,26},{122,204}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>675003_Ani.png</string>
            <key>size</key>
            <string>{710,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e0f94cfd414c80d10f0293196b49c4a$</string>
            <key>textureFileName</key>
            <string>675003_Ani.png</string>
        </dict>
    </dict>
</plist>
