<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>675007_0001</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{66,148}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,64},{66,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0002</key>
            <dict>
                <key>frame</key>
                <string>{{518,306},{66,150}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,62},{66,150}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0003</key>
            <dict>
                <key>frame</key>
                <string>{{460,154},{70,150}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,62},{70,150}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0004</key>
            <dict>
                <key>frame</key>
                <string>{{236,156},{74,152}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,60},{74,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0005</key>
            <dict>
                <key>frame</key>
                <string>{{446,306},{70,150}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,61},{70,150}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0006</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{70,150}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,61},{70,150}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0007</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{80,148}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,62},{80,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0008</key>
            <dict>
                <key>frame</key>
                <string>{{532,154},{82,148}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,62},{82,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0009</key>
            <dict>
                <key>frame</key>
                <string>{{370,306},{74,150}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,61},{74,150}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0010</key>
            <dict>
                <key>frame</key>
                <string>{{616,152},{76,148}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,60},{76,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0011</key>
            <dict>
                <key>frame</key>
                <string>{{80,176},{78,152}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,61},{78,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0012</key>
            <dict>
                <key>frame</key>
                <string>{{664,302},{72,148}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,60},{72,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0013</key>
            <dict>
                <key>frame</key>
                <string>{{738,302},{70,148}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,65},{70,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0014</key>
            <dict>
                <key>frame</key>
                <string>{{946,276},{64,146}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,63},{64,146}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0015</key>
            <dict>
                <key>frame</key>
                <string>{{878,276},{66,146}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,65},{66,146}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0016</key>
            <dict>
                <key>frame</key>
                <string>{{810,302},{66,146}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,63},{66,146}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0017</key>
            <dict>
                <key>frame</key>
                <string>{{214,310},{74,152}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,60},{74,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0018</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{74,150}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,62},{74,150}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0019</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{74,152}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,60},{74,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0020</key>
            <dict>
                <key>frame</key>
                <string>{{160,156},{74,152}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,60},{74,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0021</key>
            <dict>
                <key>frame</key>
                <string>{{312,154},{74,150}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,62},{74,150}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0022</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{72,148}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,64},{72,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0023</key>
            <dict>
                <key>frame</key>
                <string>{{766,152},{66,148}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,64},{66,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0024</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{66,150}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,62},{66,150}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0025</key>
            <dict>
                <key>frame</key>
                <string>{{586,304},{76,148}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,62},{76,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0026</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{80,150}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,61},{80,150}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0027</key>
            <dict>
                <key>frame</key>
                <string>{{388,154},{70,150}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,61},{70,150}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0028</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{70,148}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,62},{70,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0029</key>
            <dict>
                <key>frame</key>
                <string>{{694,152},{70,148}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,64},{70,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0030</key>
            <dict>
                <key>frame</key>
                <string>{{290,310},{78,150}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,62},{78,150}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0031</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{74,152}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,60},{74,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0032</key>
            <dict>
                <key>frame</key>
                <string>{{834,180},{94,144}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,81},{94,144}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0033</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{98,146}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,75},{98,146}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0034</key>
            <dict>
                <key>frame</key>
                <string>{{860,102},{76,146}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,64},{76,146}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0035</key>
            <dict>
                <key>frame</key>
                <string>{{148,330},{64,138}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,70},{64,138}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0036</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{76,154}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,54},{76,154}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0037</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{108,144}}</string>
                <key>offset</key>
                <string>{-23,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,77},{108,144}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675007_0038</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,172}}</string>
                <key>offset</key>
                <string>{-16,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,49},{110,172}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>675007_Ani.png</string>
            <key>size</key>
            <string>{1012,470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d59a3bb602beaae03caed4ea5e0a07bf$</string>
            <key>textureFileName</key>
            <string>675007_Ani.png</string>
        </dict>
    </dict>
</plist>
