<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>675008_0001</key>
            <dict>
                <key>frame</key>
                <string>{{84,752},{74,188}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,26},{74,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0002</key>
            <dict>
                <key>frame</key>
                <string>{{248,180},{74,190}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,24},{74,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0003</key>
            <dict>
                <key>frame</key>
                <string>{{188,182},{58,192}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,22},{58,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0004</key>
            <dict>
                <key>frame</key>
                <string>{{234,566},{52,190}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,24},{52,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0005</key>
            <dict>
                <key>frame</key>
                <string>{{234,758},{60,182}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,31},{60,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0006</key>
            <dict>
                <key>frame</key>
                <string>{{486,736},{60,184}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,29},{60,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0007</key>
            <dict>
                <key>frame</key>
                <string>{{384,172},{82,182}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,31},{82,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{92,186}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,27},{92,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0009</key>
            <dict>
                <key>frame</key>
                <string>{{160,752},{72,188}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,27},{72,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0010</key>
            <dict>
                <key>frame</key>
                <string>{{486,548},{60,186}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,24},{60,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0011</key>
            <dict>
                <key>frame</key>
                <string>{{96,378},{68,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,27},{68,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0012</key>
            <dict>
                <key>frame</key>
                <string>{{166,378},{58,186}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,24},{58,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0013</key>
            <dict>
                <key>frame</key>
                <string>{{342,84},{86,180}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,31},{86,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0014</key>
            <dict>
                <key>frame</key>
                <string>{{468,172},{60,184}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,28},{60,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0015</key>
            <dict>
                <key>frame</key>
                <string>{{92,566},{74,184}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,32},{74,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0016</key>
            <dict>
                <key>frame</key>
                <string>{{190,944},{66,180}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,28},{66,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0017</key>
            <dict>
                <key>frame</key>
                <string>{{354,370},{58,188}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,24},{58,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0018</key>
            <dict>
                <key>frame</key>
                <string>{{324,180},{58,188}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,24},{58,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0019</key>
            <dict>
                <key>frame</key>
                <string>{{296,754},{58,188}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,24},{58,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0020</key>
            <dict>
                <key>frame</key>
                <string>{{226,376},{58,188}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,24},{58,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0021</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{80,188}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,26},{80,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{88,184}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,30},{88,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0023</key>
            <dict>
                <key>frame</key>
                <string>{{414,358},{70,182}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,32},{70,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0024</key>
            <dict>
                <key>frame</key>
                <string>{{352,564},{56,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,26},{56,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0025</key>
            <dict>
                <key>frame</key>
                <string>{{486,358},{60,188}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,25},{60,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0026</key>
            <dict>
                <key>frame</key>
                <string>{{286,372},{66,190}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,23},{66,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0027</key>
            <dict>
                <key>frame</key>
                <string>{{356,754},{60,188}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,25},{60,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0028</key>
            <dict>
                <key>frame</key>
                <string>{{288,564},{62,188}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,25},{62,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0029</key>
            <dict>
                <key>frame</key>
                <string>{{410,560},{64,186}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,28},{64,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0030</key>
            <dict>
                <key>frame</key>
                <string>{{168,566},{64,184}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,29},{64,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0031</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{80,186}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,28},{80,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0032</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{98,176}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,50},{98,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0033</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,186}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,35},{128,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0034</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{80,190}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,23},{80,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0035</key>
            <dict>
                <key>frame</key>
                <string>{{418,748},{66,186}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,25},{66,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0036</key>
            <dict>
                <key>frame</key>
                <string>{{126,190},{60,186}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,25},{60,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0037</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{108,178}}</string>
                <key>offset</key>
                <string>{-28,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,41},{108,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675008_0038</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{122,186}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,27},{122,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>675008_Ani.png</string>
            <key>size</key>
            <string>{548,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3676f0969000c4a93bc266621717c27$</string>
            <key>textureFileName</key>
            <string>675008_Ani.png</string>
        </dict>
    </dict>
</plist>
