<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>675009_0001</key>
            <dict>
                <key>frame</key>
                <string>{{382,384},{70,188}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,28},{70,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0002</key>
            <dict>
                <key>frame</key>
                <string>{{298,194},{68,190}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,26},{68,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0003</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{78,190}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,26},{78,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0004</key>
            <dict>
                <key>frame</key>
                <string>{{368,194},{92,188}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,28},{92,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0005</key>
            <dict>
                <key>frame</key>
                <string>{{316,386},{64,190}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,25},{64,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0006</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{66,190}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,25},{66,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0007</key>
            <dict>
                <key>frame</key>
                <string>{{536,190},{62,186}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,29},{62,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0008</key>
            <dict>
                <key>frame</key>
                <string>{{454,384},{66,188}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,27},{66,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0009</key>
            <dict>
                <key>frame</key>
                <string>{{84,406},{78,186}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,31},{78,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0010</key>
            <dict>
                <key>frame</key>
                <string>{{676,140},{66,184}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,28},{66,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0011</key>
            <dict>
                <key>frame</key>
                <string>{{600,188},{70,184}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,31},{70,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0012</key>
            <dict>
                <key>frame</key>
                <string>{{672,274},{64,184}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,27},{64,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0013</key>
            <dict>
                <key>frame</key>
                <string>{{672,340},{86,182}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,31},{86,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0014</key>
            <dict>
                <key>frame</key>
                <string>{{672,208},{64,184}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,29},{64,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{80,186}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,32},{80,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0016</key>
            <dict>
                <key>frame</key>
                <string>{{672,428},{64,182}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,28},{64,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0017</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{72,188}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,26},{72,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0018</key>
            <dict>
                <key>frame</key>
                <string>{{462,192},{72,186}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,28},{72,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0019</key>
            <dict>
                <key>frame</key>
                <string>{{522,380},{70,186}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,28},{70,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0020</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{70,188}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,26},{70,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0021</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{70,186}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,30},{70,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0022</key>
            <dict>
                <key>frame</key>
                <string>{{932,364},{70,180}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,36},{70,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0023</key>
            <dict>
                <key>frame</key>
                <string>{{856,354},{74,178}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,38},{74,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0024</key>
            <dict>
                <key>frame</key>
                <string>{{594,378},{76,184}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,32},{76,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0025</key>
            <dict>
                <key>frame</key>
                <string>{{134,194},{82,190}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,25},{82,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0026</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{98,190}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,25},{98,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0027</key>
            <dict>
                <key>frame</key>
                <string>{{218,194},{78,190}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,25},{78,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0028</key>
            <dict>
                <key>frame</key>
                <string>{{246,386},{68,190}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,25},{68,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0029</key>
            <dict>
                <key>frame</key>
                <string>{{672,494},{72,180}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,36},{72,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0030</key>
            <dict>
                <key>frame</key>
                <string>{{960,178},{62,184}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,32},{62,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0031</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{80,184}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,32},{80,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0032</key>
            <dict>
                <key>frame</key>
                <string>{{862,178},{96,174}}</string>
                <key>offset</key>
                <string>{13,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,52},{96,174}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0033</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,204}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,23},{124,204}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0034</key>
            <dict>
                <key>frame</key>
                <string>{{164,386},{80,190}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,25},{80,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0035</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{68,184}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,29},{68,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0036</key>
            <dict>
                <key>frame</key>
                <string>{{676,72},{66,184}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,29},{66,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0037</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{112,174}}</string>
                <key>offset</key>
                <string>{-32,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,45},{112,174}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675009_0038</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{130,196}}</string>
                <key>offset</key>
                <string>{-23,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,29},{130,196}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>675009_Ani.png</string>
            <key>size</key>
            <string>{1024,594}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d33bedbb0599d215b8cddf9152f9b48$</string>
            <key>textureFileName</key>
            <string>675009_Ani.png</string>
        </dict>
    </dict>
</plist>
