<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body600016_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,70}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,5},{46,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600016_0002</key>
            <dict>
                <key>frame</key>
                <string>{{94,50},{48,72}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,3},{48,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600016_0003</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{46,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,6},{46,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600016_0004</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{46,88}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{46,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600016_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{46,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,6},{46,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600016_0006</key>
            <dict>
                <key>frame</key>
                <string>{{526,50},{48,88}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{48,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600016_0007</key>
            <dict>
                <key>frame</key>
                <string>{{436,50},{48,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,6},{48,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600016_0008</key>
            <dict>
                <key>frame</key>
                <string>{{348,50},{48,86}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{48,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600016_0009</key>
            <dict>
                <key>frame</key>
                <string>{{258,50},{48,88}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,7},{48,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600016_0010</key>
            <dict>
                <key>frame</key>
                <string>{{168,50},{48,88}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{48,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600016_0011</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{46,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{46,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600016_0012</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{46,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{46,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600016_0013</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{46,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,5},{46,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600016_0014</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{46,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,6},{46,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body600016_Ani.png</string>
            <key>size</key>
            <string>{626,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a91e5dce5df3b79cbc2af2732434ef5$</string>
            <key>textureFileName</key>
            <string>body600016_Ani.png</string>
        </dict>
    </dict>
</plist>
