<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body600022_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{48,62}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,14},{48,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600022_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{48,64}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,12},{48,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600022_0003</key>
            <dict>
                <key>frame</key>
                <string>{{66,94},{46,84}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,12},{46,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600022_0004</key>
            <dict>
                <key>frame</key>
                <string>{{152,94},{46,82}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,12},{46,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600022_0005</key>
            <dict>
                <key>frame</key>
                <string>{{84,46},{46,84}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,13},{46,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600022_0006</key>
            <dict>
                <key>frame</key>
                <string>{{170,46},{46,82}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,13},{46,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600022_0007</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{42,82}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,15},{42,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600022_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{44,80}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,15},{44,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600022_0009</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{42,80}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,16},{42,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600022_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,82}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,14},{42,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600022_0011</key>
            <dict>
                <key>frame</key>
                <string>{{154,142},{48,84}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,12},{48,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600022_0012</key>
            <dict>
                <key>frame</key>
                <string>{{68,142},{48,84}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,12},{48,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600022_0013</key>
            <dict>
                <key>frame</key>
                <string>{{86,192},{48,82}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,14},{48,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600022_0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{48,82}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,14},{48,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body600022_Ani.png</string>
            <key>size</key>
            <string>{254,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ceec1dabfd85b020cf0e06c97576c9a9$</string>
            <key>textureFileName</key>
            <string>body600022_Ani.png</string>
        </dict>
    </dict>
</plist>
