<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body610011_0_G_0001</key>
            <dict>
                <key>frame</key>
                <string>{{192,216},{94,188}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,23},{94,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610011_0_G_0002</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{104,190}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,21},{104,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610011_0_G_0003</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{116,188}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,23},{116,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610011_0_G_0004</key>
            <dict>
                <key>frame</key>
                <string>{{382,380},{104,186}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,25},{104,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610011_0_G_0005</key>
            <dict>
                <key>frame</key>
                <string>{{378,568},{96,184}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,27},{96,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610011_0_G_0006</key>
            <dict>
                <key>frame</key>
                <string>{{194,108},{106,188}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,23},{106,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610011_0_G_0007</key>
            <dict>
                <key>frame</key>
                <string>{{384,192},{114,186}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,25},{114,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610011_0_G_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{104,188}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,23},{104,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610011_0_G_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{84,188}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,23},{84,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610011_0_G_0010</key>
            <dict>
                <key>frame</key>
                <string>{{190,662},{94,184}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,22},{94,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610011_0_G_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{96,190}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,22},{96,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610011_0_G_0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{88,186}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,21},{88,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610011_0_G_0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,192}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,23},{94,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610011_0_G_0014</key>
            <dict>
                <key>frame</key>
                <string>{{190,568},{92,186}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,21},{92,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610011_0_G_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{88,188}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,24},{88,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610011_0_G_0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{92,186}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,22},{92,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610011_0_G_0017</key>
            <dict>
                <key>frame</key>
                <string>{{192,398},{84,188}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,25},{84,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610011_0_G_0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{84,188}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,25},{84,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610011_0_G_0019</key>
            <dict>
                <key>frame</key>
                <string>{{192,312},{84,188}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,25},{84,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610011_0_G_0020</key>
            <dict>
                <key>frame</key>
                <string>{{192,484},{82,188}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,25},{82,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body610011_0_G_Ani.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c73a867b2a544e1bb3abb34937d3ccc$</string>
            <key>textureFileName</key>
            <string>body610011_0_G_Ani.png</string>
        </dict>
    </dict>
</plist>
