<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body610013_0_G_0001</key>
            <dict>
                <key>frame</key>
                <string>{{432,180},{98,210}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,5},{98,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610013_0_G_0002</key>
            <dict>
                <key>frame</key>
                <string>{{220,172},{98,210}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,5},{98,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610013_0_G_0003</key>
            <dict>
                <key>frame</key>
                <string>{{644,282},{100,210}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,5},{100,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610013_0_G_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{100,212}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,3},{100,212}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610013_0_G_0005</key>
            <dict>
                <key>frame</key>
                <string>{{638,384},{106,210}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,6},{106,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610013_0_G_0006</key>
            <dict>
                <key>frame</key>
                <string>{{216,272},{100,214}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,2},{100,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610013_0_G_0007</key>
            <dict>
                <key>frame</key>
                <string>{{432,280},{100,210}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,6},{100,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610013_0_G_0008</key>
            <dict>
                <key>frame</key>
                <string>{{644,180},{100,210}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,6},{100,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610013_0_G_0009</key>
            <dict>
                <key>frame</key>
                <string>{{640,82},{96,208}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,8},{96,208}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610013_0_G_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{100,212}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,4},{100,212}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610013_0_G_0011</key>
            <dict>
                <key>frame</key>
                <string>{{216,374},{104,208}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,8},{104,208}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610013_0_G_0012</key>
            <dict>
                <key>frame</key>
                <string>{{426,382},{106,210}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,6},{106,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610013_0_G_0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{86,214}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,3},{86,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610013_0_G_0014</key>
            <dict>
                <key>frame</key>
                <string>{{218,72},{88,208}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,2},{88,208}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610013_0_G_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{90,216}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,2},{90,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610013_0_G_0016</key>
            <dict>
                <key>frame</key>
                <string>{{428,78},{92,210}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,1},{92,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610013_0_G_0017</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{74,212}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,5},{74,212}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610013_0_G_0018</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{68,210}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,2},{68,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610013_0_G_0019</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{78,210}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,5},{78,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610013_0_G_0020</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,212}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,2},{66,212}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body610013_0_G_Ani.png</string>
            <key>size</key>
            <string>{856,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4e9de453905a884ab7ab302c31e084f$</string>
            <key>textureFileName</key>
            <string>body610013_0_G_Ani.png</string>
        </dict>
    </dict>
</plist>
