<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body600012_0001</key>
            <dict>
                <key>frame</key>
                <string>{{72,134},{54,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{54,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600012_0002</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{54,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{54,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600012_0003</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{62,48}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,46},{62,48}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600012_0004</key>
            <dict>
                <key>frame</key>
                <string>{{176,52},{54,46}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,46},{54,46}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600012_0005</key>
            <dict>
                <key>frame</key>
                <string>{{176,100},{52,46}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,46},{52,46}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600012_0006</key>
            <dict>
                <key>frame</key>
                <string>{{124,52},{58,50}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,46},{58,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600012_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,64}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,31},{64,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600012_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{68,58}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,33},{68,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600012_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{70,58}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,34},{70,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600012_0010</key>
            <dict>
                <key>frame</key>
                <string>{{62,68},{64,60}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,33},{64,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600012_0011</key>
            <dict>
                <key>frame</key>
                <string>{{128,156},{42,46}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,46},{42,46}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600012_0012</key>
            <dict>
                <key>frame</key>
                <string>{{176,148},{42,46}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,46},{42,46}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600012_0013</key>
            <dict>
                <key>frame</key>
                <string>{{128,112},{42,46}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,46},{42,46}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600012_0014</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{42,46}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,46},{42,46}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body600012_Ani.png</string>
            <key>size</key>
            <string>{232,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff97acc22536f9d1f728f30f0e927f0d$</string>
            <key>textureFileName</key>
            <string>body600012_Ani.png</string>
        </dict>
    </dict>
</plist>
