<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body610014_0_G_0001</key>
            <dict>
                <key>frame</key>
                <string>{{374,282},{94,184}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,30},{94,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_0_G_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{100,184}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,30},{100,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_0_G_0003</key>
            <dict>
                <key>frame</key>
                <string>{{372,378},{100,180}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,34},{100,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_0_G_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{92,180}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,34},{92,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_0_G_0005</key>
            <dict>
                <key>frame</key>
                <string>{{190,280},{94,182}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,32},{94,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_0_G_0006</key>
            <dict>
                <key>frame</key>
                <string>{{188,376},{100,182}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,32},{100,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_0_G_0007</key>
            <dict>
                <key>frame</key>
                <string>{{560,284},{100,180}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,34},{100,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_0_G_0008</key>
            <dict>
                <key>frame</key>
                <string>{{184,92},{92,182}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,32},{92,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_0_G_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{92,186}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,28},{92,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_0_G_0010</key>
            <dict>
                <key>frame</key>
                <string>{{560,188},{94,182}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,27},{94,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_0_G_0011</key>
            <dict>
                <key>frame</key>
                <string>{{554,386},{98,188}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,27},{98,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_0_G_0012</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{90,182}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,27},{90,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_0_G_0013</key>
            <dict>
                <key>frame</key>
                <string>{{556,94},{92,186}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,30},{92,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_0_G_0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,180}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,29},{84,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_0_G_0015</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{88,184}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,30},{88,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_0_G_0016</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{88,184}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,27},{88,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_0_G_0017</key>
            <dict>
                <key>frame</key>
                <string>{{374,188},{92,184}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,30},{92,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_0_G_0018</key>
            <dict>
                <key>frame</key>
                <string>{{188,186},{92,184}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,30},{92,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_0_G_0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{92,184}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,30},{92,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_0_G_0020</key>
            <dict>
                <key>frame</key>
                <string>{{368,92},{92,186}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,28},{92,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body610014_0_G_Ani.png</string>
            <key>size</key>
            <string>{744,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:826ebb40b897961db20f3820c9c44a1e$</string>
            <key>textureFileName</key>
            <string>body610014_0_G_Ani.png</string>
        </dict>
    </dict>
</plist>
