<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body610010_1_G_0001</key>
            <dict>
                <key>frame</key>
                <string>{{206,198},{74,200}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,14},{74,200}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610010_1_G_0002</key>
            <dict>
                <key>frame</key>
                <string>{{206,64},{70,202}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,12},{70,202}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610010_1_G_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{74,192}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,22},{74,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610010_1_G_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{72,194}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,17},{72,194}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610010_1_G_0005</key>
            <dict>
                <key>frame</key>
                <string>{{204,274},{78,198}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,13},{78,198}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610010_1_G_0006</key>
            <dict>
                <key>frame</key>
                <string>{{410,196},{80,200}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,11},{80,200}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610010_1_G_0007</key>
            <dict>
                <key>frame</key>
                <string>{{400,398},{78,186}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,25},{78,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610010_1_G_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{72,188}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,23},{72,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610010_1_G_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{74,202}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,13},{74,202}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610010_1_G_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{66,200}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,10},{66,200}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610010_1_G_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{68,200}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,12},{68,200}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610010_1_G_0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{66,198}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,11},{66,198}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610010_1_G_0013</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{84,192}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,19},{84,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610010_1_G_0014</key>
            <dict>
                <key>frame</key>
                <string>{{198,432},{60,194}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,17},{60,194}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610010_1_G_0015</key>
            <dict>
                <key>frame</key>
                <string>{{202,354},{76,196}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,19},{76,196}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610010_1_G_0016</key>
            <dict>
                <key>frame</key>
                <string>{{196,494},{66,190}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,17},{66,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610010_1_G_0017</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{60,204}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,8},{60,204}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610010_1_G_0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{58,202}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,10},{58,202}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610010_1_G_0019</key>
            <dict>
                <key>frame</key>
                <string>{{206,136},{60,202}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,10},{60,202}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610010_1_G_0020</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,204}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,8},{60,204}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body610010_1_G_Ani.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83689e414c8c3abab65140d2c68293e4$</string>
            <key>textureFileName</key>
            <string>body610010_1_G_Ani.png</string>
        </dict>
    </dict>
</plist>
