<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body600027_0001</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{94,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,15},{94,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600027_0002</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{94,70}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{94,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600027_0003</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{66,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{66,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600027_0004</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{72,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{72,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600027_0005</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{78,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{78,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600027_0006</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{72,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{72,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600027_0007</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{68,98}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{68,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600027_0008</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{58,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{58,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600027_0009</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{54,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{54,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600027_0010</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{58,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{58,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600027_0011</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{80,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{80,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600027_0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600027_0013</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{78,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{78,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600027_0014</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{80,94}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{80,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body600027_Ani.png</string>
            <key>size</key>
            <string>{1012,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73a927f3e087516ab453695c6adc8694$</string>
            <key>textureFileName</key>
            <string>body600027_Ani.png</string>
        </dict>
    </dict>
</plist>
