<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body610013_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{56,138}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,26},{56,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{60,282},{56,138}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,27},{56,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{66,130}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,34},{66,130}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{130,422},{68,132}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,30},{68,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{174,282},{58,136}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,26},{58,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{234,278},{56,136}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,26},{56,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_1_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{72,126}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,36},{72,126}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_1_0008</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{66,130}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,32},{66,130}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_1_0009</key>
            <dict>
                <key>frame</key>
                <string>{{292,276},{54,104}}</string>
                <key>offset</key>
                <string>{3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,26},{54,104}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_1_0010</key>
            <dict>
                <key>frame</key>
                <string>{{264,416},{68,106}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,24},{68,106}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_1_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{54,140}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,26},{54,140}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_1_0012</key>
            <dict>
                <key>frame</key>
                <string>{{58,142},{56,138}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,24},{56,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_1_0013</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{56,138}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,26},{56,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_1_0014</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{56,136}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,25},{56,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_1_0015</key>
            <dict>
                <key>frame</key>
                <string>{{286,140},{62,134}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,29},{62,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_1_0016</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{60,136}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,27},{60,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_1_0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{56,138}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,28},{56,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_1_0018</key>
            <dict>
                <key>frame</key>
                <string>{{228,140},{56,136}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,26},{56,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_1_0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,140}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,23},{54,140}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_1_0020</key>
            <dict>
                <key>frame</key>
                <string>{{172,142},{54,138}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,25},{54,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_1_0021</key>
            <dict>
                <key>frame</key>
                <string>{{118,282},{54,138}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,25},{54,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_1_0022</key>
            <dict>
                <key>frame</key>
                <string>{{116,142},{54,138}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,25},{54,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body610013_1_Ani.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b90c165e06a656c8b27cab55543ae5b$</string>
            <key>textureFileName</key>
            <string>body610013_1_Ani.png</string>
        </dict>
    </dict>
</plist>
