<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body610010_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{92,136}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,28},{92,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{278,158},{94,136}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,28},{94,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{274,428},{96,132}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,32},{96,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{138,366},{94,134}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,30},{94,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{92,134}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,30},{92,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{416,278},{94,134}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,30},{94,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{412,414},{96,132}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,32},{96,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_0_0008</key>
            <dict>
                <key>frame</key>
                <string>{{276,330},{96,134}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,30},{96,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_0_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{96,100}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,32},{96,100}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_0_0010</key>
            <dict>
                <key>frame</key>
                <string>{{138,462},{96,102}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,30},{96,102}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_0_0011</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{88,138}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,28},{88,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_0_0012</key>
            <dict>
                <key>frame</key>
                <string>{{422,140},{88,136}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,27},{88,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_0_0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,138}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,28},{88,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_0_0014</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{88,136}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,27},{88,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_0_0015</key>
            <dict>
                <key>frame</key>
                <string>{{282,80},{76,138}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,28},{76,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_0_0016</key>
            <dict>
                <key>frame</key>
                <string>{{278,254},{74,136}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,27},{74,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_0_0017</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{76,138}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,28},{76,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_0_0018</key>
            <dict>
                <key>frame</key>
                <string>{{140,190},{76,136}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,28},{76,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_0_0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{96,134}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,31},{96,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_0_0020</key>
            <dict>
                <key>frame</key>
                <string>{{140,268},{96,134}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,31},{96,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_0_0021</key>
            <dict>
                <key>frame</key>
                <string>{{140,92},{96,136}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,29},{96,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_0_0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{96,136}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,29},{96,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body610010_0_Ani.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dca0fb3d51ddfeab3f9a4044742095b9$</string>
            <key>textureFileName</key>
            <string>body610010_0_Ani.png</string>
        </dict>
    </dict>
</plist>
