<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body610003_0_G_0001</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{86,192}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,22},{86,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_0_G_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{82,188}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,26},{82,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_0_G_0003</key>
            <dict>
                <key>frame</key>
                <string>{{190,510},{74,184}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,31},{74,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_0_G_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{68,186}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,28},{68,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_0_G_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{78,190}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,24},{78,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_0_G_0006</key>
            <dict>
                <key>frame</key>
                <string>{{192,354},{78,188}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,26},{78,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_0_G_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{72,182}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,32},{72,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_0_G_0008</key>
            <dict>
                <key>frame</key>
                <string>{{192,434},{74,186}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,28},{74,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_0_G_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{68,192}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,21},{68,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_0_G_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{70,188}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,21},{70,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_0_G_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,194}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,21},{84,194}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_0_G_0012</key>
            <dict>
                <key>frame</key>
                <string>{{194,276},{76,190}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,19},{76,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_0_G_0013</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{92,182}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,33},{92,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_0_G_0014</key>
            <dict>
                <key>frame</key>
                <string>{{382,366},{78,176}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,33},{78,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_0_G_0015</key>
            <dict>
                <key>frame</key>
                <string>{{390,186},{86,178}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,35},{86,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_0_G_0016</key>
            <dict>
                <key>frame</key>
                <string>{{376,544},{70,178}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,32},{70,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_0_G_0017</key>
            <dict>
                <key>frame</key>
                <string>{{196,214},{60,192}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,22},{60,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_0_G_0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{60,192}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,22},{60,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_0_G_0019</key>
            <dict>
                <key>frame</key>
                <string>{{196,152},{60,192}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,22},{60,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_0_G_0020</key>
            <dict>
                <key>frame</key>
                <string>{{196,90},{60,192}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,22},{60,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body610003_0_G_Ani.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:163f735c2d8d6bae6abacbe854f7c69e$</string>
            <key>textureFileName</key>
            <string>body610003_0_G_Ani.png</string>
        </dict>
    </dict>
</plist>
