<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body610001_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{74,144}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,22},{74,144}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{74,144}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,22},{74,144}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{74,136}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,30},{74,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{298,286},{72,138}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,26},{72,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{224,286},{72,142}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,22},{72,142}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{298,426},{70,142}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,22},{70,142}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_1_0007</key>
            <dict>
                <key>frame</key>
                <string>{{370,508},{70,132}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,32},{70,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_1_0008</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{74,136}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,28},{74,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_1_0009</key>
            <dict>
                <key>frame</key>
                <string>{{372,402},{72,104}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,28},{72,104}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_1_0010</key>
            <dict>
                <key>frame</key>
                <string>{{372,292},{72,108}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,24},{72,108}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_1_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,144}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,22},{74,144}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_1_0012</key>
            <dict>
                <key>frame</key>
                <string>{{150,148},{72,142}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,21},{72,142}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_1_0013</key>
            <dict>
                <key>frame</key>
                <string>{{304,140},{72,144}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,21},{72,144}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_1_0014</key>
            <dict>
                <key>frame</key>
                <string>{{76,148},{72,142}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,21},{72,142}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_1_0015</key>
            <dict>
                <key>frame</key>
                <string>{{446,430},{64,134}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,30},{64,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_1_0016</key>
            <dict>
                <key>frame</key>
                <string>{{446,292},{64,136}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,28},{64,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_1_0017</key>
            <dict>
                <key>frame</key>
                <string>{{442,566},{66,138}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,28},{66,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_1_0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{66,134}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,28},{66,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_1_0019</key>
            <dict>
                <key>frame</key>
                <string>{{230,140},{72,144}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,20},{72,144}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_1_0020</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{72,142}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,22},{72,142}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_1_0021</key>
            <dict>
                <key>frame</key>
                <string>{{378,148},{72,142}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,22},{72,142}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_1_0022</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{72,144}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,20},{72,144}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body610001_1_Ani.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3098ef7b4ce607bec564649d8cb0edd1$</string>
            <key>textureFileName</key>
            <string>body610001_1_Ani.png</string>
        </dict>
    </dict>
</plist>
