<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body610005_0_G_0001</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{76,190}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,23},{76,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610005_0_G_0002</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{82,188}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,25},{82,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610005_0_G_0003</key>
            <dict>
                <key>frame</key>
                <string>{{386,192},{80,182}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,31},{80,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610005_0_G_0004</key>
            <dict>
                <key>frame</key>
                <string>{{190,428},{68,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,27},{68,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610005_0_G_0005</key>
            <dict>
                <key>frame</key>
                <string>{{192,280},{72,188}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,25},{72,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610005_0_G_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{78,188}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,25},{78,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610005_0_G_0007</key>
            <dict>
                <key>frame</key>
                <string>{{380,376},{78,182}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,31},{78,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610005_0_G_0008</key>
            <dict>
                <key>frame</key>
                <string>{{192,354},{72,186}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,27},{72,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610005_0_G_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{70,190}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,22},{70,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610005_0_G_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{70,186}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,21},{70,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610005_0_G_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,192}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,22},{74,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610005_0_G_0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{68,188}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,20},{68,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610005_0_G_0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{72,180}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,34},{72,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610005_0_G_0014</key>
            <dict>
                <key>frame</key>
                <string>{{364,560},{64,176}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,32},{64,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610005_0_G_0015</key>
            <dict>
                <key>frame</key>
                <string>{{184,498},{76,178}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,34},{76,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610005_0_G_0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{64,178}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,32},{64,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610005_0_G_0017</key>
            <dict>
                <key>frame</key>
                <string>{{194,214},{64,190}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,23},{64,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610005_0_G_0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{64,190}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,23},{64,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610005_0_G_0019</key>
            <dict>
                <key>frame</key>
                <string>{{194,148},{64,190}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,23},{64,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610005_0_G_0020</key>
            <dict>
                <key>frame</key>
                <string>{{194,80},{66,190}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,23},{66,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body610005_0_G_Ani.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2475186c498442d816170257966353f2$</string>
            <key>textureFileName</key>
            <string>body610005_0_G_Ani.png</string>
        </dict>
    </dict>
</plist>
