<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body610008_0_G_0001</key>
            <dict>
                <key>frame</key>
                <string>{{212,250},{74,206}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,13},{74,206}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>body610008_0_G_0002</key>
            <dict>
                <key>frame</key>
                <string>{{212,166},{82,206}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,13},{82,206}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>body610008_0_G_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{80,204}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,15},{80,204}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>body610008_0_G_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{72,206}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,13},{72,206}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>body610008_0_G_0005</key>
            <dict>
                <key>frame</key>
                <string>{{208,326},{84,204}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,15},{84,204}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>body610008_0_G_0006</key>
            <dict>
                <key>frame</key>
                <string>{{420,212},{90,202}}</string>
                <key>offset</key>
                <string>{13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,17},{90,202}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>body610008_0_G_0007</key>
            <dict>
                <key>frame</key>
                <string>{{414,416},{94,200}}</string>
                <key>offset</key>
                <string>{14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,19},{94,200}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>body610008_0_G_0008</key>
            <dict>
                <key>frame</key>
                <string>{{208,412},{78,204}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,15},{78,204}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>body610008_0_G_0009</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{74,208}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,10},{74,208}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>body610008_0_G_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{72,204}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,9},{72,204}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>body610008_0_G_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{84,208}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,11},{84,208}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>body610008_0_G_0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{84,204}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,10},{84,204}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>body610008_0_G_0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,216}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,3},{84,216}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>body610008_0_G_0014</key>
            <dict>
                <key>frame</key>
                <string>{{220,80},{84,212}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,2},{84,212}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>body610008_0_G_0015</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{76,214}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,3},{76,214}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>body610008_0_G_0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{76,212}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,3},{76,212}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>body610008_0_G_0017</key>
            <dict>
                <key>frame</key>
                <string>{{208,492},{72,204}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,14},{72,204}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>body610008_0_G_0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{72,202}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,16},{72,202}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>body610008_0_G_0019</key>
            <dict>
                <key>frame</key>
                <string>{{414,618},{70,202}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,16},{70,202}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>body610008_0_G_0020</key>
            <dict>
                <key>frame</key>
                <string>{{208,566},{70,204}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,14},{70,204}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body610008_0_G_Ani.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2b3e52b5e9c15017352ad140b7e3d3e$</string>
            <key>textureFileName</key>
            <string>body610008_0_G_Ani.png</string>
        </dict>
    </dict>
</plist>
