<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body610008_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{326,252},{76,160}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,5},{76,160}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{326,172},{78,160}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,5},{78,160}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{164,172},{80,160}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,5},{80,160}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{74,162}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,3},{74,162}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{84,160}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,5},{84,160}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{318,330},{88,156}}</string>
                <key>offset</key>
                <string>{6,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,9},{88,156}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{160,254},{90,156}}</string>
                <key>offset</key>
                <string>{9,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,9},{90,156}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_0_0008</key>
            <dict>
                <key>frame</key>
                <string>{{334,90},{80,160}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,5},{80,160}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_0_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{72,110}}</string>
                <key>offset</key>
                <string>{2,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,23},{72,110}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_0_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{72,120}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,13},{72,120}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_0_0011</key>
            <dict>
                <key>frame</key>
                <string>{{160,346},{82,156}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,8},{82,156}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_0_0012</key>
            <dict>
                <key>frame</key>
                <string>{{160,508},{84,154}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,7},{84,154}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_0_0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{90,156}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,9},{90,156}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_0_0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{86,156}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,6},{86,156}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_0_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,166}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,0},{88,166}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_0_0016</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{86,162}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,0},{86,162}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_0_0017</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{82,164}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,0},{82,164}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_0_0018</key>
            <dict>
                <key>frame</key>
                <string>{{170,86},{84,162}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,0},{84,162}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_0_0019</key>
            <dict>
                <key>frame</key>
                <string>{{318,498},{76,156}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,9},{76,156}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_0_0020</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{76,156}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,9},{76,156}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_0_0021</key>
            <dict>
                <key>frame</key>
                <string>{{160,430},{76,156}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,9},{76,156}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_0_0022</key>
            <dict>
                <key>frame</key>
                <string>{{318,420},{76,156}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,9},{76,156}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body610008_0_Ani.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4925bb08ece4e0068e23b52fcd891356$</string>
            <key>textureFileName</key>
            <string>body610008_0_Ani.png</string>
        </dict>
    </dict>
</plist>
