<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body610002_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{60,138}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,28},{60,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{66,142},{62,138}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,28},{62,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{130,182},{62,132}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,34},{62,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{244,384},{60,134}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,30},{60,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{190,246},{60,136}}</string>
                <key>offset</key>
                <string>{-9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,28},{60,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{60,136}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,28},{60,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_1_0007</key>
            <dict>
                <key>frame</key>
                <string>{{380,244},{58,128}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,36},{58,128}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_1_0008</key>
            <dict>
                <key>frame</key>
                <string>{{380,182},{60,130}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,34},{60,130}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_1_0009</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{60,98}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,34},{60,98}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_1_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{70,102}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,30},{70,102}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_1_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{62,138}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,28},{62,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_1_0012</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{64,136}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,28},{64,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_1_0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,138}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,28},{64,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_1_0014</key>
            <dict>
                <key>frame</key>
                <string>{{106,422},{64,136}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,27},{64,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_1_0015</key>
            <dict>
                <key>frame</key>
                <string>{{252,246},{58,136}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,28},{58,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_1_0016</key>
            <dict>
                <key>frame</key>
                <string>{{244,124},{56,138}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,27},{56,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_1_0017</key>
            <dict>
                <key>frame</key>
                <string>{{244,64},{58,138}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,29},{58,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_1_0018</key>
            <dict>
                <key>frame</key>
                <string>{{244,446},{56,134}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,28},{56,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_1_0019</key>
            <dict>
                <key>frame</key>
                <string>{{128,282},{60,138}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,27},{60,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_1_0020</key>
            <dict>
                <key>frame</key>
                <string>{{66,282},{60,138}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,27},{60,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_1_0021</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{60,138}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,27},{60,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_1_0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{62,138}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,27},{62,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body610002_1_Ani.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d9eeb72468ed86ea5bc9af50d1b3191$</string>
            <key>textureFileName</key>
            <string>body610002_1_Ani.png</string>
        </dict>
    </dict>
</plist>
