<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body600017_0001</key>
            <dict>
                <key>frame</key>
                <string>{{314,178},{68,60}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{68,60}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>body600017_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{68,62}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{68,62}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>body600017_0003</key>
            <dict>
                <key>frame</key>
                <string>{{66,178},{62,82}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{62,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>body600017_0004</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{62,82}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{62,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>body600017_0005</key>
            <dict>
                <key>frame</key>
                <string>{{150,178},{62,80}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{62,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>body600017_0006</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{62,82}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{62,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>body600017_0007</key>
            <dict>
                <key>frame</key>
                <string>{{384,186},{54,84}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{54,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>body600017_0008</key>
            <dict>
                <key>frame</key>
                <string>{{392,130},{54,84}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{54,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>body600017_0009</key>
            <dict>
                <key>frame</key>
                <string>{{306,122},{54,84}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{54,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>body600017_0010</key>
            <dict>
                <key>frame</key>
                <string>{{220,122},{54,84}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{54,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>body600017_0011</key>
            <dict>
                <key>frame</key>
                <string>{{396,66},{62,80}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{62,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>body600017_0012</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{62,82}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{62,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>body600017_0013</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{62,82}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{62,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>body600017_0014</key>
            <dict>
                <key>frame</key>
                <string>{{70,84},{62,82}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{62,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>body600017_0015</key>
            <dict>
                <key>frame</key>
                <string>{{134,122},{54,84}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{54,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>body600017_0016</key>
            <dict>
                <key>frame</key>
                <string>{{310,66},{54,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{54,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>body600017_0017</key>
            <dict>
                <key>frame</key>
                <string>{{224,66},{54,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{54,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>body600017_0018</key>
            <dict>
                <key>frame</key>
                <string>{{138,66},{54,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{54,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>body600017_0019</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,80}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{66,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>body600017_0020</key>
            <dict>
                <key>frame</key>
                <string>{{232,178},{64,80}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{64,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>body600017_0021</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{66,82}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{66,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>body600017_0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,82}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{66,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body600017_Ani.png</string>
            <key>size</key>
            <string>{484,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef06566b9a5bf48f1612a326836c5f43$</string>
            <key>textureFileName</key>
            <string>body600017_Ani.png</string>
        </dict>
    </dict>
</plist>
