<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>530034_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{104,626},{102,98}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{102,98}}</string>
                <key>sourceSize</key>
                <string>{152,128}</string>
            </dict>
            <key>530034_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{104,522},{102,98}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{102,98}}</string>
                <key>sourceSize</key>
                <string>{152,128}</string>
            </dict>
            <key>530034_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{104,418},{102,98}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{102,98}}</string>
                <key>sourceSize</key>
                <string>{152,128}</string>
            </dict>
            <key>530034_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{104,314},{102,98}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{102,98}}</string>
                <key>sourceSize</key>
                <string>{152,128}</string>
            </dict>
            <key>530034_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{102,100}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{102,100}}</string>
                <key>sourceSize</key>
                <string>{152,128}</string>
            </dict>
            <key>530034_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{102,100}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{102,100}}</string>
                <key>sourceSize</key>
                <string>{152,128}</string>
            </dict>
            <key>530034_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{102,100}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{102,100}}</string>
                <key>sourceSize</key>
                <string>{152,128}</string>
            </dict>
            <key>530034_0_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{102,100}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{102,100}}</string>
                <key>sourceSize</key>
                <string>{152,128}</string>
            </dict>
            <key>530034_0_0009</key>
            <dict>
                <key>frame</key>
                <string>{{104,210},{102,98}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{102,98}}</string>
                <key>sourceSize</key>
                <string>{152,128}</string>
            </dict>
            <key>530034_0_0010</key>
            <dict>
                <key>frame</key>
                <string>{{104,106},{102,98}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{102,98}}</string>
                <key>sourceSize</key>
                <string>{152,128}</string>
            </dict>
            <key>530034_0_0011</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{102,98}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{102,98}}</string>
                <key>sourceSize</key>
                <string>{152,128}</string>
            </dict>
            <key>530034_0_0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{102,98}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{102,98}}</string>
                <key>sourceSize</key>
                <string>{152,128}</string>
            </dict>
            <key>530034_0_0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{102,98}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{102,98}}</string>
                <key>sourceSize</key>
                <string>{152,128}</string>
            </dict>
            <key>530034_0_0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{102,100}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{102,100}}</string>
                <key>sourceSize</key>
                <string>{152,128}</string>
            </dict>
            <key>530034_0_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{102,100}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{102,100}}</string>
                <key>sourceSize</key>
                <string>{152,128}</string>
            </dict>
            <key>530034_0_0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,100}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{102,100}}</string>
                <key>sourceSize</key>
                <string>{152,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>530034_0_Ani.png</string>
            <key>size</key>
            <string>{204,930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40e1148d6e6147c24c3b127794d5343a$</string>
            <key>textureFileName</key>
            <string>530034_0_Ani.png</string>
        </dict>
    </dict>
</plist>
