<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>530033_1_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,61}}</string>
                <key>offset</key>
                <string>{14,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,77},{68,61}}</string>
                <key>sourceSize</key>
                <string>{156,149}</string>
            </dict>
            <key>530033_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{65,190},{62,61}}</string>
                <key>offset</key>
                <string>{12,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,77},{62,61}}</string>
                <key>sourceSize</key>
                <string>{156,149}</string>
            </dict>
            <key>530033_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{66,61}}</string>
                <key>offset</key>
                <string>{11,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,77},{66,61}}</string>
                <key>sourceSize</key>
                <string>{156,149}</string>
            </dict>
            <key>530033_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{68,57}}</string>
                <key>offset</key>
                <string>{12,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,81},{68,57}}</string>
                <key>sourceSize</key>
                <string>{156,149}</string>
            </dict>
            <key>530033_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{70,124},{64,55}}</string>
                <key>offset</key>
                <string>{12,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,83},{64,55}}</string>
                <key>sourceSize</key>
                <string>{156,149}</string>
            </dict>
            <key>530033_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{64,61}}</string>
                <key>offset</key>
                <string>{13,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,77},{64,61}}</string>
                <key>sourceSize</key>
                <string>{156,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>530033_1_Ani.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9061f18699d502cc2f4be401e47737d4$</string>
            <key>textureFileName</key>
            <string>530033_1_Ani.png</string>
        </dict>
    </dict>
</plist>
