<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>530001_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,44}}</string>
                <key>offset</key>
                <string>{23,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,83},{62,44}}</string>
                <key>sourceSize</key>
                <string>{166,150}</string>
            </dict>
            <key>530001_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{66,50},{60,40}}</string>
                <key>offset</key>
                <string>{22,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,87},{60,40}}</string>
                <key>sourceSize</key>
                <string>{166,150}</string>
            </dict>
            <key>530001_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{62,40}}</string>
                <key>offset</key>
                <string>{21,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,87},{62,40}}</string>
                <key>sourceSize</key>
                <string>{166,150}</string>
            </dict>
            <key>530001_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{60,92},{56,44}}</string>
                <key>offset</key>
                <string>{18,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,83},{56,44}}</string>
                <key>sourceSize</key>
                <string>{166,150}</string>
            </dict>
            <key>530001_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{56,44}}</string>
                <key>offset</key>
                <string>{19,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,83},{56,44}}</string>
                <key>sourceSize</key>
                <string>{166,150}</string>
            </dict>
            <key>530001_1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{60,46}}</string>
                <key>offset</key>
                <string>{22,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,81},{60,46}}</string>
                <key>sourceSize</key>
                <string>{166,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>530001_1_Ani.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cbfb327cda3017f8977b6ce375ba7e2$</string>
            <key>textureFileName</key>
            <string>530001_1_Ani.png</string>
        </dict>
    </dict>
</plist>
