<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>530028_1_0000</key>
            <dict>
                <key>frame</key>
                <string>{{80,52},{76,48}}</string>
                <key>offset</key>
                <string>{18,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,68},{76,48}}</string>
                <key>sourceSize</key>
                <string>{172,128}</string>
            </dict>
            <key>530028_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{76,48}}</string>
                <key>offset</key>
                <string>{18,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,68},{76,48}}</string>
                <key>sourceSize</key>
                <string>{172,128}</string>
            </dict>
            <key>530028_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,48}}</string>
                <key>offset</key>
                <string>{18,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,68},{76,48}}</string>
                <key>sourceSize</key>
                <string>{172,128}</string>
            </dict>
            <key>530028_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,48}}</string>
                <key>offset</key>
                <string>{18,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,68},{76,48}}</string>
                <key>sourceSize</key>
                <string>{172,128}</string>
            </dict>
            <key>530028_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,48}}</string>
                <key>offset</key>
                <string>{18,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,68},{76,48}}</string>
                <key>sourceSize</key>
                <string>{172,128}</string>
            </dict>
            <key>530028_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{158,52},{78,48}}</string>
                <key>offset</key>
                <string>{17,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,68},{78,48}}</string>
                <key>sourceSize</key>
                <string>{172,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>530028_1_Ani.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01697d2805db93496d377a7e08292240$</string>
            <key>textureFileName</key>
            <string>530028_1_Ani.png</string>
        </dict>
    </dict>
</plist>
