<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>530051_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{48,90},{38,44}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{38,44}}</string>
                <key>sourceSize</key>
                <string>{52,56}</string>
            </dict>
            <key>530051_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{40,44}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{40,44}}</string>
                <key>sourceSize</key>
                <string>{52,56}</string>
            </dict>
            <key>530051_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{48,46},{42,44}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{42,44}}</string>
                <key>sourceSize</key>
                <string>{52,56}</string>
            </dict>
            <key>530051_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{46,42}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{46,42}}</string>
                <key>sourceSize</key>
                <string>{52,56}</string>
            </dict>
            <key>530051_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,42}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{46,42}}</string>
                <key>sourceSize</key>
                <string>{52,56}</string>
            </dict>
            <key>530051_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{42,44}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{42,44}}</string>
                <key>sourceSize</key>
                <string>{52,56}</string>
            </dict>
            <key>530051_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{48,90},{38,44}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{38,44}}</string>
                <key>sourceSize</key>
                <string>{52,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>530051_0_Ani.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25725f68a0e5fba4903250379a901b50$</string>
            <key>textureFileName</key>
            <string>530051_0_Ani.png</string>
        </dict>
    </dict>
</plist>
