<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550053_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{659,2},{265,655}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,655}}</string>
                <key>sourceSize</key>
                <string>{265,655}</string>
            </dict>
            <key>550053_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{251,655}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{251,655}}</string>
                <key>sourceSize</key>
                <string>{265,655}</string>
            </dict>
            <key>550053_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{251,655}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{251,655}}</string>
                <key>sourceSize</key>
                <string>{265,655}</string>
            </dict>
            <key>550053_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,765},{255,655}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{255,655}}</string>
                <key>sourceSize</key>
                <string>{265,655}</string>
            </dict>
            <key>550053_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{255,655}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{255,655}}</string>
                <key>sourceSize</key>
                <string>{265,655}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550053_1_Ani.png</string>
            <key>size</key>
            <string>{926,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bc2e4d7288b88375db4aab51fcf4103$</string>
            <key>textureFileName</key>
            <string>550053_1_Ani.png</string>
        </dict>
    </dict>
</plist>
