<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550056_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{94,80}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,26},{94,80}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550056_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{94,88}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{94,88}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550056_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{102,420},{92,94}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{92,94}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550056_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{98,96}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{98,96}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550056_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{112,112},{100,104}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{100,104}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550056_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{110,314},{102,104}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{102,104}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550056_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,112}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{104,112}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550056_0_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{106,94}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{106,94}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550056_0_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{108,86}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{108,86}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550056_0_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{108,90}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{108,90}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550056_0_0011</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{108,96}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{108,96}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550056_0_0012</key>
            <dict>
                <key>frame</key>
                <string>{{112,218},{100,94}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{100,94}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550056_0_0013</key>
            <dict>
                <key>frame</key>
                <string>{{98,514},{90,88}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{90,88}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550056_0_Ani.png</string>
            <key>size</key>
            <string>{214,658}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c185fdce3a01eafa615775bcb458f4b0$</string>
            <key>textureFileName</key>
            <string>550056_0_Ani.png</string>
        </dict>
    </dict>
</plist>
