<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550030_0001</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{177,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,212}}</string>
                <key>sourceSize</key>
                <string>{177,212}</string>
            </dict>
            <key>550030_0002</key>
            <dict>
                <key>frame</key>
                <string>{{537,2},{175,212}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{175,212}}</string>
                <key>sourceSize</key>
                <string>{177,212}</string>
            </dict>
            <key>550030_0003</key>
            <dict>
                <key>frame</key>
                <string>{{535,216},{175,212}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{175,212}}</string>
                <key>sourceSize</key>
                <string>{177,212}</string>
            </dict>
            <key>550030_0004</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{175,212}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{175,212}}</string>
                <key>sourceSize</key>
                <string>{177,212}</string>
            </dict>
            <key>550030_0005</key>
            <dict>
                <key>frame</key>
                <string>{{358,216},{175,212}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{175,212}}</string>
                <key>sourceSize</key>
                <string>{177,212}</string>
            </dict>
            <key>550030_0006</key>
            <dict>
                <key>frame</key>
                <string>{{181,216},{175,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{175,212}}</string>
                <key>sourceSize</key>
                <string>{177,212}</string>
            </dict>
            <key>550030_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{177,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,212}}</string>
                <key>sourceSize</key>
                <string>{177,212}</string>
            </dict>
            <key>550030_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,212}}</string>
                <key>sourceSize</key>
                <string>{177,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550030_Ani.png</string>
            <key>size</key>
            <string>{714,430}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cd67f35f7b9ab94687da5e8ebb0ef89$</string>
            <key>textureFileName</key>
            <string>550030_Ani.png</string>
        </dict>
    </dict>
</plist>
