<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550063_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{354,164},{96,76}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,34},{96,76}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>550063_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{256,168},{96,76}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,33},{96,76}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>550063_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{310,84},{98,78}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{98,78}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>550063_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{410,84},{98,76}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,30},{98,76}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>550063_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{98,80}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{98,80}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>550063_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{98,82}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{98,82}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>550063_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{98,82}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{98,82}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>550063_0_0008</key>
            <dict>
                <key>frame</key>
                <string>{{208,86},{100,80}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{100,80}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>550063_0_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{102,80}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{102,80}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>550063_0_0010</key>
            <dict>
                <key>frame</key>
                <string>{{106,88},{100,80}}</string>
                <key>offset</key>
                <string>{-15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{100,80}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>550063_0_0011</key>
            <dict>
                <key>frame</key>
                <string>{{58,170},{100,80}}</string>
                <key>offset</key>
                <string>{-16,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{100,80}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>550063_0_0012</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{100,80}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{100,80}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>550063_0_0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,84}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{106,84}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>550063_0_0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{84,54}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,37},{84,54}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>550063_0_0015</key>
            <dict>
                <key>frame</key>
                <string>{{160,170},{94,78}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,32},{94,78}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550063_0_Ani.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7d0c508c9a3944b324dd7870e0d2556$</string>
            <key>textureFileName</key>
            <string>550063_0_Ani.png</string>
        </dict>
    </dict>
</plist>
