<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550033_0001</key>
            <dict>
                <key>frame</key>
                <string>{{521,203},{171,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,199}}</string>
                <key>sourceSize</key>
                <string>{171,199}</string>
            </dict>
            <key>550033_0002</key>
            <dict>
                <key>frame</key>
                <string>{{348,203},{171,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,199}}</string>
                <key>sourceSize</key>
                <string>{171,199}</string>
            </dict>
            <key>550033_0003</key>
            <dict>
                <key>frame</key>
                <string>{{521,2},{171,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,199}}</string>
                <key>sourceSize</key>
                <string>{171,199}</string>
            </dict>
            <key>550033_0004</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{171,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,199}}</string>
                <key>sourceSize</key>
                <string>{171,199}</string>
            </dict>
            <key>550033_0005</key>
            <dict>
                <key>frame</key>
                <string>{{175,203},{171,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,199}}</string>
                <key>sourceSize</key>
                <string>{171,199}</string>
            </dict>
            <key>550033_0006</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{171,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,199}}</string>
                <key>sourceSize</key>
                <string>{171,199}</string>
            </dict>
            <key>550033_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{171,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,199}}</string>
                <key>sourceSize</key>
                <string>{171,199}</string>
            </dict>
            <key>550033_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{171,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,199}}</string>
                <key>sourceSize</key>
                <string>{171,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550033_Ani.png</string>
            <key>size</key>
            <string>{694,405}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1b48f2ec1f75b766e95f7e69c6f72a8$</string>
            <key>textureFileName</key>
            <string>550033_Ani.png</string>
        </dict>
    </dict>
</plist>
