<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550132_1_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,70}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>550132_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{48,64}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{48,64}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>550132_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{52,64}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{52,64}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>550132_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{68,134},{50,64}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,12},{50,64}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>550132_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{70,68},{56,64}}</string>
                <key>offset</key>
                <string>{18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,12},{56,64}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>550132_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{50,64}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,12},{50,64}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>550132_1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{46,64}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,12},{46,64}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>550132_1_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{48,66}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{48,66}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550132_1_Ani.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5986bf9da59f2775d55024a971c6979$</string>
            <key>textureFileName</key>
            <string>550132_1_Ani.png</string>
        </dict>
    </dict>
</plist>
