<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550132_0_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,70}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,6},{52,70}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>550132_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{48,64}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,12},{48,64}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>550132_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{52,64}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{52,64}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>550132_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{68,134},{50,64}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{50,64}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>550132_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{70,68},{56,64}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{56,64}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>550132_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{50,64}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{50,64}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>550132_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{46,64}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,12},{46,64}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>550132_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{48,66}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,10},{48,66}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550132_0_Ani.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e778fc51c5418b6b72152f155efd3008$</string>
            <key>textureFileName</key>
            <string>550132_0_Ani.png</string>
        </dict>
    </dict>
</plist>
