<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550269_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{243,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{243,311}}</string>
                <key>sourceSize</key>
                <string>{247,315}</string>
            </dict>
            <key>550269_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{243,311}}</string>
                <key>sourceSize</key>
                <string>{247,315}</string>
            </dict>
            <key>550269_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{315,2},{243,307}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{243,307}}</string>
                <key>sourceSize</key>
                <string>{247,315}</string>
            </dict>
            <key>550269_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{315,247},{243,309}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{243,309}}</string>
                <key>sourceSize</key>
                <string>{247,315}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550269_0_Ani.png</string>
            <key>size</key>
            <string>{626,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74ecddf3de6107cc634a88c1caec674c$</string>
            <key>textureFileName</key>
            <string>550269_0_Ani.png</string>
        </dict>
    </dict>
</plist>
