<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550313_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{145,97}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{145,97}}</string>
                <key>sourceSize</key>
                <string>{167,105}</string>
            </dict>
            <key>550313_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,97}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{147,97}}</string>
                <key>sourceSize</key>
                <string>{167,105}</string>
            </dict>
            <key>550313_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{139,97}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{139,97}}</string>
                <key>sourceSize</key>
                <string>{167,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550313_1_Ani.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8ab3a822a4d5f7b88326faeef700533$</string>
            <key>textureFileName</key>
            <string>550313_1_Ani.png</string>
        </dict>
    </dict>
</plist>
