<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550329_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{165,77},{71,84}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,25},{71,84}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>550329_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{79,88},{75,84}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,25},{75,84}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>550329_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{88,240},{73,84}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,25},{73,84}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>550329_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{75,84}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,25},{75,84}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>550329_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{174,399},{71,84}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,25},{71,84}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>550329_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{75,84}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,25},{75,84}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>550329_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{163,240},{71,84}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,25},{71,84}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>550329_0_0008</key>
            <dict>
                <key>frame</key>
                <string>{{161,326},{71,84}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,25},{71,84}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>550329_0_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{75,84}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,25},{75,84}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>550329_0_0010</key>
            <dict>
                <key>frame</key>
                <string>{{79,165},{73,84}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,25},{73,84}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>550329_0_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{75,84}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,25},{75,84}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>550329_0_0012</key>
            <dict>
                <key>frame</key>
                <string>{{165,163},{69,84}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,25},{69,84}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>550329_0_0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{75,84}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,25},{75,84}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>550329_0_0014</key>
            <dict>
                <key>frame</key>
                <string>{{88,412},{71,84}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,25},{71,84}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>550329_0_0015</key>
            <dict>
                <key>frame</key>
                <string>{{88,326},{71,84}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,25},{71,84}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>550329_0_0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{75,84}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,25},{75,84}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>550329_0_0017</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{73,84}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,25},{73,84}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>550329_0_0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,84}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,25},{75,84}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550329_0_Ani.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9427bc7dd19958dd0ee9ca75870b4eec$</string>
            <key>textureFileName</key>
            <string>550329_0_Ani.png</string>
        </dict>
    </dict>
</plist>
