<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550328_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{86,104},{66,86}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{66,86}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550328_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{84,82}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{84,82}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550328_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{174,340},{82,76}}</string>
                <key>offset</key>
                <string>{-15,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,19},{82,76}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550328_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{244,254},{82,64}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,31},{82,64}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550328_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{82,76}}</string>
                <key>offset</key>
                <string>{-15,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,19},{82,76}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550328_1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{238,172},{80,76}}</string>
                <key>offset</key>
                <string>{-15,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,19},{80,76}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550328_1_0007</key>
            <dict>
                <key>frame</key>
                <string>{{238,88},{76,82}}</string>
                <key>offset</key>
                <string>{-17,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{76,82}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550328_1_0008</key>
            <dict>
                <key>frame</key>
                <string>{{154,104},{82,84}}</string>
                <key>offset</key>
                <string>{-14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{82,84}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550328_1_0009</key>
            <dict>
                <key>frame</key>
                <string>{{166,254},{84,76}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,19},{84,76}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550328_1_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{84,102}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{84,102}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550328_1_0011</key>
            <dict>
                <key>frame</key>
                <string>{{88,358},{84,100}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{84,100}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550328_1_0012</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{82,100}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{82,100}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550328_1_0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,126}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{82,126}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550328_1_0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{82,122}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{82,122}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550328_1_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{80,104}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{80,104}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550328_1_0016</key>
            <dict>
                <key>frame</key>
                <string>{{84,254},{80,102}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{80,102}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>550328_1_0017</key>
            <dict>
                <key>frame</key>
                <string>{{154,190},{66,62}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,44},{66,62}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550328_1_Ani.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f7e6052a716183e3bac633e7c6add56$</string>
            <key>textureFileName</key>
            <string>550328_1_Ani.png</string>
        </dict>
    </dict>
</plist>
