<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550326_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{93,93}}</string>
                <key>offset</key>
                <string>{-13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{157,119}</string>
            </dict>
            <key>550326_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{97,97},{93,93}}</string>
                <key>offset</key>
                <string>{-13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{157,119}</string>
            </dict>
            <key>550326_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{93,93}}</string>
                <key>offset</key>
                <string>{-14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{157,119}</string>
            </dict>
            <key>550326_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{192,97},{61,81}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{61,81}}</string>
                <key>sourceSize</key>
                <string>{157,119}</string>
            </dict>
            <key>550326_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{93,93}}</string>
                <key>offset</key>
                <string>{-13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{157,119}</string>
            </dict>
            <key>550326_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,93}}</string>
                <key>offset</key>
                <string>{-13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{95,93}}</string>
                <key>sourceSize</key>
                <string>{157,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550326_0_Ani.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8955cb26d60ff05addf660a7900ba04$</string>
            <key>textureFileName</key>
            <string>550326_0_Ani.png</string>
        </dict>
    </dict>
</plist>
