<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550326_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{93,93}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>550326_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{97,97},{93,93}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>550326_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{93,93}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>550326_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{192,97},{61,81}}</string>
                <key>offset</key>
                <string>{-27,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{61,81}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>550326_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{93,93}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>550326_1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,93}}</string>
                <key>offset</key>
                <string>{-12,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{95,93}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550326_1_Ani.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9a5c3e56e9d9c6d730cfd32f9b567ad$</string>
            <key>textureFileName</key>
            <string>550326_1_Ani.png</string>
        </dict>
    </dict>
</plist>
