<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550325_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,111}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{99,111}}</string>
                <key>sourceSize</key>
                <string>{139,125}</string>
            </dict>
            <key>550325_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{99,107}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{99,107}}</string>
                <key>sourceSize</key>
                <string>{139,125}</string>
            </dict>
            <key>550325_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{103,111},{97,103}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{97,103}}</string>
                <key>sourceSize</key>
                <string>{139,125}</string>
            </dict>
            <key>550325_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{93,105}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{93,105}}</string>
                <key>sourceSize</key>
                <string>{139,125}</string>
            </dict>
            <key>550325_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{519,2},{83,111}}</string>
                <key>offset</key>
                <string>{-18,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{83,111}}</string>
                <key>sourceSize</key>
                <string>{139,125}</string>
            </dict>
            <key>550325_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{519,87},{79,109}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{79,109}}</string>
                <key>sourceSize</key>
                <string>{139,125}</string>
            </dict>
            <key>550325_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{509,168},{83,93}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,24},{83,93}}</string>
                <key>sourceSize</key>
                <string>{139,125}</string>
            </dict>
            <key>550325_0_0008</key>
            <dict>
                <key>frame</key>
                <string>{{204,109},{87,91}}</string>
                <key>offset</key>
                <string>{-19,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,26},{87,91}}</string>
                <key>sourceSize</key>
                <string>{139,125}</string>
            </dict>
            <key>550325_0_0009</key>
            <dict>
                <key>frame</key>
                <string>{{412,97},{95,89}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,27},{95,89}}</string>
                <key>sourceSize</key>
                <string>{139,125}</string>
            </dict>
            <key>550325_0_0010</key>
            <dict>
                <key>frame</key>
                <string>{{307,101},{99,93}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{99,93}}</string>
                <key>sourceSize</key>
                <string>{139,125}</string>
            </dict>
            <key>550325_0_0011</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{103,97}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{103,97}}</string>
                <key>sourceSize</key>
                <string>{139,125}</string>
            </dict>
            <key>550325_0_0012</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{101,105}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{101,105}}</string>
                <key>sourceSize</key>
                <string>{139,125}</string>
            </dict>
            <key>550325_0_0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{99,109}}</string>
                <key>offset</key>
                <string>{-16,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{99,109}}</string>
                <key>sourceSize</key>
                <string>{139,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550325_0_Ani.png</string>
            <key>size</key>
            <string>{632,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20b37e3e3a2294090d90e4643f7339b1$</string>
            <key>textureFileName</key>
            <string>550325_0_Ani.png</string>
        </dict>
    </dict>
</plist>
