<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550328_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{168,284},{66,86}}</string>
                <key>offset</key>
                <string>{-29,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,23},{66,86}}</string>
                <key>sourceSize</key>
                <string>{134,130}</string>
            </dict>
            <key>550328_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{170,104},{84,82}}</string>
                <key>offset</key>
                <string>{-21,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{84,82}}</string>
                <key>sourceSize</key>
                <string>{134,130}</string>
            </dict>
            <key>550328_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{82,368},{82,76}}</string>
                <key>offset</key>
                <string>{-20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{82,76}}</string>
                <key>sourceSize</key>
                <string>{134,130}</string>
            </dict>
            <key>550328_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{82,446},{82,64}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,35},{82,64}}</string>
                <key>sourceSize</key>
                <string>{134,130}</string>
            </dict>
            <key>550328_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{86,206},{82,76}}</string>
                <key>offset</key>
                <string>{-21,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{82,76}}</string>
                <key>sourceSize</key>
                <string>{134,130}</string>
            </dict>
            <key>550328_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{166,430},{80,76}}</string>
                <key>offset</key>
                <string>{-20,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,23},{80,76}}</string>
                <key>sourceSize</key>
                <string>{134,130}</string>
            </dict>
            <key>550328_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{168,352},{76,82}}</string>
                <key>offset</key>
                <string>{-18,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,17},{76,82}}</string>
                <key>sourceSize</key>
                <string>{134,130}</string>
            </dict>
            <key>550328_0_0008</key>
            <dict>
                <key>frame</key>
                <string>{{84,284},{82,82}}</string>
                <key>offset</key>
                <string>{-22,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{82,82}}</string>
                <key>sourceSize</key>
                <string>{134,130}</string>
            </dict>
            <key>550328_0_0009</key>
            <dict>
                <key>frame</key>
                <string>{{170,188},{84,76}}</string>
                <key>offset</key>
                <string>{-23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{84,76}}</string>
                <key>sourceSize</key>
                <string>{134,130}</string>
            </dict>
            <key>550328_0_0010</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{84,100}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{84,100}}</string>
                <key>sourceSize</key>
                <string>{134,130}</string>
            </dict>
            <key>550328_0_0011</key>
            <dict>
                <key>frame</key>
                <string>{{86,104},{82,100}}</string>
                <key>offset</key>
                <string>{-23,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{82,100}}</string>
                <key>sourceSize</key>
                <string>{134,130}</string>
            </dict>
            <key>550328_0_0012</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{82,100}}</string>
                <key>offset</key>
                <string>{-23,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{82,100}}</string>
                <key>sourceSize</key>
                <string>{134,130}</string>
            </dict>
            <key>550328_0_0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,130}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{82,130}}</string>
                <key>sourceSize</key>
                <string>{134,130}</string>
            </dict>
            <key>550328_0_0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{82,126}}</string>
                <key>offset</key>
                <string>{-22,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{82,126}}</string>
                <key>sourceSize</key>
                <string>{134,130}</string>
            </dict>
            <key>550328_0_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{80,104}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{80,104}}</string>
                <key>sourceSize</key>
                <string>{134,130}</string>
            </dict>
            <key>550328_0_0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{78,102}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{78,102}}</string>
                <key>sourceSize</key>
                <string>{134,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550328_0_Ani.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87cd2860849c99f459abaf943c735eac$</string>
            <key>textureFileName</key>
            <string>550328_0_Ani.png</string>
        </dict>
    </dict>
</plist>
