<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550368_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{102,96}}</string>
                <key>offset</key>
                <string>{-19,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{102,96}}</string>
                <key>sourceSize</key>
                <string>{144,130}</string>
            </dict>
            <key>550368_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{104,96}}</string>
                <key>offset</key>
                <string>{-20,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{104,96}}</string>
                <key>sourceSize</key>
                <string>{144,130}</string>
            </dict>
            <key>550368_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,94}}</string>
                <key>offset</key>
                <string>{-19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{106,94}}</string>
                <key>sourceSize</key>
                <string>{144,130}</string>
            </dict>
            <key>550368_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{102,92}}</string>
                <key>offset</key>
                <string>{-18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{102,92}}</string>
                <key>sourceSize</key>
                <string>{144,130}</string>
            </dict>
            <key>550368_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{86,100}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{86,100}}</string>
                <key>sourceSize</key>
                <string>{144,130}</string>
            </dict>
            <key>550368_1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{88,104}}</string>
                <key>offset</key>
                <string>{-11,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{88,104}}</string>
                <key>sourceSize</key>
                <string>{144,130}</string>
            </dict>
            <key>550368_1_0007</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{86,102}}</string>
                <key>offset</key>
                <string>{-11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{86,102}}</string>
                <key>sourceSize</key>
                <string>{144,130}</string>
            </dict>
            <key>550368_1_0008</key>
            <dict>
                <key>frame</key>
                <string>{{422,106},{88,96}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{88,96}}</string>
                <key>sourceSize</key>
                <string>{144,130}</string>
            </dict>
            <key>550368_1_0009</key>
            <dict>
                <key>frame</key>
                <string>{{406,204},{94,94}}</string>
                <key>offset</key>
                <string>{-15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{94,94}}</string>
                <key>sourceSize</key>
                <string>{144,130}</string>
            </dict>
            <key>550368_1_0010</key>
            <dict>
                <key>frame</key>
                <string>{{108,100},{100,94}}</string>
                <key>offset</key>
                <string>{-17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{100,94}}</string>
                <key>sourceSize</key>
                <string>{144,130}</string>
            </dict>
            <key>550368_1_0011</key>
            <dict>
                <key>frame</key>
                <string>{{210,100},{98,94}}</string>
                <key>offset</key>
                <string>{-16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{98,94}}</string>
                <key>sourceSize</key>
                <string>{144,130}</string>
            </dict>
            <key>550368_1_0012</key>
            <dict>
                <key>frame</key>
                <string>{{310,192},{94,94}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{94,94}}</string>
                <key>sourceSize</key>
                <string>{144,130}</string>
            </dict>
            <key>550368_1_0013</key>
            <dict>
                <key>frame</key>
                <string>{{320,96},{100,94}}</string>
                <key>offset</key>
                <string>{-17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{100,94}}</string>
                <key>sourceSize</key>
                <string>{144,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550368_1_Ani.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b4a3c61da08430563c665b2524f43e9$</string>
            <key>textureFileName</key>
            <string>550368_1_Ani.png</string>
        </dict>
    </dict>
</plist>
