<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550324_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{87,73}}</string>
                <key>offset</key>
                <string>{-19,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{87,73}}</string>
                <key>sourceSize</key>
                <string>{159,105}</string>
            </dict>
            <key>550324_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{89,77},{85,63}}</string>
                <key>offset</key>
                <string>{-20,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{85,63}}</string>
                <key>sourceSize</key>
                <string>{159,105}</string>
            </dict>
            <key>550324_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{81,51}}</string>
                <key>offset</key>
                <string>{-20,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{81,51}}</string>
                <key>sourceSize</key>
                <string>{159,105}</string>
            </dict>
            <key>550324_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{75,142},{77,45}}</string>
                <key>offset</key>
                <string>{-20,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{77,45}}</string>
                <key>sourceSize</key>
                <string>{159,105}</string>
            </dict>
            <key>550324_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{154,146},{67,51}}</string>
                <key>offset</key>
                <string>{-19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,22},{67,51}}</string>
                <key>sourceSize</key>
                <string>{159,105}</string>
            </dict>
            <key>550324_1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{53,55}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{53,55}}</string>
                <key>sourceSize</key>
                <string>{159,105}</string>
            </dict>
            <key>550324_1_0007</key>
            <dict>
                <key>frame</key>
                <string>{{126,199},{43,55}}</string>
                <key>offset</key>
                <string>{-21,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,33},{43,55}}</string>
                <key>sourceSize</key>
                <string>{159,105}</string>
            </dict>
            <key>550324_1_0008</key>
            <dict>
                <key>frame</key>
                <string>{{171,199},{33,59}}</string>
                <key>offset</key>
                <string>{-23,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,37},{33,59}}</string>
                <key>sourceSize</key>
                <string>{159,105}</string>
            </dict>
            <key>550324_1_0009</key>
            <dict>
                <key>frame</key>
                <string>{{57,189},{43,67}}</string>
                <key>offset</key>
                <string>{-26,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,33},{43,67}}</string>
                <key>sourceSize</key>
                <string>{159,105}</string>
            </dict>
            <key>550324_1_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{55,71}}</string>
                <key>offset</key>
                <string>{-26,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,27},{55,71}}</string>
                <key>sourceSize</key>
                <string>{159,105}</string>
            </dict>
            <key>550324_1_0011</key>
            <dict>
                <key>frame</key>
                <string>{{176,77},{67,71}}</string>
                <key>offset</key>
                <string>{-26,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{67,71}}</string>
                <key>sourceSize</key>
                <string>{159,105}</string>
            </dict>
            <key>550324_1_0012</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{73,75}}</string>
                <key>offset</key>
                <string>{-21,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{73,75}}</string>
                <key>sourceSize</key>
                <string>{159,105}</string>
            </dict>
            <key>550324_1_0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,75}}</string>
                <key>offset</key>
                <string>{-20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{85,75}}</string>
                <key>sourceSize</key>
                <string>{159,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550324_1_Ani.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77bf86d6cf297f77e95390d9a27c51b1$</string>
            <key>textureFileName</key>
            <string>550324_1_Ani.png</string>
        </dict>
    </dict>
</plist>
