<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550370_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{62,60}}</string>
                <key>offset</key>
                <string>{-13,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{152,122}</string>
            </dict>
            <key>550370_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{58,68},{60,58}}</string>
                <key>offset</key>
                <string>{-14,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{152,122}</string>
            </dict>
            <key>550370_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,64}}</string>
                <key>offset</key>
                <string>{-14,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{152,122}</string>
            </dict>
            <key>550370_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{54,64}}</string>
                <key>offset</key>
                <string>{-15,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{54,64}}</string>
                <key>sourceSize</key>
                <string>{152,122}</string>
            </dict>
            <key>550370_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{60,198},{54,62}}</string>
                <key>offset</key>
                <string>{-13,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{54,62}}</string>
                <key>sourceSize</key>
                <string>{152,122}</string>
            </dict>
            <key>550370_1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{52,60}}</string>
                <key>offset</key>
                <string>{-13,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{152,122}</string>
            </dict>
            <key>550370_1_0007</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{48,60}}</string>
                <key>offset</key>
                <string>{-12,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{152,122}</string>
            </dict>
            <key>550370_1_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{56,56}}</string>
                <key>offset</key>
                <string>{-13,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{152,122}</string>
            </dict>
            <key>550370_1_0009</key>
            <dict>
                <key>frame</key>
                <string>{{110,130},{52,48}}</string>
                <key>offset</key>
                <string>{-12,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{52,48}}</string>
                <key>sourceSize</key>
                <string>{152,122}</string>
            </dict>
            <key>550370_1_0010</key>
            <dict>
                <key>frame</key>
                <string>{{64,130},{58,44}}</string>
                <key>offset</key>
                <string>{-17,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{58,44}}</string>
                <key>sourceSize</key>
                <string>{152,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550370_1_Ani.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34b4f1ed60c1ff78349737ec7a32d47a$</string>
            <key>textureFileName</key>
            <string>550370_1_Ani.png</string>
        </dict>
    </dict>
</plist>
