<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550329_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{90,414},{70,86}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,24},{70,86}}</string>
                <key>sourceSize</key>
                <string>{126,122}</string>
            </dict>
            <key>550329_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{74,86}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,24},{74,86}}</string>
                <key>sourceSize</key>
                <string>{126,122}</string>
            </dict>
            <key>550329_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{72,86}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,24},{72,86}}</string>
                <key>sourceSize</key>
                <string>{126,122}</string>
            </dict>
            <key>550329_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{166,152},{74,84}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,26},{74,84}}</string>
                <key>sourceSize</key>
                <string>{126,122}</string>
            </dict>
            <key>550329_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{90,326},{70,86}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{70,86}}</string>
                <key>sourceSize</key>
                <string>{126,122}</string>
            </dict>
            <key>550329_1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{164,76},{74,84}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,26},{74,84}}</string>
                <key>sourceSize</key>
                <string>{126,122}</string>
            </dict>
            <key>550329_1_0007</key>
            <dict>
                <key>frame</key>
                <string>{{178,398},{70,84}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{70,84}}</string>
                <key>sourceSize</key>
                <string>{126,122}</string>
            </dict>
            <key>550329_1_0008</key>
            <dict>
                <key>frame</key>
                <string>{{90,238},{70,86}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{70,86}}</string>
                <key>sourceSize</key>
                <string>{126,122}</string>
            </dict>
            <key>550329_1_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{74,86}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,24},{74,86}}</string>
                <key>sourceSize</key>
                <string>{126,122}</string>
            </dict>
            <key>550329_1_0010</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{72,86}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{72,86}}</string>
                <key>sourceSize</key>
                <string>{126,122}</string>
            </dict>
            <key>550329_1_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{74,86}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{74,86}}</string>
                <key>sourceSize</key>
                <string>{126,122}</string>
            </dict>
            <key>550329_1_0012</key>
            <dict>
                <key>frame</key>
                <string>{{162,238},{68,86}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{68,86}}</string>
                <key>sourceSize</key>
                <string>{126,122}</string>
            </dict>
            <key>550329_1_0013</key>
            <dict>
                <key>frame</key>
                <string>{{78,90},{74,84}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,26},{74,84}}</string>
                <key>sourceSize</key>
                <string>{126,122}</string>
            </dict>
            <key>550329_1_0014</key>
            <dict>
                <key>frame</key>
                <string>{{78,166},{70,86}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,24},{70,86}}</string>
                <key>sourceSize</key>
                <string>{126,122}</string>
            </dict>
            <key>550329_1_0015</key>
            <dict>
                <key>frame</key>
                <string>{{162,326},{70,84}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,26},{70,84}}</string>
                <key>sourceSize</key>
                <string>{126,122}</string>
            </dict>
            <key>550329_1_0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{74,86}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{74,86}}</string>
                <key>sourceSize</key>
                <string>{126,122}</string>
            </dict>
            <key>550329_1_0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{72,86}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,24},{72,86}}</string>
                <key>sourceSize</key>
                <string>{126,122}</string>
            </dict>
            <key>550329_1_0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,86}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{74,86}}</string>
                <key>sourceSize</key>
                <string>{126,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550329_1_Ani.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:977e4c7a20f6019f181dcaf26f32b06c$</string>
            <key>textureFileName</key>
            <string>550329_1_Ani.png</string>
        </dict>
    </dict>
</plist>
