<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550442_0_</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{328,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,222}}</string>
                <key>sourceSize</key>
                <string>{328,222}</string>
            </dict>
            <key>550442_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{554,778},{326,222}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,222}}</string>
                <key>sourceSize</key>
                <string>{328,222}</string>
            </dict>
            <key>550442_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{450,450},{326,222}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,222}}</string>
                <key>sourceSize</key>
                <string>{328,222}</string>
            </dict>
            <key>550442_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{226,778},{326,222}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,222}}</string>
                <key>sourceSize</key>
                <string>{328,222}</string>
            </dict>
            <key>550442_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{226,450},{326,222}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,222}}</string>
                <key>sourceSize</key>
                <string>{328,222}</string>
            </dict>
            <key>550442_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{554,226},{326,222}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,222}}</string>
                <key>sourceSize</key>
                <string>{328,222}</string>
            </dict>
            <key>550442_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{226,226},{326,222}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,222}}</string>
                <key>sourceSize</key>
                <string>{328,222}</string>
            </dict>
            <key>550442_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{326,222}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,222}}</string>
                <key>sourceSize</key>
                <string>{328,222}</string>
            </dict>
            <key>550442_0_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{326,222}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,222}}</string>
                <key>sourceSize</key>
                <string>{328,222}</string>
            </dict>
            <key>550442_0_0009</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{326,222}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,222}}</string>
                <key>sourceSize</key>
                <string>{328,222}</string>
            </dict>
            <key>550442_0_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{328,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,222}}</string>
                <key>sourceSize</key>
                <string>{328,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550442_0_Ani.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:863d7cc10c7e51d7800afb070294c441$</string>
            <key>textureFileName</key>
            <string>550442_0_Ani.png</string>
        </dict>
    </dict>
</plist>
