<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550597_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{242,722},{238,148}}</string>
                <key>offset</key>
                <string>{84,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,103},{238,148}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550597_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{242,482},{238,150}}</string>
                <key>offset</key>
                <string>{84,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,102},{238,150}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550597_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{238,152}}</string>
                <key>offset</key>
                <string>{84,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,103},{238,152}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550597_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{242,242},{238,150}}</string>
                <key>offset</key>
                <string>{84,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,106},{238,150}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550597_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{238,148}}</string>
                <key>offset</key>
                <string>{84,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,108},{238,148}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550597_1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{238,146}}</string>
                <key>offset</key>
                <string>{84,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,110},{238,146}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550597_1_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{238,142}}</string>
                <key>offset</key>
                <string>{84,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,111},{238,142}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550597_1_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{238,140}}</string>
                <key>offset</key>
                <string>{84,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,110},{238,140}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550597_1_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,140}}</string>
                <key>offset</key>
                <string>{84,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,109},{238,140}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550597_1_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{238,142}}</string>
                <key>offset</key>
                <string>{84,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,106},{238,142}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550597_1_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{238,146}}</string>
                <key>offset</key>
                <string>{84,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,104},{238,146}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550597_1_Ani.png</string>
            <key>size</key>
            <string>{394,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:365ebb530cad41f2a58cbbfa720b1c31:1/1$</string>
            <key>textureFileName</key>
            <string>550597_1_Ani.png</string>
        </dict>
    </dict>
</plist>
