<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550558_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{548,240},{238,290}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{238,290}}</string>
                <key>sourceSize</key>
                <string>{250,320}</string>
            </dict>
            <key>550558_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{310,242},{236,296}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{236,296}}</string>
                <key>sourceSize</key>
                <string>{250,320}</string>
            </dict>
            <key>550558_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{238,306}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{238,306}}</string>
                <key>sourceSize</key>
                <string>{250,320}</string>
            </dict>
            <key>550558_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,314}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{238,314}}</string>
                <key>sourceSize</key>
                <string>{250,320}</string>
            </dict>
            <key>550558_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{236,294}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{236,294}}</string>
                <key>sourceSize</key>
                <string>{250,320}</string>
            </dict>
            <key>550558_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{238,296}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{238,296}}</string>
                <key>sourceSize</key>
                <string>{250,320}</string>
            </dict>
            <key>550558_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{238,288}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{238,288}}</string>
                <key>sourceSize</key>
                <string>{250,320}</string>
            </dict>
            <key>550558_0_0008</key>
            <dict>
                <key>frame</key>
                <string>{{310,540},{236,292}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{236,292}}</string>
                <key>sourceSize</key>
                <string>{250,320}</string>
            </dict>
            <key>550558_0_0009</key>
            <dict>
                <key>frame</key>
                <string>{{242,778},{236,286}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{236,286}}</string>
                <key>sourceSize</key>
                <string>{250,320}</string>
            </dict>
            <key>550558_0_0010</key>
            <dict>
                <key>frame</key>
                <string>{{530,778},{238,282}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{238,282}}</string>
                <key>sourceSize</key>
                <string>{250,320}</string>
            </dict>
            <key>550558_0_0011</key>
            <dict>
                <key>frame</key>
                <string>{{604,480},{238,286}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{238,286}}</string>
                <key>sourceSize</key>
                <string>{250,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550558_0_Ani.png</string>
            <key>size</key>
            <string>{849,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2c44fe99e01f89af8aa0944aa8405b2$</string>
            <key>textureFileName</key>
            <string>550558_0_Ani.png</string>
        </dict>
    </dict>
</plist>
