<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550569_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{130,136}}</string>
                <key>offset</key>
                <string>{33,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,82},{130,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>550569_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{136,154}}</string>
                <key>offset</key>
                <string>{25,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,59},{136,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>550569_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{192,158},{138,136}}</string>
                <key>offset</key>
                <string>{3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,36},{138,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>550569_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{164,772},{148,152}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,28},{148,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>550569_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{174,442},{154,160}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,24},{154,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>550569_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{168,164}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,22},{168,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>550569_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{170,164}}</string>
                <key>offset</key>
                <string>{-8,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,25},{170,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>550569_0_0008</key>
            <dict>
                <key>frame</key>
                <string>{{172,604},{166,160}}</string>
                <key>offset</key>
                <string>{-12,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,32},{166,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>550569_0_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{170,120}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,73},{170,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>550569_0_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{188,134}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,73},{188,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>550569_0_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,142}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,71},{192,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>550569_0_0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{160,144}}</string>
                <key>offset</key>
                <string>{20,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,73},{160,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>550569_0_0013</key>
            <dict>
                <key>frame</key>
                <string>{{174,296},{158,144}}</string>
                <key>offset</key>
                <string>{20,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,74},{158,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550569_0_Ani.png</string>
            <key>size</key>
            <string>{334,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e56d832da45c51c931fa78c4bcb9442$</string>
            <key>textureFileName</key>
            <string>550569_0_Ani.png</string>
        </dict>
    </dict>
</plist>
