<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550589_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{192,118}}</string>
                <key>offset</key>
                <string>{-107,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,132},{192,118}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550589_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{192,122}}</string>
                <key>offset</key>
                <string>{-107,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,133},{192,122}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550589_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{192,124}}</string>
                <key>offset</key>
                <string>{-107,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,133},{192,124}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550589_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{192,128}}</string>
                <key>offset</key>
                <string>{-107,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,129},{192,128}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550589_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,128}}</string>
                <key>offset</key>
                <string>{-107,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,126},{192,128}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550589_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{192,126}}</string>
                <key>offset</key>
                <string>{-107,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,125},{192,126}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550589_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{192,122}}</string>
                <key>offset</key>
                <string>{-107,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,127},{192,122}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550589_0_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{192,118}}</string>
                <key>offset</key>
                <string>{-107,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,131},{192,118}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550589_0_Ani.png</string>
            <key>size</key>
            <string>{196,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50015e927d2fa9cc0e0bdae425e95c3b:1/1$</string>
            <key>textureFileName</key>
            <string>550589_0_Ani.png</string>
        </dict>
    </dict>
</plist>
