<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550592_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{526,160},{260,154}}</string>
                <key>offset</key>
                <string>{73,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,96},{260,154}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550592_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{264,170},{260,162}}</string>
                <key>offset</key>
                <string>{73,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,92},{260,162}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550592_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{260,166}}</string>
                <key>offset</key>
                <string>{73,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,90},{260,166}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550592_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,168}}</string>
                <key>offset</key>
                <string>{73,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,89},{260,168}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550592_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{260,166}}</string>
                <key>offset</key>
                <string>{73,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,92},{260,166}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550592_1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{260,162}}</string>
                <key>offset</key>
                <string>{73,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,94},{260,162}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550592_1_0007</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{260,156}}</string>
                <key>offset</key>
                <string>{73,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,96},{260,156}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550592_1_0008</key>
            <dict>
                <key>frame</key>
                <string>{{526,316},{260,152}}</string>
                <key>offset</key>
                <string>{73,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,98},{260,152}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550592_1_0009</key>
            <dict>
                <key>frame</key>
                <string>{{788,264},{260,148}}</string>
                <key>offset</key>
                <string>{73,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,100},{260,148}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550592_1_0010</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{260,148}}</string>
                <key>offset</key>
                <string>{73,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,99},{260,148}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550592_1_0011</key>
            <dict>
                <key>frame</key>
                <string>{{264,334},{260,150}}</string>
                <key>offset</key>
                <string>{73,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,99},{260,150}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550592_1_Ani.png</string>
            <key>size</key>
            <string>{938,526}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56c018eef476516cfd640e1fae6e990d:1/1$</string>
            <key>textureFileName</key>
            <string>550592_1_Ani.png</string>
        </dict>
    </dict>
</plist>
