<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550593_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{288,696},{284,162}}</string>
                <key>offset</key>
                <string>{61,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,88},{284,162}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550593_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{288,360},{284,168}}</string>
                <key>offset</key>
                <string>{61,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,86},{284,168}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550593_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{288,182},{284,176}}</string>
                <key>offset</key>
                <string>{61,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,82},{284,176}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550593_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{284,178}}</string>
                <key>offset</key>
                <string>{61,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,80},{284,178}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550593_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,178}}</string>
                <key>offset</key>
                <string>{61,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,78},{284,178}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550593_1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{284,176}}</string>
                <key>offset</key>
                <string>{61,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,78},{284,176}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550593_1_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{284,172}}</string>
                <key>offset</key>
                <string>{61,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,80},{284,172}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550593_1_0008</key>
            <dict>
                <key>frame</key>
                <string>{{288,530},{284,164}}</string>
                <key>offset</key>
                <string>{61,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,84},{284,164}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550593_1_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{284,162}}</string>
                <key>offset</key>
                <string>{61,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,86},{284,162}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550593_1_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{284,162}}</string>
                <key>offset</key>
                <string>{61,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,88},{284,162}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550593_1_Ani.png</string>
            <key>size</key>
            <string>{574,862}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c892cf55a7af7f6856c4353b10ee327e:1/1$</string>
            <key>textureFileName</key>
            <string>550593_1_Ani.png</string>
        </dict>
    </dict>
</plist>
