<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550537_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{54,58}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,17},{54,58}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>550537_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{68,266},{34,60}}</string>
                <key>offset</key>
                <string>{-33,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,13},{34,60}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>550537_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{156,54},{86,42}}</string>
                <key>offset</key>
                <string>{-39,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{86,42}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>550537_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{120,212},{108,40}}</string>
                <key>offset</key>
                <string>{-30,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{108,40}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>550537_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{124,28}}</string>
                <key>offset</key>
                <string>{-19,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{124,28}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>550537_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{230,98},{136,24}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,20},{136,24}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>550537_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{152,26}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{152,26}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>550537_0_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{120,40}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,15},{120,40}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>550537_0_0009</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{92,50}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,12},{92,50}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>550537_0_0010</key>
            <dict>
                <key>frame</key>
                <string>{{128,162},{72,48}}</string>
                <key>offset</key>
                <string>{19,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,12},{72,48}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>550537_0_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{38,64}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,12},{38,64}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>550537_0_0012</key>
            <dict>
                <key>frame</key>
                <string>{{152,98},{76,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,14},{76,62}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>550537_0_0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{116,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,18},{116,54}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>550537_0_0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,28}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,27},{154,28}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>550537_0_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{154,16}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,37},{154,16}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>550537_0_0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{148,22}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{148,22}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>550537_0_0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{132,34}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{132,34}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>550537_0_0018</key>
            <dict>
                <key>frame</key>
                <string>{{120,254},{114,40}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{114,40}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550537_0_Ani.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49daeea9dc2e1724474a31c26a6e04fb$</string>
            <key>textureFileName</key>
            <string>550537_0_Ani.png</string>
        </dict>
    </dict>
</plist>
