<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550593_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{288,696},{284,162}}</string>
                <key>offset</key>
                <string>{-62,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,88},{284,162}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550593_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{288,360},{284,168}}</string>
                <key>offset</key>
                <string>{-62,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,86},{284,168}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550593_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{288,182},{284,176}}</string>
                <key>offset</key>
                <string>{-62,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,82},{284,176}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550593_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{284,178}}</string>
                <key>offset</key>
                <string>{-62,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,80},{284,178}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550593_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,178}}</string>
                <key>offset</key>
                <string>{-62,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,78},{284,178}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550593_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{284,176}}</string>
                <key>offset</key>
                <string>{-62,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,78},{284,176}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550593_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{284,172}}</string>
                <key>offset</key>
                <string>{-62,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,80},{284,172}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550593_0_0008</key>
            <dict>
                <key>frame</key>
                <string>{{288,530},{284,164}}</string>
                <key>offset</key>
                <string>{-62,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,84},{284,164}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550593_0_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{284,162}}</string>
                <key>offset</key>
                <string>{-62,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,86},{284,162}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550593_0_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{284,162}}</string>
                <key>offset</key>
                <string>{-62,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,88},{284,162}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550593_0_Ani.png</string>
            <key>size</key>
            <string>{574,862}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:841ffcea3ea88ca52d445afdc6d9dc69:1/1$</string>
            <key>textureFileName</key>
            <string>550593_0_Ani.png</string>
        </dict>
    </dict>
</plist>
