<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550599_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{284,162}}</string>
                <key>offset</key>
                <string>{61,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,88},{284,162}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550599_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{178,288},{284,166}}</string>
                <key>offset</key>
                <string>{61,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,87},{284,166}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550599_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{284,172}}</string>
                <key>offset</key>
                <string>{61,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,84},{284,172}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550599_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,176}}</string>
                <key>offset</key>
                <string>{61,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,80},{284,176}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550599_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{284,174}}</string>
                <key>offset</key>
                <string>{61,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,80},{284,174}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550599_1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{176,574},{284,168}}</string>
                <key>offset</key>
                <string>{61,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,82},{284,168}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550599_1_0007</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{284,164}}</string>
                <key>offset</key>
                <string>{61,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,85},{284,164}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550599_1_Ani.png</string>
            <key>size</key>
            <string>{346,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db1999af479f3a7c1ccc08b7787c9f6d:1/1$</string>
            <key>textureFileName</key>
            <string>550599_1_Ani.png</string>
        </dict>
    </dict>
</plist>
