<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550557_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{515,2},{169,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,188}}</string>
                <key>sourceSize</key>
                <string>{169,188}</string>
            </dict>
            <key>550557_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{169,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,188}}</string>
                <key>sourceSize</key>
                <string>{169,188}</string>
            </dict>
            <key>550557_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{169,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,188}}</string>
                <key>sourceSize</key>
                <string>{169,188}</string>
            </dict>
            <key>550557_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,188}}</string>
                <key>sourceSize</key>
                <string>{169,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550557_1_Ani.png</string>
            <key>size</key>
            <string>{686,193}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f39f6797590d8a0e6885e7c6983d39c$</string>
            <key>textureFileName</key>
            <string>550557_1_Ani.png</string>
        </dict>
    </dict>
</plist>
