<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550563_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{410,676},{264,404}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,62},{264,404}}</string>
                <key>sourceSize</key>
                <string>{450,550}</string>
            </dict>
            <key>550563_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{264,410}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,58},{264,410}}</string>
                <key>sourceSize</key>
                <string>{450,550}</string>
            </dict>
            <key>550563_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{264,410}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,58},{264,410}}</string>
                <key>sourceSize</key>
                <string>{450,550}</string>
            </dict>
            <key>550563_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,410}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,58},{264,410}}</string>
                <key>sourceSize</key>
                <string>{450,550}</string>
            </dict>
            <key>550563_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{268,268},{264,406}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,62},{264,406}}</string>
                <key>sourceSize</key>
                <string>{450,550}</string>
            </dict>
            <key>550563_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{534,268},{264,400}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,68},{264,400}}</string>
                <key>sourceSize</key>
                <string>{450,550}</string>
            </dict>
            <key>550563_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{260,406}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,62},{260,406}}</string>
                <key>sourceSize</key>
                <string>{450,550}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550563_0_Ani.png</string>
            <key>size</key>
            <string>{826,942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd9bd030f5321e93567ce55401a15221$</string>
            <key>textureFileName</key>
            <string>550563_0_Ani.png</string>
        </dict>
    </dict>
</plist>
