<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550590_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{220,688},{216,134}}</string>
                <key>offset</key>
                <string>{-96,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,116},{216,134}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550590_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{216,136}}</string>
                <key>offset</key>
                <string>{-96,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,117},{216,136}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550590_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{220,278},{216,136}}</string>
                <key>offset</key>
                <string>{-96,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,119},{216,136}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550590_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{276,552},{216,134}}</string>
                <key>offset</key>
                <string>{-96,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,122},{216,134}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550590_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{216,136}}</string>
                <key>offset</key>
                <string>{-96,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,121},{216,136}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550590_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{220,140},{216,136}}</string>
                <key>offset</key>
                <string>{-96,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,121},{216,136}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550590_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{276,416},{216,134}}</string>
                <key>offset</key>
                <string>{-96,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,122},{216,134}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550590_0_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{216,136}}</string>
                <key>offset</key>
                <string>{-96,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,119},{216,136}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550590_0_0009</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{216,136}}</string>
                <key>offset</key>
                <string>{-96,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,116},{216,136}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550590_0_0010</key>
            <dict>
                <key>frame</key>
                <string>{{140,416},{216,134}}</string>
                <key>offset</key>
                <string>{-96,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,115},{216,134}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550590_0_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{216,134}}</string>
                <key>offset</key>
                <string>{-96,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,114},{216,134}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550590_0_0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,136}}</string>
                <key>offset</key>
                <string>{-96,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,114},{216,136}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550590_0_Ani.png</string>
            <key>size</key>
            <string>{494,824}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26f6d0c3a4d657e1c61e3fcd839c59eb:1/1$</string>
            <key>textureFileName</key>
            <string>550590_0_Ani.png</string>
        </dict>
    </dict>
</plist>
