<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550571_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{702,66},{8,15}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,88},{8,15}}</string>
                <key>sourceSize</key>
                <string>{78,103}</string>
            </dict>
            <key>550571_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{603,2},{70,97}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{70,97}}</string>
                <key>sourceSize</key>
                <string>{78,103}</string>
            </dict>
            <key>550571_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{74,101}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,101}}</string>
                <key>sourceSize</key>
                <string>{78,103}</string>
            </dict>
            <key>550571_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{76,89}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,89}}</string>
                <key>sourceSize</key>
                <string>{78,103}</string>
            </dict>
            <key>550571_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{78,89}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,89}}</string>
                <key>sourceSize</key>
                <string>{78,103}</string>
            </dict>
            <key>550571_1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,93}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,93}}</string>
                <key>sourceSize</key>
                <string>{78,103}</string>
            </dict>
            <key>550571_1_0007</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{74,93}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{74,93}}</string>
                <key>sourceSize</key>
                <string>{78,103}</string>
            </dict>
            <key>550571_1_0008</key>
            <dict>
                <key>frame</key>
                <string>{{793,2},{62,89}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{62,89}}</string>
                <key>sourceSize</key>
                <string>{78,103}</string>
            </dict>
            <key>550571_1_0009</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{62,89}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{62,89}}</string>
                <key>sourceSize</key>
                <string>{78,103}</string>
            </dict>
            <key>550571_1_0010</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{60,89}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{60,89}}</string>
                <key>sourceSize</key>
                <string>{78,103}</string>
            </dict>
            <key>550571_1_0011</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{62,77}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{62,77}}</string>
                <key>sourceSize</key>
                <string>{78,103}</string>
            </dict>
            <key>550571_1_0012</key>
            <dict>
                <key>frame</key>
                <string>{{541,2},{60,71}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{60,71}}</string>
                <key>sourceSize</key>
                <string>{78,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550571_1_Ani.png</string>
            <key>size</key>
            <string>{975,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbb2afaa45757168f9c9f978e34efebf$</string>
            <key>textureFileName</key>
            <string>550571_1_Ani.png</string>
        </dict>
    </dict>
</plist>
