<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550565_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{131,62}}</string>
                <key>offset</key>
                <string>{-10,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,104},{131,62}}</string>
                <key>sourceSize</key>
                <string>{207,194}</string>
            </dict>
            <key>550565_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{89,94}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,72},{89,94}}</string>
                <key>sourceSize</key>
                <string>{207,194}</string>
            </dict>
            <key>550565_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{545,2},{131,62}}</string>
                <key>offset</key>
                <string>{-10,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,104},{131,62}}</string>
                <key>sourceSize</key>
                <string>{207,194}</string>
            </dict>
            <key>550565_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{91,94}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,73},{91,94}}</string>
                <key>sourceSize</key>
                <string>{207,194}</string>
            </dict>
            <key>550565_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{131,64}}</string>
                <key>offset</key>
                <string>{-10,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,103},{131,64}}</string>
                <key>sourceSize</key>
                <string>{207,194}</string>
            </dict>
            <key>550565_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{91,94}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,73},{91,94}}</string>
                <key>sourceSize</key>
                <string>{207,194}</string>
            </dict>
            <key>550565_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{279,2},{131,64}}</string>
                <key>offset</key>
                <string>{-10,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,103},{131,64}}</string>
                <key>sourceSize</key>
                <string>{207,194}</string>
            </dict>
            <key>550565_0_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,94}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,73},{91,94}}</string>
                <key>sourceSize</key>
                <string>{207,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550565_0_Ani.png</string>
            <key>size</key>
            <string>{811,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a24012faacda84ea3a4dd7ecd9ef09e$</string>
            <key>textureFileName</key>
            <string>550565_0_Ani.png</string>
        </dict>
    </dict>
</plist>
