<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550617_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{206,614},{212,202}}</string>
                <key>offset</key>
                <string>{-23,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{212,202}}</string>
                <key>sourceSize</key>
                <string>{258,366}</string>
            </dict>
            <key>550617_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{212,202}}</string>
                <key>offset</key>
                <string>{-23,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{212,202}}</string>
                <key>sourceSize</key>
                <string>{258,366}</string>
            </dict>
            <key>550617_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{216,410},{212,202}}</string>
                <key>offset</key>
                <string>{-23,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{212,202}}</string>
                <key>sourceSize</key>
                <string>{258,366}</string>
            </dict>
            <key>550617_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{212,202}}</string>
                <key>offset</key>
                <string>{-23,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{212,202}}</string>
                <key>sourceSize</key>
                <string>{258,366}</string>
            </dict>
            <key>550617_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{216,828},{212,184}}</string>
                <key>offset</key>
                <string>{-23,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{212,184}}</string>
                <key>sourceSize</key>
                <string>{258,366}</string>
            </dict>
            <key>550617_1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{216,828},{212,184}}</string>
                <key>offset</key>
                <string>{-23,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{212,184}}</string>
                <key>sourceSize</key>
                <string>{258,366}</string>
            </dict>
            <key>550617_1_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{212,184}}</string>
                <key>offset</key>
                <string>{-23,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{212,184}}</string>
                <key>sourceSize</key>
                <string>{258,366}</string>
            </dict>
            <key>550617_1_0008</key>
            <dict>
                <key>frame</key>
                <string>{{216,206},{212,202}}</string>
                <key>offset</key>
                <string>{-23,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{212,202}}</string>
                <key>sourceSize</key>
                <string>{258,366}</string>
            </dict>
            <key>550617_1_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{212,202}}</string>
                <key>offset</key>
                <string>{-23,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{212,202}}</string>
                <key>sourceSize</key>
                <string>{258,366}</string>
            </dict>
            <key>550617_1_0010</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{212,202}}</string>
                <key>offset</key>
                <string>{-23,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{212,202}}</string>
                <key>sourceSize</key>
                <string>{258,366}</string>
            </dict>
            <key>550617_1_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,202}}</string>
                <key>offset</key>
                <string>{-23,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{212,202}}</string>
                <key>sourceSize</key>
                <string>{258,366}</string>
            </dict>
            <key>550617_1_0012</key>
            <dict>
                <key>frame</key>
                <string>{{410,614},{178,202}}</string>
                <key>offset</key>
                <string>{-29,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{178,202}}</string>
                <key>sourceSize</key>
                <string>{258,366}</string>
            </dict>
            <key>550617_1_0013</key>
            <dict>
                <key>frame</key>
                <string>{{410,614},{178,202}}</string>
                <key>offset</key>
                <string>{-29,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{178,202}}</string>
                <key>sourceSize</key>
                <string>{258,366}</string>
            </dict>
            <key>550617_1_0014</key>
            <dict>
                <key>frame</key>
                <string>{{410,614},{178,202}}</string>
                <key>offset</key>
                <string>{-29,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{178,202}}</string>
                <key>sourceSize</key>
                <string>{258,366}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550617_1_Ani.png</string>
            <key>size</key>
            <string>{590,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f3841bf9cfacb87843bcb0fc4ac26de$</string>
            <key>textureFileName</key>
            <string>550617_1_Ani.png</string>
        </dict>
    </dict>
</plist>
