<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550600_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{310,182},{306,178}}</string>
                <key>offset</key>
                <string>{-50,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,72},{306,178}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550600_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{306,178}}</string>
                <key>offset</key>
                <string>{-50,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,76},{306,178}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550600_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{618,364},{306,180}}</string>
                <key>offset</key>
                <string>{-50,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,76},{306,180}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550600_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{310,728},{306,182}}</string>
                <key>offset</key>
                <string>{-50,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,74},{306,182}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550600_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{618,730},{306,184}}</string>
                <key>offset</key>
                <string>{-50,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,70},{306,184}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550600_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{306,182}}</string>
                <key>offset</key>
                <string>{-50,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,69},{306,182}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550600_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{310,362},{306,180}}</string>
                <key>offset</key>
                <string>{-50,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,68},{306,180}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550600_0_0008</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{306,178}}</string>
                <key>offset</key>
                <string>{-50,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,71},{306,178}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550600_0_0009</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{306,178}}</string>
                <key>offset</key>
                <string>{-50,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,74},{306,178}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550600_0_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,178}}</string>
                <key>offset</key>
                <string>{-50,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,76},{306,178}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550600_0_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{306,180}}</string>
                <key>offset</key>
                <string>{-50,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,76},{306,180}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550600_0_0012</key>
            <dict>
                <key>frame</key>
                <string>{{618,546},{306,182}}</string>
                <key>offset</key>
                <string>{-50,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,73},{306,182}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550600_0_0013</key>
            <dict>
                <key>frame</key>
                <string>{{310,544},{306,182}}</string>
                <key>offset</key>
                <string>{-50,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,70},{306,182}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550600_0_0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{306,182}}</string>
                <key>offset</key>
                <string>{-50,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,68},{306,182}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
            <key>550600_0_0015</key>
            <dict>
                <key>frame</key>
                <string>{{618,182},{306,180}}</string>
                <key>offset</key>
                <string>{-50,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,69},{306,180}}</string>
                <key>sourceSize</key>
                <string>{520,416}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>550600_0_Ani.png</string>
            <key>size</key>
            <string>{926,916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d9bd57a7071173b84de48e41a4ab060:1/1$</string>
            <key>textureFileName</key>
            <string>550600_0_Ani.png</string>
        </dict>
    </dict>
</plist>
