<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>570006_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,214},{104,208}}</string>
                <key>offset</key>
                <string>{463,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{926,401},{104,208}}</string>
                <key>sourceSize</key>
                <string>{1030,722}</string>
            </dict>
            <key>570006_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{422,206}}</string>
                <key>offset</key>
                <string>{262,-257}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{566,515},{422,206}}</string>
                <key>sourceSize</key>
                <string>{1030,722}</string>
            </dict>
            <key>570006_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{400,206}}</string>
                <key>offset</key>
                <string>{46,-225}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,483},{400,206}}</string>
                <key>sourceSize</key>
                <string>{1030,722}</string>
            </dict>
            <key>570006_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{366,208}}</string>
                <key>offset</key>
                <string>{-143,-161}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,418},{366,208}}</string>
                <key>sourceSize</key>
                <string>{1030,722}</string>
            </dict>
            <key>570006_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{320,210}}</string>
                <key>offset</key>
                <string>{-291,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,332},{320,210}}</string>
                <key>sourceSize</key>
                <string>{1030,722}</string>
            </dict>
            <key>570006_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,214},{262,208}}</string>
                <key>offset</key>
                <string>{-384,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,231},{262,208}}</string>
                <key>sourceSize</key>
                <string>{1030,722}</string>
            </dict>
            <key>570006_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{46,108}}</string>
                <key>offset</key>
                <string>{-316,145}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,162},{46,108}}</string>
                <key>sourceSize</key>
                <string>{1030,722}</string>
            </dict>
            <key>570006_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,370},{104,208}}</string>
                <key>offset</key>
                <string>{-311,257}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,0},{104,208}}</string>
                <key>sourceSize</key>
                <string>{1030,722}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>570006.png</string>
            <key>size</key>
            <string>{950,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d85d05c1529730b5e6e15525b8fe3427:1/1$</string>
            <key>textureFileName</key>
            <string>570006.png</string>
        </dict>
    </dict>
</plist>
