<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>570106_0_AniCircleLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,232},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>570106_0_AniLight0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,292},{122,78}}</string>
                <key>offset</key>
                <string>{-64,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,238},{122,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>570106_0_AniLight0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{140,60}}</string>
                <key>offset</key>
                <string>{-75,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,236},{140,60}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>570106_0_AniLight0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{150,46}}</string>
                <key>offset</key>
                <string>{-81,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,231},{150,46}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>570106_0_AniLight0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{148,46}}</string>
                <key>offset</key>
                <string>{-81,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,210},{148,46}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>570106_0_AniLight0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{146,48}}</string>
                <key>offset</key>
                <string>{-79,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,191},{146,48}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>570106_0_AniLight0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,284},{134,66}}</string>
                <key>offset</key>
                <string>{-71,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,172},{134,66}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>570106_0_AniLight0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{112,80}}</string>
                <key>offset</key>
                <string>{-58,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,157},{112,80}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>570106_0_AniLight0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,298},{80,90}}</string>
                <key>offset</key>
                <string>{-40,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,147},{80,90}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>570106_0_AniLight0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{44,94}}</string>
                <key>offset</key>
                <string>{-18,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,142},{44,94}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>570106_0_AniLight0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,234},{48,94}}</string>
                <key>offset</key>
                <string>{22,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,142},{48,94}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>570106_0_AniLight0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,310},{86,90}}</string>
                <key>offset</key>
                <string>{43,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,147},{86,90}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>570106_0_AniLight0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,302},{116,78}}</string>
                <key>offset</key>
                <string>{60,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,159},{116,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>570106_0_AniLight0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,144},{138,64}}</string>
                <key>offset</key>
                <string>{73,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,174},{138,64}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>570106_0_AniLight0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,46}}</string>
                <key>offset</key>
                <string>{80,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,193},{150,46}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>570106_0_AniLight0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,152},{148,44}}</string>
                <key>offset</key>
                <string>{81,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,214},{148,44}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>570106_0_AniLight0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,152},{148,44}}</string>
                <key>offset</key>
                <string>{81,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,235},{148,44}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>570106_0_AniLight0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,150},{140,62}}</string>
                <key>offset</key>
                <string>{74,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,237},{140,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>570106_0_AniLight0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{120,78}}</string>
                <key>offset</key>
                <string>{62,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,237},{120,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>570106_0_AniLight0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,48},{90,88}}</string>
                <key>offset</key>
                <string>{45,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,238},{90,88}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>570106_0_AniLight0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{52,94}}</string>
                <key>offset</key>
                <string>{25,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,239},{52,94}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>570106_0_AniLight0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{46,96}}</string>
                <key>offset</key>
                <string>{-13,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,238},{46,96}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>570106_0_AniLight0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,154},{76,90}}</string>
                <key>offset</key>
                <string>{-38,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,239},{76,90}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>570106_0_AniLight0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,124},{108,82}}</string>
                <key>offset</key>
                <string>{-56,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,238},{108,82}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>570106_0_Ani_a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,284},{46,24}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{46,24}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>570106_0_Ani_a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,190},{34,20}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{34,20}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>570106_0_Ani_a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,100},{24,22}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{24,22}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>570106_0_Ani_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,266},{44,24}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{44,24}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>570106_0_Ani_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,168},{34,20}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{34,20}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>570106_0_Ani_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,100},{26,22}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{26,22}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>570106_0_Ani_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,98},{46,24}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{46,24}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>570106_0_Ani_c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,138},{34,28}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{34,28}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>570106_0_Ani_c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,390},{26,28}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{26,28}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>570106_0_Ani_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,240},{44,24}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{44,24}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>570106_0_Ani_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,124},{34,28}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{34,28}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>570106_0_Ani_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,212},{26,28}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,23},{26,28}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>570106_0_material.png</string>
            <key>size</key>
            <string>{490,420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:036434e498fcd27ec0e298f66c08d2f8:1/1$</string>
            <key>textureFileName</key>
            <string>570106_0_material.png</string>
        </dict>
    </dict>
</plist>
