<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>580010_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,551},{181,232}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1},{181,232}}</string>
                <key>sourceSize</key>
                <string>{213,240}</string>
            </dict>
            <key>580010_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{236,370},{181,232}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1},{181,232}}</string>
                <key>sourceSize</key>
                <string>{213,240}</string>
            </dict>
            <key>580010_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{183,232}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{183,232}}</string>
                <key>sourceSize</key>
                <string>{213,240}</string>
            </dict>
            <key>580010_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{183,230}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{183,230}}</string>
                <key>sourceSize</key>
                <string>{213,240}</string>
            </dict>
            <key>580010_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{234,738},{183,174}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,49},{183,174}}</string>
                <key>sourceSize</key>
                <string>{213,240}</string>
            </dict>
            <key>580010_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{236,553},{183,230}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{183,230}}</string>
                <key>sourceSize</key>
                <string>{213,240}</string>
            </dict>
            <key>580010_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{183,232}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{183,232}}</string>
                <key>sourceSize</key>
                <string>{213,240}</string>
            </dict>
            <key>580010_0_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{181,232}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1},{181,232}}</string>
                <key>sourceSize</key>
                <string>{213,240}</string>
            </dict>
            <key>580010_0_0009</key>
            <dict>
                <key>frame</key>
                <string>{{236,187},{181,232}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1},{181,232}}</string>
                <key>sourceSize</key>
                <string>{213,240}</string>
            </dict>
            <key>580010_0_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,234}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{179,234}}</string>
                <key>sourceSize</key>
                <string>{213,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>580010_0_Ani.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:265b8a23cfdce145f452286a18e08e3a$</string>
            <key>textureFileName</key>
            <string>580010_0_Ani.png</string>
        </dict>
    </dict>
</plist>
