<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>602001_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{204,76},{32,32}}</string>
                <key>offset</key>
                <string>{10,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,98},{32,32}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{42,42}}</string>
                <key>offset</key>
                <string>{10,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,93},{42,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{122,52},{42,42}}</string>
                <key>offset</key>
                <string>{10,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,93},{42,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{42,216},{38,38}}</string>
                <key>offset</key>
                <string>{10,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,95},{38,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{98,240},{12,12}}</string>
                <key>offset</key>
                <string>{10,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,108},{12,12}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{38,38}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,40},{38,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{74,100},{46,46}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,36},{46,46}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{70,76}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,36},{70,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,76}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,40},{70,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0010</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{40,40}}</string>
                <key>offset</key>
                <string>{32,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,77},{40,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0011</key>
            <dict>
                <key>frame</key>
                <string>{{122,96},{40,40}}</string>
                <key>offset</key>
                <string>{32,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,77},{40,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0012</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{36,36}}</string>
                <key>offset</key>
                <string>{32,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,79},{36,36}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0013</key>
            <dict>
                <key>frame</key>
                <string>{{166,80},{22,22}}</string>
                <key>offset</key>
                <string>{32,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,86},{22,22}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0014</key>
            <dict>
                <key>frame</key>
                <string>{{77,154},{1,1}}</string>
                <key>offset</key>
                <string>{-74.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0015</key>
            <dict>
                <key>frame</key>
                <string>{{77,151},{1,1}}</string>
                <key>offset</key>
                <string>{-74.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0016</key>
            <dict>
                <key>frame</key>
                <string>{{77,148},{1,1}}</string>
                <key>offset</key>
                <string>{-74.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0017</key>
            <dict>
                <key>frame</key>
                <string>{{82,240},{14,14}}</string>
                <key>offset</key>
                <string>{16,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,45},{14,14}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0018</key>
            <dict>
                <key>frame</key>
                <string>{{44,158},{54,36}}</string>
                <key>offset</key>
                <string>{7,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,34},{54,36}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{56,40}}</string>
                <key>offset</key>
                <string>{8,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,32},{56,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0020</key>
            <dict>
                <key>frame</key>
                <string>{{122,96},{40,40}}</string>
                <key>offset</key>
                <string>{16,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,32},{40,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0021</key>
            <dict>
                <key>frame</key>
                <string>{{204,76},{32,32}}</string>
                <key>offset</key>
                <string>{16,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,36},{32,32}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0022</key>
            <dict>
                <key>frame</key>
                <string>{{74,154},{1,1}}</string>
                <key>offset</key>
                <string>{-74.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0023</key>
            <dict>
                <key>frame</key>
                <string>{{168,44},{34,34}}</string>
                <key>offset</key>
                <string>{-27,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,76},{34,34}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0024</key>
            <dict>
                <key>frame</key>
                <string>{{82,194},{44,44}}</string>
                <key>offset</key>
                <string>{-27,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,71},{44,44}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0025</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{48,48}}</string>
                <key>offset</key>
                <string>{-27,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,69},{48,48}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0026</key>
            <dict>
                <key>frame</key>
                <string>{{74,52},{46,46}}</string>
                <key>offset</key>
                <string>{-27,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,70},{46,46}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0027</key>
            <dict>
                <key>frame</key>
                <string>{{82,148},{44,44}}</string>
                <key>offset</key>
                <string>{-27,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,71},{44,44}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0028</key>
            <dict>
                <key>frame</key>
                <string>{{210,40},{34,34}}</string>
                <key>offset</key>
                <string>{-27,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,76},{34,34}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0029</key>
            <dict>
                <key>frame</key>
                <string>{{74,151},{1,1}}</string>
                <key>offset</key>
                <string>{-74.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>602001_0_0030</key>
            <dict>
                <key>frame</key>
                <string>{{74,148},{1,1}}</string>
                <key>offset</key>
                <string>{-74.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>602001_0_Ani.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b500df1fa8bc246c8c2423de09adfad8$</string>
            <key>textureFileName</key>
            <string>602001_0_Ani.png</string>
        </dict>
    </dict>
</plist>
