<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>602002_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{78,240},{18,14}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,40},{18,14}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>602002_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{58,240},{18,14}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,39},{18,14}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>602002_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{230,22},{20,16}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,36},{20,16}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>602002_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{22,18}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,34},{22,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>602002_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{154,120},{42,34}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,30},{42,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>602002_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{214,78},{44,36}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,27},{44,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>602002_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{166,78},{46,40}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,23},{46,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>602002_0_0008</key>
            <dict>
                <key>frame</key>
                <string>{{110,110},{46,42}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,21},{46,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>602002_0_0009</key>
            <dict>
                <key>frame</key>
                <string>{{60,108},{48,46}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{48,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>602002_0_0010</key>
            <dict>
                <key>frame</key>
                <string>{{60,58},{50,48}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{50,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>602002_0_0011</key>
            <dict>
                <key>frame</key>
                <string>{{114,58},{50,50}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{50,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>602002_0_0012</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{52,54}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{52,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>602002_0_0013</key>
            <dict>
                <key>frame</key>
                <string>{{58,182},{54,56}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{54,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>602002_0_0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{54,58}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{54,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>602002_0_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{56,58}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{56,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>602002_0_0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,58}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{56,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>602002_0_0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{58,56}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{58,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>602002_0_0018</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{56,54}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{56,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>602002_0_0019</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{56,46}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{56,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>602002_0_0020</key>
            <dict>
                <key>frame</key>
                <string>{{172,50},{54,26}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{54,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>602002_0_0021</key>
            <dict>
                <key>frame</key>
                <string>{{230,40},{30,16}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{30,16}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>602002_0_Ani.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:190b8e939fc906082d1394f8847523dc$</string>
            <key>textureFileName</key>
            <string>602002_0_Ani.png</string>
        </dict>
    </dict>
</plist>
