<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>602517_0001</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{125,142}}</string>
                <key>offset</key>
                <string>{-20,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{125,142}}</string>
                <key>sourceSize</key>
                <string>{203,192}</string>
            </dict>
            <key>602517_0002</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{127,144}}</string>
                <key>offset</key>
                <string>{-11,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,6},{127,144}}</string>
                <key>sourceSize</key>
                <string>{203,192}</string>
            </dict>
            <key>602517_0003</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{137,140}}</string>
                <key>offset</key>
                <string>{3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,50},{137,140}}</string>
                <key>sourceSize</key>
                <string>{203,192}</string>
            </dict>
            <key>602517_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,142}}</string>
                <key>offset</key>
                <string>{15,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,42},{161,142}}</string>
                <key>sourceSize</key>
                <string>{203,192}</string>
            </dict>
            <key>602517_0005</key>
            <dict>
                <key>frame</key>
                <string>{{146,144},{159,104}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,40},{159,104}}</string>
                <key>sourceSize</key>
                <string>{203,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>602517_Ani.png</string>
            <key>size</key>
            <string>{558,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f007ad71f78d4e4065d0af1794beb953$</string>
            <key>textureFileName</key>
            <string>602517_Ani.png</string>
        </dict>
    </dict>
</plist>
