<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>602507_0001</key>
            <dict>
                <key>frame</key>
                <string>{{220,214},{212,200}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{212,200}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>602507_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{216,198}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{216,198}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>602507_0003</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{216,210}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{216,210}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>602507_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,210}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{216,210}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>602507_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{208,200}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{208,200}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>602507_0006</key>
            <dict>
                <key>frame</key>
                <string>{{210,818},{206,200}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{206,200}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>602507_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{206,202}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{206,202}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>602507_0008</key>
            <dict>
                <key>frame</key>
                <string>{{212,618},{208,198}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{208,198}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>602507_0009</key>
            <dict>
                <key>frame</key>
                <string>{{212,416},{208,200}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{208,200}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>602507_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{208,200}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{208,200}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>602507_Ani.jpg</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15a16db79624042ab3f28d5117ebedcc$</string>
            <key>textureFileName</key>
            <string>602507_Ani.jpg</string>
        </dict>
    </dict>
</plist>
