<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>602515_0001</key>
            <dict>
                <key>frame</key>
                <string>{{190,810},{220,186}}</string>
                <key>offset</key>
                <string>{-18,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{220,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>602515_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{220,186}}</string>
                <key>offset</key>
                <string>{-18,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{220,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>602515_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{220,186}}</string>
                <key>offset</key>
                <string>{-18,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{220,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>602515_0004</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{218,186}}</string>
                <key>offset</key>
                <string>{-18,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,21},{218,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>602515_0005</key>
            <dict>
                <key>frame</key>
                <string>{{224,222},{218,184}}</string>
                <key>offset</key>
                <string>{-18,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,23},{218,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>602515_0006</key>
            <dict>
                <key>frame</key>
                <string>{{190,624},{220,184}}</string>
                <key>offset</key>
                <string>{-18,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{220,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>602515_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{220,180}}</string>
                <key>offset</key>
                <string>{-18,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{220,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>602515_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,180}}</string>
                <key>offset</key>
                <string>{-18,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{220,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>602515_0009</key>
            <dict>
                <key>frame</key>
                <string>{{222,442},{218,180}}</string>
                <key>offset</key>
                <string>{-19,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{218,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>602515_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{218,180}}</string>
                <key>offset</key>
                <string>{-19,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{218,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>602515_Ani.jpg</string>
            <key>size</key>
            <string>{442,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f68ce236980bb0264be2c0eb9804879c$</string>
            <key>textureFileName</key>
            <string>602515_Ani.jpg</string>
        </dict>
    </dict>
</plist>
