<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>602504_0001</key>
            <dict>
                <key>frame</key>
                <string>{{209,388},{205,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,191}}</string>
                <key>sourceSize</key>
                <string>{205,191}</string>
            </dict>
            <key>602504_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{205,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,191}}</string>
                <key>sourceSize</key>
                <string>{205,191}</string>
            </dict>
            <key>602504_0003</key>
            <dict>
                <key>frame</key>
                <string>{{209,195},{205,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,191}}</string>
                <key>sourceSize</key>
                <string>{205,191}</string>
            </dict>
            <key>602504_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{205,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,191}}</string>
                <key>sourceSize</key>
                <string>{205,191}</string>
            </dict>
            <key>602504_0005</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{205,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,191}}</string>
                <key>sourceSize</key>
                <string>{205,191}</string>
            </dict>
            <key>602504_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,191}}</string>
                <key>sourceSize</key>
                <string>{205,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>602504_Ani.jpg</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4de560caf27ad519580cc17b7e216adb$</string>
            <key>textureFileName</key>
            <string>602504_Ani.jpg</string>
        </dict>
    </dict>
</plist>
