<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>602520_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{143,142}}</string>
                <key>offset</key>
                <string>{-12,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{143,142}}</string>
                <key>sourceSize</key>
                <string>{203,192}</string>
            </dict>
            <key>602520_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{137,144}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{137,144}}</string>
                <key>sourceSize</key>
                <string>{203,192}</string>
            </dict>
            <key>602520_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{137,166}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{137,166}}</string>
                <key>sourceSize</key>
                <string>{203,192}</string>
            </dict>
            <key>602520_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,154}}</string>
                <key>offset</key>
                <string>{15,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,30},{161,154}}</string>
                <key>sourceSize</key>
                <string>{203,192}</string>
            </dict>
            <key>602520_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{159,122}}</string>
                <key>offset</key>
                <string>{15,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,24},{159,122}}</string>
                <key>sourceSize</key>
                <string>{203,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>602520_Ani.png</string>
            <key>size</key>
            <string>{158,777}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd79daf6e0da01718807d1aab935bdac$</string>
            <key>textureFileName</key>
            <string>602520_Ani.png</string>
        </dict>
    </dict>
</plist>
