<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>602516_0001</key>
            <dict>
                <key>frame</key>
                <string>{{236,390},{232,192}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{232,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>602516_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{232,192}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{232,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>602516_0003</key>
            <dict>
                <key>frame</key>
                <string>{{236,196},{232,192}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{232,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>602516_0004</key>
            <dict>
                <key>frame</key>
                <string>{{236,782},{232,196}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{232,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>602516_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{232,196}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{232,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>602516_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{232,192}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{232,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>602516_0007</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{232,192}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{232,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>602516_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,192}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{232,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>602516_0009</key>
            <dict>
                <key>frame</key>
                <string>{{236,584},{232,196}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{232,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>602516_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{232,196}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{232,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>602516_Ani.jpg</string>
            <key>size</key>
            <string>{470,981}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f735781c7874d581604be9bf638b887$</string>
            <key>textureFileName</key>
            <string>602516_Ani.jpg</string>
        </dict>
    </dict>
</plist>
