<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>602510_0001</key>
            <dict>
                <key>frame</key>
                <string>{{190,754},{204,186}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{204,186}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>602510_0002</key>
            <dict>
                <key>frame</key>
                <string>{{190,566},{204,186}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{204,186}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>602510_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{204,186}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{204,186}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>602510_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{204,186}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{204,186}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>602510_0005</key>
            <dict>
                <key>frame</key>
                <string>{{208,378},{204,186}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{204,186}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>602510_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{204,186}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{204,186}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>602510_0007</key>
            <dict>
                <key>frame</key>
                <string>{{208,190},{204,186}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{204,186}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>602510_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{204,186}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{204,186}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>602510_0009</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{204,186}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{204,186}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>602510_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,186}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{204,186}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>602510_Ani.jpg</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7232f51607535c1fd80cad1c0b82ecae$</string>
            <key>textureFileName</key>
            <string>602510_Ani.jpg</string>
        </dict>
    </dict>
</plist>
