<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>602503_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{185,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,186}}</string>
                <key>sourceSize</key>
                <string>{185,186}</string>
            </dict>
            <key>602503_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,186}}</string>
                <key>sourceSize</key>
                <string>{185,186}</string>
            </dict>
            <key>602503_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{185,184}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{185,184}}</string>
                <key>sourceSize</key>
                <string>{185,186}</string>
            </dict>
            <key>602503_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{185,180}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{185,180}}</string>
                <key>sourceSize</key>
                <string>{185,186}</string>
            </dict>
            <key>602503_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{183,180}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{183,180}}</string>
                <key>sourceSize</key>
                <string>{185,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>602503_Ani.jpg</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e1136602113eb6d404c8d742b4a78b9$</string>
            <key>textureFileName</key>
            <string>602503_Ani.jpg</string>
        </dict>
    </dict>
</plist>
