<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>64000405_00_a</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{114,157}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{114,157}}</string>
                <key>sourceSize</key>
                <string>{118,157}</string>
            </dict>
            <key>64000405_00_b</key>
            <dict>
                <key>frame</key>
                <string>{{78,614},{38,31}}</string>
                <key>offset</key>
                <string>{-30,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,75},{38,31}}</string>
                <key>sourceSize</key>
                <string>{118,157}</string>
            </dict>
            <key>64000405_00_c</key>
            <dict>
                <key>frame</key>
                <string>{{37,614},{60,39}}</string>
                <key>offset</key>
                <string>{-19,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,47},{60,39}}</string>
                <key>sourceSize</key>
                <string>{118,157}</string>
            </dict>
            <key>64000405_00_d</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{66,103}}</string>
                <key>offset</key>
                <string>{20,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,53},{66,103}}</string>
                <key>sourceSize</key>
                <string>{118,157}</string>
            </dict>
            <key>64000405_00_e</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{98,73}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,46},{98,73}}</string>
                <key>sourceSize</key>
                <string>{118,157}</string>
            </dict>
            <key>64000405_01_a</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{84,107}}</string>
                <key>offset</key>
                <string>{13,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,50},{84,107}}</string>
                <key>sourceSize</key>
                <string>{118,157}</string>
            </dict>
            <key>64000405_01_b</key>
            <dict>
                <key>frame</key>
                <string>{{78,647},{34,29}}</string>
                <key>offset</key>
                <string>{28,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,78},{34,29}}</string>
                <key>sourceSize</key>
                <string>{118,157}</string>
            </dict>
            <key>64000405_01_c</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{62,33}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,55},{62,33}}</string>
                <key>sourceSize</key>
                <string>{118,157}</string>
            </dict>
            <key>64000405_01_d</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,139}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{118,139}}</string>
                <key>sourceSize</key>
                <string>{118,157}</string>
            </dict>
            <key>64000405_01_e</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{104,81}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,60},{104,81}}</string>
                <key>sourceSize</key>
                <string>{118,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>64000405.png</string>
            <key>size</key>
            <string>{122,678}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59c815e5dd3ba0aa05359a4321fa93aa$</string>
            <key>textureFileName</key>
            <string>64000405.png</string>
        </dict>
    </dict>
</plist>
