<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>64000301_00_a</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,110}}</string>
                <key>sourceSize</key>
                <string>{80,110}</string>
            </dict>
            <key>64000301_00_b</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{64,90}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{64,90}}</string>
                <key>sourceSize</key>
                <string>{80,110}</string>
            </dict>
            <key>64000301_00_c</key>
            <dict>
                <key>frame</key>
                <string>{{166,88},{64,38}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{64,38}}</string>
                <key>sourceSize</key>
                <string>{80,110}</string>
            </dict>
            <key>64000301_01_a</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,98}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,110}</string>
            </dict>
            <key>64000301_01_b</key>
            <dict>
                <key>frame</key>
                <string>{{238,68},{64,52}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{64,52}}</string>
                <key>sourceSize</key>
                <string>{80,110}</string>
            </dict>
            <key>64000301_01_c</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{70,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{70,84}}</string>
                <key>sourceSize</key>
                <string>{80,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>64000301.png</string>
            <key>size</key>
            <string>{330,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dc89e29814aab17b19442bb9481506d$</string>
            <key>textureFileName</key>
            <string>64000301.png</string>
        </dict>
    </dict>
</plist>
