<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>64000101_00_a</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,87}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,87}}</string>
                <key>sourceSize</key>
                <string>{78,87}</string>
            </dict>
            <key>64000101_00_b</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{72,55}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,32},{72,55}}</string>
                <key>sourceSize</key>
                <string>{78,87}</string>
            </dict>
            <key>64000101_01_a</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{77,46}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{77,46}}</string>
                <key>sourceSize</key>
                <string>{77,72}</string>
            </dict>
            <key>64000101_01_b</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{71,72}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{77,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>64000101.png</string>
            <key>size</key>
            <string>{252,91}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5dc82b01bc939fb16c02ae53f885db77$</string>
            <key>textureFileName</key>
            <string>64000101.png</string>
        </dict>
    </dict>
</plist>
