<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>64000103_00_a</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{71,68}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,68}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>64000103_00_b</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,50}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,34},{75,50}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>64000103_01_a</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{71,44}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,24},{71,44}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>64000103_01_b</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{81,70}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{81,70}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>64000103.png</string>
            <key>size</key>
            <string>{79,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91a51a08f668f8e20466dfd974154816$</string>
            <key>textureFileName</key>
            <string>64000103.png</string>
        </dict>
    </dict>
</plist>
