<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>64000502_00_a</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,135}}</string>
                <key>sourceSize</key>
                <string>{118,135}</string>
            </dict>
            <key>64000502_00_b</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{98,55}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,55},{98,55}}</string>
                <key>sourceSize</key>
                <string>{118,135}</string>
            </dict>
            <key>64000502_00_c</key>
            <dict>
                <key>frame</key>
                <string>{{59,375},{98,53}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,33},{98,53}}</string>
                <key>sourceSize</key>
                <string>{118,135}</string>
            </dict>
            <key>64000502_00_d</key>
            <dict>
                <key>frame</key>
                <string>{{2,575},{36,97}}</string>
                <key>offset</key>
                <string>{35,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,35},{36,97}}</string>
                <key>sourceSize</key>
                <string>{118,135}</string>
            </dict>
            <key>64000502_01_a</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{118,123}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{118,123}}</string>
                <key>sourceSize</key>
                <string>{118,135}</string>
            </dict>
            <key>64000502_01_b</key>
            <dict>
                <key>frame</key>
                <string>{{57,475},{98,53}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,58},{98,53}}</string>
                <key>sourceSize</key>
                <string>{118,135}</string>
            </dict>
            <key>64000502_01_c</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{98,53}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,34},{98,53}}</string>
                <key>sourceSize</key>
                <string>{118,135}</string>
            </dict>
            <key>64000502_01_d</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{106,109}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{106,109}}</string>
                <key>sourceSize</key>
                <string>{118,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>64000502.png</string>
            <key>size</key>
            <string>{122,613}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1e43cbe79ce085cae015d8ea9a5c640$</string>
            <key>textureFileName</key>
            <string>64000502.png</string>
        </dict>
    </dict>
</plist>
