<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>64000604_00_a</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{119,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,141}}</string>
                <key>sourceSize</key>
                <string>{119,141}</string>
            </dict>
            <key>64000604_00_b</key>
            <dict>
                <key>frame</key>
                <string>{{244,55},{37,51}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,36},{37,51}}</string>
                <key>sourceSize</key>
                <string>{119,141}</string>
            </dict>
            <key>64000604_00_c</key>
            <dict>
                <key>frame</key>
                <string>{{133,145},{109,121}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{109,121}}</string>
                <key>sourceSize</key>
                <string>{119,141}</string>
            </dict>
            <key>64000604_01_a</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,141}}</string>
                <key>sourceSize</key>
                <string>{119,141}</string>
            </dict>
            <key>64000604_01_b</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{37,51}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,36},{37,51}}</string>
                <key>sourceSize</key>
                <string>{119,141}</string>
            </dict>
            <key>64000604_01_c</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{109,129}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{109,129}}</string>
                <key>sourceSize</key>
                <string>{119,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>64000604.png</string>
            <key>size</key>
            <string>{283,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34d083500cff5f1727311524405b1186$</string>
            <key>textureFileName</key>
            <string>64000604.png</string>
        </dict>
    </dict>
</plist>
