<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>64000305_00_a</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,115}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>64000305_00_b</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{64,43}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,28},{64,43}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>64000305_00_c</key>
            <dict>
                <key>frame</key>
                <string>{{84,173},{62,59}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,43},{62,59}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>64000305_01_a</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{80,101}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>64000305_01_b</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{64,51}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{64,51}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>64000305_01_c</key>
            <dict>
                <key>frame</key>
                <string>{{84,84},{70,87}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{70,87}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>64000305.png</string>
            <key>size</key>
            <string>{164,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6778956be046abea2befd4ff1912f22$</string>
            <key>textureFileName</key>
            <string>64000305.png</string>
        </dict>
    </dict>
</plist>
