<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>64000105_00_a</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,84}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,84}}</string>
                <key>sourceSize</key>
                <string>{83,98}</string>
            </dict>
            <key>64000105_00_b</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{75,50}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,48},{75,50}}</string>
                <key>sourceSize</key>
                <string>{83,98}</string>
            </dict>
            <key>64000105_01_a</key>
            <dict>
                <key>frame</key>
                <string>{{166,54},{65,32}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,45},{65,32}}</string>
                <key>sourceSize</key>
                <string>{83,98}</string>
            </dict>
            <key>64000105_01_b</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{81,82}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{81,82}}</string>
                <key>sourceSize</key>
                <string>{83,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>64000105.png</string>
            <key>size</key>
            <string>{243,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e3f5b200cdddb55d09d6e6fdd57d8ec$</string>
            <key>textureFileName</key>
            <string>64000105.png</string>
        </dict>
    </dict>
</plist>
