<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>64000503_00_a</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,139}}</string>
                <key>sourceSize</key>
                <string>{120,139}</string>
            </dict>
            <key>64000503_00_b</key>
            <dict>
                <key>frame</key>
                <string>{{59,395},{100,53}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,54},{100,53}}</string>
                <key>sourceSize</key>
                <string>{120,139}</string>
            </dict>
            <key>64000503_00_c</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{100,55}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,30},{100,55}}</string>
                <key>sourceSize</key>
                <string>{120,139}</string>
            </dict>
            <key>64000503_00_d</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{38,97}}</string>
                <key>offset</key>
                <string>{34,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,38},{38,97}}</string>
                <key>sourceSize</key>
                <string>{120,139}</string>
            </dict>
            <key>64000503_01_a</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{120,125}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{120,125}}</string>
                <key>sourceSize</key>
                <string>{120,139}</string>
            </dict>
            <key>64000503_01_b</key>
            <dict>
                <key>frame</key>
                <string>{{59,497},{98,55}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,54},{98,55}}</string>
                <key>sourceSize</key>
                <string>{120,139}</string>
            </dict>
            <key>64000503_01_c</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{98,55}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,32},{98,55}}</string>
                <key>sourceSize</key>
                <string>{120,139}</string>
            </dict>
            <key>64000503_01_d</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{104,123}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{104,123}}</string>
                <key>sourceSize</key>
                <string>{120,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>64000503.png</string>
            <key>size</key>
            <string>{124,637}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:747f4627b6e802bd356c05555729908f$</string>
            <key>textureFileName</key>
            <string>64000503.png</string>
        </dict>
    </dict>
</plist>
