<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>64000402_00_a</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,130}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,130}}</string>
                <key>sourceSize</key>
                <string>{106,140}</string>
            </dict>
            <key>64000402_00_b</key>
            <dict>
                <key>frame</key>
                <string>{{426,46},{76,42}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,47},{76,42}}</string>
                <key>sourceSize</key>
                <string>{106,140}</string>
            </dict>
            <key>64000402_00_c</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{100,94}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,46},{100,94}}</string>
                <key>sourceSize</key>
                <string>{106,140}</string>
            </dict>
            <key>64000402_01_a</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{68,90}}</string>
                <key>offset</key>
                <string>{19,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,47},{68,90}}</string>
                <key>sourceSize</key>
                <string>{106,140}</string>
            </dict>
            <key>64000402_01_b</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{80,42}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,53},{80,42}}</string>
                <key>sourceSize</key>
                <string>{106,140}</string>
            </dict>
            <key>64000402_01_c</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{106,124}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{106,124}}</string>
                <key>sourceSize</key>
                <string>{106,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>64000402.png</string>
            <key>size</key>
            <string>{508,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d0de6a80640555685f612422ce8f16e$</string>
            <key>textureFileName</key>
            <string>64000402.png</string>
        </dict>
    </dict>
</plist>
