<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>665006_00_a</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{119,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,142}}</string>
                <key>sourceSize</key>
                <string>{119,142}</string>
            </dict>
            <key>665006_00_b</key>
            <dict>
                <key>frame</key>
                <string>{{470,56},{37,52}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,36},{37,52}}</string>
                <key>sourceSize</key>
                <string>{119,142}</string>
            </dict>
            <key>665006_00_c</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{111,122}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{111,122}}</string>
                <key>sourceSize</key>
                <string>{119,142}</string>
            </dict>
            <key>665006_01_a</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,142}}</string>
                <key>sourceSize</key>
                <string>{119,142}</string>
            </dict>
            <key>665006_01_b</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{37,52}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,36},{37,52}}</string>
                <key>sourceSize</key>
                <string>{119,142}</string>
            </dict>
            <key>665006_01_c</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{111,130}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{111,130}}</string>
                <key>sourceSize</key>
                <string>{119,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>665006.png</string>
            <key>size</key>
            <string>{509,146}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06acf4e23dcc15f85caf76a5c6ed357a$</string>
            <key>textureFileName</key>
            <string>665006.png</string>
        </dict>
    </dict>
</plist>
