<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>665003_00_a</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,111}}</string>
                <key>sourceSize</key>
                <string>{80,111}</string>
            </dict>
            <key>665003_00_b</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{66,91}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{66,91}}</string>
                <key>sourceSize</key>
                <string>{80,111}</string>
            </dict>
            <key>665003_00_c</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{64,39}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,23},{64,39}}</string>
                <key>sourceSize</key>
                <string>{80,111}</string>
            </dict>
            <key>665003_01_a</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{80,97}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,97}}</string>
                <key>sourceSize</key>
                <string>{80,111}</string>
            </dict>
            <key>665003_01_b</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{66,53}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{66,53}}</string>
                <key>sourceSize</key>
                <string>{80,111}</string>
            </dict>
            <key>665003_01_c</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{70,85}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{70,85}}</string>
                <key>sourceSize</key>
                <string>{80,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>665003.png</string>
            <key>size</key>
            <string>{490,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f7f70ac9d50dcc6fabb58ae84b83cd3$</string>
            <key>textureFileName</key>
            <string>665003.png</string>
        </dict>
    </dict>
</plist>
