<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>670004_0001</key>
            <dict>
                <key>frame</key>
                <string>{{542,686},{60,178}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,36},{60,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0002</key>
            <dict>
                <key>frame</key>
                <string>{{184,250},{76,180}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,34},{76,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0003</key>
            <dict>
                <key>frame</key>
                <string>{{188,160},{88,180}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,34},{88,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0004</key>
            <dict>
                <key>frame</key>
                <string>{{382,78},{90,180}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,33},{90,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0005</key>
            <dict>
                <key>frame</key>
                <string>{{360,798},{62,178}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,33},{62,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0006</key>
            <dict>
                <key>frame</key>
                <string>{{182,540},{80,178}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,33},{80,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{76,178}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,33},{76,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0008</key>
            <dict>
                <key>frame</key>
                <string>{{182,622},{72,178}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,32},{72,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0009</key>
            <dict>
                <key>frame</key>
                <string>{{366,252},{64,180}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,33},{64,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{64,176}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,32},{64,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0011</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{74,182}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,32},{74,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0012</key>
            <dict>
                <key>frame</key>
                <string>{{182,696},{68,178}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,31},{68,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{70,180}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,34},{70,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0014</key>
            <dict>
                <key>frame</key>
                <string>{{180,766},{62,178}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,32},{62,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{76,178}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,34},{76,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0016</key>
            <dict>
                <key>frame</key>
                <string>{{362,734},{62,178}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,31},{62,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0017</key>
            <dict>
                <key>frame</key>
                <string>{{366,444},{60,180}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,33},{60,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{62,180}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,33},{62,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0019</key>
            <dict>
                <key>frame</key>
                <string>{{184,328},{62,180}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,33},{62,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0020</key>
            <dict>
                <key>frame</key>
                <string>{{184,392},{60,180}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,33},{60,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0021</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{82,180}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,34},{82,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0022</key>
            <dict>
                <key>frame</key>
                <string>{{362,588},{72,178}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,36},{72,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0023</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{66,178}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,36},{66,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0024</key>
            <dict>
                <key>frame</key>
                <string>{{366,382},{60,180}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,34},{60,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0025</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{86,178}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,33},{86,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0026</key>
            <dict>
                <key>frame</key>
                <string>{{362,506},{80,178}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,33},{80,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0027</key>
            <dict>
                <key>frame</key>
                <string>{{362,662},{70,178}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,33},{70,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0028</key>
            <dict>
                <key>frame</key>
                <string>{{542,506},{60,178}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,32},{60,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0029</key>
            <dict>
                <key>frame</key>
                <string>{{366,318},{62,180}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,34},{62,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0030</key>
            <dict>
                <key>frame</key>
                <string>{{370,170},{80,180}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,33},{80,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0031</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{82,184}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,29},{82,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0032</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{146,166}}</string>
                <key>offset</key>
                <string>{18,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,57},{146,166}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0033</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{156,186}}</string>
                <key>offset</key>
                <string>{19,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,45},{156,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0034</key>
            <dict>
                <key>frame</key>
                <string>{{182,454},{84,178}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,32},{84,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0035</key>
            <dict>
                <key>frame</key>
                <string>{{170,910},{70,168}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,40},{70,168}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0036</key>
            <dict>
                <key>frame</key>
                <string>{{180,830},{78,174}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,34},{78,174}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0037</key>
            <dict>
                <key>frame</key>
                <string>{{356,866},{140,164}}</string>
                <key>offset</key>
                <string>{-23,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,62},{140,164}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>670004_0038</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,190}}</string>
                <key>offset</key>
                <string>{-25,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,38},{146,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>670004_Ani.png</string>
            <key>size</key>
            <string>{605,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6072bcd64553e83c2910748d9357744$</string>
            <key>textureFileName</key>
            <string>670004_Ani.png</string>
        </dict>
    </dict>
</plist>
