<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>675010_0001</key>
            <dict>
                <key>frame</key>
                <string>{{438,192},{72,188}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,28},{72,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0002</key>
            <dict>
                <key>frame</key>
                <string>{{320,386},{70,190}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,26},{70,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0003</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{78,190}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,26},{78,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0004</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{92,188}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,28},{92,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0005</key>
            <dict>
                <key>frame</key>
                <string>{{372,194},{64,190}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,25},{64,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0006</key>
            <dict>
                <key>frame</key>
                <string>{{512,192},{66,188}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,27},{66,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0007</key>
            <dict>
                <key>frame</key>
                <string>{{652,190},{64,186}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,29},{64,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0008</key>
            <dict>
                <key>frame</key>
                <string>{{466,382},{66,188}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,27},{66,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0009</key>
            <dict>
                <key>frame</key>
                <string>{{534,382},{84,186}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,31},{84,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0010</key>
            <dict>
                <key>frame</key>
                <string>{{690,378},{70,184}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,28},{70,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0011</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{70,184}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,31},{70,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0012</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{68,184}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,27},{68,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0013</key>
            <dict>
                <key>frame</key>
                <string>{{826,372},{86,180}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,33},{86,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0014</key>
            <dict>
                <key>frame</key>
                <string>{{718,188},{68,184}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,29},{68,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0015</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{86,186}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,32},{86,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0016</key>
            <dict>
                <key>frame</key>
                <string>{{938,178},{68,180}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,30},{68,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0017</key>
            <dict>
                <key>frame</key>
                <string>{{246,386},{72,190}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,24},{72,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0018</key>
            <dict>
                <key>frame</key>
                <string>{{392,386},{72,188}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,26},{72,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0019</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{70,188}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,26},{70,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0020</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{70,190}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,24},{70,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0021</key>
            <dict>
                <key>frame</key>
                <string>{{580,190},{70,186}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,30},{70,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0022</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{70,182}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,34},{70,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0023</key>
            <dict>
                <key>frame</key>
                <string>{{862,186},{74,180}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,36},{74,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0024</key>
            <dict>
                <key>frame</key>
                <string>{{84,406},{78,184}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,32},{78,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0025</key>
            <dict>
                <key>frame</key>
                <string>{{134,194},{82,190}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,25},{82,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0026</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{98,190}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,25},{98,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0027</key>
            <dict>
                <key>frame</key>
                <string>{{218,194},{80,190}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,25},{80,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0028</key>
            <dict>
                <key>frame</key>
                <string>{{300,194},{70,190}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,25},{70,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0029</key>
            <dict>
                <key>frame</key>
                <string>{{788,188},{72,182}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,34},{72,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0030</key>
            <dict>
                <key>frame</key>
                <string>{{762,374},{62,184}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,32},{62,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0031</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{80,184}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,32},{80,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0032</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{96,174}}</string>
                <key>offset</key>
                <string>{13,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,52},{96,174}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0033</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,204}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,23},{124,204}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0034</key>
            <dict>
                <key>frame</key>
                <string>{{164,386},{80,190}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,25},{80,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0035</key>
            <dict>
                <key>frame</key>
                <string>{{620,378},{68,186}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,27},{68,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0036</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{68,186}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,27},{68,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0037</key>
            <dict>
                <key>frame</key>
                <string>{{826,460},{112,174}}</string>
                <key>offset</key>
                <string>{-32,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,45},{112,174}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675010_0038</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{130,196}}</string>
                <key>offset</key>
                <string>{-23,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,29},{130,196}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>675010_Ani.png</string>
            <key>size</key>
            <string>{1016,593}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e9649b642d9b313327f9aecb3b4d5fe$</string>
            <key>textureFileName</key>
            <string>675010_Ani.png</string>
        </dict>
    </dict>
</plist>
