<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>675002_0001</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{66,148}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,64},{66,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0002</key>
            <dict>
                <key>frame</key>
                <string>{{516,306},{66,150}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,62},{66,150}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0003</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{68,150}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,62},{68,150}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0004</key>
            <dict>
                <key>frame</key>
                <string>{{238,156},{72,152}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,60},{72,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0005</key>
            <dict>
                <key>frame</key>
                <string>{{462,154},{70,150}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,61},{70,150}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0006</key>
            <dict>
                <key>frame</key>
                <string>{{444,306},{70,150}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,61},{70,150}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0007</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{82,148}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,62},{82,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0008</key>
            <dict>
                <key>frame</key>
                <string>{{534,154},{84,148}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,62},{84,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0009</key>
            <dict>
                <key>frame</key>
                <string>{{368,306},{74,150}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,61},{74,150}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0010</key>
            <dict>
                <key>frame</key>
                <string>{{620,152},{76,148}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,60},{76,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0011</key>
            <dict>
                <key>frame</key>
                <string>{{80,176},{80,152}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,61},{80,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0012</key>
            <dict>
                <key>frame</key>
                <string>{{664,302},{72,148}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,60},{72,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0013</key>
            <dict>
                <key>frame</key>
                <string>{{738,302},{70,148}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,65},{70,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0014</key>
            <dict>
                <key>frame</key>
                <string>{{946,280},{64,146}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,63},{64,146}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0015</key>
            <dict>
                <key>frame</key>
                <string>{{878,280},{66,146}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,65},{66,146}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0016</key>
            <dict>
                <key>frame</key>
                <string>{{810,302},{66,146}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,63},{66,146}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0017</key>
            <dict>
                <key>frame</key>
                <string>{{212,310},{74,152}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,60},{74,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0018</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{74,150}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,62},{74,150}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0019</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{74,152}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,60},{74,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0020</key>
            <dict>
                <key>frame</key>
                <string>{{162,156},{74,152}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,60},{74,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0021</key>
            <dict>
                <key>frame</key>
                <string>{{312,154},{76,150}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,62},{76,150}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0022</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{74,148}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,64},{74,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0023</key>
            <dict>
                <key>frame</key>
                <string>{{770,152},{68,148}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,64},{68,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0024</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{70,150}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,62},{70,150}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0025</key>
            <dict>
                <key>frame</key>
                <string>{{584,304},{78,148}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,62},{78,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0026</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{82,150}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,61},{82,150}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0027</key>
            <dict>
                <key>frame</key>
                <string>{{390,154},{70,150}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,61},{70,150}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0028</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{70,148}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,62},{70,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0029</key>
            <dict>
                <key>frame</key>
                <string>{{698,152},{70,148}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,64},{70,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0030</key>
            <dict>
                <key>frame</key>
                <string>{{288,310},{78,150}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,62},{78,150}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0031</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{74,152}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,60},{74,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0032</key>
            <dict>
                <key>frame</key>
                <string>{{840,182},{96,144}}</string>
                <key>offset</key>
                <string>{7,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,81},{96,144}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0033</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{98,146}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,75},{98,146}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0034</key>
            <dict>
                <key>frame</key>
                <string>{{868,102},{78,146}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,64},{78,146}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0035</key>
            <dict>
                <key>frame</key>
                <string>{{148,330},{62,138}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,70},{62,138}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0036</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{76,154}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,54},{76,154}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0037</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{108,144}}</string>
                <key>offset</key>
                <string>{-23,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,77},{108,144}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675002_0038</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,172}}</string>
                <key>offset</key>
                <string>{-16,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,49},{110,172}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>675002_Ani.png</string>
            <key>size</key>
            <string>{1016,470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:036128447f3f7edeabcc9947b47bc9b0$</string>
            <key>textureFileName</key>
            <string>675002_Ani.png</string>
        </dict>
    </dict>
</plist>
