<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>675009_pay1</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.033</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>-1</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>675009_0001</string>
					<key>delayUnits</key>
					<integer>7</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0002</string>
					<key>delayUnits</key>
					<integer>7</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0003</string>
					<key>delayUnits</key>
					<integer>7</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0004</string>
					<key>delayUnits</key>
					<integer>7</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
					</dict>
			</array>
		</dict>
		<key>675009_pay2</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.033</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>-1</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>675009_0005</string>
					<key>delayUnits</key>
					<integer>7</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0006</string>
					<key>delayUnits</key>
					<integer>7</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0007</string>
					<key>delayUnits</key>
					<integer>7</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0008</string>
					<key>delayUnits</key>
					<integer>7</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
					</dict>
			</array>
		</dict>
		<key>675009_run1</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.033</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>-1</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>675009_0009</string>
					<key>delayUnits</key>
					<integer>7</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0010</string>
					<key>delayUnits</key>
					<integer>7</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0011</string>
					<key>delayUnits</key>
					<integer>7</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0012</string>
					<key>delayUnits</key>
					<integer>7</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
					</dict>
			</array>
		</dict>
		<key>675009_run2</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.033</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>-1</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>675009_0013</string>
					<key>delayUnits</key>
					<integer>7</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0014</string>
					<key>delayUnits</key>
					<integer>7</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0015</string>
					<key>delayUnits</key>
					<integer>7</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0016</string>
					<key>delayUnits</key>
					<integer>7</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
					</dict>
			</array>
		</dict>
		<key>675009_stand</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.033</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>-1</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>675009_0017</string>
					<key>delayUnits</key>
					<integer>7</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0018</string>
					<key>delayUnits</key>
					<integer>7</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0019</string>
					<key>delayUnits</key>
					<integer>7</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0020</string>
					<key>delayUnits</key>
					<integer>7</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
					</dict>
			</array>
		</dict>
		<key>675009_take1</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.033</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>-1</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>675009_0021</string>
					<key>delayUnits</key>
					<integer>7</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0022</string>
					<key>delayUnits</key>
					<integer>7</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0023</string>
					<key>delayUnits</key>
					<integer>7</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0024</string>
					<key>delayUnits</key>
					<integer>7</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
					</dict>
			</array>
		</dict>
		<key>675009_take2</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.033</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>-1</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>675009_0025</string>
					<key>delayUnits</key>
					<integer>7</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0026</string>
					<key>delayUnits</key>
					<integer>7</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0027</string>
					<key>delayUnits</key>
					<integer>7</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0028</string>
					<key>delayUnits</key>
					<integer>7</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
					</dict>
			</array>
		</dict>
		<key>675009_throw1</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.033</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>-1</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>675009_0029</string>
					<key>delayUnits</key>
					<integer>5</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0030</string>
					<key>delayUnits</key>
					<integer>4</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0031</string>
					<key>delayUnits</key>
					<integer>10</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0032</string>
					<key>delayUnits</key>
					<integer>5</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0033</string>
					<key>delayUnits</key>
					<integer>6</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
					</dict>
			</array>
		</dict>
		<key>675009_throw2</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.033</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>-1</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>675009_0034</string>
					<key>delayUnits</key>
					<integer>5</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0035</string>
					<key>delayUnits</key>
					<integer>4</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0036</string>
					<key>delayUnits</key>
					<integer>10</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0037</string>
					<key>delayUnits</key>
					<integer>5</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>675009_0038</string>
					<key>delayUnits</key>
					<integer>6</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
					</dict>
			</array>
		</dict>
	</dict>
	<key>properties</key>
	<dict>
		<key>spritesheets</key>		<array>
			<string>675009_Ani.plist</string>
		</array>
		<key>format</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>