<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>675001_0001</key>
            <dict>
                <key>frame</key>
                <string>{{144,324},{74,186}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,29},{74,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0002</key>
            <dict>
                <key>frame</key>
                <string>{{348,130},{76,188}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,27},{76,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0003</key>
            <dict>
                <key>frame</key>
                <string>{{346,208},{94,188}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,27},{94,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0004</key>
            <dict>
                <key>frame</key>
                <string>{{240,576},{94,188}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,27},{94,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0005</key>
            <dict>
                <key>frame</key>
                <string>{{136,400},{106,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,28},{106,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0006</key>
            <dict>
                <key>frame</key>
                <string>{{144,210},{112,182}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,30},{112,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0007</key>
            <dict>
                <key>frame</key>
                <string>{{336,570},{96,180}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,31},{96,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0008</key>
            <dict>
                <key>frame</key>
                <string>{{136,508},{66,188}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,24},{66,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0009</key>
            <dict>
                <key>frame</key>
                <string>{{640,146},{64,184}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,23},{64,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0010</key>
            <dict>
                <key>frame</key>
                <string>{{154,142},{66,190}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,24},{66,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0011</key>
            <dict>
                <key>frame</key>
                <string>{{326,502},{66,186}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,23},{66,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{140,192}}</string>
                <key>offset</key>
                <string>{31,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,30},{140,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{132,194}}</string>
                <key>offset</key>
                <string>{33,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,28},{132,194}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0014</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{138,192}}</string>
                <key>offset</key>
                <string>{32,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,30},{138,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0015</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{126,194}}</string>
                <key>offset</key>
                <string>{36,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,28},{126,194}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0016</key>
            <dict>
                <key>frame</key>
                <string>{{422,760},{88,188}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,26},{88,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0017</key>
            <dict>
                <key>frame</key>
                <string>{{524,698},{88,186}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,28},{88,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0018</key>
            <dict>
                <key>frame</key>
                <string>{{524,508},{88,188}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,26},{88,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0019</key>
            <dict>
                <key>frame</key>
                <string>{{134,766},{88,188}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,26},{88,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0020</key>
            <dict>
                <key>frame</key>
                <string>{{434,570},{88,188}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,27},{88,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0021</key>
            <dict>
                <key>frame</key>
                <string>{{614,508},{90,186}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,29},{90,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0022</key>
            <dict>
                <key>frame</key>
                <string>{{322,402},{98,180}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,35},{98,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0023</key>
            <dict>
                <key>frame</key>
                <string>{{524,424},{82,180}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,35},{82,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0024</key>
            <dict>
                <key>frame</key>
                <string>{{336,752},{84,182}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,30},{84,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0025</key>
            <dict>
                <key>frame</key>
                <string>{{140,576},{98,184}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,28},{98,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0026</key>
            <dict>
                <key>frame</key>
                <string>{{332,304},{96,186}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,26},{96,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0027</key>
            <dict>
                <key>frame</key>
                <string>{{538,146},{100,176}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,36},{100,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0028</key>
            <dict>
                <key>frame</key>
                <string>{{192,936},{82,186}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,29},{82,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0029</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{80,188}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,27},{80,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0030</key>
            <dict>
                <key>frame</key>
                <string>{{512,886},{84,188}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,27},{84,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0031</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{130,172}}</string>
                <key>offset</key>
                <string>{17,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,57},{130,172}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0032</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{136,182}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,47},{136,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0033</key>
            <dict>
                <key>frame</key>
                <string>{{524,332},{90,180}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,31},{90,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0034</key>
            <dict>
                <key>frame</key>
                <string>{{614,696},{90,176}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,34},{90,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0035</key>
            <dict>
                <key>frame</key>
                <string>{{134,856},{78,176}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,34},{78,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0036</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{142,160}}</string>
                <key>offset</key>
                <string>{-18,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,62},{142,160}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>675001_0037</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,186}}</string>
                <key>offset</key>
                <string>{-22,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,39},{150,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>675001_Ani.png</string>
            <key>size</key>
            <string>{706,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98f764229f4eeabfa31883fb17eca64d$</string>
            <key>textureFileName</key>
            <string>675001_Ani.png</string>
        </dict>
    </dict>
</plist>
