<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>901005_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,280}}</string>
                <key>offset</key>
                <string>{-27,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,74},{294,280}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>901005_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{292,280}}</string>
                <key>offset</key>
                <string>{-27,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,74},{292,280}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>901005_0003</key>
            <dict>
                <key>frame</key>
                <string>{{280,578},{292,276}}</string>
                <key>offset</key>
                <string>{-27,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,77},{292,276}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>901005_0004</key>
            <dict>
                <key>frame</key>
                <string>{{558,578},{292,274}}</string>
                <key>offset</key>
                <string>{-27,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,79},{292,274}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>901005_0005</key>
            <dict>
                <key>frame</key>
                <string>{{560,284},{290,272}}</string>
                <key>offset</key>
                <string>{-27,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,80},{290,272}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>901005_0006</key>
            <dict>
                <key>frame</key>
                <string>{{284,284},{292,274}}</string>
                <key>offset</key>
                <string>{-27,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,79},{292,274}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>901005_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{292,276}}</string>
                <key>offset</key>
                <string>{-27,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,77},{292,276}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>901005_0008</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{292,280}}</string>
                <key>offset</key>
                <string>{-27,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,74},{292,280}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>901005_Ani.png</string>
            <key>size</key>
            <string>{834,872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce6ce2afed91c43099895d6738343a19$</string>
            <key>textureFileName</key>
            <string>901005_Ani.png</string>
        </dict>
    </dict>
</plist>
