<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>901009_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,65}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,30},{222,65}}</string>
                <key>sourceSize</key>
                <string>{272,209}</string>
            </dict>
            <key>901009_0002</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{218,59}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{218,59}}</string>
                <key>sourceSize</key>
                <string>{272,209}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>901009_Ani.png</string>
            <key>size</key>
            <string>{446,69}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e26593535ff97fe0979a783e0512ccd$</string>
            <key>textureFileName</key>
            <string>901009_Ani.png</string>
        </dict>
    </dict>
</plist>
