<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>901004_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{184,178}}</string>
                <key>offset</key>
                <string>{-9,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,77},{184,178}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>901004_0002</key>
            <dict>
                <key>frame</key>
                <string>{{182,414},{190,176}}</string>
                <key>offset</key>
                <string>{-5,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,76},{190,176}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>901004_0003</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{164,172}}</string>
                <key>offset</key>
                <string>{8,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,77},{164,172}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>901004_0004</key>
            <dict>
                <key>frame</key>
                <string>{{174,840},{166,170}}</string>
                <key>offset</key>
                <string>{9,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,76},{166,170}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>901004_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{170,168}}</string>
                <key>offset</key>
                <string>{10,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,76},{170,168}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>901004_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{216,178}}</string>
                <key>offset</key>
                <string>{-8,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,77},{216,178}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>901004_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{218,176}}</string>
                <key>offset</key>
                <string>{-4,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,76},{218,176}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>901004_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,182}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,76},{218,182}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>901004_0009</key>
            <dict>
                <key>frame</key>
                <string>{{180,222},{190,178}}</string>
                <key>offset</key>
                <string>{-9,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,77},{190,178}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>901004_Ani.png</string>
            <key>size</key>
            <string>{360,1011}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa480d1f7dbba6e40cc192b0c3cde354$</string>
            <key>textureFileName</key>
            <string>901004_Ani.png</string>
        </dict>
    </dict>
</plist>
