<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body610015_0_G_0001</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{104,182}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,33},{104,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_0_G_0002</key>
            <dict>
                <key>frame</key>
                <string>{{364,366},{102,182}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,33},{102,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_0_G_0003</key>
            <dict>
                <key>frame</key>
                <string>{{432,180},{106,176}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,39},{106,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_0_G_0004</key>
            <dict>
                <key>frame</key>
                <string>{{324,186},{106,178}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,37},{106,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_0_G_0005</key>
            <dict>
                <key>frame</key>
                <string>{{540,108},{104,178}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,37},{104,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_0_G_0006</key>
            <dict>
                <key>frame</key>
                <string>{{646,182},{102,180}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,35},{102,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_0_G_0007</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{106,176}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,39},{106,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_0_G_0008</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{104,178}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,37},{104,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_0_G_0009</key>
            <dict>
                <key>frame</key>
                <string>{{218,184},{104,182}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,33},{104,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_0_G_0010</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{104,178}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,31},{104,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_0_G_0011</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{104,184}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,32},{104,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_0_G_0012</key>
            <dict>
                <key>frame</key>
                <string>{{548,288},{102,180}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,30},{102,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_0_G_0013</key>
            <dict>
                <key>frame</key>
                <string>{{652,286},{92,182}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,34},{92,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_0_G_0014</key>
            <dict>
                <key>frame</key>
                <string>{{746,286},{90,176}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,34},{90,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_0_G_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{98,180}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,35},{98,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_0_G_0016</key>
            <dict>
                <key>frame</key>
                <string>{{184,370},{98,178}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,33},{98,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_0_G_0017</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{106,180}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,34},{106,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_0_G_0018</key>
            <dict>
                <key>frame</key>
                <string>{{110,188},{106,180}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,34},{106,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_0_G_0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{106,182}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,32},{106,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_0_G_0020</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,182}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,32},{106,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body610015_0_G_Ani.png</string>
            <key>size</key>
            <string>{852,470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39e5d53fa69b424d8e587495d1bb9b6d$</string>
            <key>textureFileName</key>
            <string>body610015_0_G_Ani.png</string>
        </dict>
    </dict>
</plist>
