<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body610008_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{64,148},{68,144}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,22},{68,144}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{204,352},{68,138}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,28},{68,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{344,212},{68,130}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,36},{68,130}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{274,212},{68,136}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,29},{68,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{134,146},{68,142}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,22},{68,142}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{204,212},{68,138}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,26},{68,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_1_0007</key>
            <dict>
                <key>frame</key>
                <string>{{344,282},{68,126}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,38},{68,126}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_1_0008</key>
            <dict>
                <key>frame</key>
                <string>{{254,422},{68,130}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,34},{68,130}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_1_0009</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{68,106}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,27},{68,106}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_1_0010</key>
            <dict>
                <key>frame</key>
                <string>{{146,434},{72,106}}</string>
                <key>offset</key>
                <string>{-2,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,27},{72,106}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_1_0011</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{68,144}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,22},{68,144}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_1_0012</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{68,142}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,22},{68,142}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_1_0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{68,144}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,22},{68,144}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_1_0014</key>
            <dict>
                <key>frame</key>
                <string>{{72,294},{68,142}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,21},{68,142}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_1_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{62,142}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,22},{62,142}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_1_0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{60,146}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,19},{60,146}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_1_0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,146}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,21},{60,146}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_1_0018</key>
            <dict>
                <key>frame</key>
                <string>{{142,290},{60,142}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,20},{60,142}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_1_0019</key>
            <dict>
                <key>frame</key>
                <string>{{254,142},{68,138}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,27},{68,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_1_0020</key>
            <dict>
                <key>frame</key>
                <string>{{394,72},{68,138}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,27},{68,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_1_0021</key>
            <dict>
                <key>frame</key>
                <string>{{254,72},{68,138}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,27},{68,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610008_1_0022</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{68,138}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,27},{68,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body610008_1_Ani.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdaaf358282fc69f684f19fa35a89574$</string>
            <key>textureFileName</key>
            <string>body610008_1_Ani.png</string>
        </dict>
    </dict>
</plist>
