<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body610010_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{60,152}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,13},{60,152}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{70,310},{60,152}}</string>
                <key>offset</key>
                <string>{5,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,13},{60,152}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{258,154},{60,144}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,21},{60,144}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{320,134},{62,146}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,17},{62,146}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{62,150}}</string>
                <key>offset</key>
                <string>{-9,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,13},{62,150}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{194,154},{62,150}}</string>
                <key>offset</key>
                <string>{-9,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,13},{62,150}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_1_0007</key>
            <dict>
                <key>frame</key>
                <string>{{200,444},{62,140}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,23},{62,140}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_1_0008</key>
            <dict>
                <key>frame</key>
                <string>{{258,300},{60,142}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,21},{60,142}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_1_0009</key>
            <dict>
                <key>frame</key>
                <string>{{320,330},{60,110}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,21},{60,110}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_1_0010</key>
            <dict>
                <key>frame</key>
                <string>{{382,330},{70,114}}</string>
                <key>offset</key>
                <string>{-3,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,17},{70,114}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_1_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{66,152}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,14},{66,152}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_1_0012</key>
            <dict>
                <key>frame</key>
                <string>{{132,308},{66,150}}</string>
                <key>offset</key>
                <string>{4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,13},{66,150}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_1_0013</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{66,150}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,14},{66,150}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_1_0014</key>
            <dict>
                <key>frame</key>
                <string>{{126,156},{66,150}}</string>
                <key>offset</key>
                <string>{3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,12},{66,150}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_1_0015</key>
            <dict>
                <key>frame</key>
                <string>{{320,264},{64,142}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,21},{64,142}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_1_0016</key>
            <dict>
                <key>frame</key>
                <string>{{320,68},{64,146}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,17},{64,146}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_1_0017</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{64,146}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,20},{64,146}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_1_0018</key>
            <dict>
                <key>frame</key>
                <string>{{320,198},{64,144}}</string>
                <key>offset</key>
                <string>{4,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,17},{64,144}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_1_0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{60,154}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,10},{60,154}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_1_0020</key>
            <dict>
                <key>frame</key>
                <string>{{64,156},{60,152}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,12},{60,152}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_1_0021</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,152}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,12},{60,152}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610010_1_0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,154}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,10},{60,154}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body610010_1_Ani.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b538a50746a235190c53893df09286fc$</string>
            <key>textureFileName</key>
            <string>body610010_1_Ani.png</string>
        </dict>
    </dict>
</plist>
