<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body610015_G_0001</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{152,184}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,31},{152,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_G_0002</key>
            <dict>
                <key>frame</key>
                <string>{{246,374},{154,182}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,33},{154,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_G_0003</key>
            <dict>
                <key>frame</key>
                <string>{{402,374},{130,182}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,33},{130,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_G_0004</key>
            <dict>
                <key>frame</key>
                <string>{{130,376},{114,178}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,34},{114,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_G_0005</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{114,182}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,31},{114,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_G_0006</key>
            <dict>
                <key>frame</key>
                <string>{{382,188},{96,184}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,29},{96,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_G_0007</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{96,184}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,29},{96,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_G_0008</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{104,182}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,31},{104,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_G_0009</key>
            <dict>
                <key>frame</key>
                <string>{{586,186},{104,182}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,31},{104,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_G_0010</key>
            <dict>
                <key>frame</key>
                <string>{{534,370},{104,182}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,31},{104,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_G_0011</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{104,182}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,31},{104,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_G_0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{152,184}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,31},{152,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_G_0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,186}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,30},{128,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_G_0014</key>
            <dict>
                <key>frame</key>
                <string>{{156,188},{112,184}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,33},{112,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_G_0015</key>
            <dict>
                <key>frame</key>
                <string>{{270,188},{110,184}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,33},{110,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_G_0016</key>
            <dict>
                <key>frame</key>
                <string>{{480,186},{104,182}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,36},{104,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_G_0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{126,178}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,39},{126,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_G_0018</key>
            <dict>
                <key>frame</key>
                <string>{{640,370},{148,172}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,46},{148,172}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_G_0019</key>
            <dict>
                <key>frame</key>
                <string>{{692,186},{146,170}}</string>
                <key>offset</key>
                <string>{24,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,48},{146,170}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_G_0020</key>
            <dict>
                <key>frame</key>
                <string>{{840,342},{142,168}}</string>
                <key>offset</key>
                <string>{24,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,50},{142,168}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_G_0021</key>
            <dict>
                <key>frame</key>
                <string>{{840,172},{142,168}}</string>
                <key>offset</key>
                <string>{24,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,50},{142,168}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_G_0022</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{142,168}}</string>
                <key>offset</key>
                <string>{24,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,50},{142,168}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610015_G_0023</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{142,168}}</string>
                <key>offset</key>
                <string>{24,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,50},{142,168}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body610015_G_Ani.png</string>
            <key>size</key>
            <string>{1000,558}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ed63cde0f6a122e771644d6f093664c$</string>
            <key>textureFileName</key>
            <string>body610015_G_Ani.png</string>
        </dict>
    </dict>
</plist>
