<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body610005_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{378,188},{58,132}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,33},{58,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610005_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{58,136}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,29},{58,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610005_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{244,366},{58,128}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,37},{58,128}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610005_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{374,310},{58,128}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,35},{58,128}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610005_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{380,64},{60,130}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,33},{60,130}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610005_1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{244,182},{60,132}}</string>
                <key>offset</key>
                <string>{-11,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,31},{60,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610005_1_0007</key>
            <dict>
                <key>frame</key>
                <string>{{374,248},{60,128}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,35},{60,128}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610005_1_0008</key>
            <dict>
                <key>frame</key>
                <string>{{244,306},{58,128}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,35},{58,128}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610005_1_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{68,106}}</string>
                <key>offset</key>
                <string>{2,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,26},{68,106}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610005_1_0010</key>
            <dict>
                <key>frame</key>
                <string>{{124,306},{60,104}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,28},{60,104}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610005_1_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,136}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,30},{60,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610005_1_0012</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,134}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,28},{60,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610005_1_0013</key>
            <dict>
                <key>frame</key>
                <string>{{62,140},{60,134}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,30},{60,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610005_1_0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{60,134}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,28},{60,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610005_1_0015</key>
            <dict>
                <key>frame</key>
                <string>{{244,244},{60,128}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,35},{60,128}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610005_1_0016</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{60,130}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,33},{60,130}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610005_1_0017</key>
            <dict>
                <key>frame</key>
                <string>{{110,412},{60,132}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,34},{60,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610005_1_0018</key>
            <dict>
                <key>frame</key>
                <string>{{380,126},{60,128}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,33},{60,128}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610005_1_0019</key>
            <dict>
                <key>frame</key>
                <string>{{244,122},{58,134}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,29},{58,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610005_1_0020</key>
            <dict>
                <key>frame</key>
                <string>{{244,62},{58,134}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,29},{58,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610005_1_0021</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{58,134}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,29},{58,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610005_1_0022</key>
            <dict>
                <key>frame</key>
                <string>{{64,276},{58,134}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,29},{58,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body610005_1_Ani.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:614b2a86c07a432d694a70eec83b2784$</string>
            <key>textureFileName</key>
            <string>body610005_1_Ani.png</string>
        </dict>
    </dict>
</plist>
