<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body600006_0001</key>
            <dict>
                <key>frame</key>
                <string>{{536,46},{42,62}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,13},{42,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600006_0002</key>
            <dict>
                <key>frame</key>
                <string>{{488,46},{46,68}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{46,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600006_0003</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{42,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,5},{42,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600006_0004</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{42,90}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,7},{42,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600006_0005</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{42,90}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{42,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600006_0006</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{44,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,6},{44,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600006_0007</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{42,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{42,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600006_0008</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{42,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{42,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600006_0009</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{42,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{42,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600006_0010</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{42,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{42,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600006_0011</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{42,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{42,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600006_0012</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{42,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,3},{42,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600006_0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,3},{42,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600006_0014</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{42,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{42,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body600006_Ani.png</string>
            <key>size</key>
            <string>{580,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27090cbf3b2c9a50c3f95bf16ab8c617$</string>
            <key>textureFileName</key>
            <string>body600006_Ani.png</string>
        </dict>
    </dict>
</plist>
