<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body600009_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,62}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,12},{38,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600009_0002</key>
            <dict>
                <key>frame</key>
                <string>{{172,42},{46,64}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{46,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600009_0003</key>
            <dict>
                <key>frame</key>
                <string>{{86,124},{40,82}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,13},{40,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600009_0004</key>
            <dict>
                <key>frame</key>
                <string>{{86,82},{40,84}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,13},{40,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600009_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{40,82}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,14},{40,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600009_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{40,82}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,14},{40,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600009_0007</key>
            <dict>
                <key>frame</key>
                <string>{{170,168},{42,82}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,13},{42,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600009_0008</key>
            <dict>
                <key>frame</key>
                <string>{{86,166},{42,82}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,14},{42,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600009_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{42,82}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,14},{42,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600009_0010</key>
            <dict>
                <key>frame</key>
                <string>{{170,124},{42,82}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,15},{42,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600009_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{38,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,11},{38,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600009_0012</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{38,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,11},{38,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600009_0013</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{38,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,11},{38,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600009_0014</key>
            <dict>
                <key>frame</key>
                <string>{{88,42},{38,82}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,13},{38,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body600009_Ani.png</string>
            <key>size</key>
            <string>{254,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7146f3410641f40f2eb65e63f4bebf91$</string>
            <key>textureFileName</key>
            <string>body600009_Ani.png</string>
        </dict>
    </dict>
</plist>
