<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body610014_1_G_0001</key>
            <dict>
                <key>frame</key>
                <string>{{194,194},{72,188}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,27},{72,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_1_G_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,192}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,24},{72,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_1_G_0003</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{74,180}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,35},{74,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_1_G_0004</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{70,182}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,30},{70,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_1_G_0005</key>
            <dict>
                <key>frame</key>
                <string>{{572,192},{74,186}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,26},{74,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_1_G_0006</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{78,188}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,24},{78,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_1_G_0007</key>
            <dict>
                <key>frame</key>
                <string>{{760,184},{76,176}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,36},{76,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_1_G_0008</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{72,178}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,34},{72,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_1_G_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{70,190}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,26},{70,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_1_G_0010</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{60,188}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,23},{60,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_1_G_0011</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{68,188}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,25},{68,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_1_G_0012</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{60,188}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,22},{60,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_1_G_0013</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{86,180}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,32},{86,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_1_G_0014</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{58,184}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,28},{58,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_1_G_0015</key>
            <dict>
                <key>frame</key>
                <string>{{384,192},{74,186}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,31},{74,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_1_G_0016</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{62,180}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,29},{62,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_1_G_0017</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{58,190}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,23},{58,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_1_G_0018</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{58,190}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,23},{58,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_1_G_0019</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{56,190}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,23},{56,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610014_1_G_0020</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{58,190}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,23},{58,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body610014_1_G_Ani.png</string>
            <key>size</key>
            <string>{1022,268}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:482434b8e951f84285d5d04f48d6dcfc$</string>
            <key>textureFileName</key>
            <string>body610014_1_G_Ani.png</string>
        </dict>
    </dict>
</plist>
