<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body610003_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{146,214},{70,142}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,23},{70,142}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610003_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{70,148}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,17},{70,148}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610003_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{278,144},{68,144}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,21},{68,144}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610003_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{278,286},{68,142}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,21},{68,142}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610003_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{278,356},{66,142}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,21},{66,142}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610003_1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{68,146}}</string>
                <key>offset</key>
                <string>{-8,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,17},{68,146}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610003_1_0007</key>
            <dict>
                <key>frame</key>
                <string>{{346,356},{68,140}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,23},{68,140}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610003_1_0008</key>
            <dict>
                <key>frame</key>
                <string>{{424,148},{70,140}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,23},{70,140}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610003_1_0009</key>
            <dict>
                <key>frame</key>
                <string>{{422,290},{70,110}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,21},{70,110}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610003_1_0010</key>
            <dict>
                <key>frame</key>
                <string>{{146,134},{70,110}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,21},{70,110}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610003_1_0011</key>
            <dict>
                <key>frame</key>
                <string>{{144,298},{70,146}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,20},{70,146}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610003_1_0012</key>
            <dict>
                <key>frame</key>
                <string>{{74,150},{70,146}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,17},{70,146}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610003_1_0013</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{72,144}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,20},{72,144}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610003_1_0014</key>
            <dict>
                <key>frame</key>
                <string>{{278,72},{70,144}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,18},{70,144}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610003_1_0015</key>
            <dict>
                <key>frame</key>
                <string>{{146,68},{64,130}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,33},{64,130}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610003_1_0016</key>
            <dict>
                <key>frame</key>
                <string>{{144,446},{64,132}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,31},{64,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610003_1_0017</key>
            <dict>
                <key>frame</key>
                <string>{{290,214},{66,132}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,34},{66,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610003_1_0018</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{64,130}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,31},{64,130}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610003_1_0019</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,146}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,18},{70,146}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610003_1_0020</key>
            <dict>
                <key>frame</key>
                <string>{{72,302},{70,146}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,18},{70,146}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610003_1_0021</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,148}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,16},{70,148}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610003_1_0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{68,148}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,16},{68,148}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body610003_1_Ani.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9884f1a9018eb2d5faee1df0ba340c6$</string>
            <key>textureFileName</key>
            <string>body610003_1_Ani.png</string>
        </dict>
    </dict>
</plist>
