<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body610001_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{270,430},{112,132}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,32},{112,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,134}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,30},{118,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{120,132}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,32},{120,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{112,132}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,32},{112,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{270,544},{112,130}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,34},{112,130}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{136,428},{116,132}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,32},{116,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{274,190},{120,132}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,32},{120,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_0_0008</key>
            <dict>
                <key>frame</key>
                <string>{{270,312},{116,132}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,32},{116,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_0_0009</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{116,100}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,31},{116,100}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_0_0010</key>
            <dict>
                <key>frame</key>
                <string>{{404,384},{118,104}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,27},{118,104}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_0_0011</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{102,134}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,30},{102,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_0_0012</key>
            <dict>
                <key>frame</key>
                <string>{{408,252},{98,130}}</string>
                <key>offset</key>
                <string>{11,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,30},{98,130}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_0_0013</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{100,134}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,31},{100,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_0_0014</key>
            <dict>
                <key>frame</key>
                <string>{{410,120},{98,130}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,30},{98,130}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_0_0015</key>
            <dict>
                <key>frame</key>
                <string>{{138,106},{84,134}}</string>
                <key>offset</key>
                <string>{13,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,31},{84,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_0_0016</key>
            <dict>
                <key>frame</key>
                <string>{{136,546},{82,130}}</string>
                <key>offset</key>
                <string>{11,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,30},{82,130}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_0_0017</key>
            <dict>
                <key>frame</key>
                <string>{{404,504},{82,132}}</string>
                <key>offset</key>
                <string>{13,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,31},{82,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_0_0018</key>
            <dict>
                <key>frame</key>
                <string>{{274,104},{84,134}}</string>
                <key>offset</key>
                <string>{12,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,28},{84,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_0_0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{116,132}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,31},{116,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_0_0020</key>
            <dict>
                <key>frame</key>
                <string>{{136,310},{116,132}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,31},{116,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_0_0021</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{116,132}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,31},{116,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610001_0_0022</key>
            <dict>
                <key>frame</key>
                <string>{{136,192},{116,132}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,31},{116,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body610001_0_Ani.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a7e9ae4c23a92b786773c032deeb4a2$</string>
            <key>textureFileName</key>
            <string>body610001_0_Ani.png</string>
        </dict>
    </dict>
</plist>
