<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body600029_0001</key>
            <dict>
                <key>frame</key>
                <string>{{164,192},{80,74}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{80,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600029_0002</key>
            <dict>
                <key>frame</key>
                <string>{{170,98},{72,70}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{72,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600029_0003</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{84,94}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{84,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600029_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{84,92}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{84,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600029_0005</key>
            <dict>
                <key>frame</key>
                <string>{{78,292},{74,96}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{74,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600029_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{74,94}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{74,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600029_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{84,96}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{84,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600029_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,96}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{84,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600029_0009</key>
            <dict>
                <key>frame</key>
                <string>{{88,192},{74,96}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{74,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600029_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{74,96}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{74,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600029_0011</key>
            <dict>
                <key>frame</key>
                <string>{{154,290},{78,92}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{78,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600029_0012</key>
            <dict>
                <key>frame</key>
                <string>{{78,390},{78,92}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{78,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600029_0013</key>
            <dict>
                <key>frame</key>
                <string>{{88,98},{80,92}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{80,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600029_0014</key>
            <dict>
                <key>frame</key>
                <string>{{158,384},{80,90}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{80,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body600029_Ani.png</string>
            <key>size</key>
            <string>{242,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bfbb1fece84b856495eb096db8dd954$</string>
            <key>textureFileName</key>
            <string>body600029_Ani.png</string>
        </dict>
    </dict>
</plist>
