<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body610013_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{116,162}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,5},{116,162}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,166}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,1},{112,166}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{336,114},{110,164}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,3},{110,164}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{330,340},{110,162}}</string>
                <key>offset</key>
                <string>{3,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,5},{110,162}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{330,530},{108,160}}</string>
                <key>offset</key>
                <string>{4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,7},{108,160}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{110,164}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,3},{110,164}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{116,164}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,3},{116,164}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_0_0008</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{118,164}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,3},{118,164}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_0_0009</key>
            <dict>
                <key>frame</key>
                <string>{{164,696},{110,124}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,9},{110,124}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_0_0010</key>
            <dict>
                <key>frame</key>
                <string>{{326,640},{116,132}}</string>
                <key>offset</key>
                <string>{6,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,1},{116,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_0_0011</key>
            <dict>
                <key>frame</key>
                <string>{{168,224},{96,164}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,3},{96,164}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_0_0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{96,160}}</string>
                <key>offset</key>
                <string>{4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,3},{96,160}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_0_0013</key>
            <dict>
                <key>frame</key>
                <string>{{168,122},{100,164}}</string>
                <key>offset</key>
                <string>{6,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,3},{100,164}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_0_0014</key>
            <dict>
                <key>frame</key>
                <string>{{164,594},{100,160}}</string>
                <key>offset</key>
                <string>{6,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,3},{100,160}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_0_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{76,164}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,3},{76,164}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_0_0016</key>
            <dict>
                <key>frame</key>
                <string>{{330,452},{76,162}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,2},{76,162}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_0_0017</key>
            <dict>
                <key>frame</key>
                <string>{{166,434},{82,162}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,4},{82,162}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_0_0018</key>
            <dict>
                <key>frame</key>
                <string>{{166,518},{74,162}}</string>
                <key>offset</key>
                <string>{4,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,3},{74,162}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_0_0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{110,162}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,4},{110,162}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_0_0020</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{110,160}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,6},{110,160}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_0_0021</key>
            <dict>
                <key>frame</key>
                <string>{{334,226},{112,162}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,4},{112,162}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610013_0_0022</key>
            <dict>
                <key>frame</key>
                <string>{{166,322},{110,162}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,4},{110,162}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body610013_0_Ani.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ee204c8716d6a176d9e0274fa3f4c86$</string>
            <key>textureFileName</key>
            <string>body610013_0_Ani.png</string>
        </dict>
    </dict>
</plist>
