<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body610009_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{74,300},{68,142}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,24},{68,142}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610009_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{288,274},{70,132}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,34},{70,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610009_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{436,144},{70,124}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,42},{70,124}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610009_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{292,144},{70,128}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,36},{70,128}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610009_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{144,288},{70,138}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,26},{70,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610009_1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{360,274},{68,132}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,32},{68,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610009_1_0007</key>
            <dict>
                <key>frame</key>
                <string>{{388,72},{70,122}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,42},{70,122}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610009_1_0008</key>
            <dict>
                <key>frame</key>
                <string>{{364,144},{70,124}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,40},{70,124}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610009_1_0009</key>
            <dict>
                <key>frame</key>
                <string>{{316,408},{70,100}}</string>
                <key>offset</key>
                <string>{2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,32},{70,100}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610009_1_0010</key>
            <dict>
                <key>frame</key>
                <string>{{214,428},{72,100}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,32},{72,100}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610009_1_0011</key>
            <dict>
                <key>frame</key>
                <string>{{148,70},{66,138}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,28},{66,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610009_1_0012</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{66,138}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,26},{66,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610009_1_0013</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{68,138}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,28},{68,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610009_1_0014</key>
            <dict>
                <key>frame</key>
                <string>{{74,444},{66,138}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,25},{66,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610009_1_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{70,144}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,20},{70,144}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610009_1_0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{72,146}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,19},{72,146}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610009_1_0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,148}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,19},{70,148}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610009_1_0018</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{72,144}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,18},{72,144}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610009_1_0019</key>
            <dict>
                <key>frame</key>
                <string>{{76,148},{70,138}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,27},{70,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610009_1_0020</key>
            <dict>
                <key>frame</key>
                <string>{{220,138},{70,134}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,31},{70,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610009_1_0021</key>
            <dict>
                <key>frame</key>
                <string>{{216,276},{70,134}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,31},{70,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610009_1_0022</key>
            <dict>
                <key>frame</key>
                <string>{{148,138},{70,136}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,29},{70,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body610009_1_Ani.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23b17c42057c20c40260c6ae7cf940f8$</string>
            <key>textureFileName</key>
            <string>body610009_1_Ani.png</string>
        </dict>
    </dict>
</plist>
