<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body610014_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{252,188},{60,140}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,26},{60,140}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610014_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,142}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,24},{62,142}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610014_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{252,250},{60,134}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,32},{60,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610014_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{190,140},{60,136}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,28},{60,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610014_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{128,250},{60,138}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,26},{60,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610014_1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{252,126},{60,140}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,24},{60,140}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610014_1_0007</key>
            <dict>
                <key>frame</key>
                <string>{{252,374},{62,130}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,34},{62,130}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610014_1_0008</key>
            <dict>
                <key>frame</key>
                <string>{{252,312},{60,132}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,32},{60,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610014_1_0009</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{60,100}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,32},{60,100}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610014_1_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{70,106}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,26},{70,106}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610014_1_0011</key>
            <dict>
                <key>frame</key>
                <string>{{110,430},{62,140}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,27},{62,140}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610014_1_0012</key>
            <dict>
                <key>frame</key>
                <string>{{64,288},{62,140}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,23},{62,140}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610014_1_0013</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,140}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,25},{62,140}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610014_1_0014</key>
            <dict>
                <key>frame</key>
                <string>{{64,146},{62,140}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,23},{62,140}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610014_1_0015</key>
            <dict>
                <key>frame</key>
                <string>{{394,202},{62,132}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,32},{62,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610014_1_0016</key>
            <dict>
                <key>frame</key>
                <string>{{394,64},{62,136}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,28},{62,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610014_1_0017</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,136}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,31},{62,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610014_1_0018</key>
            <dict>
                <key>frame</key>
                <string>{{190,278},{60,134}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,28},{60,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610014_1_0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{60,142}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,22},{60,142}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610014_1_0020</key>
            <dict>
                <key>frame</key>
                <string>{{252,64},{60,140}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,24},{60,140}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610014_1_0021</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{60,140}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,24},{60,140}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610014_1_0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{60,142}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,22},{60,142}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body610014_1_Ani.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7568e593034a8cb6e7818aa9a60dd47$</string>
            <key>textureFileName</key>
            <string>body610014_1_Ani.png</string>
        </dict>
    </dict>
</plist>
