<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body610011_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{276,256},{86,134}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,27},{86,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610011_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{288,72},{86,138}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,23},{86,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610011_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{144,80},{90,136}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,25},{90,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610011_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{282,160},{94,134}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,27},{94,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610011_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{418,208},{92,130}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,31},{92,130}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610011_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{140,172},{90,134}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,27},{90,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610011_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{88,134}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,27},{88,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610011_0_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{88,136}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,25},{88,136}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610011_0_0009</key>
            <dict>
                <key>frame</key>
                <string>{{136,438},{88,100}}</string>
                <key>offset</key>
                <string>{-3,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,32},{88,100}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610011_0_0010</key>
            <dict>
                <key>frame</key>
                <string>{{402,474},{88,104}}</string>
                <key>offset</key>
                <string>{-2,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,28},{88,104}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610011_0_0011</key>
            <dict>
                <key>frame</key>
                <string>{{428,72},{82,134}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,26},{82,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610011_0_0012</key>
            <dict>
                <key>frame</key>
                <string>{{270,434},{82,130}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,27},{82,130}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610011_0_0013</key>
            <dict>
                <key>frame</key>
                <string>{{138,264},{84,134}}</string>
                <key>offset</key>
                <string>{10,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,26},{84,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610011_0_0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{82,132}}</string>
                <key>offset</key>
                <string>{8,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,26},{82,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610011_0_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{74,140}}</string>
                <key>offset</key>
                <string>{12,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,25},{74,140}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610011_0_0016</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{76,140}}</string>
                <key>offset</key>
                <string>{11,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,25},{76,140}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610011_0_0017</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{68,140}}</string>
                <key>offset</key>
                <string>{10,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,26},{68,140}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610011_0_0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,142}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,24},{72,142}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610011_0_0019</key>
            <dict>
                <key>frame</key>
                <string>{{274,344},{88,132}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,28},{88,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610011_0_0020</key>
            <dict>
                <key>frame</key>
                <string>{{412,340},{88,132}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,28},{88,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610011_0_0021</key>
            <dict>
                <key>frame</key>
                <string>{{136,350},{86,132}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,28},{86,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610011_0_0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{88,132}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,28},{88,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body610011_0_Ani.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f99c6da31a9075e78de62e895dcbfeb$</string>
            <key>textureFileName</key>
            <string>body610011_0_Ani.png</string>
        </dict>
    </dict>
</plist>
