<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body600030_0001</key>
            <dict>
                <key>frame</key>
                <string>{{544,62},{58,87}}</string>
                <key>offset</key>
                <string>{5,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,23},{58,87}}</string>
                <key>sourceSize</key>
                <string>{150,177}</string>
            </dict>
            <key>body600030_0002</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{58,89}}</string>
                <key>offset</key>
                <string>{-5,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,21},{58,89}}</string>
                <key>sourceSize</key>
                <string>{150,177}</string>
            </dict>
            <key>body600030_0003</key>
            <dict>
                <key>frame</key>
                <string>{{454,129},{88,113}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,31},{88,113}}</string>
                <key>sourceSize</key>
                <string>{150,177}</string>
            </dict>
            <key>body600030_0004</key>
            <dict>
                <key>frame</key>
                <string>{{276,139},{84,105}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,30},{84,105}}</string>
                <key>sourceSize</key>
                <string>{150,177}</string>
            </dict>
            <key>body600030_0005</key>
            <dict>
                <key>frame</key>
                <string>{{362,135},{90,111}}</string>
                <key>offset</key>
                <string>{15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,27},{90,111}}</string>
                <key>sourceSize</key>
                <string>{150,177}</string>
            </dict>
            <key>body600030_0006</key>
            <dict>
                <key>frame</key>
                <string>{{544,122},{84,111}}</string>
                <key>offset</key>
                <string>{13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,26},{84,111}}</string>
                <key>sourceSize</key>
                <string>{150,177}</string>
            </dict>
            <key>body600030_0007</key>
            <dict>
                <key>frame</key>
                <string>{{139,147},{92,135}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,26},{92,135}}</string>
                <key>sourceSize</key>
                <string>{150,177}</string>
            </dict>
            <key>body600030_0008</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{82,125}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,22},{82,125}}</string>
                <key>sourceSize</key>
                <string>{150,177}</string>
            </dict>
            <key>body600030_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{94,135}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,20},{94,135}}</string>
                <key>sourceSize</key>
                <string>{150,177}</string>
            </dict>
            <key>body600030_0010</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{86,131}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,22},{86,131}}</string>
                <key>sourceSize</key>
                <string>{150,177}</string>
            </dict>
            <key>body600030_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,145}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,12},{82,145}}</string>
                <key>sourceSize</key>
                <string>{150,177}</string>
            </dict>
            <key>body600030_0012</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{72,135}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,11},{72,135}}</string>
                <key>sourceSize</key>
                <string>{150,177}</string>
            </dict>
            <key>body600030_0013</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{82,143}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,9},{82,143}}</string>
                <key>sourceSize</key>
                <string>{150,177}</string>
            </dict>
            <key>body600030_0014</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{80,143}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{80,143}}</string>
                <key>sourceSize</key>
                <string>{150,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body600030_Ani.png</string>
            <key>size</key>
            <string>{635,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edabb283096eda81e3561a5517181ab9$</string>
            <key>textureFileName</key>
            <string>body600030_Ani.png</string>
        </dict>
    </dict>
</plist>
