<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body610002_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{70,148}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,17},{70,148}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{296,304},{70,144}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,21},{70,144}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{436,376},{70,138}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,27},{70,138}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{76,144}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,21},{76,144}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{150,144},{72,146}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,19},{72,146}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{298,156},{70,146}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,19},{70,146}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{442,228},{68,140}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,25},{68,140}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_0_0008</key>
            <dict>
                <key>frame</key>
                <string>{{296,228},{74,144}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,21},{74,144}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_0_0009</key>
            <dict>
                <key>frame</key>
                <string>{{288,460},{70,124}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,33},{70,124}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_0_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{70,124}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,33},{70,124}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_0_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{80,146}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,20},{80,146}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_0_0012</key>
            <dict>
                <key>frame</key>
                <string>{{150,218},{86,144}}</string>
                <key>offset</key>
                <string>{10,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,19},{86,144}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_0_0013</key>
            <dict>
                <key>frame</key>
                <string>{{302,74},{80,146}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,20},{80,146}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_0_0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{74,144}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,19},{74,144}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_0_0015</key>
            <dict>
                <key>frame</key>
                <string>{{292,376},{82,142}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,24},{82,142}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_0_0016</key>
            <dict>
                <key>frame</key>
                <string>{{146,398},{82,140}}</string>
                <key>offset</key>
                <string>{8,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,23},{82,140}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_0_0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{86,142}}</string>
                <key>offset</key>
                <string>{12,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,24},{86,142}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_0_0018</key>
            <dict>
                <key>frame</key>
                <string>{{148,306},{90,142}}</string>
                <key>offset</key>
                <string>{15,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,22},{90,142}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_0_0019</key>
            <dict>
                <key>frame</key>
                <string>{{152,74},{68,148}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,17},{68,148}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_0_0020</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{68,148}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,17},{68,148}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_0_0021</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{70,148}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,17},{70,148}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610002_0_0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,148}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,17},{70,148}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body610002_0_Ani.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a6626130a4b625aceb32a61379672e5$</string>
            <key>textureFileName</key>
            <string>body610002_0_Ani.png</string>
        </dict>
    </dict>
</plist>
