<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body600003_0001</key>
            <dict>
                <key>frame</key>
                <string>{{330,80},{40,58}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,17},{40,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600003_0002</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{46,60}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,15},{46,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600003_0003</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{40,76}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{40,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600003_0004</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{40,78}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{40,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600003_0005</key>
            <dict>
                <key>frame</key>
                <string>{{250,82},{40,78}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,19},{40,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600003_0006</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{40,78}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{40,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600003_0007</key>
            <dict>
                <key>frame</key>
                <string>{{170,82},{40,78}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,17},{40,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600003_0008</key>
            <dict>
                <key>frame</key>
                <string>{{84,84},{38,78}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,17},{38,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600003_0009</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{40,80}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{40,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600003_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{38,80}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,17},{38,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600003_0011</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{40,80}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,16},{40,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600003_0012</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{40,80}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,16},{40,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600003_0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,80}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,16},{40,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600003_0014</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{40,78}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{40,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body600003_Ani.png</string>
            <key>size</key>
            <string>{407,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e7e23b4ba15ea3c0f8477b6024ab942$</string>
            <key>textureFileName</key>
            <string>body600003_Ani.png</string>
        </dict>
    </dict>
</plist>
