<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body610003_1_G_0001</key>
            <dict>
                <key>frame</key>
                <string>{{398,378},{78,194}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,20},{78,194}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_1_G_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,204}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,11},{76,204}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_1_G_0003</key>
            <dict>
                <key>frame</key>
                <string>{{202,286},{74,196}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,18},{74,196}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_1_G_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{78,194}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,17},{78,194}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_1_G_0005</key>
            <dict>
                <key>frame</key>
                <string>{{406,184},{80,192}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,19},{80,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_1_G_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{82,198}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,13},{82,198}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_1_G_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{76,190}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,21},{76,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_1_G_0008</key>
            <dict>
                <key>frame</key>
                <string>{{198,434},{76,190}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,21},{76,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_1_G_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{70,198}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,17},{70,198}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_1_G_0010</key>
            <dict>
                <key>frame</key>
                <string>{{202,214},{70,198}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,12},{70,198}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_1_G_0011</key>
            <dict>
                <key>frame</key>
                <string>{{200,362},{70,196}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,16},{70,196}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_1_G_0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{70,196}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,13},{70,196}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_1_G_0013</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{86,180}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,31},{86,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_1_G_0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{64,184}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,27},{64,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_1_G_0015</key>
            <dict>
                <key>frame</key>
                <string>{{194,512},{76,186}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,30},{76,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_1_G_0016</key>
            <dict>
                <key>frame</key>
                <string>{{382,574},{68,182}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,26},{68,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_1_G_0017</key>
            <dict>
                <key>frame</key>
                <string>{{208,72},{70,200}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,12},{70,200}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_1_G_0018</key>
            <dict>
                <key>frame</key>
                <string>{{204,144},{68,200}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,12},{68,200}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_1_G_0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{68,200}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,12},{68,200}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>body610003_1_G_0020</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{68,202}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,10},{68,202}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body610003_1_G_Ani.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f374b8e3e1e3624e161509bc380d93f$</string>
            <key>textureFileName</key>
            <string>body610003_1_G_Ani.png</string>
        </dict>
    </dict>
</plist>
