<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body610015_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{64,132}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,34},{64,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610015_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,134}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,32},{66,134}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610015_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{134,440},{58,126}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,40},{58,126}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610015_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{56,126}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,38},{56,126}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610015_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{134,318},{60,130}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,34},{60,130}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610015_1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{60,130}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,34},{60,130}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610015_1_0007</key>
            <dict>
                <key>frame</key>
                <string>{{266,264},{60,122}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,42},{60,122}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610015_1_0008</key>
            <dict>
                <key>frame</key>
                <string>{{326,326},{60,124}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,39},{60,124}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610015_1_0009</key>
            <dict>
                <key>frame</key>
                <string>{{270,72},{58,102}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,31},{58,102}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610015_1_0010</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{68,106}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,27},{68,106}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610015_1_0011</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{68,132}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,34},{68,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610015_1_0012</key>
            <dict>
                <key>frame</key>
                <string>{{270,132},{68,130}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,33},{68,130}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610015_1_0013</key>
            <dict>
                <key>frame</key>
                <string>{{134,250},{66,130}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,34},{66,130}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610015_1_0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{66,130}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,32},{66,130}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610015_1_0015</key>
            <dict>
                <key>frame</key>
                <string>{{134,380},{58,130}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,33},{58,130}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610015_1_0016</key>
            <dict>
                <key>frame</key>
                <string>{{266,326},{58,130}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,33},{58,130}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610015_1_0017</key>
            <dict>
                <key>frame</key>
                <string>{{136,132},{58,132}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,34},{58,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610015_1_0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{58,130}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,32},{58,130}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610015_1_0019</key>
            <dict>
                <key>frame</key>
                <string>{{136,192},{56,132}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,32},{56,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610015_1_0020</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{56,130}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,34},{56,130}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610015_1_0021</key>
            <dict>
                <key>frame</key>
                <string>{{136,72},{58,132}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,32},{58,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>body610015_1_0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{56,132}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,32},{56,132}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body610015_1_Ani.png</string>
            <key>size</key>
            <string>{390,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3ec942106f32bf9eaf5c1eb7c5d0c8a$</string>
            <key>textureFileName</key>
            <string>body610015_1_Ani.png</string>
        </dict>
    </dict>
</plist>
