<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelLevelUp_boxGift_btn</key>
            <dict>
                <key>frame</key>
                <string>{{264,341},{77,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,66}}</string>
                <key>sourceSize</key>
                <string>{77,66}</string>
            </dict>
            <key>panelLevelUp_boxGift_closeBox</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{277,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,295}}</string>
                <key>sourceSize</key>
                <string>{277,295}</string>
            </dict>
            <key>panelLevelUp_boxGift_light</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{438,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,260}}</string>
                <key>sourceSize</key>
                <string>{438,260}</string>
            </dict>
            <key>panelLevelUp_boxGift_openBox</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{306,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,337}}</string>
                <key>sourceSize</key>
                <string>{306,337}</string>
            </dict>
            <key>panelLevelUp_boxGift_star1</key>
            <dict>
                <key>frame</key>
                <string>{{361,412},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>panelLevelUp_boxGift_star2</key>
            <dict>
                <key>frame</key>
                <string>{{332,341},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>panelLevelUp_boxGift_star3</key>
            <dict>
                <key>frame</key>
                <string>{{332,412},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>panelLevelUp_boxGift_star4</key>
            <dict>
                <key>frame</key>
                <string>{{264,420},{19,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,14}}</string>
                <key>sourceSize</key>
                <string>{19,14}</string>
            </dict>
            <key>panelLevelUp_boxGift_star5</key>
            <dict>
                <key>frame</key>
                <string>{{332,379},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boxGift.png</string>
            <key>size</key>
            <string>{851,442}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec2d3a28e35d58fd00197823a8967afc:1/1$</string>
            <key>textureFileName</key>
            <string>boxGift.png</string>
        </dict>
    </dict>
</plist>
