<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ccactivityindicator0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1,1},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{83,1},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,1},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{247,1},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{329,1},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{411,1},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1,82},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{83,82},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,82},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{247,82},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{329,82},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{411,82},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1,163},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{83,163},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,163},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{247,163},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{329,163},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{411,163},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1,244},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{83,244},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,244},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{247,244},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{329,244},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{411,244},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1,325},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{83,325},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,325},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{247,325},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{329,325},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{411,325},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0030</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1,406},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0031</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{83,406},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0032</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,406},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0033</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{247,406},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0034</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{329,406},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0035</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{411,406},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0036</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1,487},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0037</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{83,487},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0038</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,487},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ccactivityindicator0039</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{247,487},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>ccactivityindicator.png</string>
				<key>textureFileName</key>
				<string>ccactivityindicator</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
