<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>charmLevel_L2_0001</key>
            <dict>
                <key>frame</key>
                <string>{{318,220},{156,64}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{156,64}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>charmLevel_L2_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{156,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,30},{156,62}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>charmLevel_L2_0003</key>
            <dict>
                <key>frame</key>
                <string>{{160,274},{156,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,32},{156,62}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>charmLevel_L2_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{156,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,30},{156,64}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>charmLevel_L2_0005</key>
            <dict>
                <key>frame</key>
                <string>{{318,150},{156,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,27},{156,68}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>charmLevel_L2_0006</key>
            <dict>
                <key>frame</key>
                <string>{{160,206},{156,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,29},{156,66}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>charmLevel_L2_0007</key>
            <dict>
                <key>frame</key>
                <string>{{170,70},{158,62}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,33},{158,62}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>charmLevel_L2_0008</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,27},{166,66}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>charmLevel_L2_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,70}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,23},{166,70}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>charmLevel_L2_0010</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{160,72}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,20},{160,72}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>charmLevel_L2_0011</key>
            <dict>
                <key>frame</key>
                <string>{{160,134},{156,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,22},{156,70}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>charmLevel_L2_0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{156,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,24},{156,74}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>charmLevel_L2_0013</key>
            <dict>
                <key>frame</key>
                <string>{{330,76},{156,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,27},{156,72}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>charmLevel_L2_0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{156,68}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,31},{156,68}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>charmLevel_L2_Ani.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb77389db790745a9f0c93be7879bfd0:1/1$</string>
            <key>textureFileName</key>
            <string>charmLevel_L2_Ani.png</string>
        </dict>
    </dict>
</plist>
