<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>charmLevel_L3_0001</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{164,78}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,19},{164,78}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>charmLevel_L3_0002</key>
            <dict>
                <key>frame</key>
                <string>{{170,74},{164,76}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,17},{164,76}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>charmLevel_L3_0003</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{164,78}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,17},{164,78}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>charmLevel_L3_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{164,74}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,21},{164,74}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>charmLevel_L3_0005</key>
            <dict>
                <key>frame</key>
                <string>{{334,242},{164,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,25},{164,70}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>charmLevel_L3_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{164,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,25},{164,70}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>charmLevel_L3_0007</key>
            <dict>
                <key>frame</key>
                <string>{{168,300},{164,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,27},{164,68}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>charmLevel_L3_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,27},{174,66}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>charmLevel_L3_0009</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{172,70}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,23},{172,70}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>charmLevel_L3_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{166,72}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,20},{166,72}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>charmLevel_L3_0011</key>
            <dict>
                <key>frame</key>
                <string>{{168,228},{164,70}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,22},{164,70}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>charmLevel_L3_0012</key>
            <dict>
                <key>frame</key>
                <string>{{168,152},{164,74}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,24},{164,74}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>charmLevel_L3_0013</key>
            <dict>
                <key>frame</key>
                <string>{{334,168},{164,72}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,27},{164,72}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>charmLevel_L3_0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{164,74}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,25},{164,74}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>charmLevel_L3_Ani.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:546dc937ea8ec55459a95f32b08bae04:1/1$</string>
            <key>textureFileName</key>
            <string>charmLevel_L3_Ani.png</string>
        </dict>
    </dict>
</plist>
