<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>edge_100001_c_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{80,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,99}}</string>
                <key>sourceSize</key>
                <string>{80,99}</string>
            </dict>
            <key>edge_100001_l_0</key>
            <dict>
                <key>frame</key>
                <string>{{143,423},{55,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,79}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>edge_100001_l_1_0</key>
            <dict>
                <key>frame</key>
                <string>{{44,338},{40,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,99}}</string>
                <key>sourceSize</key>
                <string>{40,99}</string>
            </dict>
            <key>edge_100001_l_1_1</key>
            <dict>
                <key>frame</key>
                <string>{{136,237},{47,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,90}}</string>
                <key>sourceSize</key>
                <string>{47,90}</string>
            </dict>
            <key>edge_100001_l_1_2</key>
            <dict>
                <key>frame</key>
                <string>{{84,237},{50,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,92}}</string>
                <key>sourceSize</key>
                <string>{50,92}</string>
            </dict>
            <key>edge_100001_l_2_0</key>
            <dict>
                <key>frame</key>
                <string>{{408,116},{80,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,119}}</string>
                <key>sourceSize</key>
                <string>{80,119}</string>
            </dict>
            <key>edge_100001_l_2_1</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{89,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,112}}</string>
                <key>sourceSize</key>
                <string>{89,112}</string>
            </dict>
            <key>edge_100001_l_4_0</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,159}}</string>
                <key>sourceSize</key>
                <string>{160,159}</string>
            </dict>
            <key>edge_100001_r_0</key>
            <dict>
                <key>frame</key>
                <string>{{86,424},{55,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,79}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>edge_100001_r_1_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{40,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,99}}</string>
                <key>sourceSize</key>
                <string>{40,99}</string>
            </dict>
            <key>edge_100001_r_1_1</key>
            <dict>
                <key>frame</key>
                <string>{{134,331},{49,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,90}}</string>
                <key>sourceSize</key>
                <string>{49,90}</string>
            </dict>
            <key>edge_100001_r_1_2</key>
            <dict>
                <key>frame</key>
                <string>{{86,331},{46,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,91}}</string>
                <key>sourceSize</key>
                <string>{46,91}</string>
            </dict>
            <key>edge_100001_r_2_0</key>
            <dict>
                <key>frame</key>
                <string>{{326,116},{80,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,119}}</string>
                <key>sourceSize</key>
                <string>{80,119}</string>
            </dict>
            <key>edge_100001_r_2_1</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{89,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,112}}</string>
                <key>sourceSize</key>
                <string>{89,112}</string>
            </dict>
            <key>edge_100001_r_4_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,159}}</string>
                <key>sourceSize</key>
                <string>{160,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>edge_100001.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fb0d4adc6eeefb88dceb76a7d0c4c68:1/1$</string>
            <key>textureFileName</key>
            <string>edge_100001.png</string>
        </dict>
    </dict>
</plist>
