<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>edge_100002_c_0</key>
            <dict>
                <key>frame</key>
                <string>{{164,244},{80,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,99}}</string>
                <key>sourceSize</key>
                <string>{80,99}</string>
            </dict>
            <key>edge_100002_l_0</key>
            <dict>
                <key>frame</key>
                <string>{{101,324},{55,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,79}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>edge_100002_l_1_0</key>
            <dict>
                <key>frame</key>
                <string>{{44,405},{40,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,99}}</string>
                <key>sourceSize</key>
                <string>{40,99}</string>
            </dict>
            <key>edge_100002_l_2_0</key>
            <dict>
                <key>frame</key>
                <string>{{164,123},{80,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,119}}</string>
                <key>sourceSize</key>
                <string>{80,119}</string>
            </dict>
            <key>edge_100002_l_4_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{160,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,159}}</string>
                <key>sourceSize</key>
                <string>{160,159}</string>
            </dict>
            <key>edge_100002_r_0</key>
            <dict>
                <key>frame</key>
                <string>{{44,324},{55,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,79}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>edge_100002_r_1_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{40,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,99}}</string>
                <key>sourceSize</key>
                <string>{40,99}</string>
            </dict>
            <key>edge_100002_r_2_0</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{80,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,119}}</string>
                <key>sourceSize</key>
                <string>{80,119}</string>
            </dict>
            <key>edge_100002_r_4_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,159}}</string>
                <key>sourceSize</key>
                <string>{160,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>edge_100002.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:468601f7a91f094f4018b1803c8703b0:1/1$</string>
            <key>textureFileName</key>
            <string>edge_100002.png</string>
        </dict>
    </dict>
</plist>
