<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fla30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,428},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,428},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,428},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,854},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30009.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,712},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30011.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,570},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30013.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,428},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30015.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,286},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30017.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,286},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30019.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,286},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30021.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,286},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30023.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,286},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30025.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,854},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30027.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,712},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30029.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,570},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30031.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,428},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30033.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,286},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30035.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,144},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30037.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,144},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30039.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,144},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30041.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,144},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30043.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,144},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30045.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,144},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30047.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,854},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30049.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,712},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30051.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,570},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30053.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,428},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30055.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,286},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30057.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,144},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30059.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30061.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30063.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30065.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30067.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30069.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30071.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30073.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30075.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30077.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30079.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30081.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30083.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>Fla30085.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flag.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9beb255adadd6e6f8d83bdf6e7cfee18:1/1$</string>
            <key>textureFileName</key>
            <string>flag.png</string>
        </dict>
    </dict>
</plist>
