<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gaIcon_0</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{46,24}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>gaIcon_0ccw</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{46,24}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>gaIcon_0cw</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{46,24}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>gaIcon_1</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{46,24}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>gaIcon_1ccw</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{46,24}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>gaIcon_1cw</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{46,24}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>gaIcon_2</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{46,24}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>gaIcon_2ccw</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{46,24}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>gaIcon_2cw</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{46,24}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>gaIcon_3</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{46,24}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>gaIcon_3ccw</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{46,24}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>gaIcon_3cw</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{46,24}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gaIcon.png</string>
            <key>size</key>
            <string>{578,28}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:caa3aa8167848726b635ac36239d74e8:1/1$</string>
            <key>textureFileName</key>
            <string>gaIcon.png</string>
        </dict>
    </dict>
</plist>
