<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guildSailShip4_0001</key>
            <dict>
                <key>frame</key>
                <string>{{208,370},{196,184}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{196,184}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>guildSailShip4_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,188}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{200,188}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>guildSailShip4_0003</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{204,180}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{204,180}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>guildSailShip4_0004</key>
            <dict>
                <key>frame</key>
                <string>{{204,184},{196,184}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{196,184}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>guildSailShip4_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{200,186}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{200,186}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>guildSailShip4_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{204,176}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{204,176}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guildSailShip4_Ani.png</string>
            <key>size</key>
            <string>{411,558}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c38dc3d0067080dfc2a90ec63889082$</string>
            <key>textureFileName</key>
            <string>guildSailShip4_Ani.png</string>
        </dict>
    </dict>
</plist>
