<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guildSailShip2_0001</key>
            <dict>
                <key>frame</key>
                <string>{{224,164},{212,160}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{212,160}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>guildSailShip2_0002</key>
            <dict>
                <key>frame</key>
                <string>{{220,326},{216,162}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{216,162}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>guildSailShip2_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{220,152}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{220,152}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>guildSailShip2_0004</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{212,160}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{212,160}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>guildSailShip2_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{216,164}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{216,164}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>guildSailShip2_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,156}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{220,156}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guildSailShip2_Ani.png</string>
            <key>size</key>
            <string>{438,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d8e993311f1013ce38c9e71aa7015af$</string>
            <key>textureFileName</key>
            <string>guildSailShip2_Ani.png</string>
        </dict>
    </dict>
</plist>
