<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hanzi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,40},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,40},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,40},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,40},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi05.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,40},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi06.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,40},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi07.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,40},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi08.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,40},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi09.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,198},{46,12}}</string>
                <key>offset</key>
                <string>{-73,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,637},{46,12}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi10.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,430},{38,24}}</string>
                <key>offset</key>
                <string>{-72,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,623},{38,24}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi11.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,352},{30,32}}</string>
                <key>offset</key>
                <string>{-72,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,612},{30,32}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{22,42}}</string>
                <key>offset</key>
                <string>{-72,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,600},{22,42}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi13.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,458},{26,40}}</string>
                <key>offset</key>
                <string>{-72,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,603},{26,40}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi14.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,248},{32,36}}</string>
                <key>offset</key>
                <string>{-73,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,609},{32,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi15.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,304},{36,34}}</string>
                <key>offset</key>
                <string>{-73,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,613},{36,34}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{40,30}}</string>
                <key>offset</key>
                <string>{-72,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,618},{40,30}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi17.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,248},{38,30}}</string>
                <key>offset</key>
                <string>{-72,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,618},{38,30}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi18.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,248},{36,32}}</string>
                <key>offset</key>
                <string>{-72,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,616},{36,32}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi19.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,352},{76,34}}</string>
                <key>offset</key>
                <string>{-51,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,615},{76,34}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi20.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,426},{72,32}}</string>
                <key>offset</key>
                <string>{-53,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,616},{72,32}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi21.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,280},{70,36}}</string>
                <key>offset</key>
                <string>{-55,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,612},{70,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi22.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,210},{66,48}}</string>
                <key>offset</key>
                <string>{-56,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,600},{66,48}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi23.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,260},{68,42}}</string>
                <key>offset</key>
                <string>{-55,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,606},{68,42}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{70,38}}</string>
                <key>offset</key>
                <string>{-55,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,610},{70,38}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi25.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,352},{72,34}}</string>
                <key>offset</key>
                <string>{-54,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,614},{72,34}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi26.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,210},{112,34}}</string>
                <key>offset</key>
                <string>{-34,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,615},{112,34}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi27.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,246},{110,32}}</string>
                <key>offset</key>
                <string>{-35,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,616},{110,32}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi28.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,248},{106,34}}</string>
                <key>offset</key>
                <string>{-37,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,614},{106,34}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi29.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,248},{102,44}}</string>
                <key>offset</key>
                <string>{-39,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,604},{102,44}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi30.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,284},{104,40}}</string>
                <key>offset</key>
                <string>{-38,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,608},{104,40}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{104,36}}</string>
                <key>offset</key>
                <string>{-37,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,612},{104,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi32.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,122},{148,36}}</string>
                <key>offset</key>
                <string>{-16,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,614},{148,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi33.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,46},{144,34}}</string>
                <key>offset</key>
                <string>{-18,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,614},{144,34}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi34.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,160},{140,36}}</string>
                <key>offset</key>
                <string>{-20,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,612},{140,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi35.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,198},{136,48}}</string>
                <key>offset</key>
                <string>{-22,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,600},{136,48}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi36.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{138,42}}</string>
                <key>offset</key>
                <string>{-21,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,606},{138,42}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi37.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,82},{140,38}}</string>
                <key>offset</key>
                <string>{-19,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,610},{140,38}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,36}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{184,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{180,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,614},{180,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{176,40}}</string>
                <key>offset</key>
                <string>{-2,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,610},{176,40}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{170,50}}</string>
                <key>offset</key>
                <string>{-4,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,600},{170,50}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi42.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,162},{174,46}}</string>
                <key>offset</key>
                <string>{-3,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,604},{174,46}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi43.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,118},{176,42}}</string>
                <key>offset</key>
                <string>{-1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,608},{176,42}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi44.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,78},{178,38}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,612},{178,38}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi45.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{182,36}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,614},{182,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi46.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,40},{180,36}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{180,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{180,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,614},{180,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi62.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi63.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi66.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi68.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi69.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi70.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi71.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi72.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi73.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi74.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi75.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi76.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi77.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi78.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi79.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi80.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi81.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi82.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi83.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi84.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi85.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi86.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi87.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>hanzi88.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{178,36}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,614},{178,36}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>img_logo_chinese.png</string>
            <key>size</key>
            <string>{512,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b673472f02ab13ef0099315e1d2460a$</string>
            <key>textureFileName</key>
            <string>img_logo_chinese.png</string>
        </dict>
    </dict>
</plist>
