<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mall_wall_10001_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,370},{56,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,178}}</string>
                <key>sourceSize</key>
                <string>{56,178}</string>
            </dict>
            <key>mall_wall_10001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{56,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,178}}</string>
                <key>sourceSize</key>
                <string>{56,178}</string>
            </dict>
            <key>mall_wall_10001_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{80,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,177}}</string>
                <key>sourceSize</key>
                <string>{80,177}</string>
            </dict>
            <key>mall_wall_10001_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,187}}</string>
                <key>sourceSize</key>
                <string>{112,187}</string>
            </dict>
            <key>mall_wall_10001_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,370},{56,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,178}}</string>
                <key>sourceSize</key>
                <string>{56,178}</string>
            </dict>
            <key>mall_wall_10001_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{56,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,178}}</string>
                <key>sourceSize</key>
                <string>{56,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mall_wall_10001.png</string>
            <key>size</key>
            <string>{118,550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:249caf365b4aeacc0ee75b708a719b6e:1/1$</string>
            <key>textureFileName</key>
            <string>mall_wall_10001.png</string>
        </dict>
    </dict>
</plist>
