<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mall_brick_10001_0.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>mall_brick_10001_1.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>mall_brick_10001_2.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>mall_brick_10001_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>mall_brick_10001_e0.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>mall_brick_10001_e1.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>mall_brick_10001_eEnd0.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{16,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,27}}</string>
                <key>sourceSize</key>
                <string>{16,27}</string>
            </dict>
            <key>mall_brick_10001_eEnd1.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{16,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,27}}</string>
                <key>sourceSize</key>
                <string>{16,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mall_brick_10001.png</string>
            <key>size</key>
            <string>{450,44}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90ba43b4e0f6c22faab2fb333e256b28:1/1$</string>
            <key>textureFileName</key>
            <string>mall_brick_10001.png</string>
        </dict>
    </dict>
</plist>
