<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mall_door_10001_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{96,168}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,43},{96,168}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>mall_door_10001_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{96,168}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,43},{96,168}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>mall_door_10001_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{96,170}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,41},{96,170}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>mall_door_10001_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,170}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,41},{96,170}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mall_door_10001.png</string>
            <key>size</key>
            <string>{100,686}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2751f672ac536c5c2cd12ac9feebf91f:1/1$</string>
            <key>textureFileName</key>
            <string>mall_door_10001.png</string>
        </dict>
    </dict>
</plist>
