<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelShortcut_btnStar_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,336},{190,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,61}}</string>
                <key>sourceSize</key>
                <string>{190,61}</string>
            </dict>
            <key>panelShortcut_btnStar_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{190,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,61}}</string>
                <key>sourceSize</key>
                <string>{190,61}</string>
            </dict>
            <key>panelShortcut_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,24},{215,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,154}}</string>
                <key>sourceSize</key>
                <string>{215,154}</string>
            </dict>
            <key>panelShortcut_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{215,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,154}}</string>
                <key>sourceSize</key>
                <string>{215,154}</string>
            </dict>
            <key>panelShortcut_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{215,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,154}}</string>
                <key>sourceSize</key>
                <string>{215,154}</string>
            </dict>
            <key>panelShortcut_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{4,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,260}}</string>
                <key>sourceSize</key>
                <string>{4,260}</string>
            </dict>
            <key>panelShortcut_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{472,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,20}}</string>
                <key>sourceSize</key>
                <string>{472,20}</string>
            </dict>
            <key>panelShortcut_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,275},{95,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,23}}</string>
                <key>sourceSize</key>
                <string>{95,23}</string>
            </dict>
            <key>panelShortcut_tf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,300},{94,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,23}}</string>
                <key>sourceSize</key>
                <string>{94,23}</string>
            </dict>
            <key>panelShortcut_tf4.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,275},{142,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,23}}</string>
                <key>sourceSize</key>
                <string>{142,23}</string>
            </dict>
            <key>panelShortcut_tf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,300},{102,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,20}}</string>
                <key>sourceSize</key>
                <string>{102,20}</string>
            </dict>
            <key>panelShortcut_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,180},{270,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,93}}</string>
                <key>sourceSize</key>
                <string>{270,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{497,399}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ad50b579034ce94fe6ee31f5bc47338:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
