<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelCarUpgrade_expBarAlphaBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,31},{360,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,27}}</string>
                <key>sourceSize</key>
                <string>{360,27}</string>
            </dict>
            <key>panelCarUpgrade_expBarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{360,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,27}}</string>
                <key>sourceSize</key>
                <string>{360,27}</string>
            </dict>
            <key>panelCarUpgrade_expBlueBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,368},{360,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,27}}</string>
                <key>sourceSize</key>
                <string>{360,27}</string>
            </dict>
            <key>panelCarUpgrade_expGreenBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{360,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,27}}</string>
                <key>sourceSize</key>
                <string>{360,27}</string>
            </dict>
            <key>panelCarUpgrade_expTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,274},{252,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,47}}</string>
                <key>sourceSize</key>
                <string>{252,47}</string>
            </dict>
            <key>panelCarUpgrade_maxLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{423,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,141}}</string>
                <key>sourceSize</key>
                <string>{423,141}</string>
            </dict>
            <key>panelCarUpgrade_maxLevel_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>panelCarUpgrade_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,60},{83,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,24}}</string>
                <key>sourceSize</key>
                <string>{83,24}</string>
            </dict>
            <key>panelParking_caInfo_tf.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,323},{184,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,22}}</string>
                <key>sourceSize</key>
                <string>{184,22}</string>
            </dict>
            <key>panelParking_condition_5level.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,130},{184,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,221}}</string>
                <key>sourceSize</key>
                <string>{184,221}</string>
            </dict>
            <key>panelParking_condition_btnReselectCar_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,145},{184,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,221}}</string>
                <key>sourceSize</key>
                <string>{184,221}</string>
            </dict>
            <key>panelParking_condition_btnSelectCar_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,145},{184,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,221}}</string>
                <key>sourceSize</key>
                <string>{184,221}</string>
            </dict>
            <key>panelParking_condition_btnSelectCar_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{184,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,221}}</string>
                <key>sourceSize</key>
                <string>{184,221}</string>
            </dict>
            <key>panelParking_condition_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,347},{172,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,47}}</string>
                <key>sourceSize</key>
                <string>{172,47}</string>
            </dict>
            <key>parking_btnUpgrade2_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,204},{265,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,68}}</string>
                <key>sourceSize</key>
                <string>{265,68}</string>
            </dict>
            <key>parking_btnUpgrade2_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,60},{265,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,68}}</string>
                <key>sourceSize</key>
                <string>{265,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_update.png</string>
            <key>size</key>
            <string>{1013,397}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07bb7ef6a5d69819cf66c9d2eb71eee8:1/1$</string>
            <key>textureFileName</key>
            <string>material_update.png</string>
        </dict>
    </dict>
</plist>
