<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npcInfo_InfoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{747,510}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{747,510}}</string>
                <key>sourceSize</key>
                <string>{747,510}</string>
            </dict>
            <key>npcInfo_btnNextTime_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,598},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{124,58}</string>
            </dict>
            <key>npcInfo_btnNextTime_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,598},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{124,58}</string>
            </dict>
            <key>npcInfo_btnOfficeSite_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,418},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{124,58}</string>
            </dict>
            <key>npcInfo_btnOfficeSite_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,358},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{124,58}</string>
            </dict>
            <key>npcInfo_btnOk_small_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,538},{195,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,58}}</string>
                <key>sourceSize</key>
                <string>{195,58}</string>
            </dict>
            <key>npcInfo_btnOk_small_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,478},{195,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,58}}</string>
                <key>sourceSize</key>
                <string>{195,58}</string>
            </dict>
            <key>npcInfo_btnUpdate_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,634},{195,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,58}}</string>
                <key>sourceSize</key>
                <string>{195,58}</string>
            </dict>
            <key>npcInfo_btnUpdate_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,574},{195,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,58}}</string>
                <key>sourceSize</key>
                <string>{195,58}</string>
            </dict>
            <key>npcInfo_btn_Accepted_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,634},{195,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,58}}</string>
                <key>sourceSize</key>
                <string>{195,58}</string>
            </dict>
            <key>npcInfo_btn_Accepted_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,574},{195,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,58}}</string>
                <key>sourceSize</key>
                <string>{195,58}</string>
            </dict>
            <key>npcInfo_btn_Ok_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,514},{335,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,58}}</string>
                <key>sourceSize</key>
                <string>{335,58}</string>
            </dict>
            <key>npcInfo_btn_Ok_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{335,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,58}}</string>
                <key>sourceSize</key>
                <string>{335,58}</string>
            </dict>
            <key>npcInfo_btn_Refusal_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,298},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{124,58}</string>
            </dict>
            <key>npcInfo_btn_Refusal_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,514},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{124,58}</string>
            </dict>
            <key>npcInfo_btn_return_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{335,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,58}}</string>
                <key>sourceSize</key>
                <string>{335,58}</string>
            </dict>
            <key>npcInfo_btn_return_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{335,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,58}}</string>
                <key>sourceSize</key>
                <string>{335,58}</string>
            </dict>
            <key>npcInfo_lockBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,2},{166,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,162}}</string>
                <key>sourceSize</key>
                <string>{166,162}</string>
            </dict>
            <key>npcInfo_return_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,2},{60,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,420}}</string>
                <key>sourceSize</key>
                <string>{60,420}</string>
            </dict>
            <key>npcInfo_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,658},{94,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,22}}</string>
                <key>sourceSize</key>
                <string>{94,22}</string>
            </dict>
            <key>npcInfo_unLockBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,166},{172,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,130}}</string>
                <key>sourceSize</key>
                <string>{172,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{999,694}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ade9841c061463c21e763b6e34d0b6c:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
