<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelCommunity_bid_bgInner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{40,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,355}}</string>
                <key>sourceSize</key>
                <string>{40,355}</string>
            </dict>
            <key>panelCommunity_bid_bgSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,54}}</string>
                <key>sourceSize</key>
                <string>{194,54}</string>
            </dict>
            <key>panelCommunity_bid_bgStroke.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,58},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>panelCommunity_bid_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,141},{103,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,23}}</string>
                <key>sourceSize</key>
                <string>{103,23}</string>
            </dict>
            <key>panelCommunity_bid_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,116},{103,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,23}}</string>
                <key>sourceSize</key>
                <string>{103,23}</string>
            </dict>
            <key>panelCommunity_bid_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,58},{103,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,56}}</string>
                <key>sourceSize</key>
                <string>{103,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_bid.png</string>
            <key>size</key>
            <string>{198,415}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73699ca61b45d350800ea3935fcdf7ef:1/1$</string>
            <key>textureFileName</key>
            <string>material_bid.png</string>
        </dict>
    </dict>
</plist>
