<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mallPanleShelfUpdate_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{72,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{72,80}</string>
            </dict>
            <key>mallPanleShelfUpdate_btnBuy_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,68},{104,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,54}}</string>
                <key>sourceSize</key>
                <string>{104,54}</string>
            </dict>
            <key>mallPanleShelfUpdate_btnBuy_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,124},{104,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,54}}</string>
                <key>sourceSize</key>
                <string>{104,54}</string>
            </dict>
            <key>mallPanleShelfUpdate_btnBuy_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,84},{104,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,54}}</string>
                <key>sourceSize</key>
                <string>{104,54}</string>
            </dict>
            <key>mallPanleShelfUpdate_btnUpgrade_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,68}}</string>
                <key>sourceSize</key>
                <string>{260,68}</string>
            </dict>
            <key>mallPanleShelfUpdate_btnUpgrade_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{260,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,68}}</string>
                <key>sourceSize</key>
                <string>{260,68}</string>
            </dict>
            <key>mallPanleShelfUpdate_btnUpgrade_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{260,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,68}}</string>
                <key>sourceSize</key>
                <string>{260,68}</string>
            </dict>
            <key>mallPanleShelfUpdate_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{146,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,38}}</string>
                <key>sourceSize</key>
                <string>{146,38}</string>
            </dict>
            <key>mallPanleShelfUpdate_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,68},{4,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,142}}</string>
                <key>sourceSize</key>
                <string>{4,142}</string>
            </dict>
            <key>mallPanleShelfUpdate_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,180},{96,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,24}}</string>
                <key>sourceSize</key>
                <string>{96,24}</string>
            </dict>
            <key>mallPanleShelfUpdate_tfLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,166},{48,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>mallPanleShelfUpdate_tfRestTime.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,42},{142,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,24}}</string>
                <key>sourceSize</key>
                <string>{142,24}</string>
            </dict>
            <key>mallPanleShelfUpdate_tfSingle.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,140},{96,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,24}}</string>
                <key>sourceSize</key>
                <string>{96,24}</string>
            </dict>
            <key>mallPanleShelfUpdate_tfTotal.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,166},{48,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Material_upgrade.png</string>
            <key>size</key>
            <string>{486,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1301c7de16447b89048a000057259813:dc867724f26a2b2e42d2a6e041d94589:1cd6a3d681c1967d5721b3ad0228829d$</string>
            <key>textureFileName</key>
            <string>Material_upgrade.png</string>
        </dict>
    </dict>
</plist>
