<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>storage_expand_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,24},{115,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,40}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>storage_expand_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,24},{115,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,40}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>storage_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>storage_item_things_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,66},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,33}</string>
            </dict>
            <key>storage_number_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,88},{236,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,30}}</string>
                <key>sourceSize</key>
                <string>{236,30}</string>
            </dict>
            <key>storage_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,24},{118,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,62}}</string>
                <key>sourceSize</key>
                <string>{118,62}</string>
            </dict>
            <key>storage_words.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{326,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,20}}</string>
                <key>sourceSize</key>
                <string>{326,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_storage.png</string>
            <key>size</key>
            <string>{473,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01984b86bada100b308cb87c8df5929b:1/1$</string>
            <key>textureFileName</key>
            <string>material_storage.png</string>
        </dict>
    </dict>
</plist>
