<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>info_guildApp_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,94},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>info_guildApp_tf.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,138},{85,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,25}}</string>
                <key>sourceSize</key>
                <string>{85,25}</string>
            </dict>
            <key>info_guildBoard_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>info_guildBoard_tf.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,2},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>info_guildBoss_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,94},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>info_guildBoss_tf.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,149},{98,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,25}}</string>
                <key>sourceSize</key>
                <string>{98,25}</string>
            </dict>
            <key>info_guildFollower_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>info_guildFollower_tf.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,111},{85,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,25}}</string>
                <key>sourceSize</key>
                <string>{85,25}</string>
            </dict>
            <key>info_guildMsg_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,94},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>info_guildMsg_tf.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,2},{44,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,24}}</string>
                <key>sourceSize</key>
                <string>{44,24}</string>
            </dict>
            <key>info_guildQuest_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>info_guildQuest_tf.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,84},{86,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,25}}</string>
                <key>sourceSize</key>
                <string>{86,25}</string>
            </dict>
            <key>info_guildRewardQuest_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,94},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>info_guildRewardQuest_tf.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,57},{86,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,25}}</string>
                <key>sourceSize</key>
                <string>{86,25}</string>
            </dict>
            <key>info_guildSail_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>info_guildSail_tf.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,30},{86,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,25}}</string>
                <key>sourceSize</key>
                <string>{86,25}</string>
            </dict>
            <key>mainUI_guild_backTown_tf.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,149},{45,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,25}}</string>
                <key>sourceSize</key>
                <string>{45,25}</string>
            </dict>
            <key>mainUI_guild_btnApp_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,87},{164,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,60}}</string>
                <key>sourceSize</key>
                <string>{164,60}</string>
            </dict>
            <key>mainUI_guild_btnApp_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,115},{164,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,60}}</string>
                <key>sourceSize</key>
                <string>{164,60}</string>
            </dict>
            <key>mainUI_guild_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,111}}</string>
                <key>sourceSize</key>
                <string>{324,111}</string>
            </dict>
            <key>mainUI_guild_info_charmBarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{173,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,62}}</string>
                <key>sourceSize</key>
                <string>{173,62}</string>
            </dict>
            <key>mainUI_guild_info_subBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{115,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,83}}</string>
                <key>sourceSize</key>
                <string>{115,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_guild.png</string>
            <key>size</key>
            <string>{965,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56d7e6b5ac17aa13957f61966ea5a725:1/1$</string>
            <key>textureFileName</key>
            <string>material_guild.png</string>
        </dict>
    </dict>
</plist>
