<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mapSavingState_btnCancel_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,55},{156,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,51}}</string>
                <key>sourceSize</key>
                <string>{156,51}</string>
            </dict>
            <key>mapSavingState_btnCancel_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{156,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,51}}</string>
                <key>sourceSize</key>
                <string>{156,51}</string>
            </dict>
            <key>mapSavingState_btnDone_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,55},{150,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,51}}</string>
                <key>sourceSize</key>
                <string>{150,51}</string>
            </dict>
            <key>mapSavingState_btnDone_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,55},{150,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,51}}</string>
                <key>sourceSize</key>
                <string>{150,51}</string>
            </dict>
            <key>mapSavingState_btnMine_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{156,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,51}}</string>
                <key>sourceSize</key>
                <string>{156,51}</string>
            </dict>
            <key>mapSavingState_btnMine_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,51}}</string>
                <key>sourceSize</key>
                <string>{156,51}</string>
            </dict>
            <key>mapSavingState_btnSave_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{150,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,51}}</string>
                <key>sourceSize</key>
                <string>{150,51}</string>
            </dict>
            <key>mapSavingState_btnSave_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{150,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,51}}</string>
                <key>sourceSize</key>
                <string>{150,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_mapSaving.png</string>
            <key>size</key>
            <string>{622,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92b57393e8ecb8f10be92c7a52af4e48:1/1$</string>
            <key>textureFileName</key>
            <string>material_mapSaving.png</string>
        </dict>
    </dict>
</plist>
