<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Upload_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{439,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,278}}</string>
                <key>sourceSize</key>
                <string>{439,278}</string>
            </dict>
            <key>Upload_camera_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,282},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>Upload_camera_words.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,430},{95,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,23}}</string>
                <key>sourceSize</key>
                <string>{95,23}</string>
            </dict>
            <key>Upload_phone_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>Upload_phone_words.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{191,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,23}}</string>
                <key>sourceSize</key>
                <string>{191,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_upload.png</string>
            <key>size</key>
            <string>{443,455}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cef60e0a304e83b13342b2a74845555:1/1$</string>
            <key>textureFileName</key>
            <string>material_upload.png</string>
        </dict>
    </dict>
</plist>
