<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Quantity_words.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,442},{48,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,23}}</string>
                <key>sourceSize</key>
                <string>{48,23}</string>
            </dict>
            <key>btnOffShelf_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,582},{328,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,68}}</string>
                <key>sourceSize</key>
                <string>{328,68}</string>
            </dict>
            <key>btnOffShelf_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,512},{328,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,68}}</string>
                <key>sourceSize</key>
                <string>{328,68}</string>
            </dict>
            <key>btnOffShelf_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,442},{328,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,68}}</string>
                <key>sourceSize</key>
                <string>{328,68}</string>
            </dict>
            <key>btn_addShelf_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,862},{271,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,68}}</string>
                <key>sourceSize</key>
                <string>{271,68}</string>
            </dict>
            <key>btn_addShelf_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,792},{271,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,68}}</string>
                <key>sourceSize</key>
                <string>{271,68}</string>
            </dict>
            <key>btn_offShelf_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,722},{271,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,68}}</string>
                <key>sourceSize</key>
                <string>{271,68}</string>
            </dict>
            <key>btn_offShelf_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,652},{271,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,68}}</string>
                <key>sourceSize</key>
                <string>{271,68}</string>
            </dict>
            <key>offShelf_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{376,539}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,539}}</string>
                <key>sourceSize</key>
                <string>{376,539}</string>
            </dict>
            <key>panelTradeConfirm_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{40,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,490}}</string>
                <key>sourceSize</key>
                <string>{40,490}</string>
            </dict>
            <key>panelTradeConfirm_booth_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{389,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,228}}</string>
                <key>sourceSize</key>
                <string>{389,228}</string>
            </dict>
            <key>panelTradeConfirm_btnSell_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,372},{389,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,68}}</string>
                <key>sourceSize</key>
                <string>{389,68}</string>
            </dict>
            <key>panelTradeConfirm_btnSell_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{389,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,68}}</string>
                <key>sourceSize</key>
                <string>{389,68}</string>
            </dict>
            <key>panelTradeConfirm_sell_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{389,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,278}}</string>
                <key>sourceSize</key>
                <string>{389,278}</string>
            </dict>
            <key>panelTradeObjectInfo_tf_totalPrice.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,494},{96,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,23}}</string>
                <key>sourceSize</key>
                <string>{96,23}</string>
            </dict>
            <key>sell_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,302},{389,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,68}}</string>
                <key>sourceSize</key>
                <string>{389,68}</string>
            </dict>
            <key>sell_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{389,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,68}}</string>
                <key>sourceSize</key>
                <string>{389,68}</string>
            </dict>
            <key>sell_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,232},{389,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,68}}</string>
                <key>sourceSize</key>
                <string>{389,68}</string>
            </dict>
            <key>tab_noSelect_Booth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,871},{171,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,71}}</string>
                <key>sourceSize</key>
                <string>{171,71}</string>
            </dict>
            <key>tab_noSelect_shop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,798},{171,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,71}}</string>
                <key>sourceSize</key>
                <string>{171,71}</string>
            </dict>
            <key>tab_select_Booth2.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,725},{171,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,71}}</string>
                <key>sourceSize</key>
                <string>{171,71}</string>
            </dict>
            <key>tab_select_shop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,652},{171,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,71}}</string>
                <key>sourceSize</key>
                <string>{171,71}</string>
            </dict>
            <key>univalent_words.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,467},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material..png</string>
            <key>size</key>
            <string>{826,977}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4164b83b07c94ecfe14c5d71d182c36d:1/1$</string>
            <key>textureFileName</key>
            <string>material..png</string>
        </dict>
    </dict>
</plist>
