<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelWishInfo_menu_friend_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,63},{179,59}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{179,59}}</string>
                <key>sourceSize</key>
                <string>{179,71}</string>
            </dict>
            <key>panelWishInfo_menu_friend_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,45},{179,41}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{179,41}}</string>
                <key>sourceSize</key>
                <string>{179,71}</string>
            </dict>
            <key>panelWishInfo_menu_giftLog_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{179,59}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{179,59}}</string>
                <key>sourceSize</key>
                <string>{179,71}</string>
            </dict>
            <key>panelWishInfo_menu_giftLog_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{179,41}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{179,41}}</string>
                <key>sourceSize</key>
                <string>{179,71}</string>
            </dict>
            <key>panelWishInfo_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,88},{94,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,35}}</string>
                <key>sourceSize</key>
                <string>{94,35}</string>
            </dict>
            <key>panelWishInfo_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,88},{95,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,34}}</string>
                <key>sourceSize</key>
                <string>{95,34}</string>
            </dict>
            <key>panelWishInfo_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,91}}</string>
                <key>sourceSize</key>
                <string>{292,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_wishInfo.png</string>
            <key>size</key>
            <string>{670,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0aac193f6ede1898f06ff37221b0f77:1/1$</string>
            <key>textureFileName</key>
            <string>material_wishInfo.png</string>
        </dict>
    </dict>
</plist>
