<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelQuestComplete_bg_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{280,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,212}}</string>
                <key>sourceSize</key>
                <string>{280,212}</string>
            </dict>
            <key>panelQuestComplete_bg_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{846,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{846,290}}</string>
                <key>sourceSize</key>
                <string>{846,290}</string>
            </dict>
            <key>panelQuestComplete_btn_ok_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,366},{243,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,70}}</string>
                <key>sourceSize</key>
                <string>{243,70}</string>
            </dict>
            <key>panelQuestComplete_btn_ok_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,294},{243,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,70}}</string>
                <key>sourceSize</key>
                <string>{243,70}</string>
            </dict>
            <key>panelQuestComplete_pic_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,438},{147,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,62}}</string>
                <key>sourceSize</key>
                <string>{147,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_questComplete.png</string>
            <key>size</key>
            <string>{850,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:615074e17e9941d1ebc8ae82e1d13784:1/1$</string>
            <key>textureFileName</key>
            <string>material_questComplete.png</string>
        </dict>
    </dict>
</plist>
