<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerInfo_PlayerInfo_Menu_01_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,470},{164,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,70}}</string>
                <key>sourceSize</key>
                <string>{164,70}</string>
            </dict>
            <key>playerInfo_PlayerInfo_Menu_01_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,398},{164,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,70}}</string>
                <key>sourceSize</key>
                <string>{164,70}</string>
            </dict>
            <key>playerInfo_PlayerInfo_Menu_02_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,98},{164,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,70}}</string>
                <key>sourceSize</key>
                <string>{164,70}</string>
            </dict>
            <key>playerInfo_PlayerInfo_Menu_02_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,538},{164,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,70}}</string>
                <key>sourceSize</key>
                <string>{164,70}</string>
            </dict>
            <key>playerInfo_PlayerInfo_Menu_03_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,466},{164,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,70}}</string>
                <key>sourceSize</key>
                <string>{164,70}</string>
            </dict>
            <key>playerInfo_PlayerInfo_Menu_03_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,394},{164,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,70}}</string>
                <key>sourceSize</key>
                <string>{164,70}</string>
            </dict>
            <key>playerInfo_QQOpen_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,77},{205,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,62}}</string>
                <key>sourceSize</key>
                <string>{205,62}</string>
            </dict>
            <key>playerInfo_QQOpen_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,2},{205,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,62}}</string>
                <key>sourceSize</key>
                <string>{205,62}</string>
            </dict>
            <key>playerInfo_avatarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,281},{202,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,202}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>playerInfo_avatarBgStroke.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,77},{202,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,202}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>playerInfo_avatarNPC_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,135},{77,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,20}}</string>
                <key>sourceSize</key>
                <string>{77,20}</string>
            </dict>
            <key>playerInfo_avatarStageBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,141},{147,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,90}}</string>
                <key>sourceSize</key>
                <string>{147,90}</string>
            </dict>
            <key>playerInfo_avatarVisitor_Stroke.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,391},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>playerInfo_avatarVisitor_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,289},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>playerInfo_btnAddPhoto_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,170},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>playerInfo_btnAddPhoto_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,352},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>playerInfo_btnComments_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,284},{142,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,112}}</string>
                <key>sourceSize</key>
                <string>{142,112}</string>
            </dict>
            <key>playerInfo_btnComments_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,170},{142,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,112}}</string>
                <key>sourceSize</key>
                <string>{142,112}</string>
            </dict>
            <key>playerInfo_btnDelMessage_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,157},{63,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,44}}</string>
                <key>sourceSize</key>
                <string>{63,44}</string>
            </dict>
            <key>playerInfo_btnDelMessage_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,542},{63,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,44}}</string>
                <key>sourceSize</key>
                <string>{63,44}</string>
            </dict>
            <key>playerInfo_btnDel_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,203},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>playerInfo_btnDel_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,471},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>playerInfo_btnFollow_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,542},{143,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,54}}</string>
                <key>sourceSize</key>
                <string>{143,54}</string>
            </dict>
            <key>playerInfo_btnFollow_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,527},{143,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,54}}</string>
                <key>sourceSize</key>
                <string>{143,54}</string>
            </dict>
            <key>playerInfo_btnPrivateMessage_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{167,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,40}}</string>
                <key>sourceSize</key>
                <string>{167,40}</string>
            </dict>
            <key>playerInfo_btnPrivateMessage_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,527},{167,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,40}}</string>
                <key>sourceSize</key>
                <string>{167,40}</string>
            </dict>
            <key>playerInfo_btnPrivateMessage_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,485},{167,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,40}}</string>
                <key>sourceSize</key>
                <string>{167,40}</string>
            </dict>
            <key>playerInfo_btnReply_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,94},{107,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,39}}</string>
                <key>sourceSize</key>
                <string>{107,39}</string>
            </dict>
            <key>playerInfo_btnReply_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,594},{107,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,39}}</string>
                <key>sourceSize</key>
                <string>{107,39}</string>
            </dict>
            <key>playerInfo_btnSet.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,552},{94,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,40}}</string>
                <key>sourceSize</key>
                <string>{94,40}</string>
            </dict>
            <key>playerInfo_btnSet_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,98},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>playerInfo_btnSet_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>playerInfo_btnUnfollow_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,471},{143,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,54}}</string>
                <key>sourceSize</key>
                <string>{143,54}</string>
            </dict>
            <key>playerInfo_btnUnfollow_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,493},{143,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,54}}</string>
                <key>sourceSize</key>
                <string>{143,54}</string>
            </dict>
            <key>playerInfo_btnWriteMessage_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,591},{123,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,42}}</string>
                <key>sourceSize</key>
                <string>{123,42}</string>
            </dict>
            <key>playerInfo_btnWriteMessage_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,583},{123,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,42}}</string>
                <key>sourceSize</key>
                <string>{123,42}</string>
            </dict>
            <key>playerInfo_btn_descriptionBg_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,233},{49,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,210}}</string>
                <key>sourceSize</key>
                <string>{49,210}</string>
            </dict>
            <key>playerInfo_btn_descriptionBg_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,238},{49,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,210}}</string>
                <key>sourceSize</key>
                <string>{49,210}</string>
            </dict>
            <key>playerInfo_charmBar_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,611},{141,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,22}}</string>
                <key>sourceSize</key>
                <string>{141,22}</string>
            </dict>
            <key>playerInfo_charmBar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,598},{149,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,30}}</string>
                <key>sourceSize</key>
                <string>{149,30}</string>
            </dict>
            <key>playerInfo_charmTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,605},{98,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,28}}</string>
                <key>sourceSize</key>
                <string>{98,28}</string>
            </dict>
            <key>playerInfo_commentsBg_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,450},{59,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,100}}</string>
                <key>sourceSize</key>
                <string>{59,100}</string>
            </dict>
            <key>playerInfo_commentsBg_private.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,391},{59,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,100}}</string>
                <key>sourceSize</key>
                <string>{59,100}</string>
            </dict>
            <key>playerInfo_commentsBg_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,289},{59,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,100}}</string>
                <key>sourceSize</key>
                <string>{59,100}</string>
            </dict>
            <key>playerInfo_commentsInfo_secret.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,67},{99,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,25}}</string>
                <key>sourceSize</key>
                <string>{99,25}</string>
            </dict>
            <key>playerInfo_commentsVoiceBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,549},{80,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,54}}</string>
                <key>sourceSize</key>
                <string>{80,54}</string>
            </dict>
            <key>playerInfo_commentsVoiceIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,135},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>playerInfo_iconPrivate.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,141},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,25}}</string>
                <key>sourceSize</key>
                <string>{21,25}</string>
            </dict>
            <key>playerInfo_iconSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,250},{49,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,37}}</string>
                <key>sourceSize</key>
                <string>{49,37}</string>
            </dict>
            <key>playerInfo_iconWrite.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,485},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>playerInfo_noMessageInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,77},{240,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,159}}</string>
                <key>sourceSize</key>
                <string>{240,159}</string>
            </dict>
            <key>playerInfo_panelFriendInfo_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{404,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,73}}</string>
                <key>sourceSize</key>
                <string>{404,73}</string>
            </dict>
            <key>playerInfo_panelPlayerInfo_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,549},{124,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,40}}</string>
                <key>sourceSize</key>
                <string>{124,40}</string>
            </dict>
            <key>playerInfo_panelPlayerInfo_innerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{14,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,450}}</string>
                <key>sourceSize</key>
                <string>{14,450}</string>
            </dict>
            <key>playerInfo_panelPlayerInfo_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{315,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,73}}</string>
                <key>sourceSize</key>
                <string>{315,73}</string>
            </dict>
            <key>playerInfo_photoStroke.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,233},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>playerInfo_qqVipIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,157},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>playerInfo_tfInfo_noVisitor.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,610},{142,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,23}}</string>
                <key>sourceSize</key>
                <string>{142,23}</string>
            </dict>
            <key>playerInfo_title_Visitor.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,66},{168,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,30}}</string>
                <key>sourceSize</key>
                <string>{168,30}</string>
            </dict>
            <key>playerInfo_visitInfoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,238},{201,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,154}}</string>
                <key>sourceSize</key>
                <string>{201,154}</string>
            </dict>
            <key>playerInfo_wxVipIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,493},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{1012,635}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74775825b8f0b5600c7af438ba28d423:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
