<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shop_DetailTip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,204},{218,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,169}}</string>
                <key>sourceSize</key>
                <string>{218,169}</string>
            </dict>
            <key>Shop_Item_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,375},{40,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,442}}</string>
                <key>sourceSize</key>
                <string>{40,442}</string>
            </dict>
            <key>Shop_Item_Bg_imgGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{270,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,200}}</string>
                <key>sourceSize</key>
                <string>{270,200}</string>
            </dict>
            <key>Shop_Item_Bg_imgRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,237},{270,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,200}}</string>
                <key>sourceSize</key>
                <string>{270,200}</string>
            </dict>
            <key>Shop_Item_ThemeBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,375},{70,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,442}}</string>
                <key>sourceSize</key>
                <string>{70,442}</string>
            </dict>
            <key>Shop_Item_ThemeStroke.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,375},{40,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,404}}</string>
                <key>sourceSize</key>
                <string>{40,404}</string>
            </dict>
            <key>Shop_Item_currentBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,482}}</string>
                <key>sourceSize</key>
                <string>{100,482}</string>
            </dict>
            <key>Shop_Item_icon_Lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,694},{56,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,66}}</string>
                <key>sourceSize</key>
                <string>{56,66}</string>
            </dict>
            <key>Shop_Item_icon_New.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,251},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Shop_Item_limit_tf.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,860},{46,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>Shop_Item_tfHave.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,860},{45,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,23}}</string>
                <key>sourceSize</key>
                <string>{45,23}</string>
            </dict>
            <key>Shop_Menu_01_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,782},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>Shop_Menu_01_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,680},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>Shop_Menu_02_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,680},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>Shop_Menu_02_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,578},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>Shop_Menu_03_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,578},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>Shop_Menu_03_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,783},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>Shop_Menu_04_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,681},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>Shop_Menu_04_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,579},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>Shop_Menu_05_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,476},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>Shop_Menu_05_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,374},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>Shop_Menu_06_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,476},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>Shop_Menu_06_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,374},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>Shop_Menu_07_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,477},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>Shop_Menu_07_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,375},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>Shop_Menu_10_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,775},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>Shop_Menu_10_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,775},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>Shop_Menu_Icon_New.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,204},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>Shop_title_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,775},{198,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,84}}</string>
                <key>sourceSize</key>
                <string>{198,84}</string>
            </dict>
            <key>btn_ObjectDetail_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,712},{106,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,121}}</string>
                <key>sourceSize</key>
                <string>{106,121}</string>
            </dict>
            <key>btn_ObjectDetail_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,589},{106,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,121}}</string>
                <key>sourceSize</key>
                <string>{106,121}</string>
            </dict>
            <key>btn_ObjectDetail_tf.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,860},{45,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,23}}</string>
                <key>sourceSize</key>
                <string>{45,23}</string>
            </dict>
            <key>buildingDetail_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{302,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,233}}</string>
                <key>sourceSize</key>
                <string>{302,233}</string>
            </dict>
            <key>buildingDetail_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{302,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,163}}</string>
                <key>sourceSize</key>
                <string>{302,163}</string>
            </dict>
            <key>panelShopItem_landscapeTip_check_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,782},{71,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,55}}</string>
                <key>sourceSize</key>
                <string>{71,55}</string>
            </dict>
            <key>panelShopItem_landscapeTip_check_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,819},{71,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,55}}</string>
                <key>sourceSize</key>
                <string>{71,55}</string>
            </dict>
            <key>panelShopItem_landscapeTip_check_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,637},{71,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,55}}</string>
                <key>sourceSize</key>
                <string>{71,55}</string>
            </dict>
            <key>panelShopItem_map_innerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{40,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,277}}</string>
                <key>sourceSize</key>
                <string>{40,277}</string>
            </dict>
            <key>panelShopItem_map_tf.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,835},{190,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,23}}</string>
                <key>sourceSize</key>
                <string>{190,23}</string>
            </dict>
            <key>panelShop_btn_GiftDetail_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,514},{106,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,121}}</string>
                <key>sourceSize</key>
                <string>{106,121}</string>
            </dict>
            <key>panelShop_btn_GiftDetail_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,251},{106,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,121}}</string>
                <key>sourceSize</key>
                <string>{106,121}</string>
            </dict>
            <key>shop_belt_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,700},{280,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,73}}</string>
                <key>sourceSize</key>
                <string>{280,73}</string>
            </dict>
            <key>shop_belt_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,439},{280,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,73}}</string>
                <key>sourceSize</key>
                <string>{280,73}</string>
            </dict>
            <key>shop_belt_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,167},{282,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,82}}</string>
                <key>sourceSize</key>
                <string>{282,82}</string>
            </dict>
            <key>shop_item_bg_iconOwn.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,251},{158,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,117}}</string>
                <key>sourceSize</key>
                <string>{158,117}</string>
            </dict>
            <key>shop_item_bg_iconUsing.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,514},{263,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,184}}</string>
                <key>sourceSize</key>
                <string>{263,184}</string>
            </dict>
            <key>shop_item_stroke.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,375},{40,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,212}}</string>
                <key>sourceSize</key>
                <string>{40,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{993,885}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:087982f61f175dffd8311b6f1d6a9f5e:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
