<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>input_Renamed_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{719,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{719,118}}</string>
                <key>sourceSize</key>
                <string>{719,118}</string>
            </dict>
            <key>input_Renamed_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{171,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,53}}</string>
                <key>sourceSize</key>
                <string>{171,53}</string>
            </dict>
            <key>input_barBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,90},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>input_send_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,2},{40,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,152}}</string>
                <key>sourceSize</key>
                <string>{40,152}</string>
            </dict>
            <key>input_send_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,122},{170,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,58}}</string>
                <key>sourceSize</key>
                <string>{170,58}</string>
            </dict>
            <key>input_send_btn_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,122},{170,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,58}}</string>
                <key>sourceSize</key>
                <string>{170,58}</string>
            </dict>
            <key>input_send_innerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,2},{40,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,110}}</string>
                <key>sourceSize</key>
                <string>{40,110}</string>
            </dict>
            <key>input_tfBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,90},{3,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,66}}</string>
                <key>sourceSize</key>
                <string>{3,66}</string>
            </dict>
            <key>input_voice_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,2},{56,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,86}}</string>
                <key>sourceSize</key>
                <string>{56,86}</string>
            </dict>
            <key>input_voice_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,90},{14,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,41}}</string>
                <key>sourceSize</key>
                <string>{14,41}</string>
            </dict>
            <key>input_voice_tf.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,122},{94,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,50}}</string>
                <key>sourceSize</key>
                <string>{94,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_input.png</string>
            <key>size</key>
            <string>{865,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e94e393a501945a3400d700033f6486:1/1$</string>
            <key>textureFileName</key>
            <string>material_input.png</string>
        </dict>
    </dict>
</plist>
