<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnAddFriend_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,677},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>btnAddFriend_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,547},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>btnClear_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,358},{198,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,85}}</string>
                <key>sourceSize</key>
                <string>{198,85}</string>
            </dict>
            <key>btnClear_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,271},{198,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,85}}</string>
                <key>sourceSize</key>
                <string>{198,85}</string>
            </dict>
            <key>btnDel.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,390},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{38,42}</string>
            </dict>
            <key>btnDelItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,386},{130,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,159}}</string>
                <key>sourceSize</key>
                <string>{130,159}</string>
            </dict>
            <key>btnDel_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,568},{96,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,40}}</string>
                <key>sourceSize</key>
                <string>{96,40}</string>
            </dict>
            <key>btnDel_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,526},{96,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,40}}</string>
                <key>sourceSize</key>
                <string>{96,40}</string>
            </dict>
            <key>btnEditEnd_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,733},{87,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,39}}</string>
                <key>sourceSize</key>
                <string>{87,39}</string>
            </dict>
            <key>btnEditEnd_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,692},{87,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,39}}</string>
                <key>sourceSize</key>
                <string>{87,39}</string>
            </dict>
            <key>btnEdit_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,651},{87,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,39}}</string>
                <key>sourceSize</key>
                <string>{87,39}</string>
            </dict>
            <key>btnEdit_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,154},{87,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,39}}</string>
                <key>sourceSize</key>
                <string>{87,39}</string>
            </dict>
            <key>btnItem_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,386},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>btnMore_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,277},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>btnMore_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,236},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>btnOption_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,723},{199,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,58}}</string>
                <key>sourceSize</key>
                <string>{199,58}</string>
            </dict>
            <key>btnOption_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,395},{199,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,58}}</string>
                <key>sourceSize</key>
                <string>{199,58}</string>
            </dict>
            <key>btnOption_iconAll.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,915},{157,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,27}}</string>
                <key>sourceSize</key>
                <string>{157,27}</string>
            </dict>
            <key>btnOption_iconBoy.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,738},{165,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,49}}</string>
                <key>sourceSize</key>
                <string>{165,49}</string>
            </dict>
            <key>btnOption_iconGirl.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,789},{162,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,49}}</string>
                <key>sourceSize</key>
                <string>{162,49}</string>
            </dict>
            <key>panelFriendChoose_tfInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{576,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,24}}</string>
                <key>sourceSize</key>
                <string>{576,24}</string>
            </dict>
            <key>panelFriendChoose_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{354,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,73}}</string>
                <key>sourceSize</key>
                <string>{354,73}</string>
            </dict>
            <key>panelFriend_Menu_01_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,885},{164,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,100}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>panelFriend_Menu_01_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,783},{164,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,100}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>panelFriend_Menu_02_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,526},{164,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,100}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>panelFriend_Menu_02_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,621},{164,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,100}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>panelFriend_Menu_03_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,519},{184,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,100}}</string>
                <key>sourceSize</key>
                <string>{184,100}</string>
            </dict>
            <key>panelFriend_Menu_03_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,911},{184,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,100}}</string>
                <key>sourceSize</key>
                <string>{184,100}</string>
            </dict>
            <key>panelFriend_Menu_04_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,519},{164,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,100}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>panelFriend_Menu_04_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,621},{164,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,100}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>panelFriend_Menu_05_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,909},{164,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,100}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>panelFriend_Menu_05_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,807},{164,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,100}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>panelFriend_addFriend_btnRule_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,610},{114,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,39}}</string>
                <key>sourceSize</key>
                <string>{114,39}</string>
            </dict>
            <key>panelFriend_addFriend_btnRule_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,318},{114,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,39}}</string>
                <key>sourceSize</key>
                <string>{114,39}</string>
            </dict>
            <key>panelFriend_addFriends_tfInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,445},{253,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,24}}</string>
                <key>sourceSize</key>
                <string>{253,24}</string>
            </dict>
            <key>panelFriend_btnSort_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,195},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>panelFriend_btnSort_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,838},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>panelFriend_filterPanelBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{50,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,294}}</string>
                <key>sourceSize</key>
                <string>{50,294}</string>
            </dict>
            <key>panelFriend_filterPanelTf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,987},{96,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,23}}</string>
                <key>sourceSize</key>
                <string>{96,23}</string>
            </dict>
            <key>panelFriend_filterPanelTf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,989},{94,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,23}}</string>
                <key>sourceSize</key>
                <string>{94,23}</string>
            </dict>
            <key>panelFriend_info_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,723},{122,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,113}}</string>
                <key>sourceSize</key>
                <string>{122,113}</string>
            </dict>
            <key>panelFriend_info_searching.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{172,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,203}}</string>
                <key>sourceSize</key>
                <string>{172,203}</string>
            </dict>
            <key>panelFriend_info_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,104},{398,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,48}}</string>
                <key>sourceSize</key>
                <string>{398,48}</string>
            </dict>
            <key>panelFriend_info_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,504},{229,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,20}}</string>
                <key>sourceSize</key>
                <string>{229,20}</string>
            </dict>
            <key>panelFriend_info_tf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,471},{249,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,24}}</string>
                <key>sourceSize</key>
                <string>{249,24}</string>
            </dict>
            <key>panelFriend_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,751},{130,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,158}}</string>
                <key>sourceSize</key>
                <string>{130,158}</string>
            </dict>
            <key>panelFriend_item_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,591},{130,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,158}}</string>
                <key>sourceSize</key>
                <string>{130,158}</string>
            </dict>
            <key>panelFriend_item_iconCollect.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,224},{136,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,139}}</string>
                <key>sourceSize</key>
                <string>{136,139}</string>
            </dict>
            <key>panelFriend_item_iconDone.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,271},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>panelFriend_item_iconGo.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,944},{35,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>panelFriend_item_iconHeart.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,445},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>panelFriend_item_iconHelp.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,697},{47,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,43}}</string>
                <key>sourceSize</key>
                <string>{47,43}</string>
            </dict>
            <key>panelFriend_item_iconMutual.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,651},{39,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,44}}</string>
                <key>sourceSize</key>
                <string>{39,44}</string>
            </dict>
            <key>panelFriend_item_iconQQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,222},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>panelFriend_item_iconWX.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,390},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>panelFriend_item_label1.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,908},{58,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,24}}</string>
                <key>sourceSize</key>
                <string>{58,24}</string>
            </dict>
            <key>panelFriend_item_label2.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,856},{74,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,24}}</string>
                <key>sourceSize</key>
                <string>{74,24}</string>
            </dict>
            <key>panelFriend_menuTipTf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,222},{263,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,47}}</string>
                <key>sourceSize</key>
                <string>{263,47}</string>
            </dict>
            <key>panelFriend_number_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,359},{88,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,32}}</string>
                <key>sourceSize</key>
                <string>{88,32}</string>
            </dict>
            <key>panelFriend_number_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,985},{89,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,23}}</string>
                <key>sourceSize</key>
                <string>{89,23}</string>
            </dict>
            <key>panelFriend_number_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,989},{89,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,23}}</string>
                <key>sourceSize</key>
                <string>{89,23}</string>
            </dict>
            <key>panelFriend_number_tf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,365},{77,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,23}}</string>
                <key>sourceSize</key>
                <string>{77,23}</string>
            </dict>
            <key>panelFriend_number_tf4.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,419},{43,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,24}}</string>
                <key>sourceSize</key>
                <string>{43,24}</string>
            </dict>
            <key>panelFriend_rewardsRule_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{377,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,85}}</string>
                <key>sourceSize</key>
                <string>{377,85}</string>
            </dict>
            <key>panelFriend_rewards_iconGet.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,481},{45,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,35}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>panelFriend_sortMenu_btn_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,815},{153,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,39}}</string>
                <key>sourceSize</key>
                <string>{153,39}</string>
            </dict>
            <key>panelFriend_sortMenu_btn_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,774},{153,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,39}}</string>
                <key>sourceSize</key>
                <string>{153,39}</string>
            </dict>
            <key>panelFriend_sortMenu_btn_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,944},{153,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,39}}</string>
                <key>sourceSize</key>
                <string>{153,39}</string>
            </dict>
            <key>panelFriend_sortMenu_btn_icon_QQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,970},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>panelFriend_sortMenu_btn_icon_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,930},{39,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,32}}</string>
                <key>sourceSize</key>
                <string>{39,32}</string>
            </dict>
            <key>panelFriend_sortMenu_btn_icon_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,518},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>panelFriend_sortMenu_btn_icon_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,742},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>panelFriend_sortMenu_btn_icon_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,970},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>panelFriend_sortMenu_btn_icon_mutual.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,934},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>panelFriend_sortMenu_btn_icon_prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,359},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>panelFriend_sortMenu_btn_icon_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,934},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>panelFriend_sortMenu_btn_tf_QQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,783},{33,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,20}}</string>
                <key>sourceSize</key>
                <string>{33,20}</string>
            </dict>
            <key>panelFriend_sortMenu_btn_tf_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,964},{43,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,23}}</string>
                <key>sourceSize</key>
                <string>{43,23}</string>
            </dict>
            <key>panelFriend_sortMenu_btn_tf_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,887},{44,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,22}}</string>
                <key>sourceSize</key>
                <string>{44,22}</string>
            </dict>
            <key>panelFriend_sortMenu_btn_tf_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,882},{83,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,24}}</string>
                <key>sourceSize</key>
                <string>{83,24}</string>
            </dict>
            <key>panelFriend_sortMenu_btn_tf_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,393},{43,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,24}}</string>
                <key>sourceSize</key>
                <string>{43,24}</string>
            </dict>
            <key>panelFriend_sortMenu_btn_tf_mutual.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,856},{84,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,24}}</string>
                <key>sourceSize</key>
                <string>{84,24}</string>
            </dict>
            <key>panelFriend_sortMenu_btn_tf_prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,882},{63,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,24}}</string>
                <key>sourceSize</key>
                <string>{63,24}</string>
            </dict>
            <key>panelFriend_sortMenu_btn_tf_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,985},{44,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,23}}</string>
                <key>sourceSize</key>
                <string>{44,23}</string>
            </dict>
            <key>panelFriend_sortMenu_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,908},{80,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,20}}</string>
                <key>sourceSize</key>
                <string>{80,20}</string>
            </dict>
            <key>panelFriend_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>panelFriend_visit_tfInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,478},{230,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,24}}</string>
                <key>sourceSize</key>
                <string>{230,24}</string>
            </dict>
            <key>panelHelpInfo_btnBuy_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,683},{170,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,53}}</string>
                <key>sourceSize</key>
                <string>{170,53}</string>
            </dict>
            <key>panelHelpInfo_btnBuy_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,628},{170,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,53}}</string>
                <key>sourceSize</key>
                <string>{170,53}</string>
            </dict>
            <key>panelHelpInfo_btnOk_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,934},{107,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,53}}</string>
                <key>sourceSize</key>
                <string>{107,53}</string>
            </dict>
            <key>panelHelpInfo_btnOk_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,879},{107,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,53}}</string>
                <key>sourceSize</key>
                <string>{107,53}</string>
            </dict>
            <key>panelHelpInfo_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,455},{236,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,21}}</string>
                <key>sourceSize</key>
                <string>{236,21}</string>
            </dict>
            <key>panelHelpInfo_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,497},{240,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,20}}</string>
                <key>sourceSize</key>
                <string>{240,20}</string>
            </dict>
            <key>panelHelpInfo_tfReachMax.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,840},{157,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,42}}</string>
                <key>sourceSize</key>
                <string>{157,42}</string>
            </dict>
            <key>panelLBS_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,154},{294,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,32}}</string>
                <key>sourceSize</key>
                <string>{294,32}</string>
            </dict>
            <key>panelLBS_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{523,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,41}}</string>
                <key>sourceSize</key>
                <string>{523,41}</string>
            </dict>
            <key>panelLBS_tf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{546,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,151}}</string>
                <key>sourceSize</key>
                <string>{546,151}</string>
            </dict>
            <key>panelLBS_tf4.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,188},{287,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,32}}</string>
                <key>sourceSize</key>
                <string>{287,32}</string>
            </dict>
            <key>panelLBS_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,884},{178,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,29}}</string>
                <key>sourceSize</key>
                <string>{178,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{965,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f35595fbf0b1fd61f340be14420c5659:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
