<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mallPanleShelfQueue_btnAcc_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,60},{176,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,56}}</string>
                <key>sourceSize</key>
                <string>{176,56}</string>
            </dict>
            <key>mallPanleShelfQueue_btnAcc_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{176,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,56}}</string>
                <key>sourceSize</key>
                <string>{176,56}</string>
            </dict>
            <key>mallPanleShelfQueue_btnTf_acc.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,78},{50,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,28}}</string>
                <key>sourceSize</key>
                <string>{50,28}</string>
            </dict>
            <key>mallPanleShelfQueue_btnTf_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,78},{50,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,28}}</string>
                <key>sourceSize</key>
                <string>{50,28}</string>
            </dict>
            <key>mallPanleShelfQueue_iconTimer.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,74},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{38,44}</string>
            </dict>
            <key>mallPanleShelfQueue_item_bgGrey.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,78},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>mallPanleShelfQueue_item_freeBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{344,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,70}}</string>
                <key>sourceSize</key>
                <string>{344,70}</string>
            </dict>
            <key>mallPanleShelfQueue_item_iconLock.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{136,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,74}}</string>
                <key>sourceSize</key>
                <string>{136,74}</string>
            </dict>
            <key>mallPanleShelfQueue_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{324,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,32}}</string>
                <key>sourceSize</key>
                <string>{324,32}</string>
            </dict>
            <key>mallPanleShelfQueue_tf_cd.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,74},{118,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,24}}</string>
                <key>sourceSize</key>
                <string>{118,24}</string>
            </dict>
            <key>mallPanleShelfQueue_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,82}}</string>
                <key>sourceSize</key>
                <string>{290,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Material_queue.png</string>
            <key>size</key>
            <string>{956,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cf76241c85c2eb1bad2adb8d61f2eba:1/1$</string>
            <key>textureFileName</key>
            <string>Material_queue.png</string>
        </dict>
    </dict>
</plist>
