<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelPlayerInfo_vocie_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,328}}</string>
                <key>sourceSize</key>
                <string>{40,328}</string>
            </dict>
            <key>panelPlayerInfo_vocie_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,92},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>panelPlayerInfo_vocie_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,28},{18,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,62}}</string>
                <key>sourceSize</key>
                <string>{18,62}</string>
            </dict>
            <key>panelPlayerInfo_vocie_innerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,54},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>panelPlayerInfo_vocie_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{284,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,24}}</string>
                <key>sourceSize</key>
                <string>{284,24}</string>
            </dict>
            <key>panelPlayerInfo_vocie_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,28},{264,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,24}}</string>
                <key>sourceSize</key>
                <string>{264,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_voice.png</string>
            <key>size</key>
            <string>{330,332}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c77a54440b105a18fc099e4081e5c7e2:1/1$</string>
            <key>textureFileName</key>
            <string>material_voice.png</string>
        </dict>
    </dict>
</plist>
