<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelUpdateNotice_barBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{764,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{764,57}}</string>
                <key>sourceSize</key>
                <string>{764,57}</string>
            </dict>
            <key>panelUpdateNotice_barBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,30},{40,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,59}}</string>
                <key>sourceSize</key>
                <string>{40,59}</string>
            </dict>
            <key>panelUpdateNotice_barTf.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{172,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,26}}</string>
                <key>sourceSize</key>
                <string>{172,26}</string>
            </dict>
            <key>panelUpdateNotice_btnAdd_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,61},{296,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,59}}</string>
                <key>sourceSize</key>
                <string>{296,59}</string>
            </dict>
            <key>panelUpdateNotice_btnAdd_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{296,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,59}}</string>
                <key>sourceSize</key>
                <string>{296,59}</string>
            </dict>
            <key>panelUpdateNotice_btnCancel_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,122},{214,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,59}}</string>
                <key>sourceSize</key>
                <string>{214,59}</string>
            </dict>
            <key>panelUpdateNotice_btnCancel_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,122},{214,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,59}}</string>
                <key>sourceSize</key>
                <string>{214,59}</string>
            </dict>
            <key>panelUpdateNotice_btnNormal_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,122},{214,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,59}}</string>
                <key>sourceSize</key>
                <string>{214,59}</string>
            </dict>
            <key>panelUpdateNotice_btnNormal_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,61},{214,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,59}}</string>
                <key>sourceSize</key>
                <string>{214,59}</string>
            </dict>
            <key>panelUpdateNotice_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,30},{104,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,23}}</string>
                <key>sourceSize</key>
                <string>{104,23}</string>
            </dict>
            <key>panelUpdateNotice_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{239,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,29}}</string>
                <key>sourceSize</key>
                <string>{239,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{963,183}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:594a56f0477f22a36a1d901ceb4abd03:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
