<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelNumberSelect_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,490}}</string>
                <key>sourceSize</key>
                <string>{40,490}</string>
            </dict>
            <key>panelNumberSelect_btnOK_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,352},{389,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,68}}</string>
                <key>sourceSize</key>
                <string>{389,68}</string>
            </dict>
            <key>panelNumberSelect_btnOk_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,282},{389,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,68}}</string>
                <key>sourceSize</key>
                <string>{389,68}</string>
            </dict>
            <key>panelNumberSelect_inner_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{389,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,278}}</string>
                <key>sourceSize</key>
                <string>{389,278}</string>
            </dict>
            <key>panelNumberSelect_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,422},{206,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,56}}</string>
                <key>sourceSize</key>
                <string>{206,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Material.png</string>
            <key>size</key>
            <string>{435,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e37b857546fa0fb6cf2b120d9404e15b:1/1$</string>
            <key>textureFileName</key>
            <string>Material.png</string>
        </dict>
    </dict>
</plist>
