<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelWishPool_btnEditEnd_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,539},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>panelWishPool_btnEditEnd_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,498},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>panelWishPool_btnEdit_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,457},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>panelWishPool_btnEdit_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,588},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>panelWishPool_firstWish_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,371},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>panelWishPool_friend_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{336,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,80}}</string>
                <key>sourceSize</key>
                <string>{336,80}</string>
            </dict>
            <key>panelWishPool_friendwish_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,596},{216,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,24}}</string>
                <key>sourceSize</key>
                <string>{216,24}</string>
            </dict>
            <key>panelWishPool_friendwish_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,562},{163,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,24}}</string>
                <key>sourceSize</key>
                <string>{163,24}</string>
            </dict>
            <key>panelWishPool_friendwish_tf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,562},{163,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,24}}</string>
                <key>sourceSize</key>
                <string>{163,24}</string>
            </dict>
            <key>panelWishPool_logItem_buildingBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,268},{140,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,101}}</string>
                <key>sourceSize</key>
                <string>{140,101}</string>
            </dict>
            <key>panelWishPool_logItem_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,84},{94,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,35}}</string>
                <key>sourceSize</key>
                <string>{94,35}</string>
            </dict>
            <key>panelWishPool_logItem_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,121},{96,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,34}}</string>
                <key>sourceSize</key>
                <string>{96,34}</string>
            </dict>
            <key>panelWishPool_menu_friendWish_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,325},{220,86}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{220,86}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>panelWishPool_menu_friendWish_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,460},{220,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{220,46}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>panelWishPool_menu_getLog_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,413},{220,92}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{220,92}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>panelWishPool_menu_getLog_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,412},{220,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{220,46}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>panelWishPool_menu_log_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,502},{220,92}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{220,92}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>panelWishPool_menu_log_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,364},{220,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{220,46}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>panelWishPool_menu_mine_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,229},{220,94}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{220,94}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>panelWishPool_menu_mine_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,316},{220,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{220,46}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>panelWishPool_menu_other_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,406},{220,94}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{220,94}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>panelWishPool_menu_other_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,268},{220,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{220,46}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>panelWishPool_mineItem_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{190,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,210}}</string>
                <key>sourceSize</key>
                <string>{190,210}</string>
            </dict>
            <key>panelWishPool_mineItem_btnAccept_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,570},{256,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,61}}</string>
                <key>sourceSize</key>
                <string>{256,61}</string>
            </dict>
            <key>panelWishPool_mineItem_btnAccept_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,507},{256,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,61}}</string>
                <key>sourceSize</key>
                <string>{256,61}</string>
            </dict>
            <key>panelWishPool_mineItem_btnAdd_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{430,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,200}}</string>
                <key>sourceSize</key>
                <string>{430,200}</string>
            </dict>
            <key>panelWishPool_mineItem_btnAdd_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{430,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,200}}</string>
                <key>sourceSize</key>
                <string>{430,200}</string>
            </dict>
            <key>panelWishPool_mineItem_btnGift_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,147},{256,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,61}}</string>
                <key>sourceSize</key>
                <string>{256,61}</string>
            </dict>
            <key>panelWishPool_mineItem_btnGift_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,84},{256,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,61}}</string>
                <key>sourceSize</key>
                <string>{256,61}</string>
            </dict>
            <key>panelWishPool_mineItem_iconComplete.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,84},{224,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,143}}</string>
                <key>sourceSize</key>
                <string>{224,143}</string>
            </dict>
            <key>panelWishPool_mineItem_iconFirstWish.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,508},{163,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,52}}</string>
                <key>sourceSize</key>
                <string>{163,52}</string>
            </dict>
            <key>panelWishPool_mineItem_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,618},{92,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,23}}</string>
                <key>sourceSize</key>
                <string>{92,23}</string>
            </dict>
            <key>panelWishPool_mineItem_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{92,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,23}}</string>
                <key>sourceSize</key>
                <string>{92,23}</string>
            </dict>
            <key>panelWishPool_mine_btnDel_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,217},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>panelWishPool_mine_btnDel_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,371},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>panelWishPool_mine_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,580},{130,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,24}}</string>
                <key>sourceSize</key>
                <string>{130,24}</string>
            </dict>
            <key>panelWishPool_mine_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,191},{83,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,24}}</string>
                <key>sourceSize</key>
                <string>{83,24}</string>
            </dict>
            <key>panelWishPool_numberBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,157},{94,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,32}}</string>
                <key>sourceSize</key>
                <string>{94,32}</string>
            </dict>
            <key>panelWishPool_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{228,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,80}}</string>
                <key>sourceSize</key>
                <string>{228,80}</string>
            </dict>
            <key>panelWishPoolitem_iconComplete.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,210},{253,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,56}}</string>
                <key>sourceSize</key>
                <string>{253,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{1020,643}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bf290dc85622ca75c7080330129f87d:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
