<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelFriend_recommend_btnBtnFilter_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,176},{120,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>panelFriend_recommend_btnBtnFilter_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,134},{120,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>panelFriend_recommend_btnBtnFilter_labelAll.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,54},{81,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,24}}</string>
                <key>sourceSize</key>
                <string>{81,24}</string>
            </dict>
            <key>panelFriend_recommend_btnBtnFilter_labelMan.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,28},{81,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,24}}</string>
                <key>sourceSize</key>
                <string>{81,24}</string>
            </dict>
            <key>panelFriend_recommend_btnBtnFilter_labelWoman.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{81,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,24}}</string>
                <key>sourceSize</key>
                <string>{81,24}</string>
            </dict>
            <key>panelFriend_recommend_btnBtnRank_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,134},{144,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,40}}</string>
                <key>sourceSize</key>
                <string>{144,40}</string>
            </dict>
            <key>panelFriend_recommend_btnBtnRank_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,92},{144,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,40}}</string>
                <key>sourceSize</key>
                <string>{144,40}</string>
            </dict>
            <key>panelFriend_recommend_btnRewards_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,92},{120,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>panelFriend_recommend_btnRewards_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,176},{120,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>panelFriend_recommend_bubbleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,92},{62,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,128}}</string>
                <key>sourceSize</key>
                <string>{62,128}</string>
            </dict>
            <key>panelFriend_recommend_npc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{158,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,208}}</string>
                <key>sourceSize</key>
                <string>{158,208}</string>
            </dict>
            <key>panelFriend_recommend_tfInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{371,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,24}}</string>
                <key>sourceSize</key>
                <string>{371,24}</string>
            </dict>
            <key>panelFriend_recommend_title_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,28},{212,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,62}}</string>
                <key>sourceSize</key>
                <string>{212,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_recommend.png</string>
            <key>size</key>
            <string>{494,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8f7affdbb7d7226554e12a74df45838:1/1$</string>
            <key>textureFileName</key>
            <string>material_recommend.png</string>
        </dict>
    </dict>
</plist>
