<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelCharm_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,494}}</string>
                <key>sourceSize</key>
                <string>{44,494}</string>
            </dict>
            <key>panelCharm_item_selectedBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,27},{20,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,40}}</string>
                <key>sourceSize</key>
                <string>{20,40}</string>
            </dict>
            <key>panelCharm_item_selectedTf.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,52},{46,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>panelCharm_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,27},{92,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,23}}</string>
                <key>sourceSize</key>
                <string>{92,23}</string>
            </dict>
            <key>panelCharm_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{137,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,23}}</string>
                <key>sourceSize</key>
                <string>{137,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{187,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c6e246e3012fbe60c2645d76a984d88:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
