<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelShareFriendStroke.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>panelShareFriend_btnChange_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,433},{107,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,53}}</string>
                <key>sourceSize</key>
                <string>{107,53}</string>
            </dict>
            <key>panelShareFriend_btnChange_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,422},{107,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,53}}</string>
                <key>sourceSize</key>
                <string>{107,53}</string>
            </dict>
            <key>panelShareFriend_titleQQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{236,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,59}}</string>
                <key>sourceSize</key>
                <string>{236,59}</string>
            </dict>
            <key>panelShareFriend_titleRewards.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{461,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,29}}</string>
                <key>sourceSize</key>
                <string>{461,29}</string>
            </dict>
            <key>panelShareFriend_titleWX.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{274,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,59}}</string>
                <key>sourceSize</key>
                <string>{274,59}</string>
            </dict>
            <key>panelSharePhotoStroke.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,150},{40,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,256}}</string>
                <key>sourceSize</key>
                <string>{40,256}</string>
            </dict>
            <key>panelSharePhoto_infoBarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,232},{4,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,116}}</string>
                <key>sourceSize</key>
                <string>{4,116}</string>
            </dict>
            <key>panelSharePhoto_infoBarIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2},{358,484}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,484}}</string>
                <key>sourceSize</key>
                <string>{358,484}</string>
            </dict>
            <key>panelSharePhoto_infoName.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{192,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,96}}</string>
                <key>sourceSize</key>
                <string>{192,96}</string>
            </dict>
            <key>panelSharePhoto_titlePengyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,33},{247,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,58}}</string>
                <key>sourceSize</key>
                <string>{247,58}</string>
            </dict>
            <key>panelSharePhoto_titleQzone.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,93},{254,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,55}}</string>
                <key>sourceSize</key>
                <string>{254,55}</string>
            </dict>
            <key>panelShare_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,150},{40,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,238}}</string>
                <key>sourceSize</key>
                <string>{40,238}</string>
            </dict>
            <key>panelShare_innerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,150},{40,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,256}}</string>
                <key>sourceSize</key>
                <string>{40,256}</string>
            </dict>
            <key>panelShare_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{119,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,29}}</string>
                <key>sourceSize</key>
                <string>{119,29}</string>
            </dict>
            <key>panelShare_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{249,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,29}}</string>
                <key>sourceSize</key>
                <string>{249,29}</string>
            </dict>
            <key>panelShare_tf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,408},{128,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,23}}</string>
                <key>sourceSize</key>
                <string>{128,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{825,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1612d24759d24a428acbba961d5cde9:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
