<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelHelpNew_btnAdd_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,362},{146,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,66}}</string>
                <key>sourceSize</key>
                <string>{146,66}</string>
            </dict>
            <key>panelHelpNew_btnAdd_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,294},{146,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,66}}</string>
                <key>sourceSize</key>
                <string>{146,66}</string>
            </dict>
            <key>panelHelpNew_btnAdd_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,170},{146,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,66}}</string>
                <key>sourceSize</key>
                <string>{146,66}</string>
            </dict>
            <key>panelHelpNew_btnLable_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{80,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>panelHelpNew_btnLable_parking.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{80,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>panelHelpNew_btnOk_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,256},{250,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,61}}</string>
                <key>sourceSize</key>
                <string>{250,61}</string>
            </dict>
            <key>panelHelpNew_btnOk_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,256},{250,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,61}}</string>
                <key>sourceSize</key>
                <string>{250,61}</string>
            </dict>
            <key>panelHelpNew_default_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{460,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,48}}</string>
                <key>sourceSize</key>
                <string>{460,48}</string>
            </dict>
            <key>panelHelpNew_default_parking.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,84},{414,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,48}}</string>
                <key>sourceSize</key>
                <string>{414,48}</string>
            </dict>
            <key>panelHelpNew_icon_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,362},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>panelHelpNew_icon_parking.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,170},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>panelHelpNew_tf1_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,268},{176,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,24}}</string>
                <key>sourceSize</key>
                <string>{176,24}</string>
            </dict>
            <key>panelHelpNew_tf1_parking.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,78},{176,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,24}}</string>
                <key>sourceSize</key>
                <string>{176,24}</string>
            </dict>
            <key>panelHelpNew_tf2_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,268},{238,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,23}}</string>
                <key>sourceSize</key>
                <string>{238,23}</string>
            </dict>
            <key>panelHelpNew_tf2_parking.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,294},{190,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,23}}</string>
                <key>sourceSize</key>
                <string>{190,23}</string>
            </dict>
            <key>panelHelpNew_tfNo_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{422,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,24}}</string>
                <key>sourceSize</key>
                <string>{422,24}</string>
            </dict>
            <key>panelHelpNew_tfNo_parking.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,52},{374,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,24}}</string>
                <key>sourceSize</key>
                <string>{374,24}</string>
            </dict>
            <key>panelHelpNew_title_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,78},{350,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,90}}</string>
                <key>sourceSize</key>
                <string>{350,90}</string>
            </dict>
            <key>panelHelpNew_title_parking.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,256},{252,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,90}}</string>
                <key>sourceSize</key>
                <string>{252,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4be9715c1ec3630d88a8c69e278b533:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
