<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelGuild_sailShip_itemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{40,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,306}}</string>
                <key>sourceSize</key>
                <string>{40,306}</string>
            </dict>
            <key>panelGuild_sailShip_itemInnerBg_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{267,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,204}}</string>
                <key>sourceSize</key>
                <string>{267,204}</string>
            </dict>
            <key>panelGuild_sailShip_itemInnerBg_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{267,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,204}}</string>
                <key>sourceSize</key>
                <string>{267,204}</string>
            </dict>
            <key>panelGuild_sailShip_itemTf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,414},{70,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,24}}</string>
                <key>sourceSize</key>
                <string>{70,24}</string>
            </dict>
            <key>panelGuild_sailShip_itemTf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{118,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,24}}</string>
                <key>sourceSize</key>
                <string>{118,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_sailSail.png</string>
            <key>size</key>
            <string>{313,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:912f9d963550c198ad9e8ea2c4f53144:1/1$</string>
            <key>textureFileName</key>
            <string>material_sailSail.png</string>
        </dict>
    </dict>
</plist>
