<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stranger_Addvisit_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,487}}</string>
                <key>sourceSize</key>
                <string>{40,487}</string>
            </dict>
            <key>stranger_avatarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,158},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>stranger_avatarBgStroke.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,96},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>stranger_avatarStageBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,308},{245,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,150}}</string>
                <key>sourceSize</key>
                <string>{245,150}</string>
            </dict>
            <key>stranger_btnVisit_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,145},{287,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,141}}</string>
                <key>sourceSize</key>
                <string>{287,141}</string>
            </dict>
            <key>stranger_btnVisit_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{287,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,141}}</string>
                <key>sourceSize</key>
                <string>{287,141}</string>
            </dict>
            <key>stranger_btn_descriptionBg_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,96},{49,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,210}}</string>
                <key>sourceSize</key>
                <string>{49,210}</string>
            </dict>
            <key>stranger_icon_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,49},{168,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,45}}</string>
                <key>sourceSize</key>
                <string>{168,45}</string>
            </dict>
            <key>stranger_icon_noFriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{168,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,45}}</string>
                <key>sourceSize</key>
                <string>{168,45}</string>
            </dict>
            <key>stranger_qqVipIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,96},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>stranger_visitNearInfoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,288},{209,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,194}}</string>
                <key>sourceSize</key>
                <string>{209,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_strangerInfo.png</string>
            <key>size</key>
            <string>{503,491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e36fb6cecd5b5bd9d7a1fb758c3b8bb5:1/1$</string>
            <key>textureFileName</key>
            <string>material_strangerInfo.png</string>
        </dict>
    </dict>
</plist>
