<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>garage_btnGo_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,212},{171,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,68}}</string>
                <key>sourceSize</key>
                <string>{171,68}</string>
            </dict>
            <key>garage_btnGo_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,142},{171,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,68}}</string>
                <key>sourceSize</key>
                <string>{171,68}</string>
            </dict>
            <key>garage_btnSale_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,138},{87,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,66}}</string>
                <key>sourceSize</key>
                <string>{87,66}</string>
            </dict>
            <key>garage_btnSale_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,70},{87,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,66}}</string>
                <key>sourceSize</key>
                <string>{87,66}</string>
            </dict>
            <key>garage_btnSale_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{87,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,66}}</string>
                <key>sourceSize</key>
                <string>{87,66}</string>
            </dict>
            <key>garage_btnUpgrade_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,72},{171,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,68}}</string>
                <key>sourceSize</key>
                <string>{171,68}</string>
            </dict>
            <key>garage_btnUpgrade_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{171,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,68}}</string>
                <key>sourceSize</key>
                <string>{171,68}</string>
            </dict>
            <key>garage_btn_add_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,282},{170,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,50}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
            <key>garage_btn_add_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{170,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,50}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
            <key>garage_carLevel_barBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,460},{195,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,21}}</string>
                <key>sourceSize</key>
                <string>{195,21}</string>
            </dict>
            <key>garage_carLevel_barBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,437},{195,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,21}}</string>
                <key>sourceSize</key>
                <string>{195,21}</string>
            </dict>
            <key>garage_carLevel_barCover.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,414},{195,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,21}}</string>
                <key>sourceSize</key>
                <string>{195,21}</string>
            </dict>
            <key>garage_carLevel_barYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,391},{195,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,21}}</string>
                <key>sourceSize</key>
                <string>{195,21}</string>
            </dict>
            <key>garage_carLevel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,368},{195,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,21}}</string>
                <key>sourceSize</key>
                <string>{195,21}</string>
            </dict>
            <key>garage_carLevel_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,399},{35,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,13}}</string>
                <key>sourceSize</key>
                <string>{35,13}</string>
            </dict>
            <key>garage_carLevel_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,327},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>garage_carStar_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,354},{51,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,56}}</string>
                <key>sourceSize</key>
                <string>{51,56}</string>
            </dict>
            <key>garage_carStar_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,412},{50,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,55}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>garage_carStar_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,269},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>garage_carStar_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,414},{50,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,61}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>garage_carStar_SS.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,206},{73,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,61}}</string>
                <key>sourceSize</key>
                <string>{73,61}</string>
            </dict>
            <key>garage_carStar_SSS.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,437},{96,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,61}}</string>
                <key>sourceSize</key>
                <string>{96,61}</string>
            </dict>
            <key>garage_itemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{301,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,395}}</string>
                <key>sourceSize</key>
                <string>{301,395}</string>
            </dict>
            <key>garage_numberBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,334},{180,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,32}}</string>
                <key>sourceSize</key>
                <string>{180,32}</string>
            </dict>
            <key>garage_timesBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,399},{258,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,32}}</string>
                <key>sourceSize</key>
                <string>{258,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_garage.png</string>
            <key>size</key>
            <string>{575,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f7bcb5163b413fba263dd88d36b18fc:1/1$</string>
            <key>textureFileName</key>
            <string>material_garage.png</string>
        </dict>
    </dict>
</plist>
