<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnBack_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,293},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>btnBack_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,390},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>btnBack_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,293},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>btnOk_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,383},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>btnOk_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,286},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>btnOk_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,390},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>btnRecycle_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,293},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>btnRecycle_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>btnRecycle_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>btnRotate_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,196},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>btnRotate_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,196},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>btnRotate_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,99},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>btnSale_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,99},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>btnSale_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>btnSale_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>buildMenu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{289,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,282}}</string>
                <key>sourceSize</key>
                <string>{289,282}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_build.png</string>
            <key>size</key>
            <string>{477,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cde1663b07e3af7b804cfede379784df:1/1$</string>
            <key>textureFileName</key>
            <string>material_build.png</string>
        </dict>
    </dict>
</plist>
