<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelAD_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{84,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,606}}</string>
                <key>sourceSize</key>
                <string>{84,606}</string>
            </dict>
            <key>panelAD_btnArrow_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,178},{63,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,124}}</string>
                <key>sourceSize</key>
                <string>{63,124}</string>
            </dict>
            <key>panelAD_btnArrow_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,52},{63,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,124}}</string>
                <key>sourceSize</key>
                <string>{63,124}</string>
            </dict>
            <key>panelAD_stroke.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,52},{40,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,504}}</string>
                <key>sourceSize</key>
                <string>{40,504}</string>
            </dict>
            <key>panelAD_tf.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,27},{142,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,23}}</string>
                <key>sourceSize</key>
                <string>{142,23}</string>
            </dict>
            <key>panelAD_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,635},{176,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,24}}</string>
                <key>sourceSize</key>
                <string>{176,24}</string>
            </dict>
            <key>panelAD_tf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,23}}</string>
                <key>sourceSize</key>
                <string>{239,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{243,661}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b34fdfee7a6738e78ab0408c4e016a37:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
