<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mapSavingMenu_LB_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,2},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>mapSavingMenu_LB_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>mapSavingMenu_LB_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,2},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>mapSavingMenu_LT_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>mapSavingMenu_LT_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,2},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>mapSavingMenu_LT_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>mapSavingMenu_RB_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>mapSavingMenu_RB_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>mapSavingMenu_RB_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>mapSavingMenu_RT_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>mapSavingMenu_RT_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>mapSavingMenu_RT_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_mapSaving.png</string>
            <key>size</key>
            <string>{974,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6f51ebccde69847a36e175d7c5d31f6:1/1$</string>
            <key>textureFileName</key>
            <string>material_mapSaving.png</string>
        </dict>
    </dict>
</plist>
