<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelGetRP_iconDiamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,177},{115,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,103}}</string>
                <key>sourceSize</key>
                <string>{115,103}</string>
            </dict>
            <key>panelGetRP_iconGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,177},{106,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,99}}</string>
                <key>sourceSize</key>
                <string>{106,99}</string>
            </dict>
            <key>panelGetRP_iconRP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{265,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,338}}</string>
                <key>sourceSize</key>
                <string>{265,338}</string>
            </dict>
            <key>panelGetRP_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,127},{119,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,48}}</string>
                <key>sourceSize</key>
                <string>{119,48}</string>
            </dict>
            <key>panelGetRP_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{162,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,123}}</string>
                <key>sourceSize</key>
                <string>{162,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_RP.png</string>
            <key>size</key>
            <string>{494,342}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3182844ffae53bdc85817c558e91099:1/1$</string>
            <key>textureFileName</key>
            <string>material_RP.png</string>
        </dict>
    </dict>
</plist>
