<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelShipInfo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{40,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,425}}</string>
                <key>sourceSize</key>
                <string>{40,425}</string>
            </dict>
            <key>panelShipInfo_btnRide_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,277},{267,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,67}}</string>
                <key>sourceSize</key>
                <string>{267,67}</string>
            </dict>
            <key>panelShipInfo_btnRide_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,208},{267,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,67}}</string>
                <key>sourceSize</key>
                <string>{267,67}</string>
            </dict>
            <key>panelShipInfo_btnVisit_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{176,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,70}}</string>
                <key>sourceSize</key>
                <string>{176,70}</string>
            </dict>
            <key>panelShipInfo_btnVisit_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{176,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,70}}</string>
                <key>sourceSize</key>
                <string>{176,70}</string>
            </dict>
            <key>panelShipInfo_innerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{267,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,204}}</string>
                <key>sourceSize</key>
                <string>{267,204}</string>
            </dict>
            <key>panelShipInfo_subInfo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,358}}</string>
                <key>sourceSize</key>
                <string>{205,358}</string>
            </dict>
            <key>panelShipInfo_tfComplete.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,471},{90,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,23}}</string>
                <key>sourceSize</key>
                <string>{90,23}</string>
            </dict>
            <key>panelShipInfo_tfDoneToday.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,446},{211,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,23}}</string>
                <key>sourceSize</key>
                <string>{211,23}</string>
            </dict>
            <key>panelShipInfo_tfFree.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,471},{67,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,23}}</string>
                <key>sourceSize</key>
                <string>{67,23}</string>
            </dict>
            <key>panelShipInfo_tfNeedGameLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,396},{218,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,23}}</string>
                <key>sourceSize</key>
                <string>{218,23}</string>
            </dict>
            <key>panelShipInfo_tfNeedLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,421},{217,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,23}}</string>
                <key>sourceSize</key>
                <string>{217,23}</string>
            </dict>
            <key>panelShipInfo_tfOtherShip.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,346},{239,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,23}}</string>
                <key>sourceSize</key>
                <string>{239,23}</string>
            </dict>
            <key>panelShipInfo_tfOutToday.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,371},{238,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,23}}</string>
                <key>sourceSize</key>
                <string>{238,23}</string>
            </dict>
            <key>panelShipInfo_tfSailing.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,471},{66,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,23}}</string>
                <key>sourceSize</key>
                <string>{66,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_shipInfo.png</string>
            <key>size</key>
            <string>{520,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae34a362863fb2d9e86d05686d6c3166:1/1$</string>
            <key>textureFileName</key>
            <string>material_shipInfo.png</string>
        </dict>
    </dict>
</plist>
