<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelGuild_treeTodayLog_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,488},{204,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,55}}</string>
                <key>sourceSize</key>
                <string>{204,55}</string>
            </dict>
            <key>panelGuild_treeWater_btnWater_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,27},{250,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,58}}</string>
                <key>sourceSize</key>
                <string>{250,58}</string>
            </dict>
            <key>panelGuild_treeWater_btnWater_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,485},{250,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,58}}</string>
                <key>sourceSize</key>
                <string>{250,58}</string>
            </dict>
            <key>panelGuild_treeWater_defaultInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,397},{197,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,23}}</string>
                <key>sourceSize</key>
                <string>{197,23}</string>
            </dict>
            <key>panelGuild_treeWater_iconWater1.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,182},{190,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,188}}</string>
                <key>sourceSize</key>
                <string>{190,188}</string>
            </dict>
            <key>panelGuild_treeWater_iconWater2.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,182},{190,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,188}}</string>
                <key>sourceSize</key>
                <string>{190,188}</string>
            </dict>
            <key>panelGuild_treeWater_iconWater3.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,182},{190,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,188}}</string>
                <key>sourceSize</key>
                <string>{190,188}</string>
            </dict>
            <key>panelGuild_treeWater_innerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,427}}</string>
                <key>sourceSize</key>
                <string>{40,427}</string>
            </dict>
            <key>panelGuild_treeWater_itemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{40,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,415}}</string>
                <key>sourceSize</key>
                <string>{40,415}</string>
            </dict>
            <key>panelGuild_treeWater_itemInnerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,182},{251,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,206}}</string>
                <key>sourceSize</key>
                <string>{251,206}</string>
            </dict>
            <key>panelGuild_treeWater_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,397},{64,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,22}}</string>
                <key>sourceSize</key>
                <string>{64,22}</string>
            </dict>
            <key>panelGuild_treeWater_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,488},{86,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,22}}</string>
                <key>sourceSize</key>
                <string>{86,22}</string>
            </dict>
            <key>panelGuild_treeWater_tf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{411,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,20}}</string>
                <key>sourceSize</key>
                <string>{411,20}</string>
            </dict>
            <key>panelGuild_treeWater_tf4.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,372},{350,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,23}}</string>
                <key>sourceSize</key>
                <string>{350,23}</string>
            </dict>
            <key>panelGuild_treeWater_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,485},{106,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,55}}</string>
                <key>sourceSize</key>
                <string>{106,55}</string>
            </dict>
            <key>panelGuild_tree_bar_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,153},{260,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,22}}</string>
                <key>sourceSize</key>
                <string>{260,22}</string>
            </dict>
            <key>panelGuild_tree_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,390},{271,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,33}}</string>
                <key>sourceSize</key>
                <string>{271,33}</string>
            </dict>
            <key>panelGuild_tree_btnRP_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,87},{243,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,61}}</string>
                <key>sourceSize</key>
                <string>{243,61}</string>
            </dict>
            <key>panelGuild_tree_btnRP_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,90},{243,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,61}}</string>
                <key>sourceSize</key>
                <string>{243,61}</string>
            </dict>
            <key>panelGuild_tree_btnRP_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,27},{243,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,61}}</string>
                <key>sourceSize</key>
                <string>{243,61}</string>
            </dict>
            <key>panelGuild_tree_btnTodayLog_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,90},{243,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,61}}</string>
                <key>sourceSize</key>
                <string>{243,61}</string>
            </dict>
            <key>panelGuild_tree_btnTodayLog_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,27},{243,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,61}}</string>
                <key>sourceSize</key>
                <string>{243,61}</string>
            </dict>
            <key>panelGuild_tree_btnWater_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,422},{243,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,61}}</string>
                <key>sourceSize</key>
                <string>{243,61}</string>
            </dict>
            <key>panelGuild_tree_btnWater_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,422},{243,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,61}}</string>
                <key>sourceSize</key>
                <string>{243,61}</string>
            </dict>
            <key>panelGuild_tree_btnWater_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,425},{243,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,61}}</string>
                <key>sourceSize</key>
                <string>{243,61}</string>
            </dict>
            <key>panelGuild_tree_iconDot.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,419},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>panelGuild_tree_iconRP.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{138,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,178}}</string>
                <key>sourceSize</key>
                <string>{138,178}</string>
            </dict>
            <key>panelGuild_tree_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{445,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,23}}</string>
                <key>sourceSize</key>
                <string>{445,23}</string>
            </dict>
            <key>panelGuild_tree_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{148,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,23}}</string>
                <key>sourceSize</key>
                <string>{148,23}</string>
            </dict>
            <key>panelGuild_tree_tf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,488},{79,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,23}}</string>
                <key>sourceSize</key>
                <string>{79,23}</string>
            </dict>
            <key>panelGuild_tree_tf4.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{151,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,23}}</string>
                <key>sourceSize</key>
                <string>{151,23}</string>
            </dict>
            <key>panelGuild_tree_tf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,397},{199,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,23}}</string>
                <key>sourceSize</key>
                <string>{199,23}</string>
            </dict>
            <key>panelGuild_tree_tf6.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,372},{56,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,23}}</string>
                <key>sourceSize</key>
                <string>{56,23}</string>
            </dict>
            <key>panelGuild_tree_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{242,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,91}}</string>
                <key>sourceSize</key>
                <string>{242,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_tree.png</string>
            <key>size</key>
            <string>{1002,547}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2e966fcccb8ed3c82d0f9b337706af8:1/1$</string>
            <key>textureFileName</key>
            <string>material_tree.png</string>
        </dict>
    </dict>
</plist>
