<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelWishList_btnAdd_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,153},{272,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,67}}</string>
                <key>sourceSize</key>
                <string>{272,67}</string>
            </dict>
            <key>panelWishList_btnAdd_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,84},{272,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,67}}</string>
                <key>sourceSize</key>
                <string>{272,67}</string>
            </dict>
            <key>panelWishList_iconLock.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,2},{56,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,66}}</string>
                <key>sourceSize</key>
                <string>{56,66}</string>
            </dict>
            <key>panelWishList_iconLock2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{217,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,206}}</string>
                <key>sourceSize</key>
                <string>{217,206}</string>
            </dict>
            <key>panelWishList_iconSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,70},{44,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,33}}</string>
                <key>sourceSize</key>
                <string>{44,33}</string>
            </dict>
            <key>panelWishList_iconWishing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{223,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,219}}</string>
                <key>sourceSize</key>
                <string>{223,219}</string>
            </dict>
            <key>panelWishList_itemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{217,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,212}}</string>
                <key>sourceSize</key>
                <string>{217,212}</string>
            </dict>
            <key>panelWishList_numberBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,210},{94,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,32}}</string>
                <key>sourceSize</key>
                <string>{94,32}</string>
            </dict>
            <key>panelWishList_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,216},{315,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,24}}</string>
                <key>sourceSize</key>
                <string>{315,24}</string>
            </dict>
            <key>panelWishList_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,210},{83,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,24}}</string>
                <key>sourceSize</key>
                <string>{83,24}</string>
            </dict>
            <key>panelWishList_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,2},{286,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,80}}</string>
                <key>sourceSize</key>
                <string>{286,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_wishList.png</string>
            <key>size</key>
            <string>{1013,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9185977e10bfa6c130b6d3f1207359ff:1/1$</string>
            <key>textureFileName</key>
            <string>material_wishList.png</string>
        </dict>
    </dict>
</plist>
