<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>material_RPLevel_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{46,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>material_RPLevel_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{68,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,23}}</string>
                <key>sourceSize</key>
                <string>{68,23}</string>
            </dict>
            <key>material_RPLevel_tf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>material_RPLevel_tf4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,23}}</string>
                <key>sourceSize</key>
                <string>{91,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_RPLevel.png</string>
            <key>size</key>
            <string>{262,27}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36421a7689db6ed84eec739e180d1192:1/1$</string>
            <key>textureFileName</key>
            <string>material_RPLevel.png</string>
        </dict>
    </dict>
</plist>
