<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panel7DaysTarget_barBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,2},{40,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,94}}</string>
                <key>sourceSize</key>
                <string>{40,94}</string>
            </dict>
            <key>panel7DaysTarget_btnGetRewards_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,142},{200,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{200,68}</string>
            </dict>
            <key>panel7DaysTarget_btnGetRewards_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,72},{200,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{200,68}</string>
            </dict>
            <key>panel7DaysTarget_btnGetRewards_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{200,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{200,68}</string>
            </dict>
            <key>panel7DaysTarget_btnIcon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,212},{59,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,23}}</string>
                <key>sourceSize</key>
                <string>{59,23}</string>
            </dict>
            <key>panel7DaysTarget_btnIcon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,187},{59,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,23}}</string>
                <key>sourceSize</key>
                <string>{59,23}</string>
            </dict>
            <key>panel7DaysTarget_btnIcon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,162},{59,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,23}}</string>
                <key>sourceSize</key>
                <string>{59,23}</string>
            </dict>
            <key>panel7DaysTarget_btnIcon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,212},{59,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,23}}</string>
                <key>sourceSize</key>
                <string>{59,23}</string>
            </dict>
            <key>panel7DaysTarget_btnIcon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,187},{59,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,23}}</string>
                <key>sourceSize</key>
                <string>{59,23}</string>
            </dict>
            <key>panel7DaysTarget_btnIcon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,162},{59,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,23}}</string>
                <key>sourceSize</key>
                <string>{59,23}</string>
            </dict>
            <key>panel7DaysTarget_btnIcon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,114},{59,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,23}}</string>
                <key>sourceSize</key>
                <string>{59,23}</string>
            </dict>
            <key>panel7DaysTarget_btnIcon_done.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,186},{82,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,62}}</string>
                <key>sourceSize</key>
                <string>{82,62}</string>
            </dict>
            <key>panel7DaysTarget_iconDone.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{200,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{200,68}</string>
            </dict>
            <key>panel7DaysTarget_iconDone2.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{200,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{200,68}</string>
            </dict>
            <key>panel7DaysTarget_subMenu_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,82},{104,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,78}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>panel7DaysTarget_subMenu_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,2},{104,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,78}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>panel7DaysTarget_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,212},{95,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,23}}</string>
                <key>sourceSize</key>
                <string>{95,23}</string>
            </dict>
            <key>panel7DaysTarget_tf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{263,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,23}}</string>
                <key>sourceSize</key>
                <string>{263,23}</string>
            </dict>
            <key>panel7DaysTarget_tf4.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,212},{103,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,23}}</string>
                <key>sourceSize</key>
                <string>{103,23}</string>
            </dict>
            <key>panel7DaysTarget_tfBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,142},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>panel7DaysTarget_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{273,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,85}}</string>
                <key>sourceSize</key>
                <string>{273,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{627,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b27c9dee8c40629182d7dbd09725ae8:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
