<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelGuideBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,400}}</string>
                <key>sourceSize</key>
                <string>{80,400}</string>
            </dict>
            <key>panelGuideStroke.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{40,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,261}}</string>
                <key>sourceSize</key>
                <string>{40,261}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{126,404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25f356c0d02d03695c38ed77acd5dd31:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
