<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelPlayerInfoSelectCity_Remind</key>
            <dict>
                <key>frame</key>
                <string>{{689,108},{188,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,22}}</string>
                <key>sourceSize</key>
                <string>{188,22}</string>
            </dict>
            <key>panelPlayerInfoSelectCity_buttonOk_disable</key>
            <dict>
                <key>frame</key>
                <string>{{460,72},{227,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,68}}</string>
                <key>sourceSize</key>
                <string>{227,68}</string>
            </dict>
            <key>panelPlayerInfoSelectCity_buttonOk_normal</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{227,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,68}}</string>
                <key>sourceSize</key>
                <string>{227,68}</string>
            </dict>
            <key>panelPlayerInfoSelectCity_buttonOk_press</key>
            <dict>
                <key>frame</key>
                <string>{{231,153},{227,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,68}}</string>
                <key>sourceSize</key>
                <string>{227,68}</string>
            </dict>
            <key>panelPlayerInfoSelectCity_buttonRevise_disable</key>
            <dict>
                <key>frame</key>
                <string>{{231,83},{227,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,68}}</string>
                <key>sourceSize</key>
                <string>{227,68}</string>
            </dict>
            <key>panelPlayerInfoSelectCity_buttonRevise_normal</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{227,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,68}}</string>
                <key>sourceSize</key>
                <string>{227,68}</string>
            </dict>
            <key>panelPlayerInfoSelectCity_buttonRevise_press</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{227,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,68}}</string>
                <key>sourceSize</key>
                <string>{227,68}</string>
            </dict>
            <key>panelPlayerInfoSelectCity_content</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{460,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,53}}</string>
                <key>sourceSize</key>
                <string>{460,53}</string>
            </dict>
            <key>panelPlayerInfoSelectCity_selectContent</key>
            <dict>
                <key>frame</key>
                <string>{{221,223},{214,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,24}}</string>
                <key>sourceSize</key>
                <string>{214,24}</string>
            </dict>
            <key>panelPlayerInfoSelectCity_selectStatus</key>
            <dict>
                <key>frame</key>
                <string>{{740,192},{194,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,54}}</string>
                <key>sourceSize</key>
                <string>{194,54}</string>
            </dict>
            <key>panelPlayerInfoSelectCity_tips</key>
            <dict>
                <key>frame</key>
                <string>{{486,202},{252,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,47}}</string>
                <key>sourceSize</key>
                <string>{252,47}</string>
            </dict>
            <key>panelPlayerInfoSelectCity_title</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{301,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,79}}</string>
                <key>sourceSize</key>
                <string>{301,79}</string>
            </dict>
            <key>panelPlayerInfoSelectCity_words</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{217,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,31}}</string>
                <key>sourceSize</key>
                <string>{217,31}</string>
            </dict>
            <key>panelPlayerInfoSelectCity_wordsBg</key>
            <dict>
                <key>frame</key>
                <string>{{689,57},{311,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,49}}</string>
                <key>sourceSize</key>
                <string>{311,49}</string>
            </dict>
            <key>panelPlayerInfoSelectCity_wordsCity</key>
            <dict>
                <key>frame</key>
                <string>{{437,223},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>panelPlayerInfoSettings_buttonReviseCityBig_disable</key>
            <dict>
                <key>frame</key>
                <string>{{718,132},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>panelPlayerInfoSettings_buttonReviseCityBig_normal</key>
            <dict>
                <key>frame</key>
                <string>{{589,142},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>panelPlayerInfoSettings_buttonReviseCityBig_press</key>
            <dict>
                <key>frame</key>
                <string>{{460,142},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_selectCity.png</string>
            <key>size</key>
            <string>{1002,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d15247648599b29afd3afb22009a437f:1/1$</string>
            <key>textureFileName</key>
            <string>material_selectCity.png</string>
        </dict>
    </dict>
</plist>
