<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mallPanleShelfInfo_btnUnload_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,242},{168,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,46}}</string>
                <key>sourceSize</key>
                <string>{168,46}</string>
            </dict>
            <key>mallPanleShelfInfo_btnUnload_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,194},{168,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,46}}</string>
                <key>sourceSize</key>
                <string>{168,46}</string>
            </dict>
            <key>mallPanleShelfInfo_btnUpgrade_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{264,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,68}}</string>
                <key>sourceSize</key>
                <string>{264,68}</string>
            </dict>
            <key>mallPanleShelfInfo_btnUpgrade_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,68}}</string>
                <key>sourceSize</key>
                <string>{264,68}</string>
            </dict>
            <key>mallPanleShelfInfo_maxLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,290},{161,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,75}}</string>
                <key>sourceSize</key>
                <string>{161,75}</string>
            </dict>
            <key>mallPanleShelfInfo_subWin_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{205,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,358}}</string>
                <key>sourceSize</key>
                <string>{205,358}</string>
            </dict>
            <key>mallPanleShelfInfo_subWin_innerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,72},{170,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,120}}</string>
                <key>sourceSize</key>
                <string>{170,120}</string>
            </dict>
            <key>mallPanleShelfInfo_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{96,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,24}}</string>
                <key>sourceSize</key>
                <string>{96,24}</string>
            </dict>
            <key>mallPanleShelfInfo_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,28},{48,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,22}}</string>
                <key>sourceSize</key>
                <string>{48,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Material.png</string>
            <key>size</key>
            <string>{381,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:329c9f173fb1f82541977cb9485e8624:1/1$</string>
            <key>textureFileName</key>
            <string>Material.png</string>
        </dict>
    </dict>
</plist>
