<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_avatarBg_122.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,864},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>common_avatarBg_195.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{202,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,202}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>common_avatarBg_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,524},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>common_avatarStroke_122.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,738},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>common_avatarStroke_195.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,202}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>common_avatarStroke_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,422},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>communityTitle_Boy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{46,46}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{46,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>communityTitle_Boy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,738},{46,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{46,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>communityTitle_Boy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{48,50}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{48,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>communityTitle_Girl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,954},{44,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{44,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>communityTitle_Girl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,738},{48,48}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{48,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>communityTitle_Girl3.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,174},{50,50}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{50,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>vipShell_100_blueDiamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,920},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>vipShell_100_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,822},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>vipShell_100_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,724},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>vipShell_100_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,914},{94,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>vipShell_100_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,626},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>vipShell_122_blueDiamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>vipShell_122_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,606},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>vipShell_122_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,606},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>vipShell_122_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,788},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>vipShell_122_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>vipShell_195_blueDiamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,407},{197,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{197,197}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>vipShell_195_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{197,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{197,197}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>vipShell_195_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,206},{199,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,199}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>vipShell_195_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{199,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,199}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>vipShell_74_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,88},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>vipShell_74_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>vipShell_93_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,324},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>vipShell_93_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,226},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{502,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:939a6aedc7c78e4ceabdcf2f1786ca21:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
