<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelDailyLogin__qqVipTf.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,690},{181,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,59}}</string>
                <key>sourceSize</key>
                <string>{181,59}</string>
            </dict>
            <key>panelDailyLogin__wxVipTf.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,690},{182,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,59}}</string>
                <key>sourceSize</key>
                <string>{182,59}</string>
            </dict>
            <key>panelDailyLogin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{854,514}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{854,514}}</string>
                <key>sourceSize</key>
                <string>{854,514}</string>
            </dict>
            <key>panelDailyLogin_btnGet_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,518},{156,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,170}}</string>
                <key>sourceSize</key>
                <string>{156,170}</string>
            </dict>
            <key>panelDailyLogin_btnGet_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,518},{156,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,170}}</string>
                <key>sourceSize</key>
                <string>{156,170}</string>
            </dict>
            <key>panelDailyLogin_itemBg_current.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,518},{139,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,175}}</string>
                <key>sourceSize</key>
                <string>{139,175}</string>
            </dict>
            <key>panelDailyLogin_itemBg_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,518},{139,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,175}}</string>
                <key>sourceSize</key>
                <string>{139,175}</string>
            </dict>
            <key>panelDailyLogin_itemBg_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{139,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,175}}</string>
                <key>sourceSize</key>
                <string>{139,175}</string>
            </dict>
            <key>panelDailyLogin_itemIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,695},{89,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,53}}</string>
                <key>sourceSize</key>
                <string>{89,53}</string>
            </dict>
            <key>panelDailyLogin_qqVip.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,695},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>panelDailyLogin_wxVip.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,695},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{858,751}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ff5bcdf226f93df846429575641492c:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
