<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mallBubble_customerNeeds_barBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,96},{72,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,13}}</string>
                <key>sourceSize</key>
                <string>{72,13}</string>
            </dict>
            <key>mallBubble_customerNeeds_barBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,96},{78,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,20}}</string>
                <key>sourceSize</key>
                <string>{78,20}</string>
            </dict>
            <key>mallBubble_customerNeeds_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{172,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,92}}</string>
                <key>sourceSize</key>
                <string>{172,92}</string>
            </dict>
            <key>mallBubble_customerNeeds_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{172,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,92}}</string>
                <key>sourceSize</key>
                <string>{172,92}</string>
            </dict>
            <key>mallBubble_customerNeeds_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{172,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,92}}</string>
                <key>sourceSize</key>
                <string>{172,92}</string>
            </dict>
            <key>mallBubble_replenish.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{68,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,50}}</string>
                <key>sourceSize</key>
                <string>{68,50}</string>
            </dict>
            <key>mallBubble_toMove.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{115,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,122}}</string>
                <key>sourceSize</key>
                <string>{115,122}</string>
            </dict>
            <key>mallBubble_toRotate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,122}}</string>
                <key>sourceSize</key>
                <string>{115,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Material.png</string>
            <key>size</key>
            <string>{828,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:556509b07ff80745ad302a53574cdcd3:1/1$</string>
            <key>textureFileName</key>
            <string>Material.png</string>
        </dict>
    </dict>
</plist>
