<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelNewObjectMultiItem_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,723},{60,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,292}}</string>
                <key>sourceSize</key>
                <string>{60,292}</string>
            </dict>
            <key>panelNewObjectMulti_innerBgAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{261,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,171}}</string>
                <key>sourceSize</key>
                <string>{261,171}</string>
            </dict>
            <key>panelNewObjectMulti_innerBgCar.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,522},{261,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,171}}</string>
                <key>sourceSize</key>
                <string>{261,171}</string>
            </dict>
            <key>panelNewObjectMulti_innerBgNPC.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{261,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,171}}</string>
                <key>sourceSize</key>
                <string>{261,171}</string>
            </dict>
            <key>panelNewObjectMulti_innerBgNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,349},{261,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,171}}</string>
                <key>sourceSize</key>
                <string>{261,171}</string>
            </dict>
            <key>panelNewObjectMulti_innerBgShip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{261,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,171}}</string>
                <key>sourceSize</key>
                <string>{261,171}</string>
            </dict>
            <key>panelNewObjectMulti_innerStroke.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,819},{40,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,171}}</string>
                <key>sourceSize</key>
                <string>{40,171}</string>
            </dict>
            <key>panelNewObjectMulti_innerStroke2.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,797},{40,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,220}}</string>
                <key>sourceSize</key>
                <string>{40,220}</string>
            </dict>
            <key>panelNewObjectTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,695},{259,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,100}}</string>
                <key>sourceSize</key>
                <string>{259,100}</string>
            </dict>
            <key>panelNewObject_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,209},{40,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,416}}</string>
                <key>sourceSize</key>
                <string>{40,416}</string>
            </dict>
            <key>panelNewObject_btnExchange_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{272,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,67}}</string>
                <key>sourceSize</key>
                <string>{272,67}</string>
            </dict>
            <key>panelNewObject_btnExchange_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,140},{272,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,67}}</string>
                <key>sourceSize</key>
                <string>{272,67}</string>
            </dict>
            <key>panelNewObject_btnExchange_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{272,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,67}}</string>
                <key>sourceSize</key>
                <string>{272,67}</string>
            </dict>
            <key>panelNewObject_btnOk_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,71},{272,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,67}}</string>
                <key>sourceSize</key>
                <string>{272,67}</string>
            </dict>
            <key>panelNewObject_btnOk_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{272,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,67}}</string>
                <key>sourceSize</key>
                <string>{272,67}</string>
            </dict>
            <key>panelNewObject_btnPair_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,969},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>panelNewObject_btnPair_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,675},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>panelNewObject_btnPair_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,627},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>panelNewObject_exchangeTf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,894},{143,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,23}}</string>
                <key>sourceSize</key>
                <string>{143,23}</string>
            </dict>
            <key>panelNewObject_exchangeTf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{166,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,23}}</string>
                <key>sourceSize</key>
                <string>{166,23}</string>
            </dict>
            <key>panelNewObject_exchangeTf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,819},{152,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,48}}</string>
                <key>sourceSize</key>
                <string>{152,48}</string>
            </dict>
            <key>panelNewObject_exchangeTimes.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,869},{151,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,23}}</string>
                <key>sourceSize</key>
                <string>{151,23}</string>
            </dict>
            <key>panelNewObject_gfit_btnOpen_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,279},{268,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,68}}</string>
                <key>sourceSize</key>
                <string>{268,68}</string>
            </dict>
            <key>panelNewObject_giftTf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,969},{152,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,48}}</string>
                <key>sourceSize</key>
                <string>{152,48}</string>
            </dict>
            <key>panelNewObject_gift_btnOpen_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{268,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,68}}</string>
                <key>sourceSize</key>
                <string>{268,68}</string>
            </dict>
            <key>panelNewObject_guift_btnOpen_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,209},{268,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,68}}</string>
                <key>sourceSize</key>
                <string>{268,68}</string>
            </dict>
            <key>panelNewObject_innerBgNPCBalloon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{281,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,88}}</string>
                <key>sourceSize</key>
                <string>{281,88}</string>
            </dict>
            <key>panelNewObject_innerfontStars.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,797},{211,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,170}}</string>
                <key>sourceSize</key>
                <string>{211,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{588,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19472812d17df7db127d4dec96f477a6:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
