<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelGuild_home_rank_blueBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,105},{34,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,40}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>panelGuild_home_rank_blueBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,83},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,20}}</string>
                <key>sourceSize</key>
                <string>{44,20}</string>
            </dict>
            <key>panelGuild_home_rank_btnMenu_city_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,115},{63,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,111}}</string>
                <key>sourceSize</key>
                <string>{63,111}</string>
            </dict>
            <key>panelGuild_home_rank_btnMenu_city_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{63,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,111}}</string>
                <key>sourceSize</key>
                <string>{63,111}</string>
            </dict>
            <key>panelGuild_home_rank_btnMenu_world_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{63,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,111}}</string>
                <key>sourceSize</key>
                <string>{63,111}</string>
            </dict>
            <key>panelGuild_home_rank_btnMenu_world_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,111}}</string>
                <key>sourceSize</key>
                <string>{63,111}</string>
            </dict>
            <key>panelGuild_home_rank_greenBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,105},{34,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,40}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>panelGuild_home_rank_greenBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,83},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,20}}</string>
                <key>sourceSize</key>
                <string>{44,20}</string>
            </dict>
            <key>panelGuild_home_rank_tf_function.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,228},{100,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,25}}</string>
                <key>sourceSize</key>
                <string>{100,25}</string>
            </dict>
            <key>panelGuild_home_rank_tf_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{91,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,25}}</string>
                <key>sourceSize</key>
                <string>{91,25}</string>
            </dict>
            <key>panelGuild_home_rank_tf_mem.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>panelGuild_home_rank_tf_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,56},{47,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,25}}</string>
                <key>sourceSize</key>
                <string>{47,25}</string>
            </dict>
            <key>panelGuild_home_rank_tf_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,56},{46,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,25}}</string>
                <key>sourceSize</key>
                <string>{46,25}</string>
            </dict>
            <key>panelGuild_home_rank_tf_weekAct.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,29},{90,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,25}}</string>
                <key>sourceSize</key>
                <string>{90,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_rank.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7ea4b6c4117abc0aeba5a8320b47434:1/1$</string>
            <key>textureFileName</key>
            <string>material_rank.png</string>
        </dict>
    </dict>
</plist>
