<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelFriend_Menu_06_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,234},{164,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,100}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>panelFriend_Menu_06_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,146},{164,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,100}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>panelFriend_Menu_07_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,132},{164,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,100}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>panelFriend_Menu_07_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,44},{164,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,100}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>panelFriend_helpNew_btnGetRewards_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,368},{200,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{200,68}</string>
            </dict>
            <key>panelFriend_helpNew_btnGetRewards_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,368},{200,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{200,68}</string>
            </dict>
            <key>panelFriend_helpNew_btnGetRewards_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,298},{200,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{200,68}</string>
            </dict>
            <key>panelFriend_helpNew_btnMine_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,438},{134,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,40}}</string>
                <key>sourceSize</key>
                <string>{134,40}</string>
            </dict>
            <key>panelFriend_helpNew_btnMine_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,438},{134,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,40}}</string>
                <key>sourceSize</key>
                <string>{134,40}</string>
            </dict>
            <key>panelFriend_helpNew_btnRefresh_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,126},{122,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,40}}</string>
                <key>sourceSize</key>
                <string>{122,40}</string>
            </dict>
            <key>panelFriend_helpNew_btnRefresh_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{122,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,40}}</string>
                <key>sourceSize</key>
                <string>{122,40}</string>
            </dict>
            <key>panelFriend_helpNew_icon_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,242},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>panelFriend_helpNew_icon_park.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,168},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>panelFriend_helpNew_innerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{40,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,321}}</string>
                <key>sourceSize</key>
                <string>{40,321}</string>
            </dict>
            <key>panelFriend_helpNew_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{208,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,4}}</string>
                <key>sourceSize</key>
                <string>{208,4}</string>
            </dict>
            <key>panelFriend_helpNew_tfBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,168},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>panelFriend_helpNew_tfInfo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{46,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>panelFriend_helpNew_tfInfo2_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,248},{220,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,48}}</string>
                <key>sourceSize</key>
                <string>{220,48}</string>
            </dict>
            <key>panelFriend_helpNew_tfInfo2_park.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,438},{176,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,48}}</string>
                <key>sourceSize</key>
                <string>{176,48}</string>
            </dict>
            <key>panelFriend_helpNew_tfInfo_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{380,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,24}}</string>
                <key>sourceSize</key>
                <string>{380,24}</string>
            </dict>
            <key>panelFriend_helpNew_tfInfo_park.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{339,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,24}}</string>
                <key>sourceSize</key>
                <string>{339,24}</string>
            </dict>
            <key>panelFriend_helpNew_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,54},{294,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,70}}</string>
                <key>sourceSize</key>
                <string>{294,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_helpNew.png</string>
            <key>size</key>
            <string>{509,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27f470f56cc2ae949fd0f433880ad3ae:1/1$</string>
            <key>textureFileName</key>
            <string>material_helpNew.png</string>
        </dict>
    </dict>
</plist>
