<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelDaily14_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{888,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{888,540}}</string>
                <key>sourceSize</key>
                <string>{888,540}</string>
            </dict>
            <key>panelDaily14_item01.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,776},{131,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,113}}</string>
                <key>sourceSize</key>
                <string>{131,113}</string>
            </dict>
            <key>panelDaily14_item02.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,784},{173,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,113}}</string>
                <key>sourceSize</key>
                <string>{173,113}</string>
            </dict>
            <key>panelDaily14_item03.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,544},{178,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,114}}</string>
                <key>sourceSize</key>
                <string>{178,114}</string>
            </dict>
            <key>panelDaily14_item04.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,544},{156,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,135}}</string>
                <key>sourceSize</key>
                <string>{156,135}</string>
            </dict>
            <key>panelDaily14_item05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{126,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,185}}</string>
                <key>sourceSize</key>
                <string>{126,185}</string>
            </dict>
            <key>panelDaily14_item06.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,544},{174,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,121}}</string>
                <key>sourceSize</key>
                <string>{174,121}</string>
            </dict>
            <key>panelDaily14_item07.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,667},{171,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,115}}</string>
                <key>sourceSize</key>
                <string>{171,115}</string>
            </dict>
            <key>panelDaily14_item08.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,544},{139,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,115}}</string>
                <key>sourceSize</key>
                <string>{139,115}</string>
            </dict>
            <key>panelDaily14_item09.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,667},{146,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,117}}</string>
                <key>sourceSize</key>
                <string>{146,117}</string>
            </dict>
            <key>panelDaily14_item10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{132,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,161}}</string>
                <key>sourceSize</key>
                <string>{132,161}</string>
            </dict>
            <key>panelDaily14_item11.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,713},{155,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,127}}</string>
                <key>sourceSize</key>
                <string>{155,127}</string>
            </dict>
            <key>panelDaily14_item12.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,776},{140,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,114}}</string>
                <key>sourceSize</key>
                <string>{140,114}</string>
            </dict>
            <key>panelDaily14_item13.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,660},{132,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{132,114}</string>
            </dict>
            <key>panelDaily14_item14.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,660},{141,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,114}}</string>
                <key>sourceSize</key>
                <string>{141,114}</string>
            </dict>
            <key>panelDaily14_item14_tfDay.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,681},{54,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,30}}</string>
                <key>sourceSize</key>
                <string>{54,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{892,899}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07ffeaaaa36185c74fe309064f53465f:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
