<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat_btnDown_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,195},{62,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,51}}</string>
                <key>sourceSize</key>
                <string>{62,51}</string>
            </dict>
            <key>chat_btnDown_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,142},{62,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,51}}</string>
                <key>sourceSize</key>
                <string>{62,51}</string>
            </dict>
            <key>chat_btnFold.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,180},{42,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,66}}</string>
                <key>sourceSize</key>
                <string>{42,66}</string>
            </dict>
            <key>chat_btnGuild_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,72},{244,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,68}}</string>
                <key>sourceSize</key>
                <string>{244,68}</string>
            </dict>
            <key>chat_btnGuild_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{244,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,68}}</string>
                <key>sourceSize</key>
                <string>{244,68}</string>
            </dict>
            <key>chat_btnUp_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,195},{62,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,51}}</string>
                <key>sourceSize</key>
                <string>{62,51}</string>
            </dict>
            <key>chat_btnUp_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,142},{62,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,51}}</string>
                <key>sourceSize</key>
                <string>{62,51}</string>
            </dict>
            <key>chat_bubble_otherBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,180},{60,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,69}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>chat_bubble_selfBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{60,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,69}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>chat_bubble_voiceIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,180},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{20,30}</string>
            </dict>
            <key>chat_bubble_voiceIcon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,212},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{20,30}</string>
            </dict>
            <key>chat_bubble_voiceIcon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,180},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{20,30}</string>
            </dict>
            <key>chat_bubble_voiceNewIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,212},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>chat_defaultIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,176}}</string>
                <key>sourceSize</key>
                <string>{292,176}</string>
            </dict>
            <key>chat_inputBarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,180},{69,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,51}}</string>
                <key>sourceSize</key>
                <string>{69,51}</string>
            </dict>
            <key>chat_systemAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,142},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_chat.png</string>
            <key>size</key>
            <string>{542,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1930ba98c092d57e3355b850c298c7c6:1/1$</string>
            <key>textureFileName</key>
            <string>material_chat.png</string>
        </dict>
    </dict>
</plist>
