<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Settings_Female_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{184,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,135}}</string>
                <key>sourceSize</key>
                <string>{184,135}</string>
            </dict>
            <key>Settings_Female_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,139},{184,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,135}}</string>
                <key>sourceSize</key>
                <string>{184,135}</string>
            </dict>
            <key>Settings_Renamed_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,352},{172,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,58}}</string>
                <key>sourceSize</key>
                <string>{172,58}</string>
            </dict>
            <key>Settings_Renamed_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,336},{172,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,58}}</string>
                <key>sourceSize</key>
                <string>{172,58}</string>
            </dict>
            <key>Settings_bgTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{329,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,93}}</string>
                <key>sourceSize</key>
                <string>{329,93}</string>
            </dict>
            <key>Settings_innerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,91},{20,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,174}}</string>
                <key>sourceSize</key>
                <string>{20,174}</string>
            </dict>
            <key>Settings_male_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,91},{184,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,135}}</string>
                <key>sourceSize</key>
                <string>{184,135}</string>
            </dict>
            <key>Settings_male_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,2},{184,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,135}}</string>
                <key>sourceSize</key>
                <string>{184,135}</string>
            </dict>
            <key>Settings_select_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{589,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,87}}</string>
                <key>sourceSize</key>
                <string>{589,87}</string>
            </dict>
            <key>Settings_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,91},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>Settings_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,116},{46,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>Settings_winBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,2},{40,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,430}}</string>
                <key>sourceSize</key>
                <string>{40,430}</string>
            </dict>
            <key>Settings_words.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,267},{103,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,23}}</string>
                <key>sourceSize</key>
                <string>{103,23}</string>
            </dict>
            <key>Settings_words2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,186},{104,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,23}}</string>
                <key>sourceSize</key>
                <string>{104,23}</string>
            </dict>
            <key>Settings_words3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,211},{103,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,23}}</string>
                <key>sourceSize</key>
                <string>{103,23}</string>
            </dict>
            <key>panelPlayerInfoSettings_buttonReviseCity_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,348},{172,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,58}}</string>
                <key>sourceSize</key>
                <string>{172,58}</string>
            </dict>
            <key>panelPlayerInfoSettings_buttonReviseCity_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,292},{172,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,58}}</string>
                <key>sourceSize</key>
                <string>{172,58}</string>
            </dict>
            <key>panelPlayerInfoSettings_buttonReviseCity_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{172,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,58}}</string>
                <key>sourceSize</key>
                <string>{172,58}</string>
            </dict>
            <key>panelPlayerInfoSettings_buttonSettingCity_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,288},{172,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,58}}</string>
                <key>sourceSize</key>
                <string>{172,58}</string>
            </dict>
            <key>panelPlayerInfoSettings_buttonSettingCity_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,276},{172,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,58}}</string>
                <key>sourceSize</key>
                <string>{172,58}</string>
            </dict>
            <key>panelPlayerInfoSettings_buttonSettingCity_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,228},{172,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,58}}</string>
                <key>sourceSize</key>
                <string>{172,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_setting.png</string>
            <key>size</key>
            <string>{821,434}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e5fe3f1fdf7102a6ac2c2057c21bc93:1/1$</string>
            <key>textureFileName</key>
            <string>material_setting.png</string>
        </dict>
    </dict>
</plist>
