<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelProsperityItem_avtarStroke.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,474},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>panelProsperityItem_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{668,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,87}}</string>
                <key>sourceSize</key>
                <string>{668,87}</string>
            </dict>
            <key>panelProsperityItem_selfBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,273},{14,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,64}}</string>
                <key>sourceSize</key>
                <string>{14,64}</string>
            </dict>
            <key>panelProsperity_Number1.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,559},{72,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,83}}</string>
                <key>sourceSize</key>
                <string>{72,83}</string>
            </dict>
            <key>panelProsperity_Number2.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,556},{72,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,83}}</string>
                <key>sourceSize</key>
                <string>{72,83}</string>
            </dict>
            <key>panelProsperity_Number3.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,474},{72,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,83}}</string>
                <key>sourceSize</key>
                <string>{72,83}</string>
            </dict>
            <key>panelProsperity_barCity.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{697,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{697,41}}</string>
                <key>sourceSize</key>
                <string>{697,41}</string>
            </dict>
            <key>panelProsperity_barFriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,399},{697,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{697,41}}</string>
                <key>sourceSize</key>
                <string>{697,41}</string>
            </dict>
            <key>panelProsperity_barNear.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{697,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{697,41}}</string>
                <key>sourceSize</key>
                <string>{697,41}</string>
            </dict>
            <key>panelProsperity_barWorld.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{697,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{697,41}}</string>
                <key>sourceSize</key>
                <string>{697,41}</string>
            </dict>
            <key>panelProsperity_bg_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,2},{120,533}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,533}}</string>
                <key>sourceSize</key>
                <string>{120,533}</string>
            </dict>
            <key>panelProsperity_bg_sub.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,2},{171,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,269}}</string>
                <key>sourceSize</key>
                <string>{171,269}</string>
            </dict>
            <key>panelProsperity_bg_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{558,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,105}}</string>
                <key>sourceSize</key>
                <string>{558,105}</string>
            </dict>
            <key>panelProsperity_bg_titleTf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{280,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,66}}</string>
                <key>sourceSize</key>
                <string>{280,66}</string>
            </dict>
            <key>panelProsperity_btnVisit_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,418},{110,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,54}}</string>
                <key>sourceSize</key>
                <string>{110,54}</string>
            </dict>
            <key>panelProsperity_btnVisit_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,617},{110,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,54}}</string>
                <key>sourceSize</key>
                <string>{110,54}</string>
            </dict>
            <key>panelProsperity_btnVisit_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,485},{110,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,54}}</string>
                <key>sourceSize</key>
                <string>{110,54}</string>
            </dict>
            <key>panelProsperity_cityButtonSelect_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,541},{227,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,68}}</string>
                <key>sourceSize</key>
                <string>{227,68}</string>
            </dict>
            <key>panelProsperity_cityButtonSelect_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,685},{227,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,68}}</string>
                <key>sourceSize</key>
                <string>{227,68}</string>
            </dict>
            <key>panelProsperity_cityButtonSelect_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{227,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,68}}</string>
                <key>sourceSize</key>
                <string>{227,68}</string>
            </dict>
            <key>panelProsperity_cityContent.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{455,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,23}}</string>
                <key>sourceSize</key>
                <string>{455,23}</string>
            </dict>
            <key>panelProsperity_innerBgIll.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{697,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{697,220}}</string>
                <key>sourceSize</key>
                <string>{697,220}</string>
            </dict>
            <key>panelProsperity_innerBgStroke.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,273},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>panelProsperity_loadingInfoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,273},{113,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,143}}</string>
                <key>sourceSize</key>
                <string>{113,143}</string>
            </dict>
            <key>panelProsperity_menuCity_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,644},{58,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,106}}</string>
                <key>sourceSize</key>
                <string>{58,106}</string>
            </dict>
            <key>panelProsperity_menuCity_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,644},{58,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,106}}</string>
                <key>sourceSize</key>
                <string>{58,106}</string>
            </dict>
            <key>panelProsperity_menuFriend_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,641},{58,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,106}}</string>
                <key>sourceSize</key>
                <string>{58,106}</string>
            </dict>
            <key>panelProsperity_menuFriend_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,611},{58,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,106}}</string>
                <key>sourceSize</key>
                <string>{58,106}</string>
            </dict>
            <key>panelProsperity_menuNear_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,611},{58,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,106}}</string>
                <key>sourceSize</key>
                <string>{58,106}</string>
            </dict>
            <key>panelProsperity_menuNear_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,611},{58,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,106}}</string>
                <key>sourceSize</key>
                <string>{58,106}</string>
            </dict>
            <key>panelProsperity_menuWorld_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,614},{58,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,106}}</string>
                <key>sourceSize</key>
                <string>{58,106}</string>
            </dict>
            <key>panelProsperity_menuWorld_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,614},{58,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,106}}</string>
                <key>sourceSize</key>
                <string>{58,106}</string>
            </dict>
            <key>panelProsperity_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,592},{79,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,20}}</string>
                <key>sourceSize</key>
                <string>{79,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{996,755}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4b788e51565aa6683917bf377041053:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
