<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelGuild_quest_Menu_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,54},{101,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,116}}</string>
                <key>sourceSize</key>
                <string>{101,116}</string>
            </dict>
            <key>panelGuild_quest_Menu_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,95},{101,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,116}}</string>
                <key>sourceSize</key>
                <string>{101,116}</string>
            </dict>
            <key>panelGuild_quest_barBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,22}}</string>
                <key>sourceSize</key>
                <string>{500,22}</string>
            </dict>
            <key>panelGuild_quest_barBar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,71},{266,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,22}}</string>
                <key>sourceSize</key>
                <string>{266,22}</string>
            </dict>
            <key>panelGuild_quest_barBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,230},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>panelGuild_quest_btnBarPoint2_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,222},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>panelGuild_quest_btnBarPoint2_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,247},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>panelGuild_quest_btnBarPoint_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,247},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>panelGuild_quest_btnBarPoint_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,235},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>panelGuild_quest_btnGetRewards_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,165},{200,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{200,68}</string>
            </dict>
            <key>panelGuild_quest_btnGetRewards_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,95},{200,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{200,68}</string>
            </dict>
            <key>panelGuild_quest_btnProgress_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,48},{162,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,50}}</string>
                <key>sourceSize</key>
                <string>{162,50}</string>
            </dict>
            <key>panelGuild_quest_btnProgress_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{162,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,50}}</string>
                <key>sourceSize</key>
                <string>{162,50}</string>
            </dict>
            <key>panelGuild_quest_btnSubmit_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{290,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,67}}</string>
                <key>sourceSize</key>
                <string>{290,67}</string>
            </dict>
            <key>panelGuild_quest_btnSubmit_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{290,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,67}}</string>
                <key>sourceSize</key>
                <string>{290,67}</string>
            </dict>
            <key>panelGuild_quest_btnSubmit_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{290,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,67}}</string>
                <key>sourceSize</key>
                <string>{290,67}</string>
            </dict>
            <key>panelGuild_quest_goodBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,54},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>panelGuild_quest_innerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,48},{30,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,180}}</string>
                <key>sourceSize</key>
                <string>{30,180}</string>
            </dict>
            <key>panelGuild_quest_innerMenu_g_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,235},{148,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,48}}</string>
                <key>sourceSize</key>
                <string>{148,48}</string>
            </dict>
            <key>panelGuild_quest_innerMenu_g_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,200},{148,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,48}}</string>
                <key>sourceSize</key>
                <string>{148,48}</string>
            </dict>
            <key>panelGuild_quest_innerMenu_p_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,150},{148,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,48}}</string>
                <key>sourceSize</key>
                <string>{148,48}</string>
            </dict>
            <key>panelGuild_quest_innerMenu_p_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,100},{148,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,48}}</string>
                <key>sourceSize</key>
                <string>{148,48}</string>
            </dict>
            <key>panelGuild_quest_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,263},{94,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,23}}</string>
                <key>sourceSize</key>
                <string>{94,23}</string>
            </dict>
            <key>panelGuild_quest_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{247,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,23}}</string>
                <key>sourceSize</key>
                <string>{247,23}</string>
            </dict>
            <key>panelGuild_quest_tf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,238},{94,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,23}}</string>
                <key>sourceSize</key>
                <string>{94,23}</string>
            </dict>
            <key>panelGuild_quest_tf4.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,172},{118,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,23}}</string>
                <key>sourceSize</key>
                <string>{118,23}</string>
            </dict>
            <key>panelGuild_quest_tf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,272},{238,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,23}}</string>
                <key>sourceSize</key>
                <string>{238,23}</string>
            </dict>
            <key>panelGuild_quest_tf6.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,197},{152,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,23}}</string>
                <key>sourceSize</key>
                <string>{152,23}</string>
            </dict>
            <key>panelGuild_quest_tf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,213},{94,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,23}}</string>
                <key>sourceSize</key>
                <string>{94,23}</string>
            </dict>
            <key>panelGuild_quest_tf8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{470,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,20}}</string>
                <key>sourceSize</key>
                <string>{470,20}</string>
            </dict>
            <key>panelGuild_quest_tf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,222},{103,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,23}}</string>
                <key>sourceSize</key>
                <string>{103,23}</string>
            </dict>
            <key>panelGuild_quest_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{291,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,84}}</string>
                <key>sourceSize</key>
                <string>{291,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_quest.png</string>
            <key>size</key>
            <string>{986,297}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05d40c1e13c9052dc436f28bb83b8c28:1/1$</string>
            <key>textureFileName</key>
            <string>material_quest.png</string>
        </dict>
    </dict>
</plist>
