<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelPush_barBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,28},{42,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,116}}</string>
                <key>sourceSize</key>
                <string>{42,116}</string>
            </dict>
            <key>panelPush_btnManage_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,329},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>panelPush_btnManage_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,288},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>panelPush_btnSend_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,434},{170,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,58}}</string>
                <key>sourceSize</key>
                <string>{170,58}</string>
            </dict>
            <key>panelPush_btnSend_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,348},{170,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,58}}</string>
                <key>sourceSize</key>
                <string>{170,58}</string>
            </dict>
            <key>panelPush_manage_iconBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,28},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>panelPush_manage_innerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{30,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,180}}</string>
                <key>sourceSize</key>
                <string>{30,180}</string>
            </dict>
            <key>panelPush_manage_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,24}}</string>
                <key>sourceSize</key>
                <string>{384,24}</string>
            </dict>
            <key>panelPush_manage_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{292,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,90}}</string>
                <key>sourceSize</key>
                <string>{292,90}</string>
            </dict>
            <key>panelPush_selectFriend_btnRepick_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,184},{87,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,39}}</string>
                <key>sourceSize</key>
                <string>{87,39}</string>
            </dict>
            <key>panelPush_selectFriend_btnRepick_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,422},{87,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,39}}</string>
                <key>sourceSize</key>
                <string>{87,39}</string>
            </dict>
            <key>panelPush_selectFriend_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,408},{206,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,24}}</string>
                <key>sourceSize</key>
                <string>{206,24}</string>
            </dict>
            <key>panelPush_selectFriend_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,463},{94,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,24}}</string>
                <key>sourceSize</key>
                <string>{94,24}</string>
            </dict>
            <key>panelPush_selectFriend_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,212},{252,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,48}}</string>
                <key>sourceSize</key>
                <string>{252,48}</string>
            </dict>
            <key>panelPush_speaker_btnSend_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,288},{188,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,58}}</string>
                <key>sourceSize</key>
                <string>{188,58}</string>
            </dict>
            <key>panelPush_speaker_btnSend_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{188,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,58}}</string>
                <key>sourceSize</key>
                <string>{188,58}</string>
            </dict>
            <key>panelPush_speaker_innerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,120},{40,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,312}}</string>
                <key>sourceSize</key>
                <string>{40,312}</string>
            </dict>
            <key>panelPush_speaker_itemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{80,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,296}}</string>
                <key>sourceSize</key>
                <string>{80,296}</string>
            </dict>
            <key>panelPush_speaker_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,262},{312,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,24}}</string>
                <key>sourceSize</key>
                <string>{312,24}</string>
            </dict>
            <key>panelPush_speaker_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,370},{144,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,24}}</string>
                <key>sourceSize</key>
                <string>{144,24}</string>
            </dict>
            <key>panelPush_speaker_tf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,396},{95,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,24}}</string>
                <key>sourceSize</key>
                <string>{95,24}</string>
            </dict>
            <key>panelPush_speaker_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,120},{242,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,90}}</string>
                <key>sourceSize</key>
                <string>{242,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{471,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba17f7dceb42658bc8f5aa17bd798769:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
