<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelBottle_bg_Ani_bottle.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,428},{59,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,69}}</string>
                <key>sourceSize</key>
                <string>{59,69}</string>
            </dict>
            <key>panelBottle_bg_Ani_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,306},{122,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,52}}</string>
                <key>sourceSize</key>
                <string>{122,52}</string>
            </dict>
            <key>panelBottle_f_btnAdd_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,82},{244,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,78}}</string>
                <key>sourceSize</key>
                <string>{244,78}</string>
            </dict>
            <key>panelBottle_f_btnAdd_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{244,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,78}}</string>
                <key>sourceSize</key>
                <string>{244,78}</string>
            </dict>
            <key>panelBottle_f_btnThrow_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,306},{244,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,59}}</string>
                <key>sourceSize</key>
                <string>{244,59}</string>
            </dict>
            <key>panelBottle_f_btnThrow_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,367},{244,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,59}}</string>
                <key>sourceSize</key>
                <string>{244,59}</string>
            </dict>
            <key>panelBottle_f_innerBg_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,280}}</string>
                <key>sourceSize</key>
                <string>{326,280}</string>
            </dict>
            <key>panelBottle_g_btnGet_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{244,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,70}}</string>
                <key>sourceSize</key>
                <string>{244,70}</string>
            </dict>
            <key>panelBottle_g_btnGet_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{244,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,70}}</string>
                <key>sourceSize</key>
                <string>{244,70}</string>
            </dict>
            <key>panelBottle_g_btnMore_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,234},{244,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,70}}</string>
                <key>sourceSize</key>
                <string>{244,70}</string>
            </dict>
            <key>panelBottle_g_btnMore_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,162},{244,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,70}}</string>
                <key>sourceSize</key>
                <string>{244,70}</string>
            </dict>
            <key>panelBottle_g_innerBg_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{294,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,302}}</string>
                <key>sourceSize</key>
                <string>{294,302}</string>
            </dict>
            <key>panelBottle_iconCity.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,462},{103,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,35}}</string>
                <key>sourceSize</key>
                <string>{103,35}</string>
            </dict>
            <key>panelBottle_iconCity2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,462},{103,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,35}}</string>
                <key>sourceSize</key>
                <string>{103,35}</string>
            </dict>
            <key>panelBottle_iconFriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,360},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>panelBottle_iconGiveup.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,367},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>panelBottle_l_btnThrowAll_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,306},{244,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,59}}</string>
                <key>sourceSize</key>
                <string>{244,59}</string>
            </dict>
            <key>panelBottle_l_btnThrowAll_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{244,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,59}}</string>
                <key>sourceSize</key>
                <string>{244,59}</string>
            </dict>
            <key>panelBottle_timesBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,428},{188,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,32}}</string>
                <key>sourceSize</key>
                <string>{188,32}</string>
            </dict>
            <key>panelBottle_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,367},{156,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,56}}</string>
                <key>sourceSize</key>
                <string>{156,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Material.png</string>
            <key>size</key>
            <string>{872,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce65bc93ed1d01996f693fe9386145cd:1/1$</string>
            <key>textureFileName</key>
            <string>Material.png</string>
        </dict>
    </dict>
</plist>
