<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelGuild_sailMap_barBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,323},{10,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,70}}</string>
                <key>sourceSize</key>
                <string>{10,70}</string>
            </dict>
            <key>panelGuild_sailMap_btnState_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,353},{199,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,59}}</string>
                <key>sourceSize</key>
                <string>{199,59}</string>
            </dict>
            <key>panelGuild_sailMap_btnState_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{199,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,59}}</string>
                <key>sourceSize</key>
                <string>{199,59}</string>
            </dict>
            <key>panelGuild_sailMap_cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,212},{146,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,235}}</string>
                <key>sourceSize</key>
                <string>{146,235}</string>
            </dict>
            <key>panelGuild_sailMap_cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{306,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,208}}</string>
                <key>sourceSize</key>
                <string>{306,208}</string>
            </dict>
            <key>panelGuild_sailMap_cloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{348,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,319}}</string>
                <key>sourceSize</key>
                <string>{348,319}</string>
            </dict>
            <key>panelGuild_sailMap_cloud4.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{304,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,349}}</string>
                <key>sourceSize</key>
                <string>{304,349}</string>
            </dict>
            <key>panelGuild_sailMap_pointOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,372},{63,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,47}}</string>
                <key>sourceSize</key>
                <string>{63,47}</string>
            </dict>
            <key>panelGuild_sailMap_pointOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,323},{63,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,47}}</string>
                <key>sourceSize</key>
                <string>{63,47}</string>
            </dict>
            <key>panelGuild_sailMap_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,212},{152,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,23}}</string>
                <key>sourceSize</key>
                <string>{152,23}</string>
            </dict>
            <key>panelGuild_sailMap_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,421},{102,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,23}}</string>
                <key>sourceSize</key>
                <string>{102,23}</string>
            </dict>
            <key>panelGuild_sailMap_tf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,237},{151,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,23}}</string>
                <key>sourceSize</key>
                <string>{151,23}</string>
            </dict>
            <key>panelGuild_sailMap_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{252,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,55}}</string>
                <key>sourceSize</key>
                <string>{252,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_sailMap.png</string>
            <key>size</key>
            <string>{966,449}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d70a48030d87accba5bce80a033f2826:1/1$</string>
            <key>textureFileName</key>
            <string>material_sailMap.png</string>
        </dict>
    </dict>
</plist>
