<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guild_DataPanel_menuData_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,397},{184,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,100}}</string>
                <key>sourceSize</key>
                <string>{184,100}</string>
            </dict>
            <key>Guild_DataPanel_menuData_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,295},{184,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,100}}</string>
                <key>sourceSize</key>
                <string>{184,100}</string>
            </dict>
            <key>Guild_DataPanel_menuGuest_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,796},{184,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,100}}</string>
                <key>sourceSize</key>
                <string>{184,100}</string>
            </dict>
            <key>Guild_DataPanel_menuGuest_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,694},{184,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,100}}</string>
                <key>sourceSize</key>
                <string>{184,100}</string>
            </dict>
            <key>Guild_DataPanel_menuMem_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,592},{184,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,100}}</string>
                <key>sourceSize</key>
                <string>{184,100}</string>
            </dict>
            <key>Guild_DataPanel_menuMem_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,490},{184,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,100}}</string>
                <key>sourceSize</key>
                <string>{184,100}</string>
            </dict>
            <key>Guild_DataTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,2},{287,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,83}}</string>
                <key>sourceSize</key>
                <string>{287,83}</string>
            </dict>
            <key>Guild_btnApplication2_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>Guild_btnApplication2_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,777},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>Guild_btnApplication_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,844},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>Guild_btnApplication_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,803},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>Guild_btnCreatGuild_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,957},{121,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,40}}</string>
                <key>sourceSize</key>
                <string>{121,40}</string>
            </dict>
            <key>Guild_btnCreatGuild_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,957},{121,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,40}}</string>
                <key>sourceSize</key>
                <string>{121,40}</string>
            </dict>
            <key>Guild_btnEditInfo_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>Guild_btnEditInfo_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,639},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>Guild_btnEnterGuild_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>Guild_btnEnterGuild_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>Guild_btnOrange_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,708},{163,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,58}}</string>
                <key>sourceSize</key>
                <string>{163,58}</string>
            </dict>
            <key>Guild_btnOrange_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,648},{163,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,58}}</string>
                <key>sourceSize</key>
                <string>{163,58}</string>
            </dict>
            <key>Guild_btnQuit_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>Guild_btnQuit_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,363},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>Guild_btnRandomVisit_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,294},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>Guild_btnRandomVisit_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,225},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>Guild_btnSearchGuild_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,156},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>Guild_btnSearchGuild_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,87},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>Guild_btnSearch_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,588},{172,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,58}}</string>
                <key>sourceSize</key>
                <string>{172,58}</string>
            </dict>
            <key>Guild_btnSearch_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,528},{172,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,58}}</string>
                <key>sourceSize</key>
                <string>{172,58}</string>
            </dict>
            <key>Guild_btnVisit_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,762},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>Guild_btnVisit_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,721},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>Guild_data_btnDel.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,408},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{38,42}</string>
            </dict>
            <key>Guild_data_btnEdit2_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,680},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>Guild_data_btnEdit2_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,639},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>Guild_data_btnEditDone_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,598},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>Guild_data_btnEditDone_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,880},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>Guild_data_btnEdit_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,839},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>Guild_data_btnEdit_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,798},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>Guild_data_btnTitle_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,958},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>Guild_data_btnTitle_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,958},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>Guild_data_itemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,24},{60,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,131}}</string>
                <key>sourceSize</key>
                <string>{60,131}</string>
            </dict>
            <key>Guild_data_tf_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,915},{43,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,24}}</string>
                <key>sourceSize</key>
                <string>{43,24}</string>
            </dict>
            <key>Guild_data_tf_pw.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,514},{84,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,23}}</string>
                <key>sourceSize</key>
                <string>{84,23}</string>
            </dict>
            <key>Guild_descriptionBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,2},{49,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,210}}</string>
                <key>sourceSize</key>
                <string>{49,210}</string>
            </dict>
            <key>Guild_homePanel_menuMine_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,388},{184,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,100}}</string>
                <key>sourceSize</key>
                <string>{184,100}</string>
            </dict>
            <key>Guild_homePanel_menuMine_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,286},{184,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,100}}</string>
                <key>sourceSize</key>
                <string>{184,100}</string>
            </dict>
            <key>Guild_homePanel_menuRank_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,126},{184,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,100}}</string>
                <key>sourceSize</key>
                <string>{184,100}</string>
            </dict>
            <key>Guild_homePanel_menuRank_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,24},{184,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,100}}</string>
                <key>sourceSize</key>
                <string>{184,100}</string>
            </dict>
            <key>Guild_homePanel_menuSearch_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,184},{184,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,100}}</string>
                <key>sourceSize</key>
                <string>{184,100}</string>
            </dict>
            <key>Guild_homePanel_menuSearch_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,82},{184,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,100}}</string>
                <key>sourceSize</key>
                <string>{184,100}</string>
            </dict>
            <key>Guild_homeTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,859},{177,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,74}}</string>
                <key>sourceSize</key>
                <string>{177,74}</string>
            </dict>
            <key>Guild_home_expBar_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,36},{324,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,22}}</string>
                <key>sourceSize</key>
                <string>{324,22}</string>
            </dict>
            <key>Guild_home_expBar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{335,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,32}}</string>
                <key>sourceSize</key>
                <string>{335,32}</string>
            </dict>
            <key>Guild_home_infoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,60},{122,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,113}}</string>
                <key>sourceSize</key>
                <string>{122,113}</string>
            </dict>
            <key>Guild_home_info_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{247,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,20}}</string>
                <key>sourceSize</key>
                <string>{247,20}</string>
            </dict>
            <key>Guild_home_info_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,60},{212,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,20}}</string>
                <key>sourceSize</key>
                <string>{212,20}</string>
            </dict>
            <key>Guild_home_info_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,935},{176,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,20}}</string>
                <key>sourceSize</key>
                <string>{176,20}</string>
            </dict>
            <key>Guild_home_innerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{8,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,407}}</string>
                <key>sourceSize</key>
                <string>{8,407}</string>
            </dict>
            <key>Guild_home_mine_tfCity.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,379},{50,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,27}}</string>
                <key>sourceSize</key>
                <string>{50,27}</string>
            </dict>
            <key>Guild_home_mine_tfDailyExp.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,768},{137,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,28}}</string>
                <key>sourceSize</key>
                <string>{137,28}</string>
            </dict>
            <key>Guild_home_mine_tfId.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,909},{76,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,29}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
            <key>Guild_home_mine_tfInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,568},{92,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,28}}</string>
                <key>sourceSize</key>
                <string>{92,28}</string>
            </dict>
            <key>Guild_home_mine_tfLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,485},{49,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,27}}</string>
                <key>sourceSize</key>
                <string>{49,27}</string>
            </dict>
            <key>Guild_home_mine_tfMem.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,885},{49,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,28}}</string>
                <key>sourceSize</key>
                <string>{49,28}</string>
            </dict>
            <key>Guild_home_mine_tfWeekAct.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,456},{71,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,27}}</string>
                <key>sourceSize</key>
                <string>{71,27}</string>
            </dict>
            <key>Guild_home_search_btnBack_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,235},{120,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,58}}</string>
                <key>sourceSize</key>
                <string>{120,58}</string>
            </dict>
            <key>Guild_home_search_btnBack_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,175},{120,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,58}}</string>
                <key>sourceSize</key>
                <string>{120,58}</string>
            </dict>
            <key>Guild_home_search_itemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,798},{14,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,64}}</string>
                <key>sourceSize</key>
                <string>{14,64}</string>
            </dict>
            <key>Guild_home_search_itemBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,528},{14,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,64}}</string>
                <key>sourceSize</key>
                <string>{14,64}</string>
            </dict>
            <key>Guild_home_search_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,349},{54,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,28}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
            <key>Guild_home_search_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,885},{86,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,22}}</string>
                <key>sourceSize</key>
                <string>{86,22}</string>
            </dict>
            <key>Guild_icon_Arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,768},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>Guild_icon_Location.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,456},{28,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{28,40}</string>
            </dict>
            <key>Guild_icon_SearchCity.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,539},{99,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,27}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>Guild_icon_SearchID.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,921},{122,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,27}}</string>
                <key>sourceSize</key>
                <string>{122,27}</string>
            </dict>
            <key>Guild_masterIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,157},{60,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>Guild_masterSecIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,227},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>Guild_menu_btnAddF_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,468},{199,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,58}}</string>
                <key>sourceSize</key>
                <string>{199,58}</string>
            </dict>
            <key>Guild_menu_btnAddF_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,408},{199,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,58}}</string>
                <key>sourceSize</key>
                <string>{199,58}</string>
            </dict>
            <key>Guild_menu_btnCallback_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,348},{199,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,58}}</string>
                <key>sourceSize</key>
                <string>{199,58}</string>
            </dict>
            <key>Guild_menu_btnCallback_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,288},{199,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,58}}</string>
                <key>sourceSize</key>
                <string>{199,58}</string>
            </dict>
            <key>Guild_menu_btnDelSec_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,799},{199,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,58}}</string>
                <key>sourceSize</key>
                <string>{199,58}</string>
            </dict>
            <key>Guild_menu_btnDelSec_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,739},{199,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,58}}</string>
                <key>sourceSize</key>
                <string>{199,58}</string>
            </dict>
            <key>Guild_menu_btnFlower_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,679},{199,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,58}}</string>
                <key>sourceSize</key>
                <string>{199,58}</string>
            </dict>
            <key>Guild_menu_btnFlower_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,619},{199,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,58}}</string>
                <key>sourceSize</key>
                <string>{199,58}</string>
            </dict>
            <key>Guild_menu_btnSetSec_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,559},{199,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,58}}</string>
                <key>sourceSize</key>
                <string>{199,58}</string>
            </dict>
            <key>Guild_menu_btnSetSec_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,499},{199,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,58}}</string>
                <key>sourceSize</key>
                <string>{199,58}</string>
            </dict>
            <key>Guild_menu_btnTransfer_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,228},{199,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,58}}</string>
                <key>sourceSize</key>
                <string>{199,58}</string>
            </dict>
            <key>Guild_menu_btnTransfer_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,898},{199,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,58}}</string>
                <key>sourceSize</key>
                <string>{199,58}</string>
            </dict>
            <key>Guild_menu_bubbleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,915},{239,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,70}}</string>
                <key>sourceSize</key>
                <string>{239,70}</string>
            </dict>
            <key>Guild_patternLine_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,648},{4,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,63}}</string>
                <key>sourceSize</key>
                <string>{4,63}</string>
            </dict>
            <key>Guild_subPanel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,87},{70,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,185}}</string>
                <key>sourceSize</key>
                <string>{70,185}</string>
            </dict>
            <key>Guild_tfBar2_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,401},{40,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,53}}</string>
                <key>sourceSize</key>
                <string>{40,53}</string>
            </dict>
            <key>Guild_tfBar3_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,349},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Guild_tfBar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,297},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_Home.png</string>
            <key>size</key>
            <string>{938,999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c10ab2c277883d75faac8e78b1c558d:1/1$</string>
            <key>textureFileName</key>
            <string>material_Home.png</string>
        </dict>
    </dict>
</plist>
