<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mallMainUI_greetTip_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,308},{90,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,24}}</string>
                <key>sourceSize</key>
                <string>{90,24}</string>
            </dict>
            <key>mallMainUI_greetTip_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,194},{146,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,20}}</string>
                <key>sourceSize</key>
                <string>{146,20}</string>
            </dict>
            <key>mallMainUI_greetTip_tf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,82},{166,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,24}}</string>
                <key>sourceSize</key>
                <string>{166,24}</string>
            </dict>
            <key>mallMainUI_greetTip_tf4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{192,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,24}}</string>
                <key>sourceSize</key>
                <string>{192,24}</string>
            </dict>
            <key>mallMainUI_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,216},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>mall_mainUI_CDTipInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{332,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,78}}</string>
                <key>sourceSize</key>
                <string>{332,78}</string>
            </dict>
            <key>mall_mainUI_FriendplayerInfo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{325,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,110}}</string>
                <key>sourceSize</key>
                <string>{325,110}</string>
            </dict>
            <key>mall_mainUI_greeting_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,2},{40,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,75}}</string>
                <key>sourceSize</key>
                <string>{40,75}</string>
            </dict>
            <key>mall_mainUI_greeting_btnGreet_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,138},{144,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,54}}</string>
                <key>sourceSize</key>
                <string>{144,54}</string>
            </dict>
            <key>mall_mainUI_greeting_btnGreet_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{144,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,54}}</string>
                <key>sourceSize</key>
                <string>{144,54}</string>
            </dict>
            <key>mall_mainUI_greeting_btnGreet_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,82},{144,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,54}}</string>
                <key>sourceSize</key>
                <string>{144,54}</string>
            </dict>
            <key>mall_mainUI_greeting_btnIcon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,362},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>mall_mainUI_greeting_btnIcon_1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,487},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>mall_mainUI_greeting_btnIcon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,308},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>mall_mainUI_greeting_btnIcon_2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,487},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>mall_mainUI_greeting_btnStart_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,254},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>mall_mainUI_greeting_btnStart_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,200},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>mall_mainUI_greeting_countingBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,458},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>mall_mainUI_greeting_customerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{138,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,48}}</string>
                <key>sourceSize</key>
                <string>{138,48}</string>
            </dict>
            <key>mall_mainUI_greeting_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,24}}</string>
                <key>sourceSize</key>
                <string>{92,24}</string>
            </dict>
            <key>mall_mainUI_playerInfo_barBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,300},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>mall_mainUI_playerInfo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{325,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,110}}</string>
                <key>sourceSize</key>
                <string>{325,110}</string>
            </dict>
            <key>mall_mainUI_playerInfo_iconLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,416},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>mall_mainUI_playerInfo_iconPrestige.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,266},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>mall_mainUI_playerInfo_levelBar_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{108,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,23}}</string>
                <key>sourceSize</key>
                <string>{108,23}</string>
            </dict>
            <key>mall_mainUI_playerInfo_prestigeBar_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,226},{114,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,23}}</string>
                <key>sourceSize</key>
                <string>{114,23}</string>
            </dict>
            <key>mall_mainUI_playerInfo_subBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,108},{108,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,73}}</string>
                <key>sourceSize</key>
                <string>{108,73}</string>
            </dict>
            <key>mall_mainUI_starBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,152},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>mall_mainUI_toolsBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,108},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>mall_mainUI_tools_boardTf.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,452},{78,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,24}}</string>
                <key>sourceSize</key>
                <string>{78,24}</string>
            </dict>
            <key>mall_mainUI_tools_boss_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,384},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>mall_mainUI_tools_boss_tf.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,461},{78,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,24}}</string>
                <key>sourceSize</key>
                <string>{78,24}</string>
            </dict>
            <key>mall_mainUI_tools_branchIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,367},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>mall_mainUI_tools_branchTf.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,476},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>mall_mainUI_tools_friendIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,292},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>mall_mainUI_tools_friendTf.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,485},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>mall_mainUI_tools_heartCallIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,275},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>mall_mainUI_tools_heartCallTf.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,435},{78,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,24}}</string>
                <key>sourceSize</key>
                <string>{78,24}</string>
            </dict>
            <key>mall_mainUI_tools_hisTownTf.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,436},{80,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,24}}</string>
                <key>sourceSize</key>
                <string>{80,24}</string>
            </dict>
            <key>mall_mainUI_tools_mailIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,334},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>mall_mainUI_tools_mailTf.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,459},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>mall_mainUI_tools_messageIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,343},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>mall_mainUI_tools_messageTf.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,459},{60,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,24}}</string>
                <key>sourceSize</key>
                <string>{60,24}</string>
            </dict>
            <key>mall_mainUI_tools_myMallIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,344},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>mall_mainUI_tools_myMallTf.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,476},{78,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,24}}</string>
                <key>sourceSize</key>
                <string>{78,24}</string>
            </dict>
            <key>mall_mainUI_tools_myTownIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,216},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>mall_mainUI_tools_myTownTf.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,485},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>mall_mainUI_tools_newGuideIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,251},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>mall_mainUI_tools_newGuideTf.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,82},{77,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,24}}</string>
                <key>sourceSize</key>
                <string>{77,24}</string>
            </dict>
            <key>mall_mainUI_tools_otherIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,252},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>mall_mainUI_tools_otherTf.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,485},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>mall_mainUI_tools_package_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,200},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>mall_mainUI_tools_package_tf.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,478},{66,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,25}}</string>
                <key>sourceSize</key>
                <string>{66,25}</string>
            </dict>
            <key>mall_mainUI_tools_queueIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,183},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>mall_mainUI_tools_shopIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,108},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>mall_mainUI_tools_shopTf.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,426},{78,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,24}}</string>
                <key>sourceSize</key>
                <string>{78,24}</string>
            </dict>
            <key>mall_mainUI_tools_shortcutIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,358},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>mall_mainUI_tools_shortcutTf.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,462},{78,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,24}}</string>
                <key>sourceSize</key>
                <string>{78,24}</string>
            </dict>
            <key>mall_mainUI_tools_storageIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>mall_mainUI_tools_storageTf.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,450},{78,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,24}}</string>
                <key>sourceSize</key>
                <string>{78,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Material.png</string>
            <key>size</key>
            <string>{722,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:015fa5fb1b4261c6d1e29b0962a852f7:1/1$</string>
            <key>textureFileName</key>
            <string>Material.png</string>
        </dict>
    </dict>
</plist>
