<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelStage_Star_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,108},{196,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,288}}</string>
                <key>sourceSize</key>
                <string>{196,288}</string>
            </dict>
            <key>panelStage_boardInfo_1hour.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,226},{111,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,48}}</string>
                <key>sourceSize</key>
                <string>{111,48}</string>
            </dict>
            <key>panelStage_boardInfo_profit.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,96},{126,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,44}}</string>
                <key>sourceSize</key>
                <string>{126,44}</string>
            </dict>
            <key>panelStage_btnCancelPW_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,322},{96,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,44}}</string>
                <key>sourceSize</key>
                <string>{96,44}</string>
            </dict>
            <key>panelStage_btnCancelPW_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,276},{96,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,44}}</string>
                <key>sourceSize</key>
                <string>{96,44}</string>
            </dict>
            <key>panelStage_btnGet_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,565},{235,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,79}}</string>
                <key>sourceSize</key>
                <string>{235,79}</string>
            </dict>
            <key>panelStage_btnGet_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,484},{235,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,79}}</string>
                <key>sourceSize</key>
                <string>{235,79}</string>
            </dict>
            <key>panelStage_btnInvite_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,339},{235,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,79}}</string>
                <key>sourceSize</key>
                <string>{235,79}</string>
            </dict>
            <key>panelStage_btnInvite_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,351},{235,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,79}}</string>
                <key>sourceSize</key>
                <string>{235,79}</string>
            </dict>
            <key>panelStage_btnKickOff_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,626},{175,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,50}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>panelStage_btnKickOff_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,661},{175,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,50}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>panelStage_btnQuit_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,258},{235,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,79}}</string>
                <key>sourceSize</key>
                <string>{235,79}</string>
            </dict>
            <key>panelStage_btnQuit_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,177},{235,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,79}}</string>
                <key>sourceSize</key>
                <string>{235,79}</string>
            </dict>
            <key>panelStage_btnSetPW_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,713},{162,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,44}}</string>
                <key>sourceSize</key>
                <string>{162,44}</string>
            </dict>
            <key>panelStage_btnSetPW_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,713},{162,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,44}}</string>
                <key>sourceSize</key>
                <string>{162,44}</string>
            </dict>
            <key>panelStage_btnStartDance_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,96},{235,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,79}}</string>
                <key>sourceSize</key>
                <string>{235,79}</string>
            </dict>
            <key>panelStage_btnStartDance_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,270},{235,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,79}}</string>
                <key>sourceSize</key>
                <string>{235,79}</string>
            </dict>
            <key>panelStage_btnUpgrade_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,420},{182,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,60}}</string>
                <key>sourceSize</key>
                <string>{182,60}</string>
            </dict>
            <key>panelStage_btnUpgrade_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,671},{182,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,60}}</string>
                <key>sourceSize</key>
                <string>{182,60}</string>
            </dict>
            <key>panelStage_btnVisit2_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,554},{176,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,70}}</string>
                <key>sourceSize</key>
                <string>{176,70}</string>
            </dict>
            <key>panelStage_btnVisit2_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,482},{176,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,70}}</string>
                <key>sourceSize</key>
                <string>{176,70}</string>
            </dict>
            <key>panelStage_btnVisit_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,189},{235,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,79}}</string>
                <key>sourceSize</key>
                <string>{235,79}</string>
            </dict>
            <key>panelStage_btnVisit_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,108},{235,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,79}}</string>
                <key>sourceSize</key>
                <string>{235,79}</string>
            </dict>
            <key>panelStage_closeBtnBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,142},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>panelStage_infoBoardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{172,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,181}}</string>
                <key>sourceSize</key>
                <string>{172,181}</string>
            </dict>
            <key>panelStage_info_DancingWM.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,398},{191,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,23}}</string>
                <key>sourceSize</key>
                <string>{191,23}</string>
            </dict>
            <key>panelStage_info_canDance.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,432},{446,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,24}}</string>
                <key>sourceSize</key>
                <string>{446,24}</string>
            </dict>
            <key>panelStage_info_charmMore.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,36},{405,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,33}}</string>
                <key>sourceSize</key>
                <string>{405,33}</string>
            </dict>
            <key>panelStage_info_charmMore2.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{406,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,32}}</string>
                <key>sourceSize</key>
                <string>{406,32}</string>
            </dict>
            <key>panelStage_info_dancingWithyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,626},{142,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,23}}</string>
                <key>sourceSize</key>
                <string>{142,23}</string>
            </dict>
            <key>panelStage_info_done.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,368},{133,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,27}}</string>
                <key>sourceSize</key>
                <string>{133,27}</string>
            </dict>
            <key>panelStage_info_doneWM.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,636},{190,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,23}}</string>
                <key>sourceSize</key>
                <string>{190,23}</string>
            </dict>
            <key>panelStage_info_doneWithyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,601},{166,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,23}}</string>
                <key>sourceSize</key>
                <string>{166,23}</string>
            </dict>
            <key>panelStage_info_imgGuide.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{401,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,104}}</string>
                <key>sourceSize</key>
                <string>{401,104}</string>
            </dict>
            <key>panelStage_info_inviteToRewards.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,458},{424,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,24}}</string>
                <key>sourceSize</key>
                <string>{424,24}</string>
            </dict>
            <key>panelStage_info_noPartner.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,646},{239,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,23}}</string>
                <key>sourceSize</key>
                <string>{239,23}</string>
            </dict>
            <key>panelStage_info_otherDancingWM.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,576},{166,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,23}}</string>
                <key>sourceSize</key>
                <string>{166,23}</string>
            </dict>
            <key>panelStage_info_password.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,651},{95,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,23}}</string>
                <key>sourceSize</key>
                <string>{95,23}</string>
            </dict>
            <key>panelStage_info_password_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,717},{162,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,40}}</string>
                <key>sourceSize</key>
                <string>{162,40}</string>
            </dict>
            <key>panelStage_info_profitCurrent.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,651},{94,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,23}}</string>
                <key>sourceSize</key>
                <string>{94,23}</string>
            </dict>
            <key>panelStage_info_profitHope.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,397},{119,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,23}}</string>
                <key>sourceSize</key>
                <string>{119,23}</string>
            </dict>
            <key>panelStage_info_timeLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,733},{190,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,23}}</string>
                <key>sourceSize</key>
                <string>{190,23}</string>
            </dict>
            <key>panelStage_info_timesBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,602},{234,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,32}}</string>
                <key>sourceSize</key>
                <string>{234,32}</string>
            </dict>
            <key>panelStage_info_timesMax.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,551},{166,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,23}}</string>
                <key>sourceSize</key>
                <string>{166,23}</string>
            </dict>
            <key>panelStage_info_youCanDance.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,71},{398,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,23}}</string>
                <key>sourceSize</key>
                <string>{398,23}</string>
            </dict>
            <key>panelStage_info_youDancing.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,474},{164,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,23}}</string>
                <key>sourceSize</key>
                <string>{164,23}</string>
            </dict>
            <key>panelStage_innerbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,676},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>panelStage_label1_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,678},{166,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,57}}</string>
                <key>sourceSize</key>
                <string>{166,57}</string>
            </dict>
            <key>panelStage_label1_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{166,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,57}}</string>
                <key>sourceSize</key>
                <string>{166,57}</string>
            </dict>
            <key>panelStage_label2_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,543},{235,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,57}}</string>
                <key>sourceSize</key>
                <string>{235,57}</string>
            </dict>
            <key>panelStage_label2_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,484},{235,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,57}}</string>
                <key>sourceSize</key>
                <string>{235,57}</string>
            </dict>
            <key>panelStage_subWinBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,471}}</string>
                <key>sourceSize</key>
                <string>{205,471}</string>
            </dict>
            <key>panelStage_subWinBg_bell.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,142},{51,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,70}}</string>
                <key>sourceSize</key>
                <string>{51,70}</string>
            </dict>
            <key>pannelStage_btn_add_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,499},{170,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,50}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
            <key>pannelStage_btn_add_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,422},{170,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,50}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{1020,759}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7dc1aba11fa85e5ede4dca9d346bc2c6:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
