<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnGuestLogout_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,199},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>btnGuestLogout_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,148},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>btnLogout_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,130},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>btnLogout_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,61},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>btnSwitch_off_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,357},{198,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,80}}</string>
                <key>sourceSize</key>
                <string>{198,80}</string>
            </dict>
            <key>btnSwitch_off_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,350},{198,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,80}}</string>
                <key>sourceSize</key>
                <string>{198,80}</string>
            </dict>
            <key>btnSwitch_on_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,275},{198,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,80}}</string>
                <key>sourceSize</key>
                <string>{198,80}</string>
            </dict>
            <key>btnSwitch_on_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,268},{198,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,80}}</string>
                <key>sourceSize</key>
                <string>{198,80}</string>
            </dict>
            <key>panelOption_agreement.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,439},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>panelOption_bbs.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,439},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>panelOption_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,488}}</string>
                <key>sourceSize</key>
                <string>{60,488}</string>
            </dict>
            <key>panelOption_bg_version.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,8},{512,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,51}}</string>
                <key>sourceSize</key>
                <string>{512,51}</string>
            </dict>
            <key>panelOption_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,268},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>panelOption_iconQQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,242},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>panelOption_iconWX.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,199},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>panelOption_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{522,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,4}}</string>
                <key>sourceSize</key>
                <string>{522,4}</string>
            </dict>
            <key>panelOption_tfAgreement.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,217},{224,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,24}}</string>
                <key>sourceSize</key>
                <string>{224,24}</string>
            </dict>
            <key>panelOption_tfProvision.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,336},{84,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,24}}</string>
                <key>sourceSize</key>
                <string>{84,24}</string>
            </dict>
            <key>panelOption_tfService.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,310},{84,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,24}}</string>
                <key>sourceSize</key>
                <string>{84,24}</string>
            </dict>
            <key>panelOption_tf_addQQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,243},{222,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,30}}</string>
                <key>sourceSize</key>
                <string>{222,30}</string>
            </dict>
            <key>panelOption_tf_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,362},{133,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,64}}</string>
                <key>sourceSize</key>
                <string>{133,64}</string>
            </dict>
            <key>panelOption_tf_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,432},{177,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,29}}</string>
                <key>sourceSize</key>
                <string>{177,29}</string>
            </dict>
            <key>panelOption_tf_sfx.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,428},{132,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,53}}</string>
                <key>sourceSize</key>
                <string>{132,53}</string>
            </dict>
            <key>panelOption_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,61},{274,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,85}}</string>
                <key>sourceSize</key>
                <string>{274,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{599,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:331c482826b50ad093fa185e52ad8322:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
