<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>QuestItemNumberBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,426},{122,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,45}}</string>
                <key>sourceSize</key>
                <string>{122,45}</string>
            </dict>
            <key>QuestPanel_bg_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{260,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,239}}</string>
                <key>sourceSize</key>
                <string>{260,239}</string>
            </dict>
            <key>QuestPanel_bg_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{846,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{846,176}}</string>
                <key>sourceSize</key>
                <string>{846,176}</string>
            </dict>
            <key>QuestPanel_iconCon.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,320},{119,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,104}}</string>
                <key>sourceSize</key>
                <string>{119,104}</string>
            </dict>
            <key>btnDetail_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,410},{107,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,53}}</string>
                <key>sourceSize</key>
                <string>{107,53}</string>
            </dict>
            <key>btnDetail_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,318},{107,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,53}}</string>
                <key>sourceSize</key>
                <string>{107,53}</string>
            </dict>
            <key>btnGet_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,421},{170,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,53}}</string>
                <key>sourceSize</key>
                <string>{170,53}</string>
            </dict>
            <key>btnGet_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{170,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,53}}</string>
                <key>sourceSize</key>
                <string>{170,53}</string>
            </dict>
            <key>btnReward_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,249},{205,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,67}}</string>
                <key>sourceSize</key>
                <string>{205,67}</string>
            </dict>
            <key>btnReward_Large_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,321},{147,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,139}}</string>
                <key>sourceSize</key>
                <string>{147,139}</string>
            </dict>
            <key>btnReward_Large_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,180},{147,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,139}}</string>
                <key>sourceSize</key>
                <string>{147,139}</string>
            </dict>
            <key>btnReward_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,180},{205,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,67}}</string>
                <key>sourceSize</key>
                <string>{205,67}</string>
            </dict>
            <key>completeIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,320},{84,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,62}}</string>
                <key>sourceSize</key>
                <string>{84,62}</string>
            </dict>
            <key>limitTimeBalloon.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,180},{208,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,138}}</string>
                <key>sourceSize</key>
                <string>{208,138}</string>
            </dict>
            <key>limitTimeBalloon_tf.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,384},{107,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,24}}</string>
                <key>sourceSize</key>
                <string>{107,24}</string>
            </dict>
            <key>limitTimeBalloon_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,321},{51,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,27}}</string>
                <key>sourceSize</key>
                <string>{51,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_quest.png</string>
            <key>size</key>
            <string>{850,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0f8f9b23be2afa7429d0c8962d55b8f:1/1$</string>
            <key>textureFileName</key>
            <string>material_quest.png</string>
        </dict>
    </dict>
</plist>
