<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelShipUpdate_Item_innerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{267,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,204}}</string>
                <key>sourceSize</key>
                <string>{267,204}</string>
            </dict>
            <key>panelShipUpdate_btnGoldUpgrade_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,576},{227,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,68}}</string>
                <key>sourceSize</key>
                <string>{227,68}</string>
            </dict>
            <key>panelShipUpdate_btnGoldUpgrade_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,506},{227,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,68}}</string>
                <key>sourceSize</key>
                <string>{227,68}</string>
            </dict>
            <key>panelShipUpdate_btnGoldUpgrade_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,905},{227,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,68}}</string>
                <key>sourceSize</key>
                <string>{227,68}</string>
            </dict>
            <key>panelShipUpdate_btnLevelUp_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{264,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,61}}</string>
                <key>sourceSize</key>
                <string>{264,61}</string>
            </dict>
            <key>panelShipUpdate_btnLevelUp_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{264,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,61}}</string>
                <key>sourceSize</key>
                <string>{264,61}</string>
            </dict>
            <key>panelShipUpdate_btnLevelUp_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{264,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,61}}</string>
                <key>sourceSize</key>
                <string>{264,61}</string>
            </dict>
            <key>panelShipUpdate_btnReSelect_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,506},{184,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,181}}</string>
                <key>sourceSize</key>
                <string>{184,181}</string>
            </dict>
            <key>panelShipUpdate_btnUpgrade_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,323},{184,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,181}}</string>
                <key>sourceSize</key>
                <string>{184,181}</string>
            </dict>
            <key>panelShipUpdate_btnUpgrade_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,140},{184,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,181}}</string>
                <key>sourceSize</key>
                <string>{184,181}</string>
            </dict>
            <key>panelShipUpdate_expBarBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{316,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,18}}</string>
                <key>sourceSize</key>
                <string>{316,18}</string>
            </dict>
            <key>panelShipUpdate_expBarBarChange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{316,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,18}}</string>
                <key>sourceSize</key>
                <string>{316,18}</string>
            </dict>
            <key>panelShipUpdate_expBarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{324,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,26}}</string>
                <key>sourceSize</key>
                <string>{324,26}</string>
            </dict>
            <key>panelShipUpdate_iconArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,897},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>panelShipUpdate_iconMaxLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,646},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>panelShipUpdate_innerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{457,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,39}}</string>
                <key>sourceSize</key>
                <string>{457,39}</string>
            </dict>
            <key>panelShipUpdate_innerBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,646},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>panelShipUpdate_materialItem_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,848},{142,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,109}}</string>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>panelShipUpdate_materialItem_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,43},{134,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,95}}</string>
                <key>sourceSize</key>
                <string>{134,95}</string>
            </dict>
            <key>panelShipUpdate_selectTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,713},{182,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,47}}</string>
                <key>sourceSize</key>
                <string>{182,47}</string>
            </dict>
            <key>panelShipUpdate_tfExpNeed.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,689},{184,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,22}}</string>
                <key>sourceSize</key>
                <string>{184,22}</string>
            </dict>
            <key>panelShipUpdate_tfInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,975},{248,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,23}}</string>
                <key>sourceSize</key>
                <string>{248,23}</string>
            </dict>
            <key>panelShipUpdate_tfLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,111},{43,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,21}}</string>
                <key>sourceSize</key>
                <string>{43,21}</string>
            </dict>
            <key>panelShipUpdate_tfLevelEnabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,959},{80,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,35}}</string>
                <key>sourceSize</key>
                <string>{80,35}</string>
            </dict>
            <key>panelShipUpdate_tfMaxLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,959},{80,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,35}}</string>
                <key>sourceSize</key>
                <string>{80,35}</string>
            </dict>
            <key>panelShipUpdate_tfNeedMaterial.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,762},{95,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,23}}</string>
                <key>sourceSize</key>
                <string>{95,23}</string>
            </dict>
            <key>panelShipUpdate_tipExpGet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,848},{252,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,47}}</string>
                <key>sourceSize</key>
                <string>{252,47}</string>
            </dict>
            <key>panelShipUpdate_winBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{40,397}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,397}}</string>
                <key>sourceSize</key>
                <string>{40,397}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_shipUpdate.png</string>
            <key>size</key>
            <string>{464,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a9e14ac48ceca081c0c109ab8f1891b:1/1$</string>
            <key>textureFileName</key>
            <string>material_shipUpdate.png</string>
        </dict>
    </dict>
</plist>
