<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LevelUp_I.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,651},{39,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,112}}</string>
                <key>sourceSize</key>
                <string>{39,112}</string>
            </dict>
            <key>LevelUp_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,651},{90,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,111}}</string>
                <key>sourceSize</key>
                <string>{90,111}</string>
            </dict>
            <key>LevelUp_Ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{510,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,345}}</string>
                <key>sourceSize</key>
                <string>{510,345}</string>
            </dict>
            <key>LevelUp_V.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,537},{104,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,112}}</string>
                <key>sourceSize</key>
                <string>{104,112}</string>
            </dict>
            <key>LevelUp_VIP1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{760,433}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,433}}</string>
                <key>sourceSize</key>
                <string>{760,433}</string>
            </dict>
            <key>LevelUp_VIP2.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,437},{251,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,98}}</string>
                <key>sourceSize</key>
                <string>{251,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_vip.png</string>
            <key>size</key>
            <string>{767,784}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b59a926f6796584d3cf295bcb00c755e:1/1$</string>
            <key>textureFileName</key>
            <string>material_vip.png</string>
        </dict>
    </dict>
</plist>
