<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelGuild_btnFlower_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,312},{194,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,53}}</string>
                <key>sourceSize</key>
                <string>{194,53}</string>
            </dict>
            <key>panelGuild_btnFlower_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,203},{194,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,53}}</string>
                <key>sourceSize</key>
                <string>{194,53}</string>
            </dict>
            <key>panelGuild_flower_itemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,314}}</string>
                <key>sourceSize</key>
                <string>{258,314}</string>
            </dict>
            <key>panelGuild_flower_itemIcon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{244,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,129}}</string>
                <key>sourceSize</key>
                <string>{244,129}</string>
            </dict>
            <key>panelGuild_flower_itemIcon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{230,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,131}}</string>
                <key>sourceSize</key>
                <string>{230,131}</string>
            </dict>
            <key>panelGuild_flower_itemIcon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,367},{238,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,133}}</string>
                <key>sourceSize</key>
                <string>{238,133}</string>
            </dict>
            <key>panelGuild_flower_itemboardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,135},{167,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,66}}</string>
                <key>sourceSize</key>
                <string>{167,66}</string>
            </dict>
            <key>panelGuild_flower_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,135},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>panelGuild_flower_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,153},{18,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,13}}</string>
                <key>sourceSize</key>
                <string>{18,13}</string>
            </dict>
            <key>panelGuild_flower_tf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{164,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,22}}</string>
                <key>sourceSize</key>
                <string>{164,22}</string>
            </dict>
            <key>panelGuild_flower_tfGuild.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{296,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,24}}</string>
                <key>sourceSize</key>
                <string>{296,24}</string>
            </dict>
            <key>panelGuild_flower_tfMem.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,284},{164,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,26}}</string>
                <key>sourceSize</key>
                <string>{164,26}</string>
            </dict>
            <key>panelGuild_flower_tfSingle.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,258},{225,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,24}}</string>
                <key>sourceSize</key>
                <string>{225,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_flower.png</string>
            <key>size</key>
            <string>{496,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ead54fecc6d2fa61bf2e99e92b0f218:1/1$</string>
            <key>textureFileName</key>
            <string>material_flower.png</string>
        </dict>
    </dict>
</plist>
