<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ball_Todo_Icon</key>
            <dict>
                <key>frame</key>
                <string>{{975,2},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>ballon_Moor_Bubble</key>
            <dict>
                <key>frame</key>
                <string>{{583,126},{96,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,109}}</string>
                <key>sourceSize</key>
                <string>{96,109}</string>
            </dict>
            <key>ballon_Moor_icon</key>
            <dict>
                <key>frame</key>
                <string>{{265,250},{50,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,38}}</string>
                <key>sourceSize</key>
                <string>{50,38}</string>
            </dict>
            <key>ballon_ParkingSteal_Bubble</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{95,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,122}}</string>
                <key>sourceSize</key>
                <string>{95,122}</string>
            </dict>
            <key>ballon_Parking_Bubble</key>
            <dict>
                <key>frame</key>
                <string>{{681,126},{95,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,109}}</string>
                <key>sourceSize</key>
                <string>{95,109}</string>
            </dict>
            <key>ballon_Parking_gold</key>
            <dict>
                <key>frame</key>
                <string>{{583,237},{91,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,75}}</string>
                <key>sourceSize</key>
                <string>{91,75}</string>
            </dict>
            <key>ballon_avatar_shell1</key>
            <dict>
                <key>frame</key>
                <string>{{880,111},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>ballon_avatar_shell2</key>
            <dict>
                <key>frame</key>
                <string>{{781,114},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>ballon_codeLock_icon</key>
            <dict>
                <key>frame</key>
                <string>{{218,258},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>ballon_guild_getRP</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{115,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,130}}</string>
                <key>sourceSize</key>
                <string>{115,130}</string>
            </dict>
            <key>ballon_guild_man</key>
            <dict>
                <key>frame</key>
                <string>{{676,237},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>ballon_guild_water</key>
            <dict>
                <key>frame</key>
                <string>{{466,126},{115,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,118}}</string>
                <key>sourceSize</key>
                <string>{115,118}</string>
            </dict>
            <key>ballon_guild_woman</key>
            <dict>
                <key>frame</key>
                <string>{{748,237},{54,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{54,72}</string>
            </dict>
            <key>ballon_heart_Bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{111,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,138}}</string>
                <key>sourceSize</key>
                <string>{111,138}</string>
            </dict>
            <key>ballon_help_Bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,156}}</string>
                <key>sourceSize</key>
                <string>{111,156}</string>
            </dict>
            <key>ballon_icon_heart</key>
            <dict>
                <key>frame</key>
                <string>{{965,210},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>ballon_icon_help</key>
            <dict>
                <key>frame</key>
                <string>{{317,250},{45,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>ballon_icon_helping</key>
            <dict>
                <key>frame</key>
                <string>{{446,265},{52,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,17}}</string>
                <key>sourceSize</key>
                <string>{52,17}</string>
            </dict>
            <key>ballon_icon_onSailing</key>
            <dict>
                <key>frame</key>
                <string>{{520,246},{52,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,17}}</string>
                <key>sourceSize</key>
                <string>{52,17}</string>
            </dict>
            <key>ballon_icon_parking</key>
            <dict>
                <key>frame</key>
                <string>{{500,265},{44,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,30}}</string>
                <key>sourceSize</key>
                <string>{44,30}</string>
            </dict>
            <key>ballon_icon_sailing</key>
            <dict>
                <key>frame</key>
                <string>{{466,246},{52,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,17}}</string>
                <key>sourceSize</key>
                <string>{52,17}</string>
            </dict>
            <key>ballon_icon_toApply</key>
            <dict>
                <key>frame</key>
                <string>{{885,292},{52,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,17}}</string>
                <key>sourceSize</key>
                <string>{52,17}</string>
            </dict>
            <key>ballon_itemBg</key>
            <dict>
                <key>frame</key>
                <string>{{804,213},{79,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,89}}</string>
                <key>sourceSize</key>
                <string>{79,89}</string>
            </dict>
            <key>ballon_moor_profit</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{116,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,122}}</string>
                <key>sourceSize</key>
                <string>{116,122}</string>
            </dict>
            <key>ballon_moor_profit_icon</key>
            <dict>
                <key>frame</key>
                <string>{{115,258},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ballon_npcBalloonTipBg</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{115,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,122}}</string>
                <key>sourceSize</key>
                <string>{115,122}</string>
            </dict>
            <key>ballon_npcBalloonTipFont</key>
            <dict>
                <key>frame</key>
                <string>{{885,210},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>ballon_sail_application</key>
            <dict>
                <key>frame</key>
                <string>{{349,126},{115,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,122}}</string>
                <key>sourceSize</key>
                <string>{115,122}</string>
            </dict>
            <key>ballon_sail_profit</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{115,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,122}}</string>
                <key>sourceSize</key>
                <string>{115,122}</string>
            </dict>
            <key>ballon_sail_profitIcon</key>
            <dict>
                <key>frame</key>
                <string>{{167,258},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>ballon_sail_sailingIcon</key>
            <dict>
                <key>frame</key>
                <string>{{364,250},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>ballon_sail_toSail</key>
            <dict>
                <key>frame</key>
                <string>{{349,126},{115,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,122}}</string>
                <key>sourceSize</key>
                <string>{115,122}</string>
            </dict>
            <key>ballon_stage_invite</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>ballon_stage_profit</key>
            <dict>
                <key>frame</key>
                <string>{{232,126},{115,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,122}}</string>
                <key>sourceSize</key>
                <string>{115,122}</string>
            </dict>
            <key>ballon_stage_profit_icon</key>
            <dict>
                <key>frame</key>
                <string>{{405,250},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>balloon_guild_closeAction</key>
            <dict>
                <key>frame</key>
                <string>{{115,134},{115,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,122}}</string>
                <key>sourceSize</key>
                <string>{115,122}</string>
            </dict>
            <key>balloon_toHeart</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{95,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,107}}</string>
                <key>sourceSize</key>
                <string>{95,107}</string>
            </dict>
            <key>balloon_toHelp</key>
            <dict>
                <key>frame</key>
                <string>{{781,2},{95,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,110}}</string>
                <key>sourceSize</key>
                <string>{95,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{1003,314}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5154b8e4965bb522a11924cf966b0bde:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
