<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelGender_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{50,468}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,468}}</string>
                <key>sourceSize</key>
                <string>{50,468}</string>
            </dict>
            <key>panelGender_btnBoy_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,566},{255,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,261}}</string>
                <key>sourceSize</key>
                <string>{255,261}</string>
            </dict>
            <key>panelGender_btnBoy_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{255,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,261}}</string>
                <key>sourceSize</key>
                <string>{255,261}</string>
            </dict>
            <key>panelGender_btnGirl_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{278,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,280}}</string>
                <key>sourceSize</key>
                <string>{278,280}</string>
            </dict>
            <key>panelGender_btnGirl_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,280}}</string>
                <key>sourceSize</key>
                <string>{278,280}</string>
            </dict>
            <key>panelGender_tfInfo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{476,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,32}}</string>
                <key>sourceSize</key>
                <string>{476,32}</string>
            </dict>
            <key>panelGender_tipInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{172,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,48}}</string>
                <key>sourceSize</key>
                <string>{172,48}</string>
            </dict>
            <key>panelGender_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,472},{204,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,56}}</string>
                <key>sourceSize</key>
                <string>{204,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_gender.png</string>
            <key>size</key>
            <string>{516,863}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f415cb601dc41113772e6d6c0472d93f:1/1$</string>
            <key>textureFileName</key>
            <string>material_gender.png</string>
        </dict>
    </dict>
</plist>
