<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelGuild_message_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,234}}</string>
                <key>sourceSize</key>
                <string>{100,234}</string>
            </dict>
            <key>panelGuild_message_btnRewards_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,127},{205,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,58}}</string>
                <key>sourceSize</key>
                <string>{205,58}</string>
            </dict>
            <key>panelGuild_message_btnRewards_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,67},{205,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,58}}</string>
                <key>sourceSize</key>
                <string>{205,58}</string>
            </dict>
            <key>panelGuild_message_subTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,27},{210,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,38}}</string>
                <key>sourceSize</key>
                <string>{210,38}</string>
            </dict>
            <key>panelGuild_message_tfInfo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,187},{142,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,23}}</string>
                <key>sourceSize</key>
                <string>{142,23}</string>
            </dict>
            <key>panelGuild_message_tfInfo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{253,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,23}}</string>
                <key>sourceSize</key>
                <string>{253,23}</string>
            </dict>
            <key>panelGuild_message_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,187},{104,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,54}}</string>
                <key>sourceSize</key>
                <string>{104,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_message.png</string>
            <key>size</key>
            <string>{359,243}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bba62a501a384234d90f85f598b9528:1/1$</string>
            <key>textureFileName</key>
            <string>material_message.png</string>
        </dict>
    </dict>
</plist>
