<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelGuild_iconBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>panelGuild_innerBg_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{688,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,108}}</string>
                <key>sourceSize</key>
                <string>{688,108}</string>
            </dict>
            <key>panelGuild_rewardsQuest_btnCallBack_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,207},{208,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,68}}</string>
                <key>sourceSize</key>
                <string>{208,68}</string>
            </dict>
            <key>panelGuild_rewardsQuest_btnCallBack_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,137},{208,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,68}}</string>
                <key>sourceSize</key>
                <string>{208,68}</string>
            </dict>
            <key>panelGuild_rewardsQuest_btnCommit_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{290,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,68}}</string>
                <key>sourceSize</key>
                <string>{290,68}</string>
            </dict>
            <key>panelGuild_rewardsQuest_btnCommit_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{290,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,68}}</string>
                <key>sourceSize</key>
                <string>{290,68}</string>
            </dict>
            <key>panelGuild_rewardsQuest_btnGet_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,137},{244,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,76}}</string>
                <key>sourceSize</key>
                <string>{244,76}</string>
            </dict>
            <key>panelGuild_rewardsQuest_btnGet_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{244,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,76}}</string>
                <key>sourceSize</key>
                <string>{244,76}</string>
            </dict>
            <key>panelGuild_rewardsQuest_btnLog_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,346},{208,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,67}}</string>
                <key>sourceSize</key>
                <string>{208,67}</string>
            </dict>
            <key>panelGuild_rewardsQuest_btnLog_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,277},{208,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,67}}</string>
                <key>sourceSize</key>
                <string>{208,67}</string>
            </dict>
            <key>panelGuild_rewardsQuest_btnPublish_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,215},{244,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,68}}</string>
                <key>sourceSize</key>
                <string>{244,68}</string>
            </dict>
            <key>panelGuild_rewardsQuest_btnPublish_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{244,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,68}}</string>
                <key>sourceSize</key>
                <string>{244,68}</string>
            </dict>
            <key>panelGuild_rewardsQuest_btnRedPackage_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,349},{244,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,62}}</string>
                <key>sourceSize</key>
                <string>{244,62}</string>
            </dict>
            <key>panelGuild_rewardsQuest_btnRedPackage_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,285},{244,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,62}}</string>
                <key>sourceSize</key>
                <string>{244,62}</string>
            </dict>
            <key>panelGuild_rewardsQuest_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,415},{163,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,22}}</string>
                <key>sourceSize</key>
                <string>{163,22}</string>
            </dict>
            <key>panelGuild_rewardsQuest_tf10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{368,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,22}}</string>
                <key>sourceSize</key>
                <string>{368,22}</string>
            </dict>
            <key>panelGuild_rewardsQuest_tf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,413},{286,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,22}}</string>
                <key>sourceSize</key>
                <string>{286,22}</string>
            </dict>
            <key>panelGuild_rewardsQuest_tf12.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,439},{148,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,20}}</string>
                <key>sourceSize</key>
                <string>{148,20}</string>
            </dict>
            <key>panelGuild_rewardsQuest_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,437},{273,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,22}}</string>
                <key>sourceSize</key>
                <string>{273,22}</string>
            </dict>
            <key>panelGuild_rewardsQuest_tf2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,461},{209,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,22}}</string>
                <key>sourceSize</key>
                <string>{209,22}</string>
            </dict>
            <key>panelGuild_rewardsQuest_tf2c.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,415},{47,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,22}}</string>
                <key>sourceSize</key>
                <string>{47,22}</string>
            </dict>
            <key>panelGuild_rewardsQuest_tf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,112},{334,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,23}}</string>
                <key>sourceSize</key>
                <string>{334,23}</string>
            </dict>
            <key>panelGuild_rewardsQuest_tf4.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,461},{104,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,24}}</string>
                <key>sourceSize</key>
                <string>{104,24}</string>
            </dict>
            <key>panelGuild_rewardsQuest_tf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,461},{104,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,24}}</string>
                <key>sourceSize</key>
                <string>{104,24}</string>
            </dict>
            <key>panelGuild_rewardsQuest_tf6.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,439},{94,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,24}}</string>
                <key>sourceSize</key>
                <string>{94,24}</string>
            </dict>
            <key>panelGuild_rewardsQuest_tf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,465},{96,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,24}}</string>
                <key>sourceSize</key>
                <string>{96,24}</string>
            </dict>
            <key>panelGuild_rewardsQuest_tf8.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,90},{56,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>panelGuild_rewardsQuest_tf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,485},{190,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,22}}</string>
                <key>sourceSize</key>
                <string>{190,22}</string>
            </dict>
            <key>panelGuild_rewardsQuest_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{292,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,84}}</string>
                <key>sourceSize</key>
                <string>{292,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{780,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46bc7c88e916d2b4963d7a3b3761485b:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
