<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mallPanelResult_bgBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{504,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,428}}</string>
                <key>sourceSize</key>
                <string>{504,428}</string>
            </dict>
            <key>mallPanelResult_bgDesk.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{160,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,156}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
            <key>mallPanelResult_bgLeaf.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,574},{92,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,64}}</string>
                <key>sourceSize</key>
                <string>{92,64}</string>
            </dict>
            <key>mallPanelResult_bubbleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,432},{202,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,140}}</string>
                <key>sourceSize</key>
                <string>{202,140}</string>
            </dict>
            <key>mallPanelResult_itemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,540},{172,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,94}}</string>
                <key>sourceSize</key>
                <string>{172,94}</string>
            </dict>
            <key>mallPanelResult_itemBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,444},{172,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,94}}</string>
                <key>sourceSize</key>
                <string>{172,94}</string>
            </dict>
            <key>mallPanelResult_npc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{324,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,482}}</string>
                <key>sourceSize</key>
                <string>{324,482}</string>
            </dict>
            <key>mallPanelResult_npc_cry.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,160},{87,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,98}}</string>
                <key>sourceSize</key>
                <string>{87,98}</string>
            </dict>
            <key>mallPanelResult_title_lost.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,759},{342,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,88}}</string>
                <key>sourceSize</key>
                <string>{342,88}</string>
            </dict>
            <key>mallPanelResult_title_lost2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,669},{342,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,88}}</string>
                <key>sourceSize</key>
                <string>{342,88}</string>
            </dict>
            <key>mallPanelResult_title_lost_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,574},{83,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,93}}</string>
                <key>sourceSize</key>
                <string>{83,93}</string>
            </dict>
            <key>mallPanelResult_title_lost_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,160},{72,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,225}}</string>
                <key>sourceSize</key>
                <string>{72,225}</string>
            </dict>
            <key>mallPanelResult_title_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,901},{344,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,76}}</string>
                <key>sourceSize</key>
                <string>{344,76}</string>
            </dict>
            <key>mallPanelResult_title_win2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{344,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,76}}</string>
                <key>sourceSize</key>
                <string>{344,76}</string>
            </dict>
            <key>mallPanelUnsatisfied_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,352},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>mallPanelUnsatisfied_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,260},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>mallPanelUnsatisfied_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,849},{320,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,24}}</string>
                <key>sourceSize</key>
                <string>{320,24}</string>
            </dict>
            <key>mallPanelUnsatisfied_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,640},{278,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,24}}</string>
                <key>sourceSize</key>
                <string>{278,24}</string>
            </dict>
            <key>mallPanelUnsatisfied_tf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,875},{144,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,24}}</string>
                <key>sourceSize</key>
                <string>{144,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Material.png</string>
            <key>size</key>
            <string>{706,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f08e5bf180321d57b4cee4284f71cda3:1/1$</string>
            <key>textureFileName</key>
            <string>Material.png</string>
        </dict>
    </dict>
</plist>
