<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelGuild_familyNameItem_custom_normal</key>
            <dict>
                <key>frame</key>
                <string>{{112,398},{108,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,101}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>panelGuild_familyNameItem_custom_select</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{108,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,101}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>panelGuild_familyNameItem_normal</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{140,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,388}}</string>
                <key>sourceSize</key>
                <string>{140,388}</string>
            </dict>
            <key>panelGuild_familyNameItem_select</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{140,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,388}}</string>
                <key>sourceSize</key>
                <string>{140,388}</string>
            </dict>
            <key>panelGuild_familyNameItem_settingBg</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{140,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,388}}</string>
                <key>sourceSize</key>
                <string>{140,388}</string>
            </dict>
            <key>panelGuild_familyNameItem_split</key>
            <dict>
                <key>frame</key>
                <string>{{44,392},{113,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,4}}</string>
                <key>sourceSize</key>
                <string>{113,4}</string>
            </dict>
            <key>panelGuild_familyName_innerBg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,401}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,401}}</string>
                <key>sourceSize</key>
                <string>{40,401}</string>
            </dict>
            <key>panelGuild_familyName_title</key>
            <dict>
                <key>frame</key>
                <string>{{222,392},{204,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,55}}</string>
                <key>sourceSize</key>
                <string>{204,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_familyName.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84852b0cd0a1ab7914bf9aea0b623b76$</string>
            <key>textureFileName</key>
            <string>material_familyName.png</string>
        </dict>
    </dict>
</plist>
