<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelPort_SubMenuItem_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,295},{123,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,117}}</string>
                <key>sourceSize</key>
                <string>{123,117}</string>
            </dict>
            <key>panelPort_SubMenuItem_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,243},{123,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,117}}</string>
                <key>sourceSize</key>
                <string>{123,117}</string>
            </dict>
            <key>panelPort_port_DefaultIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,33},{253,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,158}}</string>
                <key>sourceSize</key>
                <string>{253,158}</string>
            </dict>
            <key>panelPort_port_btnAskLeave_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,54},{175,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,50}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>panelPort_port_btnAskLeave_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{175,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,50}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>panelPort_port_btnCrew_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,8},{128,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,144}}</string>
                <key>sourceSize</key>
                <string>{128,144}</string>
            </dict>
            <key>panelPort_port_btnPCCancel_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,319},{91,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,39}}</string>
                <key>sourceSize</key>
                <string>{91,39}</string>
            </dict>
            <key>panelPort_port_btnPCCancel_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,362},{91,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,39}}</string>
                <key>sourceSize</key>
                <string>{91,39}</string>
            </dict>
            <key>panelPort_port_btnPC_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,345},{91,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,39}}</string>
                <key>sourceSize</key>
                <string>{91,39}</string>
            </dict>
            <key>panelPort_port_btnPC_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,319},{91,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,39}}</string>
                <key>sourceSize</key>
                <string>{91,39}</string>
            </dict>
            <key>panelPort_port_btnRecycle_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,154},{126,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,61}}</string>
                <key>sourceSize</key>
                <string>{126,61}</string>
            </dict>
            <key>panelPort_port_btnRecycle_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,106},{126,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,61}}</string>
                <key>sourceSize</key>
                <string>{126,61}</string>
            </dict>
            <key>panelPort_port_btnSailState_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,256},{249,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,61}}</string>
                <key>sourceSize</key>
                <string>{249,61}</string>
            </dict>
            <key>panelPort_port_btnSailState_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,193},{249,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,61}}</string>
                <key>sourceSize</key>
                <string>{249,61}</string>
            </dict>
            <key>panelPort_port_btnSail_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,232},{224,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,61}}</string>
                <key>sourceSize</key>
                <string>{224,61}</string>
            </dict>
            <key>panelPort_port_btnSail_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,169},{224,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,61}}</string>
                <key>sourceSize</key>
                <string>{224,61}</string>
            </dict>
            <key>panelPort_port_iconAddCrew.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,362},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>panelPort_port_iconComplete.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,106},{83,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,24}}</string>
                <key>sourceSize</key>
                <string>{83,24}</string>
            </dict>
            <key>panelPort_port_iconFree.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,132},{63,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,24}}</string>
                <key>sourceSize</key>
                <string>{63,24}</string>
            </dict>
            <key>panelPort_port_iconSailing.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,386},{62,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,23}}</string>
                <key>sourceSize</key>
                <string>{62,23}</string>
            </dict>
            <key>panelPort_port_innerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,419}}</string>
                <key>sourceSize</key>
                <string>{20,419}</string>
            </dict>
            <key>panelPort_port_innerBlockBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{379,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,418}}</string>
                <key>sourceSize</key>
                <string>{379,418}</string>
            </dict>
            <key>panelPort_port_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{400,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,4}}</string>
                <key>sourceSize</key>
                <string>{400,4}</string>
            </dict>
            <key>panelPort_port_tfCrew.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,344},{46,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>panelPort_port_tfInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,8},{263,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,23}}</string>
                <key>sourceSize</key>
                <string>{263,23}</string>
            </dict>
            <key>panelPort_port_tfLeftTimes.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,362},{123,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,24}}</string>
                <key>sourceSize</key>
                <string>{123,24}</string>
            </dict>
            <key>panelPort_port_tfPC.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,320},{94,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,23}}</string>
                <key>sourceSize</key>
                <string>{94,23}</string>
            </dict>
            <key>panelPort_port_tfProfit.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,295},{95,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,23}}</string>
                <key>sourceSize</key>
                <string>{95,23}</string>
            </dict>
            <key>panelPort_port_tfSailValue.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,217},{124,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,24}}</string>
                <key>sourceSize</key>
                <string>{124,24}</string>
            </dict>
            <key>panelPort_port_tfpassenger.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,319},{46,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_port.png</string>
            <key>size</key>
            <string>{1014,423}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22eb25ba9734a6b2074c14a000b4c0db:1/1$</string>
            <key>textureFileName</key>
            <string>material_port.png</string>
        </dict>
    </dict>
</plist>
