<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>photoEdit_barBg_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,2},{10,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,82}}</string>
                <key>sourceSize</key>
                <string>{10,82}</string>
            </dict>
            <key>photoEdit_barBg_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{10,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,82}}</string>
                <key>sourceSize</key>
                <string>{10,82}</string>
            </dict>
            <key>photoEdit_btnArrow_l_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{46,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,75}}</string>
                <key>sourceSize</key>
                <string>{46,75}</string>
            </dict>
            <key>photoEdit_btnArrow_l_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{46,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,75}}</string>
                <key>sourceSize</key>
                <string>{46,75}</string>
            </dict>
            <key>photoEdit_btnArrow_r_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{46,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,75}}</string>
                <key>sourceSize</key>
                <string>{46,75}</string>
            </dict>
            <key>photoEdit_btnArrow_r_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{46,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,75}}</string>
                <key>sourceSize</key>
                <string>{46,75}</string>
            </dict>
            <key>photoEdit_btnBack_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,51},{144,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,47}}</string>
                <key>sourceSize</key>
                <string>{144,47}</string>
            </dict>
            <key>photoEdit_btnBack_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{144,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,47}}</string>
                <key>sourceSize</key>
                <string>{144,47}</string>
            </dict>
            <key>photoEdit_btnDel_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{144,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,47}}</string>
                <key>sourceSize</key>
                <string>{144,47}</string>
            </dict>
            <key>photoEdit_btnDel_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,51},{144,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,47}}</string>
                <key>sourceSize</key>
                <string>{144,47}</string>
            </dict>
            <key>photoEdit_btnRe_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{144,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,47}}</string>
                <key>sourceSize</key>
                <string>{144,47}</string>
            </dict>
            <key>photoEdit_btnRe_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,51},{144,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,47}}</string>
                <key>sourceSize</key>
                <string>{144,47}</string>
            </dict>
            <key>photoEdit_btnSet_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{144,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,47}}</string>
                <key>sourceSize</key>
                <string>{144,47}</string>
            </dict>
            <key>photoEdit_btnSet_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,51},{144,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,47}}</string>
                <key>sourceSize</key>
                <string>{144,47}</string>
            </dict>
            <key>photoEdit_btnSet_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{144,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,47}}</string>
                <key>sourceSize</key>
                <string>{144,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_photoEdit.png</string>
            <key>size</key>
            <string>{948,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35ac4c82755daded3b7cf359fa4c115a:1/1$</string>
            <key>textureFileName</key>
            <string>material_photoEdit.png</string>
        </dict>
    </dict>
</plist>
