<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>panelRecharge_ItemBg_D.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,102},{134,283}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,283}}</string>
			<key>sourceSize</key>
			<string>{134,283}</string>
		</dict>
		<key>panelRecharge_ItemBg_P.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{134,283}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,283}}</string>
			<key>sourceSize</key>
			<string>{134,283}</string>
		</dict>
		<key>panelRecharge_ItembgBelt.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,2},{98,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,98}}</string>
			<key>sourceSize</key>
			<string>{98,98}</string>
		</dict>
		<key>panelRecharge_MCIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,393},{70,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,84}}</string>
			<key>sourceSize</key>
			<string>{70,84}</string>
		</dict>
		<key>panelRecharge_barBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,102},{100,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,87}}</string>
			<key>sourceSize</key>
			<string>{100,87}</string>
		</dict>
		<key>panelRecharge_btn_D.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,340},{131,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,51}}</string>
			<key>sourceSize</key>
			<string>{131,51}</string>
		</dict>
		<key>panelRecharge_btn_P.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,287},{131,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,51}}</string>
			<key>sourceSize</key>
			<string>{131,51}</string>
		</dict>
		<key>panelRecharge_btn_X.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,27},{131,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,51}}</string>
			<key>sourceSize</key>
			<string>{131,51}</string>
		</dict>
		<key>panelRecharge_connecting_tf.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,2},{272,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{272,23}}</string>
			<key>sourceSize</key>
			<string>{272,23}</string>
		</dict>
		<key>panelRecharge_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,479},{51,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,24}}</string>
			<key>sourceSize</key>
			<string>{51,24}</string>
		</dict>
		<key>panelRecharge_tf.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,88},{116,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,22}}</string>
			<key>sourceSize</key>
			<string>{116,22}</string>
		</dict>
		<key>panelRecharge_tf2.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,52},{120,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,34}}</string>
			<key>sourceSize</key>
			<string>{120,34}</string>
		</dict>
		<key>panelRecharge_tf3.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,479},{82,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,22}}</string>
			<key>sourceSize</key>
			<string>{82,22}</string>
		</dict>
		<key>panelRecharge_tf4.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,27},{136,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,23}}</string>
			<key>sourceSize</key>
			<string>{136,23}</string>
		</dict>
		<key>panelRecharge_tf5.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,393},{38,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,21}}</string>
			<key>sourceSize</key>
			<string>{38,21}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>material_n.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8e01d3252e10e7724fd8754d6bb97d7c:1/1$</string>
		<key>textureFileName</key>
		<string>material_n.png</string>
	</dict>
</dict>
</plist>
