<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelCommunity_myCompetition_bg2</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{26,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,202}}</string>
                <key>sourceSize</key>
                <string>{26,202}</string>
            </dict>
            <key>panelCommunity_myCompetition_fonts_communityRank</key>
            <dict>
                <key>frame</key>
                <string>{{321,52},{103,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,23}}</string>
                <key>sourceSize</key>
                <string>{103,23}</string>
            </dict>
            <key>panelCommunity_myCompetition_fonts_lastTime</key>
            <dict>
                <key>frame</key>
                <string>{{336,27},{103,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,23}}</string>
                <key>sourceSize</key>
                <string>{103,23}</string>
            </dict>
            <key>panelCommunity_myCompetition_fonts_noRank</key>
            <dict>
                <key>frame</key>
                <string>{{247,44},{72,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,23}}</string>
                <key>sourceSize</key>
                <string>{72,23}</string>
            </dict>
            <key>panelCommunity_myCompetition_fonts_ticketWeek</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{103,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,23}}</string>
                <key>sourceSize</key>
                <string>{103,23}</string>
            </dict>
            <key>panelCommunity_myCompetition_increase_disable</key>
            <dict>
                <key>frame</key>
                <string>{{247,275},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>panelCommunity_myCompetition_increase_normal</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>panelCommunity_myCompetition_increase_select</key>
            <dict>
                <key>frame</key>
                <string>{{247,206},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>panelCommunity_myCompetition_increase_titel</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{332,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,40}}</string>
                <key>sourceSize</key>
                <string>{332,40}</string>
            </dict>
            <key>panelCommunity_myCompetition_join_disable</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>panelCommunity_myCompetition_join_normal</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>panelCommunity_myCompetition_join_select</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>panelCommunity_myCompetition_titel</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{205,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,55}}</string>
                <key>sourceSize</key>
                <string>{205,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_myCompetition.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19787e913a61589651683f195ed1a011$</string>
            <key>textureFileName</key>
            <string>material_myCompetition.png</string>
        </dict>
    </dict>
</plist>
