<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelGuild_app_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,91}}</string>
                <key>sourceSize</key>
                <string>{292,91}</string>
            </dict>
            <key>panelGuild_btnApply_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{145,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,66}}</string>
                <key>sourceSize</key>
                <string>{145,66}</string>
            </dict>
            <key>panelGuild_btnApply_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{145,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,66}}</string>
                <key>sourceSize</key>
                <string>{145,66}</string>
            </dict>
            <key>panelGuild_btnClear_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,70},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>panelGuild_btnClear_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,70},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>panelGuild_btnReject_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{145,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,66}}</string>
                <key>sourceSize</key>
                <string>{145,66}</string>
            </dict>
            <key>panelGuild_btnReject_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{145,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,66}}</string>
                <key>sourceSize</key>
                <string>{145,66}</string>
            </dict>
            <key>panelGuild_tf_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,70},{180,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,28}}</string>
                <key>sourceSize</key>
                <string>{180,28}</string>
            </dict>
            <key>panelGuild_tf_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,70},{79,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,20}}</string>
                <key>sourceSize</key>
                <string>{79,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_application.png</string>
            <key>size</key>
            <string>{884,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76421a900842b47ebe7060016b97b2ba:1/1$</string>
            <key>textureFileName</key>
            <string>material_application.png</string>
        </dict>
    </dict>
</plist>
