<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelMetal_barBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{356,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,22}}</string>
                <key>sourceSize</key>
                <string>{356,22}</string>
            </dict>
            <key>panelMetal_barBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,322},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>panelMetal_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{40,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,328}}</string>
                <key>sourceSize</key>
                <string>{40,328}</string>
            </dict>
            <key>panelMetal_btnGetRewards_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,288},{200,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{200,68}</string>
            </dict>
            <key>panelMetal_btnGetRewards_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,218},{200,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{200,68}</string>
            </dict>
            <key>panelMetal_btnOption2_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,488},{199,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,58}}</string>
                <key>sourceSize</key>
                <string>{199,58}</string>
            </dict>
            <key>panelMetal_btnOption2_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,428},{199,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,58}}</string>
                <key>sourceSize</key>
                <string>{199,58}</string>
            </dict>
            <key>panelMetal_btnOption_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,368},{199,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,58}}</string>
                <key>sourceSize</key>
                <string>{199,58}</string>
            </dict>
            <key>panelMetal_btnOption_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,308},{199,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,58}}</string>
                <key>sourceSize</key>
                <string>{199,58}</string>
            </dict>
            <key>panelMetal_btnSort_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,589},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>panelMetal_btnSort_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,548},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>panelMetal_filterPanelBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,26},{50,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,294}}</string>
                <key>sourceSize</key>
                <string>{50,294}</string>
            </dict>
            <key>panelMetal_filterPanelTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,718},{96,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,23}}</string>
                <key>sourceSize</key>
                <string>{96,23}</string>
            </dict>
            <key>panelMetal_filterPanel_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,638},{76,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,28}}</string>
                <key>sourceSize</key>
                <string>{76,28}</string>
            </dict>
            <key>panelMetal_filterPanel_tf1s.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,746},{64,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,24}}</string>
                <key>sourceSize</key>
                <string>{64,24}</string>
            </dict>
            <key>panelMetal_filterPanel_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,608},{76,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,28}}</string>
                <key>sourceSize</key>
                <string>{76,28}</string>
            </dict>
            <key>panelMetal_filterPanel_tf2s.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,720},{64,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,24}}</string>
                <key>sourceSize</key>
                <string>{64,24}</string>
            </dict>
            <key>panelMetal_filterPanel_tf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,578},{76,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,28}}</string>
                <key>sourceSize</key>
                <string>{76,28}</string>
            </dict>
            <key>panelMetal_filterPanel_tf3s.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,694},{64,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,24}}</string>
                <key>sourceSize</key>
                <string>{64,24}</string>
            </dict>
            <key>panelMetal_filterPanel_tf4.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,548},{76,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,28}}</string>
                <key>sourceSize</key>
                <string>{76,28}</string>
            </dict>
            <key>panelMetal_filterPanel_tf4s.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,668},{64,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,24}}</string>
                <key>sourceSize</key>
                <string>{64,24}</string>
            </dict>
            <key>panelMetal_iconStateGet.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,122},{214,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,94}}</string>
                <key>sourceSize</key>
                <string>{214,94}</string>
            </dict>
            <key>panelMetal_iconStateOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,26},{214,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,94}}</string>
                <key>sourceSize</key>
                <string>{214,94}</string>
            </dict>
            <key>panelMetal_innerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,795},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>panelMetal_innerBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,795},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>panelMetal_innerLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,26},{5,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,176}}</string>
                <key>sourceSize</key>
                <string>{5,176}</string>
            </dict>
            <key>panelMetal_itemBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,630},{118,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,32}}</string>
                <key>sourceSize</key>
                <string>{118,32}</string>
            </dict>
            <key>panelMetal_itemBg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,155},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>panelMetal_itemBg0m.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,664},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>panelMetal_itemBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,511},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>panelMetal_itemBg1m.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,358},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>panelMetal_itemBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>panelMetal_itemBg2m.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>panelMetal_itemBg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>panelMetal_itemBg3m.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>panelMetal_itemTipIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,664},{85,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,52}}</string>
                <key>sourceSize</key>
                <string>{85,52}</string>
            </dict>
            <key>panelMetal_metalValueIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,743},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>panelMetal_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,769},{84,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,24}}</string>
                <key>sourceSize</key>
                <string>{84,24}</string>
            </dict>
            <key>panelMetal_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,743},{84,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,24}}</string>
                <key>sourceSize</key>
                <string>{84,24}</string>
            </dict>
            <key>panelMetal_tf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,772},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_metal.png</string>
            <key>size</key>
            <string>{512,817}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce535c9131b026a82b4c93cad0634548:1/1$</string>
            <key>textureFileName</key>
            <string>material_metal.png</string>
        </dict>
    </dict>
</plist>
