<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelBuildingInfo_LackTf.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,317},{46,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,25}}</string>
                <key>sourceSize</key>
                <string>{46,25}</string>
            </dict>
            <key>panelBuildingInfo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{40,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,425}}</string>
                <key>sourceSize</key>
                <string>{40,425}</string>
            </dict>
            <key>panelBuildingInfo_btnAcc_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,263},{271,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,68}}</string>
                <key>sourceSize</key>
                <string>{271,68}</string>
            </dict>
            <key>panelBuildingInfo_btnAcc_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,212},{271,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,68}}</string>
                <key>sourceSize</key>
                <string>{271,68}</string>
            </dict>
            <key>panelBuildingInfo_btnAcc_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,142},{271,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,68}}</string>
                <key>sourceSize</key>
                <string>{271,68}</string>
            </dict>
            <key>panelBuildingInfo_btnGold_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,193},{271,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,68}}</string>
                <key>sourceSize</key>
                <string>{271,68}</string>
            </dict>
            <key>panelBuildingInfo_btnGold_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,72},{271,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,68}}</string>
                <key>sourceSize</key>
                <string>{271,68}</string>
            </dict>
            <key>panelBuildingInfo_btnGold_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,2},{271,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,68}}</string>
                <key>sourceSize</key>
                <string>{271,68}</string>
            </dict>
            <key>panelBuildingInfo_btnGold_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,123},{271,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,68}}</string>
                <key>sourceSize</key>
                <string>{271,68}</string>
            </dict>
            <key>panelBuildingInfo_btnHelp_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{271,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,66}}</string>
                <key>sourceSize</key>
                <string>{271,66}</string>
            </dict>
            <key>panelBuildingInfo_btnHelp_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{271,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,66}}</string>
                <key>sourceSize</key>
                <string>{271,66}</string>
            </dict>
            <key>panelBuildingInfo_btnHelp_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,282},{271,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,66}}</string>
                <key>sourceSize</key>
                <string>{271,66}</string>
            </dict>
            <key>panelBuildingInfo_tf.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,424},{94,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,23}}</string>
                <key>sourceSize</key>
                <string>{94,23}</string>
            </dict>
            <key>panelBuildingInfo_timesMaxTf.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,292},{191,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,23}}</string>
                <key>sourceSize</key>
                <string>{191,23}</string>
            </dict>
            <key>panelBuildingInfo_tipBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{296,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,119}}</string>
                <key>sourceSize</key>
                <string>{296,119}</string>
            </dict>
            <key>panelBuildingSubInfo_Star_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{196,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,288}}</string>
                <key>sourceSize</key>
                <string>{196,288}</string>
            </dict>
            <key>panelBuildingSubInfo_askHelp_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,397},{166,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,45}}</string>
                <key>sourceSize</key>
                <string>{166,45}</string>
            </dict>
            <key>panelBuildingSubInfo_askHelp_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,350},{166,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,45}}</string>
                <key>sourceSize</key>
                <string>{166,45}</string>
            </dict>
            <key>panelBuildingSubInfo_askHelp_disabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,430},{166,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,45}}</string>
                <key>sourceSize</key>
                <string>{166,45}</string>
            </dict>
            <key>panelBuildingSubInfo_avatarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,317},{101,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,105}}</string>
                <key>sourceSize</key>
                <string>{101,105}</string>
            </dict>
            <key>panelBuildingSubInfo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,358}}</string>
                <key>sourceSize</key>
                <string>{205,358}</string>
            </dict>
            <key>panelBuildingSubInfo_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,350},{160,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,95}}</string>
                <key>sourceSize</key>
                <string>{160,95}</string>
            </dict>
            <key>panelBuildingSubInfo_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,333},{162,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,95}}</string>
                <key>sourceSize</key>
                <string>{162,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{1020,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b880c18fb39a2d6f7451805396431bf:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
