<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelUpgrade_LackTf.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,303},{46,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,25}}</string>
                <key>sourceSize</key>
                <string>{46,25}</string>
            </dict>
            <key>panelUpgrade_btnBuy_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,384},{103,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,54}}</string>
                <key>sourceSize</key>
                <string>{103,54}</string>
            </dict>
            <key>panelUpgrade_btnBuy_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,328},{103,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,54}}</string>
                <key>sourceSize</key>
                <string>{103,54}</string>
            </dict>
            <key>panelUpgrade_btnUpgrade_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>panelUpgrade_btnUpgrade_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>panelUpgrade_btnUpgrade_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>panelUpgrade_completeIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,330},{84,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,62}}</string>
                <key>sourceSize</key>
                <string>{84,62}</string>
            </dict>
            <key>panelUpgrade_panelBevelBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,440},{26,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,202}}</string>
                <key>sourceSize</key>
                <string>{26,202}</string>
            </dict>
            <key>panelUpgrade_panelBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{36,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,412}}</string>
                <key>sourceSize</key>
                <string>{36,412}</string>
            </dict>
            <key>panelUpgrade_tf_current.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,644},{103,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,23}}</string>
                <key>sourceSize</key>
                <string>{103,23}</string>
            </dict>
            <key>panelUpgrade_tf_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,303},{151,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,23}}</string>
                <key>sourceSize</key>
                <string>{151,23}</string>
            </dict>
            <key>panelUpgrade_title_storage.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{230,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,92}}</string>
                <key>sourceSize</key>
                <string>{230,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{247,717}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b27774bbd4b5db1afd4c368ffbccd6d:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
