<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelObjSelect_carSelectPanel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{4,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,342}}</string>
                <key>sourceSize</key>
                <string>{4,342}</string>
            </dict>
            <key>panelObjSelect_itemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{291,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,280}}</string>
                <key>sourceSize</key>
                <string>{291,280}</string>
            </dict>
            <key>panelObjSelect_itemShipBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{261,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,171}}</string>
                <key>sourceSize</key>
                <string>{261,171}</string>
            </dict>
            <key>panelObjSelect_itemTf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{95,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,23}}</string>
                <key>sourceSize</key>
                <string>{95,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{301,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf64f9cb59a98c0c0c6cbbfb4e1a10c2:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
