<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelPort_Sub_Bg_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,284},{105,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,91}}</string>
                <key>sourceSize</key>
                <string>{105,91}</string>
            </dict>
            <key>panelPort_Sub_Bg_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,191},{105,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,91}}</string>
                <key>sourceSize</key>
                <string>{105,91}</string>
            </dict>
            <key>panelPort_exchange_defaultIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{148,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,176}}</string>
                <key>sourceSize</key>
                <string>{148,176}</string>
            </dict>
            <key>panelPort_exchange_iconArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,429},{41,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,29}}</string>
                <key>sourceSize</key>
                <string>{41,29}</string>
            </dict>
            <key>panelPort_exchange_innerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,419}}</string>
                <key>sourceSize</key>
                <string>{20,419}</string>
            </dict>
            <key>panelPort_exchange_itemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{142,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,103}}</string>
                <key>sourceSize</key>
                <string>{142,103}</string>
            </dict>
            <key>panelPort_exchange_itemTargetBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,300},{155,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,101}}</string>
                <key>sourceSize</key>
                <string>{155,101}</string>
            </dict>
            <key>panelPort_exchange_itemTargetBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,180},{164,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,118}}</string>
                <key>sourceSize</key>
                <string>{164,118}</string>
            </dict>
            <key>panelPort_exchange_itemTargetStarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,107},{124,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,82}}</string>
                <key>sourceSize</key>
                <string>{124,82}</string>
            </dict>
            <key>panelPort_exchange_tfInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,403},{282,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,24}}</string>
                <key>sourceSize</key>
                <string>{282,24}</string>
            </dict>
            <key>panelPort_exchange_tfInfo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{163,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,24}}</string>
                <key>sourceSize</key>
                <string>{163,24}</string>
            </dict>
            <key>panelPort_exchange_tfInfo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,429},{65,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_exchange.png</string>
            <key>size</key>
            <string>{318,460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b74d803093dc02efc35024d98f8637b:1/1$</string>
            <key>textureFileName</key>
            <string>material_exchange.png</string>
        </dict>
    </dict>
</plist>
