<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mallPanelStorage_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{270,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,285}}</string>
                <key>sourceSize</key>
                <string>{270,285}</string>
            </dict>
            <key>mallPanelStorage_bgArraw.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,389},{112,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,56}}</string>
                <key>sourceSize</key>
                <string>{112,56}</string>
            </dict>
            <key>mallPanelStorage_iconHot.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,447},{64,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,50}}</string>
                <key>sourceSize</key>
                <string>{64,50}</string>
            </dict>
            <key>mallPanelStorage_itemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{146,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,76}}</string>
                <key>sourceSize</key>
                <string>{146,76}</string>
            </dict>
            <key>mallPanelStorage_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{244,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,18}}</string>
                <key>sourceSize</key>
                <string>{244,18}</string>
            </dict>
            <key>mallPanelStorage_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,78}}</string>
                <key>sourceSize</key>
                <string>{294,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Material.png</string>
            <key>size</key>
            <string>{298,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eacf320884c686e391ed1b89464d454:1/1$</string>
            <key>textureFileName</key>
            <string>Material.png</string>
        </dict>
    </dict>
</plist>
