<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>helpMenu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{201,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,193}}</string>
                <key>sourceSize</key>
                <string>{201,193}</string>
            </dict>
            <key>helpMenu_btnBack_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,99},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>helpMenu_btnBack_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>helpMenu_btnBack_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>helpMenu_btnFriend_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,99},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>helpMenu_btnFriend_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>helpMenu_btnFriend_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,99},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>helpMenu_btnOk_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>helpMenu_btnOk_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,99},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>helpMenu_btnOk_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_help.png</string>
            <key>size</key>
            <string>{665,197}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9a54a110eb5e924dc985a335296cec7:1/1$</string>
            <key>textureFileName</key>
            <string>material_help.png</string>
        </dict>
    </dict>
</plist>
