<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_NPCNumberBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{179,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,32}}</string>
                <key>sourceSize</key>
                <string>{179,32}</string>
            </dict>
            <key>npc_tfInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{176,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,32}}</string>
                <key>sourceSize</key>
                <string>{176,32}</string>
            </dict>
            <key>office_0_npc.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,421},{100,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,70}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>office_1_npc.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,349},{100,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,70}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>office_2_npc.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,277},{100,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,70}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>office_Item_icon_New.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>office_itemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,205}}</string>
                <key>sourceSize</key>
                <string>{180,205}</string>
            </dict>
            <key>office_itemSelectedIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>office_item_lockBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{148,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,137}}</string>
                <key>sourceSize</key>
                <string>{148,137}</string>
            </dict>
            <key>office_item_lockIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,52},{58,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,68}}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_npc.png</string>
            <key>size</key>
            <string>{254,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fea5e3a9bd445cc498d826dfddf3d8a:1/1$</string>
            <key>textureFileName</key>
            <string>material_npc.png</string>
        </dict>
    </dict>
</plist>
