<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelBuildingUpgradeDetail_buttonSelect_disable</key>
            <dict>
                <key>frame</key>
                <string>{{786,922},{219,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,58}}</string>
                <key>sourceSize</key>
                <string>{219,58}</string>
            </dict>
            <key>panelBuildingUpgradeDetail_buttonSelect_normal</key>
            <dict>
                <key>frame</key>
                <string>{{724,774},{219,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,58}}</string>
                <key>sourceSize</key>
                <string>{219,58}</string>
            </dict>
            <key>panelBuildingUpgradeDetail_buttonSelect_press</key>
            <dict>
                <key>frame</key>
                <string>{{383,957},{219,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,58}}</string>
                <key>sourceSize</key>
                <string>{219,58}</string>
            </dict>
            <key>panelBuildingUpgradeDetail_itemBg</key>
            <dict>
                <key>frame</key>
                <string>{{687,2},{301,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,357}}</string>
                <key>sourceSize</key>
                <string>{301,357}</string>
            </dict>
            <key>panelBuildingUpgradeSelect_bottomBg</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{150,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>panelBuildingUpgradeSelect_buttonDelete</key>
            <dict>
                <key>frame</key>
                <string>{{980,361},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{38,42}</string>
            </dict>
            <key>panelBuildingUpgradeSelect_buttonOk_disable</key>
            <dict>
                <key>frame</key>
                <string>{{634,846},{231,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,74}}</string>
                <key>sourceSize</key>
                <string>{231,74}</string>
            </dict>
            <key>panelBuildingUpgradeSelect_buttonOk_normal</key>
            <dict>
                <key>frame</key>
                <string>{{427,770},{231,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,74}}</string>
                <key>sourceSize</key>
                <string>{231,74}</string>
            </dict>
            <key>panelBuildingUpgradeSelect_buttonOk_press</key>
            <dict>
                <key>frame</key>
                <string>{{427,694},{231,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,74}}</string>
                <key>sourceSize</key>
                <string>{231,74}</string>
            </dict>
            <key>panelBuildingUpgradeSelect_expPlus</key>
            <dict>
                <key>frame</key>
                <string>{{990,86},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>panelBuildingUpgradeSelect_itemBg</key>
            <dict>
                <key>frame</key>
                <string>{{687,361},{291,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,340}}</string>
                <key>sourceSize</key>
                <string>{291,340}</string>
            </dict>
            <key>panelBuildingUpgradeSelect_itemWords</key>
            <dict>
                <key>frame</key>
                <string>{{135,989},{91,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,23}}</string>
                <key>sourceSize</key>
                <string>{91,23}</string>
            </dict>
            <key>panelBuildingUpgradeSelect_materialItemBg</key>
            <dict>
                <key>frame</key>
                <string>{{283,846},{142,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,109}}</string>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>panelBuildingUpgradeSelect_middleBg</key>
            <dict>
                <key>frame</key>
                <string>{{990,111},{20,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,156}}</string>
                <key>sourceSize</key>
                <string>{20,156}</string>
            </dict>
            <key>panelBuildingUpgradeSelect_middleBg_expWords</key>
            <dict>
                <key>frame</key>
                <string>{{228,989},{153,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,21}}</string>
                <key>sourceSize</key>
                <string>{153,21}</string>
            </dict>
            <key>panelBuildingUpgradeSelect_middleBg_expWordsNow</key>
            <dict>
                <key>frame</key>
                <string>{{2,989},{131,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,24}}</string>
                <key>sourceSize</key>
                <string>{131,24}</string>
            </dict>
            <key>panelBuildingUpgradeSelect_middleBg_levelWords</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>panelBuildingUpgradeSelect_middleBg_words</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{641,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{641,24}}</string>
                <key>sourceSize</key>
                <string>{641,24}</string>
            </dict>
            <key>panelBuildingUpgradeSelect_middleTopBg</key>
            <dict>
                <key>frame</key>
                <string>{{990,53},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>panelBuildingUpgradeSelect_topBg</key>
            <dict>
                <key>frame</key>
                <string>{{990,269},{20,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,73}}</string>
                <key>sourceSize</key>
                <string>{20,73}</string>
            </dict>
            <key>panelBuildingUpgradeSelect_topBgLevel</key>
            <dict>
                <key>frame</key>
                <string>{{154,600},{221,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,99}}</string>
                <key>sourceSize</key>
                <string>{221,99}</string>
            </dict>
            <key>panelBuildingUpgrade_Arrow</key>
            <dict>
                <key>frame</key>
                <string>{{551,846},{81,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{81,78}</string>
            </dict>
            <key>panelBuildingUpgrade_bagIcon</key>
            <dict>
                <key>frame</key>
                <string>{{945,774},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>panelBuildingUpgrade_buttonOk_disable</key>
            <dict>
                <key>frame</key>
                <string>{{427,600},{253,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,58}}</string>
                <key>sourceSize</key>
                <string>{253,58}</string>
            </dict>
            <key>panelBuildingUpgrade_buttonOk_normal</key>
            <dict>
                <key>frame</key>
                <string>{{427,540},{253,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,58}}</string>
                <key>sourceSize</key>
                <string>{253,58}</string>
            </dict>
            <key>panelBuildingUpgrade_buttonOk_press</key>
            <dict>
                <key>frame</key>
                <string>{{427,480},{253,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,58}}</string>
                <key>sourceSize</key>
                <string>{253,58}</string>
            </dict>
            <key>panelBuildingUpgrade_expBarAlphaBg</key>
            <dict>
                <key>frame</key>
                <string>{{1021,26},{1,1}}</string>
                <key>offset</key>
                <string>{-179.5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{360,27}</string>
            </dict>
            <key>panelBuildingUpgrade_expBarBg</key>
            <dict>
                <key>frame</key>
                <string>{{660,703},{360,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,27}}</string>
                <key>sourceSize</key>
                <string>{360,27}</string>
            </dict>
            <key>panelBuildingUpgrade_expBlueBar</key>
            <dict>
                <key>frame</key>
                <string>{{660,753},{352,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{352,19}}</string>
                <key>sourceSize</key>
                <string>{360,27}</string>
            </dict>
            <key>panelBuildingUpgrade_expGreenBar</key>
            <dict>
                <key>frame</key>
                <string>{{660,732},{352,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{352,19}}</string>
                <key>sourceSize</key>
                <string>{360,27}</string>
            </dict>
            <key>panelBuildingUpgrade_fullLevel</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{279,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,141}}</string>
                <key>sourceSize</key>
                <string>{279,141}</string>
            </dict>
            <key>panelBuildingUpgrade_fullLevelBig</key>
            <dict>
                <key>frame</key>
                <string>{{2,703},{423,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,141}}</string>
                <key>sourceSize</key>
                <string>{423,141}</string>
            </dict>
            <key>panelBuildingUpgrade_groundIcon</key>
            <dict>
                <key>frame</key>
                <string>{{660,774},{62,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,69}}</string>
                <key>sourceSize</key>
                <string>{62,69}</string>
            </dict>
            <key>panelBuildingUpgrade_itemBg</key>
            <dict>
                <key>frame</key>
                <string>{{645,36},{40,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,442}}</string>
                <key>sourceSize</key>
                <string>{40,442}</string>
            </dict>
            <key>panelBuildingUpgrade_levelIcon</key>
            <dict>
                <key>frame</key>
                <string>{{990,26},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>panelBuildingUpgrade_nothing</key>
            <dict>
                <key>frame</key>
                <string>{{377,660},{288,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,32}}</string>
                <key>sourceSize</key>
                <string>{288,32}</string>
            </dict>
            <key>panelBuildingUpgrade_tips</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{683,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,32}}</string>
                <key>sourceSize</key>
                <string>{683,32}</string>
            </dict>
            <key>panelBuildingUpgrade_title</key>
            <dict>
                <key>frame</key>
                <string>{{604,926},{180,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,77}}</string>
                <key>sourceSize</key>
                <string>{180,77}</string>
            </dict>
            <key>panelBuldingInfo_menu_01_D</key>
            <dict>
                <key>frame</key>
                <string>{{427,846},{122,92}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{122,92}}</string>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>panelBuldingInfo_menu_01_P</key>
            <dict>
                <key>frame</key>
                <string>{{867,834},{122,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{122,46}}</string>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae12e52d5820d39564a05e3fbfeea2d4:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
