<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelCrewSelect_InnerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,427}}</string>
                <key>sourceSize</key>
                <string>{40,427}</string>
            </dict>
            <key>panelCrewSelect_InnerShadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>panelCrewSelect_btnConfirm_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,338},{272,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,67}}</string>
                <key>sourceSize</key>
                <string>{272,67}</string>
            </dict>
            <key>panelCrewSelect_btnConfirm_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,269},{272,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,67}}</string>
                <key>sourceSize</key>
                <string>{272,67}</string>
            </dict>
            <key>panelCrewSelect_btnConfirm_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,200},{272,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,67}}</string>
                <key>sourceSize</key>
                <string>{272,67}</string>
            </dict>
            <key>panelCrewSelect_iconDefault.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{266,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,196}}</string>
                <key>sourceSize</key>
                <string>{266,196}</string>
            </dict>
            <key>panelCrewSelect_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{412,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,20}}</string>
                <key>sourceSize</key>
                <string>{412,20}</string>
            </dict>
            <key>panelCrewSelect_tfCrewNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,407},{79,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,20}}</string>
                <key>sourceSize</key>
                <string>{79,20}</string>
            </dict>
            <key>panelCrewSelect_tfProfit.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,429},{78,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,19}}</string>
                <key>sourceSize</key>
                <string>{78,19}</string>
            </dict>
            <key>panelCrewSelect_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,407},{206,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,56}}</string>
                <key>sourceSize</key>
                <string>{206,56}</string>
            </dict>
            <key>panelCrewSelect_winBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{40,397}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,397}}</string>
                <key>sourceSize</key>
                <string>{40,397}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_crewSelect.png</string>
            <key>size</key>
            <string>{416,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ed99968da3fc14db3097cc5a80fa4d5:1/1$</string>
            <key>textureFileName</key>
            <string>material_crewSelect.png</string>
        </dict>
    </dict>
</plist>
