<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ParkingTips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{334,533}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,533}}</string>
                <key>sourceSize</key>
                <string>{334,533}</string>
            </dict>
            <key>ParkingTips_buy_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,512},{210,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,53}}</string>
                <key>sourceSize</key>
                <string>{210,53}</string>
            </dict>
            <key>ParkingTips_buy_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,289},{210,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,53}}</string>
                <key>sourceSize</key>
                <string>{210,53}</string>
            </dict>
            <key>ParkingTips_words.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,808},{266,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,32}}</string>
                <key>sourceSize</key>
                <string>{266,32}</string>
            </dict>
            <key>panelParking_ParkingTime_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,545},{288,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,104}}</string>
                <key>sourceSize</key>
                <string>{288,104}</string>
            </dict>
            <key>panelParking_Star_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,2},{196,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,288}}</string>
                <key>sourceSize</key>
                <string>{196,288}</string>
            </dict>
            <key>panelParking_carInfoSubInfo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{205,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,358}}</string>
                <key>sourceSize</key>
                <string>{205,358}</string>
            </dict>
            <key>panelParking_carSelectItem_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{291,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,280}}</string>
                <key>sourceSize</key>
                <string>{291,280}</string>
            </dict>
            <key>panelParking_carSelectPanel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,204},{4,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,342}}</string>
                <key>sourceSize</key>
                <string>{4,342}</string>
            </dict>
            <key>panelParking_carSelectPanel_info1.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,510},{114,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,66}}</string>
                <key>sourceSize</key>
                <string>{114,66}</string>
            </dict>
            <key>panelParking_carSelectPanel_info2.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,722},{502,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,24}}</string>
                <key>sourceSize</key>
                <string>{502,24}</string>
            </dict>
            <key>panelParking_carSelectPanel_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,748},{241,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,58}}</string>
                <key>sourceSize</key>
                <string>{241,58}</string>
            </dict>
            <key>panelParking_info_friendSteal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,819},{288,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,104}}</string>
                <key>sourceSize</key>
                <string>{288,104}</string>
            </dict>
            <key>panelParking_info_friendSteal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,651},{288,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,69}}</string>
                <key>sourceSize</key>
                <string>{288,69}</string>
            </dict>
            <key>panelParking_info_steal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,601},{223,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,23}}</string>
                <key>sourceSize</key>
                <string>{223,23}</string>
            </dict>
            <key>panelParking_info_steal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,264},{247,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,23}}</string>
                <key>sourceSize</key>
                <string>{247,23}</string>
            </dict>
            <key>panelParking_info_steal_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,476},{153,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,32}}</string>
                <key>sourceSize</key>
                <string>{153,32}</string>
            </dict>
            <key>panelParking_info_stolen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,925},{365,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,32}}</string>
                <key>sourceSize</key>
                <string>{365,32}</string>
            </dict>
            <key>panelParking_info_thiefFull.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,808},{244,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,32}}</string>
                <key>sourceSize</key>
                <string>{244,32}</string>
            </dict>
            <key>panelParking_parkingTimeBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,842},{211,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,127}}</string>
                <key>sourceSize</key>
                <string>{211,127}</string>
            </dict>
            <key>parking_Tip_tf.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,344},{104,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,130}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>parking_btnGetBack_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,826},{176,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,70}}</string>
                <key>sourceSize</key>
                <string>{176,70}</string>
            </dict>
            <key>parking_btnGetBack_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,650},{176,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,70}}</string>
                <key>sourceSize</key>
                <string>{176,70}</string>
            </dict>
            <key>parking_btnKickOff_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,774},{175,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,50}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>parking_btnKickOff_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,722},{175,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,50}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>parking_btnSteal_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,748},{243,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,58}}</string>
                <key>sourceSize</key>
                <string>{243,58}</string>
            </dict>
            <key>parking_btnSteal_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,204},{243,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,58}}</string>
                <key>sourceSize</key>
                <string>{243,58}</string>
            </dict>
            <key>parking_btnUpgrade_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,842},{227,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,68}}</string>
                <key>sourceSize</key>
                <string>{227,68}</string>
            </dict>
            <key>parking_btnUpgrade_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,292},{227,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,68}}</string>
                <key>sourceSize</key>
                <string>{227,68}</string>
            </dict>
            <key>parking_btnVisit_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,578},{176,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,70}}</string>
                <key>sourceSize</key>
                <string>{176,70}</string>
            </dict>
            <key>parking_btnVisit_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,626},{176,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,70}}</string>
                <key>sourceSize</key>
                <string>{176,70}</string>
            </dict>
            <key>parking_carInfoTip_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,362},{297,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,181}}</string>
                <key>sourceSize</key>
                <string>{297,181}</string>
            </dict>
            <key>parking_carInfo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{271,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,200}}</string>
                <key>sourceSize</key>
                <string>{271,200}</string>
            </dict>
            <key>parking_carInfo_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,698},{139,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,22}}</string>
                <key>sourceSize</key>
                <string>{139,22}</string>
            </dict>
            <key>parking_carInfo_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,898},{136,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,22}}</string>
                <key>sourceSize</key>
                <string>{136,22}</string>
            </dict>
            <key>parking_carInfo_tf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,362},{185,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,148}}</string>
                <key>sourceSize</key>
                <string>{185,148}</string>
            </dict>
            <key>parking_carInfo_tf4.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,922},{96,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,22}}</string>
                <key>sourceSize</key>
                <string>{96,22}</string>
            </dict>
            <key>parking_carInfo_tfInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,912},{232,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,50}}</string>
                <key>sourceSize</key>
                <string>{232,50}</string>
            </dict>
            <key>parking_tfReachMax.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,567},{237,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,32}}</string>
                <key>sourceSize</key>
                <string>{237,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{1016,971}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a21abe3766961d8b98a1468fe8770eb:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
