<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelQQMember_MenuMem_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{152,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,80}}</string>
                <key>sourceSize</key>
                <string>{152,80}</string>
            </dict>
            <key>panelQQMember_MenuMem_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,306},{152,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,80}}</string>
                <key>sourceSize</key>
                <string>{152,80}</string>
            </dict>
            <key>panelQQMember_MenuSuper_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,306},{152,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,80}}</string>
                <key>sourceSize</key>
                <string>{152,80}</string>
            </dict>
            <key>panelQQMember_MenuSuper_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{152,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,80}}</string>
                <key>sourceSize</key>
                <string>{152,80}</string>
            </dict>
            <key>panelQQMember_btnExtendSuper_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,236},{276,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,68}}</string>
                <key>sourceSize</key>
                <string>{276,68}</string>
            </dict>
            <key>panelQQMember_btnExtendSupper_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{276,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,68}}</string>
                <key>sourceSize</key>
                <string>{276,68}</string>
            </dict>
            <key>panelQQMember_btnExtend_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,166},{276,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,68}}</string>
                <key>sourceSize</key>
                <string>{276,68}</string>
            </dict>
            <key>panelQQMember_btnExtend_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{276,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,68}}</string>
                <key>sourceSize</key>
                <string>{276,68}</string>
            </dict>
            <key>panelQQMember_btnOpenSuper_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,96},{276,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,68}}</string>
                <key>sourceSize</key>
                <string>{276,68}</string>
            </dict>
            <key>panelQQMember_btnOpenSuper_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{276,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,68}}</string>
                <key>sourceSize</key>
                <string>{276,68}</string>
            </dict>
            <key>panelQQMember_btnOpen_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,26},{276,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,68}}</string>
                <key>sourceSize</key>
                <string>{276,68}</string>
            </dict>
            <key>panelQQMember_btnOpen_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{276,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,68}}</string>
                <key>sourceSize</key>
                <string>{276,68}</string>
            </dict>
            <key>panelQQMember_tf0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,22}}</string>
                <key>sourceSize</key>
                <string>{44,22}</string>
            </dict>
            <key>panelQQMember_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{132,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,22}}</string>
                <key>sourceSize</key>
                <string>{132,22}</string>
            </dict>
            <key>panelQQMember_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{174,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,22}}</string>
                <key>sourceSize</key>
                <string>{174,22}</string>
            </dict>
            <key>panelQQMember_tf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{183,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,22}}</string>
                <key>sourceSize</key>
                <string>{183,22}</string>
            </dict>
            <key>panelQQMember_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,388},{378,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,98}}</string>
                <key>sourceSize</key>
                <string>{378,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Material.png</string>
            <key>size</key>
            <string>{558,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75b7cba51b4e485bbccfd5bc5c2cf111:1/1$</string>
            <key>textureFileName</key>
            <string>Material.png</string>
        </dict>
    </dict>
</plist>
