<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mallPanelBranch_building.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{138,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,50}}</string>
                <key>sourceSize</key>
                <string>{138,50}</string>
            </dict>
            <key>mallPanelBranch_currentMall.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,202},{94,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,24}}</string>
                <key>sourceSize</key>
                <string>{94,24}</string>
            </dict>
            <key>mallPanelBranch_enter_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{188,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,58}}</string>
                <key>sourceSize</key>
                <string>{188,58}</string>
            </dict>
            <key>mallPanelBranch_enter_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{188,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,58}}</string>
                <key>sourceSize</key>
                <string>{188,58}</string>
            </dict>
            <key>mallPanelBranch_notOpen.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,228},{70,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,23}}</string>
                <key>sourceSize</key>
                <string>{70,23}</string>
            </dict>
            <key>mallPanelBranch_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,78}}</string>
                <key>sourceSize</key>
                <string>{188,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Material.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f94cda5dfc92cd392b249635a370f980:1/1$</string>
            <key>textureFileName</key>
            <string>Material.png</string>
        </dict>
    </dict>
</plist>
