<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buildingState_btnBack_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,161},{156,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,51}}</string>
                <key>sourceSize</key>
                <string>{156,51}</string>
            </dict>
            <key>buildingState_btnBack_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,108},{156,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,51}}</string>
                <key>sourceSize</key>
                <string>{156,51}</string>
            </dict>
            <key>buildingState_btnBuy_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,108},{236,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,51}}</string>
                <key>sourceSize</key>
                <string>{236,51}</string>
            </dict>
            <key>buildingState_btnBuy_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,55},{236,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,51}}</string>
                <key>sourceSize</key>
                <string>{236,51}</string>
            </dict>
            <key>buildingState_btnOk_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,55},{156,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,51}}</string>
                <key>sourceSize</key>
                <string>{156,51}</string>
            </dict>
            <key>buildingState_btnOk_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,108},{156,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,51}}</string>
                <key>sourceSize</key>
                <string>{156,51}</string>
            </dict>
            <key>buildingState_btnPackage_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2},{156,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,51}}</string>
                <key>sourceSize</key>
                <string>{156,51}</string>
            </dict>
            <key>buildingState_btnPackage_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,55},{156,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,51}}</string>
                <key>sourceSize</key>
                <string>{156,51}</string>
            </dict>
            <key>buildingState_btnShop_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{156,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,51}}</string>
                <key>sourceSize</key>
                <string>{156,51}</string>
            </dict>
            <key>buildingState_btnShop_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,161},{156,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,51}}</string>
                <key>sourceSize</key>
                <string>{156,51}</string>
            </dict>
            <key>buildingState_btnUse_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{236,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,51}}</string>
                <key>sourceSize</key>
                <string>{236,51}</string>
            </dict>
            <key>buildingState_btnUse_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,177},{236,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,51}}</string>
                <key>sourceSize</key>
                <string>{236,51}</string>
            </dict>
            <key>buildingState_btnUse_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{236,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,51}}</string>
                <key>sourceSize</key>
                <string>{236,51}</string>
            </dict>
            <key>buildingState_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{223,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,113}}</string>
                <key>sourceSize</key>
                <string>{223,113}</string>
            </dict>
            <key>buildingState_quickRecycle_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{255,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,58}}</string>
                <key>sourceSize</key>
                <string>{255,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{813,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3407efcc70f0b2153b982302606f965e:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
