<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shop_avatarItem_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{60,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,415}}</string>
                <key>sourceSize</key>
                <string>{60,415}</string>
            </dict>
            <key>Shop_avatarItem_OffBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{281,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,217}}</string>
                <key>sourceSize</key>
                <string>{281,217}</string>
            </dict>
            <key>Shop_avatarItem_OnBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{281,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,217}}</string>
                <key>sourceSize</key>
                <string>{281,217}</string>
            </dict>
            <key>Shop_avatarItem_ReadyBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{281,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,217}}</string>
                <key>sourceSize</key>
                <string>{281,217}</string>
            </dict>
            <key>Shop_avatarItem_info_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,255},{228,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,63}}</string>
                <key>sourceSize</key>
                <string>{228,63}</string>
            </dict>
            <key>Shop_avatarItem_info_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,320},{188,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,48}}</string>
                <key>sourceSize</key>
                <string>{188,48}</string>
            </dict>
            <key>Shop_avatarItem_info_tf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{409,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,32}}</string>
                <key>sourceSize</key>
                <string>{409,32}</string>
            </dict>
            <key>Shop_avatarItem_info_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,221},{76,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,32}}</string>
                <key>sourceSize</key>
                <string>{76,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_avatar.png</string>
            <key>size</key>
            <string>{630,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1992b830687659fe975fed200c951624:1/1$</string>
            <key>textureFileName</key>
            <string>material_avatar.png</string>
        </dict>
    </dict>
</plist>
