<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelRankCommunity_bar_female.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{697,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{697,41}}</string>
                <key>sourceSize</key>
                <string>{697,41}</string>
            </dict>
            <key>panelRankCommunity_bar_male.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{697,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{697,41}}</string>
                <key>sourceSize</key>
                <string>{697,41}</string>
            </dict>
            <key>panelRankCommunity_bg_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,155},{206,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,24}}</string>
                <key>sourceSize</key>
                <string>{206,24}</string>
            </dict>
            <key>panelRankCommunity_bg_titleTf.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,88},{280,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,65}}</string>
                <key>sourceSize</key>
                <string>{280,65}</string>
            </dict>
            <key>panelRankCommunity_menuFemale_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,88},{58,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,106}}</string>
                <key>sourceSize</key>
                <string>{58,106}</string>
            </dict>
            <key>panelRankCommunity_menuFemale_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,88},{58,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,106}}</string>
                <key>sourceSize</key>
                <string>{58,106}</string>
            </dict>
            <key>panelRankCommunity_menuMale_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,88},{58,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,106}}</string>
                <key>sourceSize</key>
                <string>{58,106}</string>
            </dict>
            <key>panelRankCommunity_menuMale_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{58,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,106}}</string>
                <key>sourceSize</key>
                <string>{58,106}</string>
            </dict>
            <key>panelRankCommunity_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,155},{200,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,20}}</string>
                <key>sourceSize</key>
                <string>{200,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_community.png</string>
            <key>size</key>
            <string>{701,196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56fee26bb30ac6bce1e566568c12ec91:1/1$</string>
            <key>textureFileName</key>
            <string>material_community.png</string>
        </dict>
    </dict>
</plist>
