<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelPort_map_btnClose_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,110},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>panelPort_map_btnClose_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,116},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>panelPort_map_btnClose_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>panelPort_map_btnTaget_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,110},{124,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,106}}</string>
                <key>sourceSize</key>
                <string>{124,106}</string>
            </dict>
            <key>panelPort_map_btnTaget_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,112}}</string>
                <key>sourceSize</key>
                <string>{149,112}</string>
            </dict>
            <key>panelPort_map_btnTaget_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{124,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,106}}</string>
                <key>sourceSize</key>
                <string>{124,106}</string>
            </dict>
            <key>panelPort_map_btnTaget_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,110},{124,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,106}}</string>
                <key>sourceSize</key>
                <string>{124,106}</string>
            </dict>
            <key>panelPort_map_btnTaget_toLock.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,2},{124,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,106}}</string>
                <key>sourceSize</key>
                <string>{124,106}</string>
            </dict>
            <key>panelPort_map_btnTaget_unLock.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{124,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,106}}</string>
                <key>sourceSize</key>
                <string>{124,106}</string>
            </dict>
            <key>panelPort_map_indexDot_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,25},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>panelPort_map_indexDot_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>panelPort_map_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,218},{255,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,32}}</string>
                <key>sourceSize</key>
                <string>{255,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_map.png</string>
            <key>size</key>
            <string>{643,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de2a265f6904a91413b1e8003f2c8e4d:1/1$</string>
            <key>textureFileName</key>
            <string>material_map.png</string>
        </dict>
    </dict>
</plist>
