<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mailItem_avatarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,719},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>mailItem_avatarStroke.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,617},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>mail_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{805,613}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{805,613}}</string>
                <key>sourceSize</key>
                <string>{805,613}</string>
            </dict>
            <key>mail_btnGet_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,617},{145,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,66}}</string>
                <key>sourceSize</key>
                <string>{145,66}</string>
            </dict>
            <key>mail_btnGet_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,753},{145,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,66}}</string>
                <key>sourceSize</key>
                <string>{145,66}</string>
            </dict>
            <key>mail_btnOk_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,685},{145,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,66}}</string>
                <key>sourceSize</key>
                <string>{145,66}</string>
            </dict>
            <key>mail_btnOk_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,617},{145,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,66}}</string>
                <key>sourceSize</key>
                <string>{145,66}</string>
            </dict>
            <key>mail_img1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{216,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,238}}</string>
                <key>sourceSize</key>
                <string>{216,238}</string>
            </dict>
            <key>mail_img2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,857},{713,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{713,82}}</string>
                <key>sourceSize</key>
                <string>{713,82}</string>
            </dict>
            <key>mail_numberBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,821},{140,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,32}}</string>
                <key>sourceSize</key>
                <string>{140,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{809,941}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ef13a8d43ff7d88fd05c87af1e7f26d:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
