<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelAvatar_btnBuy_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,57},{249,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,53}}</string>
                <key>sourceSize</key>
                <string>{249,53}</string>
            </dict>
            <key>panelAvatar_btnBuy_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{249,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,53}}</string>
                <key>sourceSize</key>
                <string>{249,53}</string>
            </dict>
            <key>panelAvatar_btnChange_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,58},{249,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,54}}</string>
                <key>sourceSize</key>
                <string>{249,54}</string>
            </dict>
            <key>panelAvatar_btnChange_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{249,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,54}}</string>
                <key>sourceSize</key>
                <string>{249,54}</string>
            </dict>
            <key>panelAvatar_btnPair_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>panelAvatar_btnPair_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>panelAvatar_btnPair_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>panelAvatar_iconOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,63}}</string>
                <key>sourceSize</key>
                <string>{134,63}</string>
            </dict>
            <key>panelAvatar_tfPair.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{259,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,46}}</string>
                <key>sourceSize</key>
                <string>{259,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{784,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b4e152f6116f1cebe62c1690c3185f4:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
