<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>order_Ani001.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,184},{168,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,122}}</string>
                <key>sourceSize</key>
                <string>{168,122}</string>
            </dict>
            <key>order_Ani002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{168,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,122}}</string>
                <key>sourceSize</key>
                <string>{168,122}</string>
            </dict>
            <key>order_Ani003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{168,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,122}}</string>
                <key>sourceSize</key>
                <string>{168,122}</string>
            </dict>
            <key>order_NPC_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,112},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>order_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,184},{168,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,122}}</string>
                <key>sourceSize</key>
                <string>{168,122}</string>
            </dict>
            <key>order_Refresh_Diamond_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,167},{171,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,53}}</string>
                <key>sourceSize</key>
                <string>{171,53}</string>
            </dict>
            <key>order_Refresh_Diamond_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,57},{171,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,53}}</string>
                <key>sourceSize</key>
                <string>{171,53}</string>
            </dict>
            <key>order_Refresh_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,2},{171,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,53}}</string>
                <key>sourceSize</key>
                <string>{171,53}</string>
            </dict>
            <key>order_Refresh_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,112},{171,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,53}}</string>
                <key>sourceSize</key>
                <string>{171,53}</string>
            </dict>
            <key>order_Refresh_words.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,142},{242,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,32}}</string>
                <key>sourceSize</key>
                <string>{242,32}</string>
            </dict>
            <key>order_Separation.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{4,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,53}}</string>
                <key>sourceSize</key>
                <string>{4,53}</string>
            </dict>
            <key>order_Tape.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,381},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>order_add_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,57},{171,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,53}}</string>
                <key>sourceSize</key>
                <string>{171,53}</string>
            </dict>
            <key>order_add_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,2},{171,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,53}}</string>
                <key>sourceSize</key>
                <string>{171,53}</string>
            </dict>
            <key>order_change_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,328},{167,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,51}}</string>
                <key>sourceSize</key>
                <string>{167,51}</string>
            </dict>
            <key>order_change_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,275},{167,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,51}}</string>
                <key>sourceSize</key>
                <string>{167,51}</string>
            </dict>
            <key>order_goods_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{374,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,180}}</string>
                <key>sourceSize</key>
                <string>{374,180}</string>
            </dict>
            <key>order_limit_words.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,222},{173,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,51}}</string>
                <key>sourceSize</key>
                <string>{173,51}</string>
            </dict>
            <key>order_number_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,385},{58,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,32}}</string>
                <key>sourceSize</key>
                <string>{58,32}</string>
            </dict>
            <key>order_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,308},{168,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,121}}</string>
                <key>sourceSize</key>
                <string>{168,121}</string>
            </dict>
            <key>order_send_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,323},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>order_send_diamond_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,246},{243,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,68}}</string>
                <key>sourceSize</key>
                <string>{243,68}</string>
            </dict>
            <key>order_send_diamond_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,176},{243,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,68}}</string>
                <key>sourceSize</key>
                <string>{243,68}</string>
            </dict>
            <key>order_send_diamond_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,72},{243,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,68}}</string>
                <key>sourceSize</key>
                <string>{243,68}</string>
            </dict>
            <key>order_send_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,316},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>order_send_imm_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{243,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,68}}</string>
                <key>sourceSize</key>
                <string>{243,68}</string>
            </dict>
            <key>order_send_imm_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,184},{243,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,68}}</string>
                <key>sourceSize</key>
                <string>{243,68}</string>
            </dict>
            <key>order_send_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,254},{243,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,67}}</string>
                <key>sourceSize</key>
                <string>{243,67}</string>
            </dict>
            <key>order_star_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,385},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>order_star_big_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,142},{191,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,31}}</string>
                <key>sourceSize</key>
                <string>{191,31}</string>
            </dict>
            <key>order_star_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,407},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>order_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,381},{104,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,55}}</string>
                <key>sourceSize</key>
                <string>{104,55}</string>
            </dict>
            <key>order_words.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,385},{119,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,20}}</string>
                <key>sourceSize</key>
                <string>{119,20}</string>
            </dict>
            <key>order_words1.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,112},{119,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,20}}</string>
                <key>sourceSize</key>
                <string>{119,20}</string>
            </dict>
            <key>order_words2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,419},{260,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,20}}</string>
                <key>sourceSize</key>
                <string>{260,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{1007,445}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8835ddecbb7c9cf1608d21a7c0561b91:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
