<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelCodeLock_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,537}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,537}}</string>
                <key>sourceSize</key>
                <string>{364,537}</string>
            </dict>
            <key>panelCodeLock_btn0_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,760},{155,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,69}}</string>
                <key>sourceSize</key>
                <string>{155,69}</string>
            </dict>
            <key>panelCodeLock_btn0_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{155,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,69}}</string>
                <key>sourceSize</key>
                <string>{155,69}</string>
            </dict>
            <key>panelCodeLock_btn1_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,925},{102,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,69}}</string>
                <key>sourceSize</key>
                <string>{102,69}</string>
            </dict>
            <key>panelCodeLock_btn1_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,925},{102,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,69}}</string>
                <key>sourceSize</key>
                <string>{102,69}</string>
            </dict>
            <key>panelCodeLock_btn2_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,902},{102,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,69}}</string>
                <key>sourceSize</key>
                <string>{102,69}</string>
            </dict>
            <key>panelCodeLock_btn2_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{102,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,69}}</string>
                <key>sourceSize</key>
                <string>{102,69}</string>
            </dict>
            <key>panelCodeLock_btn3_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,854},{102,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,69}}</string>
                <key>sourceSize</key>
                <string>{102,69}</string>
            </dict>
            <key>panelCodeLock_btn3_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,854},{102,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,69}}</string>
                <key>sourceSize</key>
                <string>{102,69}</string>
            </dict>
            <key>panelCodeLock_btn4_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,831},{102,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,69}}</string>
                <key>sourceSize</key>
                <string>{102,69}</string>
            </dict>
            <key>panelCodeLock_btn4_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,712},{102,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,69}}</string>
                <key>sourceSize</key>
                <string>{102,69}</string>
            </dict>
            <key>panelCodeLock_btn5_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,641},{102,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,69}}</string>
                <key>sourceSize</key>
                <string>{102,69}</string>
            </dict>
            <key>panelCodeLock_btn5_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,570},{102,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,69}}</string>
                <key>sourceSize</key>
                <string>{102,69}</string>
            </dict>
            <key>panelCodeLock_btn6_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,499},{102,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,69}}</string>
                <key>sourceSize</key>
                <string>{102,69}</string>
            </dict>
            <key>panelCodeLock_btn6_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,428},{102,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,69}}</string>
                <key>sourceSize</key>
                <string>{102,69}</string>
            </dict>
            <key>panelCodeLock_btn7_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,357},{102,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,69}}</string>
                <key>sourceSize</key>
                <string>{102,69}</string>
            </dict>
            <key>panelCodeLock_btn7_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,286},{102,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,69}}</string>
                <key>sourceSize</key>
                <string>{102,69}</string>
            </dict>
            <key>panelCodeLock_btn8_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,215},{102,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,69}}</string>
                <key>sourceSize</key>
                <string>{102,69}</string>
            </dict>
            <key>panelCodeLock_btn8_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,144},{102,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,69}}</string>
                <key>sourceSize</key>
                <string>{102,69}</string>
            </dict>
            <key>panelCodeLock_btn9_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,73},{102,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,69}}</string>
                <key>sourceSize</key>
                <string>{102,69}</string>
            </dict>
            <key>panelCodeLock_btn9_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{102,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,69}}</string>
                <key>sourceSize</key>
                <string>{102,69}</string>
            </dict>
            <key>panelCodeLock_btnDel_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{153,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,69}}</string>
                <key>sourceSize</key>
                <string>{153,69}</string>
            </dict>
            <key>panelCodeLock_btnDel_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,783},{153,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,69}}</string>
                <key>sourceSize</key>
                <string>{153,69}</string>
            </dict>
            <key>panelCodeLock_btnOk_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,687},{322,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,71}}</string>
                <key>sourceSize</key>
                <string>{322,71}</string>
            </dict>
            <key>panelCodeLock_btnOk_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{322,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,71}}</string>
                <key>sourceSize</key>
                <string>{322,71}</string>
            </dict>
            <key>panelCodeLock_btnOk_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{322,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,71}}</string>
                <key>sourceSize</key>
                <string>{322,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{472,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8bdc5785759f556075a2c11196bc7d3:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
