<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>charmTitle_A1</key>
            <dict>
                <key>frame</key>
                <string>{{738,32},{90,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,28}}</string>
                <key>sourceSize</key>
                <string>{92,30}</string>
            </dict>
            <key>charmTitle_A2</key>
            <dict>
                <key>frame</key>
                <string>{{830,32},{88,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{88,28}}</string>
                <key>sourceSize</key>
                <string>{92,30}</string>
            </dict>
            <key>charmTitle_A3</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{90,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,28}}</string>
                <key>sourceSize</key>
                <string>{92,30}</string>
            </dict>
            <key>charmTitle_A4</key>
            <dict>
                <key>frame</key>
                <string>{{646,32},{90,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,28}}</string>
                <key>sourceSize</key>
                <string>{92,30}</string>
            </dict>
            <key>charmTitle_A5</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{90,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,28}}</string>
                <key>sourceSize</key>
                <string>{92,30}</string>
            </dict>
            <key>charmTitle_B1</key>
            <dict>
                <key>frame</key>
                <string>{{554,32},{90,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,28}}</string>
                <key>sourceSize</key>
                <string>{92,30}</string>
            </dict>
            <key>charmTitle_B2</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{90,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,28}}</string>
                <key>sourceSize</key>
                <string>{92,30}</string>
            </dict>
            <key>charmTitle_B3</key>
            <dict>
                <key>frame</key>
                <string>{{462,32},{90,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,28}}</string>
                <key>sourceSize</key>
                <string>{92,30}</string>
            </dict>
            <key>charmTitle_B4</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{90,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,28}}</string>
                <key>sourceSize</key>
                <string>{92,30}</string>
            </dict>
            <key>charmTitle_B5</key>
            <dict>
                <key>frame</key>
                <string>{{370,32},{90,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,28}}</string>
                <key>sourceSize</key>
                <string>{92,30}</string>
            </dict>
            <key>charmTitle_C1</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{88,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{88,28}}</string>
                <key>sourceSize</key>
                <string>{92,30}</string>
            </dict>
            <key>charmTitle_C2</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{90,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,28}}</string>
                <key>sourceSize</key>
                <string>{92,30}</string>
            </dict>
            <key>charmTitle_C3</key>
            <dict>
                <key>frame</key>
                <string>{{278,32},{90,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,28}}</string>
                <key>sourceSize</key>
                <string>{92,30}</string>
            </dict>
            <key>charmTitle_C4</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{90,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,28}}</string>
                <key>sourceSize</key>
                <string>{92,30}</string>
            </dict>
            <key>charmTitle_C5</key>
            <dict>
                <key>frame</key>
                <string>{{186,32},{90,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,28}}</string>
                <key>sourceSize</key>
                <string>{92,30}</string>
            </dict>
            <key>charmTitle_D1</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{90,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,28}}</string>
                <key>sourceSize</key>
                <string>{92,30}</string>
            </dict>
            <key>charmTitle_D2</key>
            <dict>
                <key>frame</key>
                <string>{{94,32},{90,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,28}}</string>
                <key>sourceSize</key>
                <string>{92,30}</string>
            </dict>
            <key>charmTitle_D3</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,28}}</string>
                <key>sourceSize</key>
                <string>{92,30}</string>
            </dict>
            <key>charmTitle_D4</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{90,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,28}}</string>
                <key>sourceSize</key>
                <string>{92,30}</string>
            </dict>
            <key>charmTitle_D5</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,28}}</string>
                <key>sourceSize</key>
                <string>{92,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{920,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a274d275076c394cb1f3a7de7f37eac:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
