<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paenlGuild_sailLog_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{420,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,500}}</string>
                <key>sourceSize</key>
                <string>{420,500}</string>
            </dict>
            <key>paenlGuild_sailLog_bg_ill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,251},{112,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,59}}</string>
                <key>sourceSize</key>
                <string>{112,59}</string>
            </dict>
            <key>paenlGuild_sailLog_bg_ill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,193},{78,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,56}}</string>
                <key>sourceSize</key>
                <string>{78,56}</string>
            </dict>
            <key>paenlGuild_sailLog_bg_ill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,211},{151,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,46}}</string>
                <key>sourceSize</key>
                <string>{151,46}</string>
            </dict>
            <key>paenlGuild_sailLog_btnClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,71},{86,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,76}}</string>
                <key>sourceSize</key>
                <string>{86,76}</string>
            </dict>
            <key>paenlGuild_sailLog_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,171},{79,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,20}}</string>
                <key>sourceSize</key>
                <string>{79,20}</string>
            </dict>
            <key>paenlGuild_sailLog_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,149},{80,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,20}}</string>
                <key>sourceSize</key>
                <string>{80,20}</string>
            </dict>
            <key>paenlGuild_sailLog_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{288,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,67}}</string>
                <key>sourceSize</key>
                <string>{288,67}</string>
            </dict>
            <key>panelGuild_sailLog_btnGetRewards_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,141},{200,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{200,68}</string>
            </dict>
            <key>panelGuild_sailLog_btnGetRewards_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,71},{200,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{200,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material_sailLog.png</string>
            <key>size</key>
            <string>{714,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b449f2beeca7ad81e9008325981ed90:1/1$</string>
            <key>textureFileName</key>
            <string>material_sailLog.png</string>
        </dict>
    </dict>
</plist>
