<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mallPanelFriend_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,24}}</string>
                <key>sourceSize</key>
                <string>{258,24}</string>
            </dict>
            <key>mallPanelFriend_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{252,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,20}}</string>
                <key>sourceSize</key>
                <string>{252,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Material.png</string>
            <key>size</key>
            <string>{516,28}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7795d4483c399a9122bfc9360be7252e:1/1$</string>
            <key>textureFileName</key>
            <string>Material.png</string>
        </dict>
    </dict>
</plist>
