<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelMoor_Star_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{196,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,288}}</string>
                <key>sourceSize</key>
                <string>{196,288}</string>
            </dict>
            <key>panelMoor_SubInfo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,358}}</string>
                <key>sourceSize</key>
                <string>{205,358}</string>
            </dict>
            <key>panelMoor_SubInfo_btnKickOff_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,432},{175,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,50}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>panelMoor_SubInfo_btnKickOff_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,226},{175,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,50}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>panelMoor_SubInfo_btnPark_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,352},{244,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,58}}</string>
                <key>sourceSize</key>
                <string>{244,58}</string>
            </dict>
            <key>panelMoor_SubInfo_btnPark_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,292},{244,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,58}}</string>
                <key>sourceSize</key>
                <string>{244,58}</string>
            </dict>
            <key>panelMoor_SubInfo_btnRewards_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{244,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,58}}</string>
                <key>sourceSize</key>
                <string>{244,58}</string>
            </dict>
            <key>panelMoor_SubInfo_btnRewards_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{244,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,58}}</string>
                <key>sourceSize</key>
                <string>{244,58}</string>
            </dict>
            <key>panelMoor_SubInfo_btnVisit_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,278},{176,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,70}}</string>
                <key>sourceSize</key>
                <string>{176,70}</string>
            </dict>
            <key>panelMoor_SubInfo_btnVisit_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,412},{176,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,70}}</string>
                <key>sourceSize</key>
                <string>{176,70}</string>
            </dict>
            <key>panelMoor_btnGetBack_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,154},{176,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,70}}</string>
                <key>sourceSize</key>
                <string>{176,70}</string>
            </dict>
            <key>panelMoor_btnGetBack_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,82},{176,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,70}}</string>
                <key>sourceSize</key>
                <string>{176,70}</string>
            </dict>
            <key>panelMoor_loadBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,484},{220,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,22}}</string>
                <key>sourceSize</key>
                <string>{220,22}</string>
            </dict>
            <key>panelMoor_loadBar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,48},{230,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,32}}</string>
                <key>sourceSize</key>
                <string>{230,32}</string>
            </dict>
            <key>panelMoor_loadInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{232,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,44}}</string>
                <key>sourceSize</key>
                <string>{232,44}</string>
            </dict>
            <key>panelMoor_tf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{228,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,22}}</string>
                <key>sourceSize</key>
                <string>{228,22}</string>
            </dict>
            <key>panelMoor_tfBuff.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,408},{132,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,22}}</string>
                <key>sourceSize</key>
                <string>{132,22}</string>
            </dict>
            <key>panelMoor_tfCrew.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,484},{44,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,22}}</string>
                <key>sourceSize</key>
                <string>{44,22}</string>
            </dict>
            <key>panelMoor_tfLeftTime.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,384},{136,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,22}}</string>
                <key>sourceSize</key>
                <string>{136,22}</string>
            </dict>
            <key>panelMoor_tfLoad.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,484},{74,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,22}}</string>
                <key>sourceSize</key>
                <string>{74,22}</string>
            </dict>
            <key>panelMoor_tfParkDone.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,350},{145,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,32}}</string>
                <key>sourceSize</key>
                <string>{145,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>material.png</string>
            <key>size</key>
            <string>{641,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed8f3dacf8bb6a203d23006fdcc0df6c:1/1$</string>
            <key>textureFileName</key>
            <string>material.png</string>
        </dict>
    </dict>
</plist>
