<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>newAniflashStoke_122</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.033</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>-1</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>newvipFlashStroke_122_0001</string>
					<key>delayUnits</key>
					<integer>2</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>newvipFlashStroke_122_0002</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>newvipFlashStroke_122_0003</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>newvipFlashStroke_122_0004</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>newvipFlashStroke_122_0005</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>newvipFlashStroke_122_0006</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>newvipFlashStroke_122_0007</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>newvipFlashStroke_122_0008</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>newvipFlashStroke_122_0009</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>newvipFlashStroke_122_0010</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>newvipFlashStroke_122_0011</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>newvipFlashStroke_122_0012</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>newvipFlashStroke_122_0013</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>newvipFlashStroke_122_0014</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>newvipFlashStroke_122_0015</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>newvipFlashStroke_122_0016</string>
					<key>delayUnits</key>
					<integer>12</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>newvipFlashStroke_122_0017</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>newvipFlashStroke_122_0018</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>newvipFlashStroke_122_0019</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>newvipFlashStroke_122_0020</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>newvipFlashStroke_122_0021</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>newvipFlashStroke_122_0022</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>newvipFlashStroke_122_0023</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>newvipFlashStroke_122_0024</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>newvipFlashStroke_122_0025</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>newvipFlashStroke_122_0016</string>
					<key>delayUnits</key>
					<integer>40</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
					</dict>
			</array>
		</dict>
	</dict>
	<key>properties</key>
	<dict>
		<key>spritesheets</key>		<array>
			<string>newvipFlashStroke_122_Ani.plist</string>
		</array>
		<key>format</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>