<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>opBuilding</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.033</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>-1</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0001</string>
					<key>delayUnits</key>
					<integer>2</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0002</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0003</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0004</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0005</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0006</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0007</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0008</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0009</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0010</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0011</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0012</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0013</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0014</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0001</string>
					<key>delayUnits</key>
					<integer>4</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0015</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0016</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0017</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0018</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0019</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0020</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0021</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0022</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0023</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0024</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0025</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0012</string>
					<key>delayUnits</key>
					<integer>4</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0026</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0027</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0028</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0029</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0030</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0031</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0032</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0033</string>
					<key>delayUnits</key>
					<integer>5</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0034</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0035</string>
					<key>delayUnits</key>
					<integer>6</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0036</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0037</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0038</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0028</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0029</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0030</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0031</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0032</string>
					<key>delayUnits</key>
					<integer>2</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opBuilding_0033</string>
					<key>delayUnits</key>
					<integer>3</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
					</dict>
			</array>
		</dict>
	</dict>
	<key>properties</key>
	<dict>
		<key>spritesheets</key>		<array>
			<string>opBuilding_Ani.plist</string>
		</array>
		<key>format</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>