<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>opBuilding_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{56,56}}</string>
                <key>offset</key>
                <string>{22,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,15},{56,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0002</key>
            <dict>
                <key>frame</key>
                <string>{{322,166},{60,54}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{60,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0003</key>
            <dict>
                <key>frame</key>
                <string>{{260,154},{60,54}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{60,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0004</key>
            <dict>
                <key>frame</key>
                <string>{{198,154},{60,54}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,29},{60,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0005</key>
            <dict>
                <key>frame</key>
                <string>{{158,100},{68,52}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,31},{68,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0006</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{74,52}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,31},{74,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0007</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{78,52}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{78,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,54}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,30},{82,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{70,52}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,31},{70,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0010</key>
            <dict>
                <key>frame</key>
                <string>{{72,154},{62,52}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,31},{62,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0011</key>
            <dict>
                <key>frame</key>
                <string>{{360,112},{64,52}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,31},{64,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0012</key>
            <dict>
                <key>frame</key>
                <string>{{446,202},{60,52}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{60,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0013</key>
            <dict>
                <key>frame</key>
                <string>{{384,202},{60,52}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,30},{60,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{60,54}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{60,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0015</key>
            <dict>
                <key>frame</key>
                <string>{{64,208},{60,54}}</string>
                <key>offset</key>
                <string>{20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,21},{60,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0016</key>
            <dict>
                <key>frame</key>
                <string>{{136,154},{60,54}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{60,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{60,54}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{60,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0018</key>
            <dict>
                <key>frame</key>
                <string>{{294,100},{64,52}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,31},{64,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0019</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{72,52}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,31},{72,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0020</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{76,52}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,31},{76,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0021</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{78,52}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{78,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0022</key>
            <dict>
                <key>frame</key>
                <string>{{374,56},{68,54}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,30},{68,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0023</key>
            <dict>
                <key>frame</key>
                <string>{{86,56},{70,52}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,31},{70,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0024</key>
            <dict>
                <key>frame</key>
                <string>{{228,100},{64,52}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,31},{64,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0025</key>
            <dict>
                <key>frame</key>
                <string>{{444,104},{64,52}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,31},{64,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0026</key>
            <dict>
                <key>frame</key>
                <string>{{188,210},{52,58}}</string>
                <key>offset</key>
                <string>{-18,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{52,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0027</key>
            <dict>
                <key>frame</key>
                <string>{{126,256},{58,50}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{58,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0028</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{68,42}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,43},{68,42}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0029</key>
            <dict>
                <key>frame</key>
                <string>{{74,110},{68,42}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,40},{68,42}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0030</key>
            <dict>
                <key>frame</key>
                <string>{{302,56},{70,42}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,38},{70,42}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0031</key>
            <dict>
                <key>frame</key>
                <string>{{230,56},{70,42}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,39},{70,42}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0032</key>
            <dict>
                <key>frame</key>
                <string>{{158,56},{70,42}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,41},{70,42}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0033</key>
            <dict>
                <key>frame</key>
                <string>{{426,158},{64,42}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,41},{64,42}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0034</key>
            <dict>
                <key>frame</key>
                <string>{{64,264},{50,58}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,15},{50,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0035</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{42,62}}</string>
                <key>offset</key>
                <string>{-25,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{42,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0036</key>
            <dict>
                <key>frame</key>
                <string>{{126,210},{44,60}}</string>
                <key>offset</key>
                <string>{-19,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,13},{44,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0037</key>
            <dict>
                <key>frame</key>
                <string>{{248,210},{54,56}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{54,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opBuilding_0038</key>
            <dict>
                <key>frame</key>
                <string>{{444,56},{66,46}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,31},{66,46}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>opBuilding_Ani.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afb7abbeab2510798cdb69c5294984f3$</string>
            <key>textureFileName</key>
            <string>opBuilding_Ani.png</string>
        </dict>
    </dict>
</plist>
