<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>opFeeding_0001</key>
            <dict>
                <key>frame</key>
                <string>{{170,414},{54,44}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,49},{54,44}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opFeeding_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{62,76}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,17},{62,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opFeeding_0003</key>
            <dict>
                <key>frame</key>
                <string>{{76,228},{56,70}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,23},{56,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opFeeding_0004</key>
            <dict>
                <key>frame</key>
                <string>{{170,358},{54,64}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,29},{54,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opFeeding_0005</key>
            <dict>
                <key>frame</key>
                <string>{{114,398},{54,64}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,29},{54,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opFeeding_0006</key>
            <dict>
                <key>frame</key>
                <string>{{58,420},{54,64}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,29},{54,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opFeeding_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{54,66}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{54,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opFeeding_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{54,66}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,27},{54,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opFeeding_0009</key>
            <dict>
                <key>frame</key>
                <string>{{72,342},{54,68}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,25},{54,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opFeeding_0010</key>
            <dict>
                <key>frame</key>
                <string>{{74,286},{54,70}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,23},{54,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opFeeding_0011</key>
            <dict>
                <key>frame</key>
                <string>{{148,242},{54,70}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,23},{54,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opFeeding_0012</key>
            <dict>
                <key>frame</key>
                <string>{{78,172},{54,74}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,19},{54,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opFeeding_0013</key>
            <dict>
                <key>frame</key>
                <string>{{80,114},{56,76}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{56,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opFeeding_0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{62,74}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{62,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opFeeding_0015</key>
            <dict>
                <key>frame</key>
                <string>{{154,174},{66,70}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,23},{66,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opFeeding_0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{68,64}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,29},{68,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opFeeding_0017</key>
            <dict>
                <key>frame</key>
                <string>{{146,298},{68,58}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,35},{68,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opFeeding_0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{70,54}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,39},{70,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opFeeding_0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{72,54}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,39},{72,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opFeeding_0020</key>
            <dict>
                <key>frame</key>
                <string>{{158,118},{74,54}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,39},{74,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opFeeding_0021</key>
            <dict>
                <key>frame</key>
                <string>{{168,60},{76,56}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,37},{76,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opFeeding_0022</key>
            <dict>
                <key>frame</key>
                <string>{{86,56},{80,56}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,37},{80,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opFeeding_0023</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{80,56}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,37},{80,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opFeeding_0024</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,54}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,39},{82,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opFeeding_0025</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{82,52}}</string>
                <key>offset</key>
                <string>{9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,41},{82,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opFeeding_0026</key>
            <dict>
                <key>frame</key>
                <string>{{114,464},{54,44}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,49},{54,44}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>opFeeding_Ani.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67afc46e7cfebeea713f82b5579b5062$</string>
            <key>textureFileName</key>
            <string>opFeeding_Ani.png</string>
        </dict>
    </dict>
</plist>
