<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>opLove_0001</key>
            <dict>
                <key>frame</key>
                <string>{{216,248},{96,86}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,32},{96,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>opLove_0002</key>
            <dict>
                <key>frame</key>
                <string>{{206,362},{110,96}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,27},{110,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>opLove_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{130,114}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,18},{130,114}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>opLove_0004</key>
            <dict>
                <key>frame</key>
                <string>{{154,130},{134,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{134,116}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>opLove_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{132,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{132,116}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>opLove_0006</key>
            <dict>
                <key>frame</key>
                <string>{{306,128},{140,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{140,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>opLove_0007</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{148,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{148,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>opLove_0008</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{150,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>opLove_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{150,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>opLove_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{118,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,24},{118,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>opLove_0011</key>
            <dict>
                <key>frame</key>
                <string>{{106,382},{114,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,26},{114,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>opLove_0012</key>
            <dict>
                <key>frame</key>
                <string>{{118,250},{110,96}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,27},{110,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>opLove_Ani.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cb777195b2c36f009d166eabd55f9d4$</string>
            <key>textureFileName</key>
            <string>opLove_Ani.png</string>
        </dict>
    </dict>
</plist>
