<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>opMoreLove_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,55},{42,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>opMoreLove_0002</key>
            <dict>
                <key>frame</key>
                <string>{{254,394},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{78,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>opMoreLove_0003</key>
            <dict>
                <key>frame</key>
                <string>{{146,394},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{106,106}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>opMoreLove_0004</key>
            <dict>
                <key>frame</key>
                <string>{{146,274},{118,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{118,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>opMoreLove_0005</key>
            <dict>
                <key>frame</key>
                <string>{{146,144},{128,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{128,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>opMoreLove_0006</key>
            <dict>
                <key>frame</key>
                <string>{{296,142},{134,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{134,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>opMoreLove_0007</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{138,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>opMoreLove_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{142,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{142,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>opMoreLove_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{142,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{142,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>opMoreLove_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>opMoreLove_0011</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{140,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{140,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>opMoreLove_Ani.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bce86e78bed411d324aecef0b431bfb8$</string>
            <key>textureFileName</key>
            <string>opMoreLove_Ani.png</string>
        </dict>
    </dict>
</plist>
