<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>opNeedWater_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{22,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,37},{22,32}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opNeedWater_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{22,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,37},{22,32}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opNeedWater_0003</key>
            <dict>
                <key>frame</key>
                <string>{{36,70},{22,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,37},{22,32}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opNeedWater_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{22,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,37},{22,32}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opNeedWater_0005</key>
            <dict>
                <key>frame</key>
                <string>{{36,36},{22,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,37},{22,32}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opNeedWater_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{22,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,37},{22,32}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opNeedWater_0007</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{22,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,37},{22,32}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>opNeedWater_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,37},{22,32}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>opNeedWater_Ani.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcfad071ab2a4008572e0f3383eea621$</string>
            <key>textureFileName</key>
            <string>opNeedWater_Ani.png</string>
        </dict>
    </dict>
</plist>
