<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>opPlant</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.033</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>1</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0001</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0002</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0003</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0004</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0005</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0006</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0007</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0008</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0009</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0010</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0011</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0012</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0013</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0014</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0015</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0016</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0017</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0018</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0019</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0020</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0021</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0022</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0023</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0024</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0025</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0026</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0027</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0028</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0029</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0030</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0031</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0032</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0033</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0034</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0035</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0036</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0037</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0038</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0039</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0040</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0041</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0042</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0043</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0044</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0045</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0046</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0047</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0048</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0049</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0050</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0051</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0052</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0053</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0054</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0055</string>
					<key>delayUnits</key>
					<integer>1</integer>
					</dict>
				<dict>
					<key>spriteframe</key>
					<string>opPlant_0056</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
					</dict>
			</array>
		</dict>
	</dict>
	<key>properties</key>
	<dict>
		<key>spritesheets</key>		<array>
			<string>opPlant_Ani.plist</string>
		</array>
		<key>format</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>