<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>opPlant_0001</key>
            <dict>
                <key>frame</key>
                <string>{{54,278},{42,46}}</string>
                <key>offset</key>
                <string>{-25,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,32},{42,46}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0002</key>
            <dict>
                <key>frame</key>
                <string>{{328,180},{38,46}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,34},{38,46}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0003</key>
            <dict>
                <key>frame</key>
                <string>{{330,126},{36,48}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,34},{36,48}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0004</key>
            <dict>
                <key>frame</key>
                <string>{{242,234},{42,50}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,37},{42,50}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0005</key>
            <dict>
                <key>frame</key>
                <string>{{54,230},{46,50}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,36},{46,50}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0006</key>
            <dict>
                <key>frame</key>
                <string>{{106,276},{46,48}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,37},{46,48}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0007</key>
            <dict>
                <key>frame</key>
                <string>{{162,236},{48,48}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,35},{48,48}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0008</key>
            <dict>
                <key>frame</key>
                <string>{{56,178},{52,50}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{52,50}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0009</key>
            <dict>
                <key>frame</key>
                <string>{{270,180},{56,52}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{56,52}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0010</key>
            <dict>
                <key>frame</key>
                <string>{{126,168},{58,56}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,25},{58,56}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0011</key>
            <dict>
                <key>frame</key>
                <string>{{446,62},{64,58}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,23},{64,58}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0012</key>
            <dict>
                <key>frame</key>
                <string>{{300,64},{66,60}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{66,60}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0013</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{70,60}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{70,60}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0014</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{74,60}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{74,60}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,60}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{78,60}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0016</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{68,62}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{68,62}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0017</key>
            <dict>
                <key>frame</key>
                <string>{{74,64},{70,62}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{70,62}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{70,62}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{70,62}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0019</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{72,62}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{72,62}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0020</key>
            <dict>
                <key>frame</key>
                <string>{{436,122},{56,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,17},{56,64}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0021</key>
            <dict>
                <key>frame</key>
                <string>{{146,66},{48,64}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,17},{48,64}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0022</key>
            <dict>
                <key>frame</key>
                <string>{{64,128},{48,60}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,21},{48,60}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0023</key>
            <dict>
                <key>frame</key>
                <string>{{368,170},{48,58}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,23},{48,58}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0024</key>
            <dict>
                <key>frame</key>
                <string>{{186,184},{50,54}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,27},{50,54}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0025</key>
            <dict>
                <key>frame</key>
                <string>{{368,220},{54,54}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{54,54}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0026</key>
            <dict>
                <key>frame</key>
                <string>{{270,126},{58,52}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,29},{58,52}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0027</key>
            <dict>
                <key>frame</key>
                <string>{{146,116},{62,50}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,31},{62,50}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0028</key>
            <dict>
                <key>frame</key>
                <string>{{368,118},{66,50}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,31},{66,50}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0029</key>
            <dict>
                <key>frame</key>
                <string>{{368,118},{66,50}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,31},{66,50}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0030</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{60,48}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,33},{60,48}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0031</key>
            <dict>
                <key>frame</key>
                <string>{{424,234},{54,48}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,34},{54,48}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0032</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{48,50}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,37},{48,50}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0033</key>
            <dict>
                <key>frame</key>
                <string>{{110,226},{48,50}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,36},{48,50}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0034</key>
            <dict>
                <key>frame</key>
                <string>{{344,276},{48,48}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,37},{48,48}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0035</key>
            <dict>
                <key>frame</key>
                <string>{{294,234},{48,48}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,35},{48,48}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0036</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{52,50}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{52,50}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0037</key>
            <dict>
                <key>frame</key>
                <string>{{428,180},{56,52}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{56,52}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0038</key>
            <dict>
                <key>frame</key>
                <string>{{210,126},{58,56}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,25},{58,56}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0039</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{64,58}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,23},{64,58}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0040</key>
            <dict>
                <key>frame</key>
                <string>{{232,64},{66,60}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{66,60}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0041</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{70,60}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{70,60}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0042</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{74,60}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{74,60}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0043</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,60}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{78,60}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0044</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{68,62}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{68,62}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0045</key>
            <dict>
                <key>frame</key>
                <string>{{74,64},{70,62}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{70,62}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0046</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{70,62}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{70,62}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0047</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{72,62}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{72,62}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0048</key>
            <dict>
                <key>frame</key>
                <string>{{436,122},{56,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,17},{56,64}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0049</key>
            <dict>
                <key>frame</key>
                <string>{{146,66},{48,64}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,17},{48,64}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0050</key>
            <dict>
                <key>frame</key>
                <string>{{64,128},{48,60}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,21},{48,60}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0051</key>
            <dict>
                <key>frame</key>
                <string>{{368,170},{48,58}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,23},{48,58}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0052</key>
            <dict>
                <key>frame</key>
                <string>{{186,184},{50,54}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,27},{50,54}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0053</key>
            <dict>
                <key>frame</key>
                <string>{{368,220},{54,54}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{54,54}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0054</key>
            <dict>
                <key>frame</key>
                <string>{{270,126},{58,52}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,29},{58,52}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0055</key>
            <dict>
                <key>frame</key>
                <string>{{146,116},{62,50}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,31},{62,50}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>opPlant_0056</key>
            <dict>
                <key>frame</key>
                <string>{{368,66},{66,50}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,31},{66,50}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>opPlant_Ani.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33d9e329896e3cda201499c4762c2001$</string>
            <key>textureFileName</key>
            <string>opPlant_Ani.png</string>
        </dict>
    </dict>
</plist>
