<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>opShelfUpgrade_0001</key>
            <dict>
                <key>frame</key>
                <string>{{920,244},{76,76}}</string>
                <key>offset</key>
                <string>{-23,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,242},{76,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>opShelfUpgrade_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{264,254}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,123},{264,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>opShelfUpgrade_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,280}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,114},{280,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>opShelfUpgrade_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{284,276}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,113},{284,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>opShelfUpgrade_0005</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{262,264}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,112},{262,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>opShelfUpgrade_0006</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{250,252}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,112},{250,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>opShelfUpgrade_0007</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{220,240}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,119},{220,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>opShelfUpgrade_0008</key>
            <dict>
                <key>frame</key>
                <string>{{284,268},{212,220}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,141},{212,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>opShelfUpgrade_0009</key>
            <dict>
                <key>frame</key>
                <string>{{280,482},{210,204}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,159},{210,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>opShelfUpgrade_0010</key>
            <dict>
                <key>frame</key>
                <string>{{506,268},{204,208}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,156},{204,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>opShelfUpgrade_0011</key>
            <dict>
                <key>frame</key>
                <string>{{712,464},{206,206}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,157},{206,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>opShelfUpgrade_0012</key>
            <dict>
                <key>frame</key>
                <string>{{712,256},{206,206}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,158},{206,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>opShelfUpgrade_0013</key>
            <dict>
                <key>frame</key>
                <string>{{492,482},{204,200}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,163},{204,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>opShelfUpgrade_0014</key>
            <dict>
                <key>frame</key>
                <string>{{694,672},{200,200}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,164},{200,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>opShelfUpgrade_0015</key>
            <dict>
                <key>frame</key>
                <string>{{424,688},{170,196}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,167},{170,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>opShelfUpgrade_0016</key>
            <dict>
                <key>frame</key>
                <string>{{268,688},{154,184}}</string>
                <key>offset</key>
                <string>{13,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,175},{154,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>opShelfUpgrade_Ani.png</string>
            <key>size</key>
            <string>{1023,874}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66bd56989b48afee7275a76ca0cab620$</string>
            <key>textureFileName</key>
            <string>opShelfUpgrade_Ani.png</string>
        </dict>
    </dict>
</plist>
