<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>opShelfSatisfaction_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{78,140}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,40},{78,140}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>opShelfSatisfaction_0002</key>
            <dict>
                <key>frame</key>
                <string>{{380,176},{86,158}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,34},{86,158}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>opShelfSatisfaction_0003</key>
            <dict>
                <key>frame</key>
                <string>{{182,336},{92,166}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{92,166}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>opShelfSatisfaction_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{94,174}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{94,174}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>opShelfSatisfaction_0005</key>
            <dict>
                <key>frame</key>
                <string>{{276,188},{96,180}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{96,180}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>opShelfSatisfaction_0006</key>
            <dict>
                <key>frame</key>
                <string>{{82,190},{94,182}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{94,182}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>opShelfSatisfaction_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{92,184}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{92,184}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>opShelfSatisfaction_0008</key>
            <dict>
                <key>frame</key>
                <string>{{192,94},{92,186}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{92,186}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>opShelfSatisfaction_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,188}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{92,188}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>opShelfSatisfaction_0010</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{90,188}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{90,188}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>opShelfSatisfaction_0011</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{86,172}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{86,172}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>opShelfSatisfaction_0012</key>
            <dict>
                <key>frame</key>
                <string>{{98,336},{82,170}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{82,170}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>opShelfSatisfaction_0013</key>
            <dict>
                <key>frame</key>
                <string>{{374,336},{76,158}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{76,158}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>opShelfSatisfaction_0014</key>
            <dict>
                <key>frame</key>
                <string>{{276,370},{60,118}}</string>
                <key>offset</key>
                <string>{3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{60,118}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>opShelfSatisfaction_0015</key>
            <dict>
                <key>frame</key>
                <string>{{276,496},{14,16}}</string>
                <key>offset</key>
                <string>{11,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,13},{14,16}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>opShelfSatisfaction_Ani.png</string>
            <key>size</key>
            <string>{473,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3726357f174d0871ec728ee2b6001ee0$</string>
            <key>textureFileName</key>
            <string>opShelfSatisfaction_Ani.png</string>
        </dict>
    </dict>
</plist>
