<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panelMoor_Tip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{334,534}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,534}}</string>
                <key>sourceSize</key>
                <string>{334,534}</string>
            </dict>
            <key>panelMoor_Tip_btnBuy_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,593},{210,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,53}}</string>
                <key>sourceSize</key>
                <string>{210,53}</string>
            </dict>
            <key>panelMoor_Tip_btnBuy_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{210,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,53}}</string>
                <key>sourceSize</key>
                <string>{210,53}</string>
            </dict>
            <key>panelMoor_Tip_tfReachMax.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{237,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,32}}</string>
                <key>sourceSize</key>
                <string>{237,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>panelMoor_Tip_bg.png</string>
            <key>size</key>
            <string>{338,682}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15d02275d5f307ba015c2c3049804e2f:1/1$</string>
            <key>textureFileName</key>
            <string>panelMoor_Tip_bg.png</string>
        </dict>
    </dict>
</plist>
