<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pointLight_0001</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{1,1}}</string>
                <key>offset</key>
                <string>{-261,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{523,173}</string>
            </dict>
            <key>pointLight_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{519,169}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,169}}</string>
                <key>sourceSize</key>
                <string>{523,173}</string>
            </dict>
            <key>pointLight_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{519,169}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,169}}</string>
                <key>sourceSize</key>
                <string>{523,173}</string>
            </dict>
            <key>pointLight_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{519,169}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,169}}</string>
                <key>sourceSize</key>
                <string>{523,173}</string>
            </dict>
            <key>pointLight_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{519,169}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,169}}</string>
                <key>sourceSize</key>
                <string>{523,173}</string>
            </dict>
            <key>pointLight_0006</key>
            <dict>
                <key>frame</key>
                <string>{{694,167},{519,167}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,167}}</string>
                <key>sourceSize</key>
                <string>{523,173}</string>
            </dict>
            <key>pointLight_0007</key>
            <dict>
                <key>frame</key>
                <string>{{523,167},{519,169}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,169}}</string>
                <key>sourceSize</key>
                <string>{523,173}</string>
            </dict>
            <key>pointLight_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{519,169}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,169}}</string>
                <key>sourceSize</key>
                <string>{523,173}</string>
            </dict>
            <key>pointLight_0009</key>
            <dict>
                <key>frame</key>
                <string>{{523,2},{485,163}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{485,163}}</string>
                <key>sourceSize</key>
                <string>{523,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pointLight_Ani.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1ca36f15b86b5409f6d8e3fec581f31$</string>
            <key>textureFileName</key>
            <string>pointLight_Ani.png</string>
        </dict>
    </dict>
</plist>
