<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shelf_10002_00_a</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,53}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,53}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>shelf_10002_00_b</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{77,47}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{77,47}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>shelf_10002_01_a</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{78,43}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,43}}</string>
                <key>sourceSize</key>
                <string>{78,63}</string>
            </dict>
            <key>shelf_10002_01_b</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{76,49}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{76,49}}</string>
                <key>sourceSize</key>
                <string>{78,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shelf_10002.png</string>
            <key>size</key>
            <string>{318,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28c6c91fbfce04525a6bec5ec80c004d$</string>
            <key>textureFileName</key>
            <string>shelf_10002.png</string>
        </dict>
    </dict>
</plist>
