<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vipFlashStroke_122_0001</key>
            <dict>
                <key>frame</key>
                <string>{{78,660},{52,50}}</string>
                <key>offset</key>
                <string>{-54,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,46},{52,50}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>vipFlashStroke_122_0002</key>
            <dict>
                <key>frame</key>
                <string>{{158,606},{76,72}}</string>
                <key>offset</key>
                <string>{-48,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,42},{76,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>vipFlashStroke_122_0003</key>
            <dict>
                <key>frame</key>
                <string>{{372,348},{100,96}}</string>
                <key>offset</key>
                <string>{-39,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,38},{100,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>vipFlashStroke_122_0004</key>
            <dict>
                <key>frame</key>
                <string>{{372,126},{128,122}}</string>
                <key>offset</key>
                <string>{-28,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{128,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>vipFlashStroke_122_0005</key>
            <dict>
                <key>frame</key>
                <string>{{178,366},{156,148}}</string>
                <key>offset</key>
                <string>{-14,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{156,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>vipFlashStroke_122_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{174,170}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{174,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>vipFlashStroke_122_0007</key>
            <dict>
                <key>frame</key>
                <string>{{188,184},{182,180}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,34},{182,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>vipFlashStroke_122_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,182}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,37},{184,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>vipFlashStroke_122_0009</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{182,180}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,41},{182,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>vipFlashStroke_122_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{176,170}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,50},{176,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>vipFlashStroke_122_0011</key>
            <dict>
                <key>frame</key>
                <string>{{336,446},{156,146}}</string>
                <key>offset</key>
                <string>{16,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,74},{156,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>vipFlashStroke_122_0012</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{128,122}}</string>
                <key>offset</key>
                <string>{29,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,98},{128,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>vipFlashStroke_122_0013</key>
            <dict>
                <key>frame</key>
                <string>{{372,250},{100,96}}</string>
                <key>offset</key>
                <string>{41,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,121},{100,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>vipFlashStroke_122_0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{74,72}}</string>
                <key>offset</key>
                <string>{50,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,141},{74,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>vipFlashStroke_122_0015</key>
            <dict>
                <key>frame</key>
                <string>{{78,608},{52,50}}</string>
                <key>offset</key>
                <string>{57,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,158},{52,50}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>vipFlashStroke_122_0016</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-127.5,127.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>vipFlashStroke_122_0017</key>
            <dict>
                <key>frame</key>
                <string>{{474,286},{34,34}}</string>
                <key>offset</key>
                <string>{22,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,163},{34,34}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>vipFlashStroke_122_0018</key>
            <dict>
                <key>frame</key>
                <string>{{334,594},{48,50}}</string>
                <key>offset</key>
                <string>{21,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,154},{48,50}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>vipFlashStroke_122_0019</key>
            <dict>
                <key>frame</key>
                <string>{{268,582},{64,64}}</string>
                <key>offset</key>
                <string>{21,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,147},{64,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>vipFlashStroke_122_0020</key>
            <dict>
                <key>frame</key>
                <string>{{80,530},{76,76}}</string>
                <key>offset</key>
                <string>{22,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,141},{76,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>vipFlashStroke_122_0021</key>
            <dict>
                <key>frame</key>
                <string>{{178,516},{88,88}}</string>
                <key>offset</key>
                <string>{21,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,135},{88,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>vipFlashStroke_122_0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{76,76}}</string>
                <key>offset</key>
                <string>{22,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,141},{76,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>vipFlashStroke_122_0023</key>
            <dict>
                <key>frame</key>
                <string>{{268,516},{64,64}}</string>
                <key>offset</key>
                <string>{22,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,147},{64,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>vipFlashStroke_122_0024</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{48,50}}</string>
                <key>offset</key>
                <string>{22,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,154},{48,50}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>vipFlashStroke_122_0025</key>
            <dict>
                <key>frame</key>
                <string>{{474,250},{34,34}}</string>
                <key>offset</key>
                <string>{22,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,163},{34,34}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vipFlashStroke_122_Ani.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8aa56d92138944c93ed1e2af9e1a3c3a:1/1$</string>
            <key>textureFileName</key>
            <string>vipFlashStroke_122_Ani.png</string>
        </dict>
    </dict>
</plist>
